[2016-04-11 05:41] Anthropic commented on #581
@senthilsendhil You can provide two versions of the same field in your form definition with a condition to determine which displays. Note: you will need to be careful what your destroy behaviour is!

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-11 05:41] #581 closed

[2016-04-11 05:43] Anthropic commented on #586
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-11 05:43] #586 closed

[2016-04-11 05:45] Anthropic commented on #593
@fyodorvi can you create a gist for us please?

[2016-04-11 07:45] kohanyirobert commented on #633
Sadly version 0.8.13 does not fix this. :(

[2016-04-11 07:54] Anthropic commented on #633
@kohanyirobert thank you for that!

[2016-04-11 08:37] Anthropic commented on #170
Closing due to inactivity and potential answer.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-11 08:37] #170 closed

[2016-04-11 08:38] Anthropic commented on #174
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-11 08:38] #174 closed

[2016-04-11 08:39] Anthropic commented on #304
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-11 08:39] #304 closed

[2016-04-11 08:43] vinceis1337 commented on #558
@Anthropic I don't remember how exactly I got this problem but I can tell you why it is happening.

The issue is that `obj.schema` ITSELF is undefined, my guess is because we self-define the checkbox (inside of $scope.form) instead of generating it from a schema.

This means that inherently, the checkbox has no reference data from the schema, therefore it logically has no schema property.

Therefo

[2016-04-11 08:50] Anthropic commented on #558
@vinceis1337 the dist folder is the built files, so that is fine.

What happens if you have a default value on the form definition, is that not enough to avoid the issue?

[2016-04-11 08:56] vinceis1337 commented on #558
@Anthropic I am not sure what you mean.

If you mean setting `value` to true or false, it doesn't appear to fix it issue.
Gist: http://schemaform.io/examples/bootstrap-example.html#/69195a23f9eab268bcc2208cdbae22b4

If you mean setting a `default` key, that doesn't appear to be defined in the documentation. Also it doesn't work either.
Gist: http://schemaform.io/examples/bootstrap-example.html#/ee

[2016-04-11 09:05] Anthropic commented on #558
Thanks @vinceis1337 appreciate your help, will need to re-visit this once the new core is split out from this repo to json-schema-form-core.

[2016-04-11 09:09] vinceis1337 commented on #558
@Anthropic sure, I can make a pull request. I'll need 10 minutes.

[2016-04-11 09:18] Anthropic commented on #558
@vinceis1337 that's awesome, the usual response to that question is "maybe next week". Just remember not to commit the dist folder please, and don't be concerned by the tests failing on four items, been meaning to fix them since I updated the CI tool since the repo changed location :)

[2016-04-11 09:22] vinceis1337 commented on #558
@Anthropic Glad to help! Angular Schema Form has been really helpful for me so I don't mind at all :).

And I was about to ask if I should gulp submitting the PR, but that answers the question. :P

[2016-04-11 09:23] Anthropic commented on #355
@brettahale @benoror it would be great to see this as an add-on if it progressed that far, please consider it! Closing now as there is a fairly acceptable answer :)

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-11 09:23] #355 closed

[2016-04-11 09:28] Anthropic commented on #558
There is a CONTRIBUTING md ;)

[2016-04-11 09:32] vinceis1337 commented on #558
Ooo I see that now. Thanks!

https://github.com/json-schema-form/angular-schema-form/pull/663 created.

[2016-04-11 09:35] Anthropic commented on #558
@vinceis1337 if you want to contribute, we are **always** looking for people to **help**, the Gitter is a good source for seeing where and when help is needed as we begin the next phase of the project since Textalk gave it up to the internets leading up to v1 :)

Closing this now as discussion can move to PR.

[2016-04-11 09:35] #558 closed

[2016-04-11 10:14] inquire commented on #566
I figured it out, i had to use the evalInScope function, but it was a bit to hidden in the documentation. :)

[2016-04-11 10:14] #566 closed

[2016-04-11 16:04] souluniversal commented on #585
Marcel, thanks. I actually hackishly implemented a good bit of it. I don't really have time to clean it up or do a pull request etc -- would you (anyone?) possibly want to coordinate to have a look and consider the changes directly with me?

From: Marcel J Bennett [mailto:notifications@github.com]
Sent: Monday, April 11, 2016 12:41 AM
To: json-schema-form/angular-schema-form
Cc: Robert Taylor
Subj

[2016-04-11 16:05] souluniversal commented on #585
Btw, when I say hackishly, I would call it 85% quality level. Maybe higher, we'll see!

From: Marcel J Bennett [mailto:notifications@github.com]
Sent: Monday, April 11, 2016 12:41 AM
To: json-schema-form/angular-schema-form
Cc: Robert Taylor
Subject: Re: [json-schema-form/angular-schema-form] Various Enhancements: Enhanced access to actual array element form defs, Dynamic change of other form elem

[2016-04-12 13:54] deepkamal opened #664 "$rootScope.infdig comes up when ASF renders the form from JSON"
Hi ,

When ASF loads my form using the JSON, it throws infdig exception after few seconds, and it keeps repeating whenever new form is rendered when changes are implemented in JSON on the fly,

I referred to issue #https://github.com/json-schema-form/angular-schema-form/issues/476
which is closed recently, although source reason looks different but would be great if experts can investigate and sug

[2016-04-12 15:58] jugglingcats opened #665 "Drag drop re-order of tab array"
Is this possible, or is there a feature request for it I can follow? Quick search of existing issues didn't turn up anything.

Thanks

[2016-04-12 16:22] JamesGuthrie opened #666 "Support for conditionally showing sections of a form as it is filled"
I have a very long form which is made up of a number of fieldsets/sections. It would be nice to be able to reveal the fields to be filled section by section, i.e. once a section is filled and verified, the next section will automatically reveal itself.

It would be nice to have a way to determine if a section has been completed, something like a $isValid property on the section. I imagine it looki

[2016-04-12 19:42] aman-gautam commented on #57
@mike-marcacci Do we need to put the custom template in $templateCache? Is there a step by step example on how to override the input templates?

Thanks,
Aman

[2016-04-13 06:54] nicklasb commented on #664
Please do not add a large amount of code in your description, it is highly unlikely that someone will respond.
Instead, try and repeat the problem in a plunkr/gist, with as little code as possible. Often this helps finding the error, too.

[2016-04-13 06:56] nicklasb commented on #665
I have not seen any such request, what would be the use case?

[2016-04-13 07:00] nicklasb commented on #648
There is actually a project for this to happen: https://github.com/json-schema-form/json-schema-form/wiki/Current-projects#typescript-definition

Anyone have any experience with creating DT-definitions? I haven't before.

[2016-04-13 07:01] nicklasb commented on #648
Also, I would recommend waiting until the core has been broken out, as I suppose that there will be a jsf interface and and asf-interface in the end.

[2016-04-14 00:11] torstenrudolf opened #667 "conditional sections validate on first display"
As described as a note on this commit: https://github.com/json-schema-form/angular-schema-form/commit/e69cb4c54c269927c9633a2bc30a3d1934913dda#diff-ef37c374ca4bb6c35447be6168133483

For me conditional sections get validated as soon as the section gets rendered (if the default condition is false and you change it to true).

I copied the latest code (0.8.13) and replaced the change of the mentioned

[2016-04-14 03:11] JSeed commented on #466
@nicklasb I ran into this issue a few weeks ago.  Was able to work around it with the first solution after playing around with it for long enough

[2016-04-14 06:59] Anthropic commented on #466
@nick121212 can you elaborate on what you did to fix it? Perhaps create a PR?

[2016-04-14 08:27] jugglingcats commented on #665
Hi, thanks for the reply. We have an array within our schema shown as horizontal tabs. Buttons appear to add items to the array or remove items. All good. But we need the ability to re-order the items in the array. Doesn't have to be drag'n'drop, but there should be a way, as this is possible with a non-tabbed array.

[2016-04-14 08:31] Anthropic commented on #665
@jugglingcats can you not change the data directly in your model? Put a button into the content of each tab and then change the order of your items in the model directly.

[2016-04-14 08:51] jugglingcats commented on #665
I've not done anything that custom in angular-schema-form to date. Is there an example somewhere how to do it? Also we are trying to provide a framework where customers/projects can define their own schema/form, and this seems like something that might be complex to explain/document.

[2016-04-14 09:32] Anthropic commented on #665
Only what is in the demo pages, what you are looking for is the button with onClick and then update your data based on the click event. So you may have
[code]
Well all you need to do to re-order the tabs is to have an onClick function splice your list array and re-order the items to
[code]
That will move the tab

[2016-04-14 09:35] jugglingcats commented on #665
I will have a look and thanks for your feedback. I do think this is a good feature to consider adding, to make drag-drop reordering consistent between tabbed and non-tabbed modes.

[2016-04-14 09:39] Anthropic commented on #665
No problem, it would be something that would go in a decorator, so worth raising in angular-schema-form-boostrap, angular-schema-form-material probably wont add it unless the capability is part of the material design specification (which it may be, haven't checked)

[2016-04-14 10:23] joelwkent commented on #665
Hi @jugglingcats , @Anthropic , I agree drag and drop tab arrays are useful. I built a form builder some time back and used a tab array to show the fields in the form and I modified the decorator to allow users to drag and drop the tabs to re-order the fields in the form. @jugglingcats if you have not already started on this modification I can raise a pull request with angular-schema-form-boostrap

[2016-04-14 10:41] Anthropic commented on #466
@JSeed what steps did you take, would you be able to submit a pull request?

[2016-04-14 10:43] Anthropic commented on #346
As this is old and JSON should ideally be quoted I'm closing this issue.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-14 10:43] #346 closed

[2016-04-14 10:51] Anthropic commented on #428
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-14 10:51] #428 closed

[2016-04-14 10:53] Anthropic commented on #536
@leader80 do you mean like a wizard, can you provide more information on what you wish to achieve?

[2016-04-14 10:57] Anthropic commented on #529
@jbsaff that's great to hear the new builder fixes the issue, wont be too much longer till we get it out in v1

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-14 10:57] #529 closed

[2016-04-14 11:01] Anthropic commented on #666
@JamesGuthrie I haven't forgotten this, just trying to find time to respond properly, I would expect this is quite painless to do as an add-on. I'll try to elaborate within a few days.

[2016-04-14 15:33] JSeed commented on #466
@Anthropic To get it working I set html-class to has-feedback under formDefaults in the sf-options attribute when defining my form.  The code looks like this :
[code]
I could look into submitting a pull request if you'd like, as long as having this class set by default on the form is okay.  Not sure if that would cause any issues or not.

[2016-04-15 01:10] Anthropic commented on #651
Most likely the files are not loaded in the correct order, if you can't sort it out please create a plunker to demonstrate what you are doing and we can try to help.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-15 01:10] #651 closed

[2016-04-15 11:50] Anthropic commented on #611
@mutharasus I'm new to the project, can you check/update the JSFiddles, perhaps the URLs to this repo are different so they aren't loading now for me. If you do that I will take a look at what is happening.

[2016-04-15 13:49] jainashwin commented on #567
http://embed.plnkr.co/pPHGOy/

PS  :Somehow this plunkr works only with FF but not with Chrome

[2016-04-15 15:02] nicklasb commented on #487
+1 for someone submitting a PR. :-)

[2016-04-16 05:26] Anthropic commented on #565
@PhilBroadbent did you figure out how to deal with it? If not, can you make a gist (from the demo app)?

[2016-04-16 05:49] Anthropic commented on #597
@robinduckett thanks for the suggestion, it doesn't currently get evaluated, conditional is the only value evaluated. We are going to be looking into ways to enhance the setting of rules for various fields at the moment actually.

[2016-04-16 06:23] Anthropic commented on #549
@AlexAlbala I am working through neglected issues it would really help me a lot if you could find the commit that changed the tag in the decorator, then I can enquire with the developer why the change was made. If the tags are the same then there may have been a change in the version of bootstrap used.

[2016-04-16 08:02] robinduckett commented on #597
Thanks for getting back to me. Please let me know how it goes! Thanks.

[2016-04-17 10:27] gornostal commented on #435
I'm seeing this problem with angular-schema-form#0.8.13

[2016-04-17 10:34] nicklasb commented on #435
Just a thought, are you using the external bootstrap decorator?
I had strange import problems that sort of magically went away when I switched to that.

(also, that is the way to use the framework, the internal one will permanently go away in 1.0)

[2016-04-17 10:38] gornostal commented on #435
Yes, I do.
First, I was confused by implicit dependency on `objectpath` and `tv4`, so I had to install them and include in a build process.
My gulpfile.js includes these files in a final build. `angular-schema-form-bootstrap/bootstrap-decorator.min.js` is among those files.
Do I do anything wrong?

[code]

[2016-04-17 10:46] nicklasb commented on #435
Not sure if that list implies order, but if so, this would be the correct order:
['bower_components/angular/angular.min.js',
 'bower_components/angular-route/angular-route.min.js',
 'bower_components/angular-ui-grid/ui-grid.js',
 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js',
 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js',
'bower_components/objectpath/lib/ObjectPath.js',

[2016-04-17 10:49] gornostal commented on #435
Ah, of course. That helped.
The root cause was that the decorator should've came **after** schema-form.min.js

Thanks a lot.

[2016-04-17 10:53] gornostal commented on #435
I'm thinking what changes are need to be made and where, so other people could figure this out faster?

Perhaps to raise an exception in bootstrap-decorator.js if module 'schemaForm' is not defined yet.
Will that work?

[2016-04-17 11:07] nicklasb commented on #435
Well, that is basically what the error message that starts off this issue, "Module 'schemaForm' is not available!" means. It is not available since it has not been loaded. At all or just not yet.

ASF don't know any more than angular, for example if it is not loaded at all, so ASF would have to say something similar.

Actually I would rather take the opportunity to recommend people to look into a

[2016-04-17 11:11] gornostal commented on #435
Yeah, your are right about the error.
For some reason I thought it was caused by my code that uses schemaForm, but now I looked at the stack trace and see `
%7B%7Brow.entity.icon%7D%7D:1 GET http://localhost:3000/%7B%7Brow.entity.icon%7D%7D 404 (Not Found)`. All that make sense now.

[2016-04-17 11:15] nicklasb commented on #435
Ok. I am closing this now, as the others haven't responded.
Feel free to reopen if any in here thought that was premature.

For posterity, it should be emphasised that it is important to load the decorators *after* angular-schema-form itself.

[2016-04-17 11:15] #435 closed

[2016-04-17 13:23] Anthropic commented on #646
@pbijvani with no response for nearly a month I'm closing the issue, please re-open if you require further assistance, happy to help.

[2016-04-17 13:23] #646 closed

[2016-04-17 13:25] Anthropic commented on #645
@nisan250 as you haven't responded I'm closing the issue, please re-open if you feel it wasn't answered and you require further information.

[2016-04-17 13:25] #645 closed

[2016-04-17 13:29] Anthropic commented on #609
@Knuckles9090 thanks for responding to the issue I appreciate it!

As the OP hasn't responded I'm closing the issue, please feel free to re-open and continue discussion if @apinnecke responds.

[2016-04-17 13:29] #609 closed

[2016-04-17 13:33] Anthropic commented on #546
@Tr1gs, are you still having problems? We are now able to help but given the age of the issue I'm closing it for now, but if you still wish to resolve this, please re-open with a demo so we can help.

[2016-04-17 13:33] #546 closed

[2016-04-17 13:37] Anthropic commented on #562
@AndrewIsh without further information I'm closing the issue for now, please re-open if you can provide more information and need further support.

[2016-04-17 13:37] #562 closed

[2016-04-17 13:39] Anthropic commented on #608
@mogmog, I have to close this for now, if you can provide a gist or plunker, please re-open the issue and I'll do my best to help!

[2016-04-17 13:39] #608 closed

[2016-04-17 13:42] Anthropic commented on #235
Please re-open if you can provide information to help is assist you.

[2016-04-17 13:42] #235 closed

[2016-04-17 13:42] #364 closed

[2016-04-17 13:43] Anthropic commented on #432
Please re-open if you feel the answers were insufficient and you require more information.

[2016-04-17 13:43] #432 closed

[2016-04-17 13:50] Anthropic commented on #479
@jbsaff you could maybe have this work with the new builder, have you tried? It compilsles the full form earlier so it may be done early enough in the cycle. I haven't tried it though.

As this is old I will close it, but please feel free to re-open if you want to discuss further!

[2016-04-17 13:50] #479 closed

[2016-04-18 06:24] Anthropic commented on #466
Thanks @JSeed, you and me both, I can't imagine it being an issue, worth checking if it is something to do with the version of bootstrap and perhaps a more recent bootstrap css would also fix the issue.

Either way a PR in the angular-schema-form-bootstrap repo would be great, we can continue discussion there and try to sort it out for everyone :)

[2016-04-18 13:22] Anthropic commented on #537
@fabiomcj can you make a plunker demo or gist for us?

[2016-04-18 13:23] Anthropic commented on #537
We are probably going to add arrayIndeces soon so you can traverse your model more easily. But a plunker/gist would help.

[2016-04-19 01:13] Anthropic commented on #591
As this is an old issue, please re-open if you do not feel the question has been answered sufficiently and it is still a problem.

[2016-04-19 01:13] #591 closed

[2016-04-19 11:47] LeonardoGentile opened #668 "Passing option to a specific field without overidding the others"
Hello,
I'm retrieving my schema from backend metadata and I'm rendering all of the fields, so that my `$scope.form = ["*"]`.
I'm trying to maintain the things as generic as possible so I don't want to modify/override the fields in the `$scope.form`. The problem is that I know that between these fields there is one I'm interested on and I want to pass specific options only for this one.

Right now,

[2016-04-19 13:25] nicklasb opened #669 "Default value in form format"
I know that it is possible to have default values in the JSON Schema, however, that is not always sufficient:
1. When you "inherit" parts of schemas into another, you sometimes want to add defaults.
2. In the UI, there are certainly cases where the defaults are more dynamic.

Or should this be better handled in some other way?

[2016-04-19 14:09] Anthropic commented on #669
I think we need to go even further, when I change field group based on a condition I need to define if it resets to a default for the condition. I think it needs to be a part of a rule definition.

[2016-04-19 14:14] nicklasb commented on #669
Ok, then. I hear you about the rules.
But a set of data is a more complex result of a rule than a true/false value.
Becomes more "script" than rule then.

[2016-04-19 14:43] Anthropic commented on #669
Well the rule would be like a bunch of switches determining what the result was, it could be a simple value or an object with schema definition to merge into parent. I think it can behave as script without being script as we need it to work in all languages and be super easy to implement and understand.

[2016-04-19 17:00] joelwkent commented on #668
One possible solution would be to use [x-schema-form](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#form-defaults-in-schema) to insert your options into the schema.

So say the backend returns a schema like:
[code]

Then before you render the form you could insert the options into the schema like so
`$scope.schema.properties.field3["x-schema-form"] = {optio

[2016-04-19 21:50] nicklasb commented on #650
But can't webpack read the "main" entry point of the package.json file?
Because that is the standard AFAIK.

[2016-04-20 06:44] example2049 opened #670 "Problems with Condition"
I have some problems using condition for a key. I don't know if it getting the variable from the scope. I can show you the problem with the following example
Javascript:
var myApp = angular.module("myApp", ['schemaForm']);
myApp.controller("myCtrl", function ($scope) {
	$scope.schema = {
		"type": "object",
		"title": "Comment",
		"properties": {
			"name": {
				"title": "Name",
				"type": "stri

[2016-04-20 06:50] Anthropic commented on #670
@example2049 can you make a gist using the demo app or a plunker please?

[2016-04-20 06:53] joelwkent commented on #670
Hi @example2049 I believe your condition needs to be:
condition: "model.name=='abc'"

Also your $scope.model is commented out

[2016-04-20 14:00] LeonardoGentile commented on #668
Seems to work, thanks!

[2016-04-20 14:16] joelwkent commented on #668
Great, thanks for confirming.

[2016-04-20 14:16] #668 closed

[2016-04-20 15:00] raoulus commented on #243
+1
having the same issue with a custom dropdown directive which has the success class although the user didn't touch/change it

[2016-04-20 15:38] raoulus commented on #243
As @ulion I also wonder as well why this check `scope.ngModel.$isEmpty(scope.ngModel.$modelValue)` is there?

[2016-04-20 23:34] example2049 commented on #670
Thanks, for the help. The problem was the model.property

[2016-04-20 23:45] #670 closed

[2016-04-21 16:33] jainashwin commented on #567
Done.
On Apr 11, 2016 10:24 AM, "Marcel J Bennett" <notifications@github.com>
wrote:

[2016-04-22 01:00] Anthropic commented on #599
@tomsowerby not sure why the documentation changed, but take a look at this older version of it for what is on the scope, I suspect evalExpr is what you are after, sorry I didn't know it was removed i will check why, but I think it is still available.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-22 01:00] #599 closed

[2016-04-22 01:06] Anthropic commented on #305
@koo9 condition is not just for show/hide, you can add condition to any field definition and duplicate that condition with the reverse. That way you have two copies of the field and only one will show at a time, but the definitions can vary as little as readonly or as much as the entire type template used.

@martinsbreno that is exactly what conditions are for.

@koo9 please re-open if you do not

[2016-04-22 01:06] #305 closed

[2016-04-22 01:09] Anthropic commented on #357
@aczapszys it's been a while so I'm closing this, please re-open if you do not feel the question has been answered sufficiently.

[2016-04-22 01:09] #357 closed

[2016-04-22 01:14] Anthropic commented on #455
@awhitty from a quick read I think you are perhaps referring to anyOf, oneOf capability in json-schema? This is on the planning list for ASF but not sure on exact timelines. Is this still an issue for you anyway? If it is, please re-open if you do not feel the question has been answered sufficiently or you have more info to add.

[2016-04-22 01:14] #455 closed

[2016-04-22 22:34] scotttrinh commented on #468
Yes, as evidenced in the plunker. `console.log` fire when you change the string, but not when you change and array's value. That makes sense, honestly, since you're not changing the identity of the array, just the values, but I'm trying to solve this particular problem and looking for a way to do so.

[2016-04-23 06:23] deepkamal commented on #664
This issue was due to JQuery call without promise handling, we were fetching JSON data from backend using Data.query() and output of this was being passed on to ASF schema,model and forms , since promise was not handled so it was causing recursive digest call.
the fix:

instead of var xyz = Data.query() , we applied Data.query().$promise.then(function (result){ xyz = result.myFormObject; //now ren

[2016-04-23 06:23] #664 closed

[2016-04-23 06:56] Anthropic commented on #664
@deepkamal thanks for closing the issue.

[2016-04-24 11:52] Anthropic commented on #468
@scotttrinh thanks for the update, good plunker thanks, I've tagged issue appropriately, it seems simple arrays are not firing as you demonstrated. I am curious to know if the new builder or broken out core will fix this, if not I will look into it.

[2016-04-24 13:24] Anthropic commented on #536
Please re-open if you can provide more information and still need help.

[2016-04-24 13:24] #536 closed

[2016-04-24 13:40] Anthropic commented on #477
@Mooser can you provide a demo data set and make a plunker?

You could start with this one: http://plnkr.co/edit/KU5QOC and fork it to a new plunker and edit the app.js files for schema, form and model.

[2016-04-24 14:20] Anthropic commented on #365
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:20] #365 closed

[2016-04-24 14:21] Anthropic commented on #392
Please re-open if you still need help and can provide a plunker or gist.

[2016-04-24 14:21] #392 closed

[2016-04-24 14:24] Anthropic commented on #607
@tkitv keep an eye on this PR it will allow you to find the value you are looking for when we are ready to merge it:
https://github.com/json-schema-form/angular-schema-form/pull/652

I'll close this issue for now.

[2016-04-24 14:24] #607 closed

[2016-04-24 14:29] Anthropic commented on #503
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:29] #503 closed

[2016-04-24 14:40] Anthropic commented on #501
There are some options like evalExpr(), they seem to have been removed from the documentation so I am checking on why, but for now you can try them and see if they help.
https://github.com/json-schema-form/angular-schema-form/blob/4c25e86a96e8ed476c12c11e44bd8db36eeefe27/docs/extending.md

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:40] #501 closed

[2016-04-24 14:42] Anthropic commented on #499
You could also check if you are running as a file or through a http server.
Please re-open if you have more info to help us answer more sufficiently.

[2016-04-24 14:42] #499 closed

[2016-04-24 14:43] Anthropic commented on #498
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:43] #498 closed

[2016-04-24 14:45] Anthropic commented on #490
@AndrewIsh did you manage to solve this?

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:45] #490 closed

[2016-04-24 14:46] Anthropic commented on #484
@viyongyong please re-open when you can provide a gist/plunker/demo.

[2016-04-24 14:47] Anthropic commented on #483
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:47] #483 closed

[2016-04-24 14:50] Anthropic commented on #456
Please re-open if you can provide more information (gist/plunker) to help us to help you :)

[2016-04-24 14:50] #456 closed

[2016-04-24 14:51] Anthropic commented on #452
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:51] #452 closed

[2016-04-24 14:53] Anthropic commented on #451
@Gompje no, at the moment you're best off having the field twice with alternate versions based on the condition, this obviously doesn't work for many scenarios at which point onChange is the only remaining option for now, but this is on the radar and something we are looking at.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:53] #451 closed

[2016-04-24 14:56] Anthropic commented on #449
As this is an old issue, please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 14:56] #449 closed

[2016-04-24 14:59] Anthropic commented on #438
@azadacme I updated your question to format it correctly, but I can't see anything obvious without the rest of the code, can you create a plunker if this is still an issue and re-open please?

[2016-04-24 14:59] #438 closed

[2016-04-24 15:02] Anthropic commented on #526
@chiewmey the easiest way I would suggest is to have a field in your schema/form that you can store the value in and pass that in the model. As Nickas mentioned we are looking at an additional data set option to handle this.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 15:02] #526 closed

[2016-04-24 15:12] Anthropic commented on #514
Please re-open if you can provide more information (gist/plunker) to help us to help you :)

[2016-04-24 15:12] #514 closed

[2016-04-24 15:17] Anthropic commented on #341
@nicklasb is this at the point of being an enhancement now based on the discussion? Worth raising a more detailed issue specifically for an enhancement?

[2016-04-24 15:22] Anthropic commented on #349
@nicklasb is this one also ready for an update to a new enhancement issue with a specific request or still in need of discussion?

[2016-04-24 15:23] Anthropic commented on #338
Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-24 15:23] #338 closed

[2016-04-24 16:03] Anthropic commented on #528
Please re-open if you can provide more information (gist/plunker) to help us to help you :)

[2016-04-24 16:03] #528 closed

[2016-04-24 16:14] Anthropic commented on #650
Please re-open if you can supply more details.

[2016-04-24 16:14] #650 closed

[2016-04-24 18:56] nicklasb commented on #341
I don't know. If is a discussion, if would be nice to be able to have some kind of reporting format.

[2016-04-24 19:10] nicklasb commented on #349
I feel that it is pretty specific, that would be if we split the points into projects.

[2016-04-25 20:43] joelwkent commented on #665
I've raised a [Pull Request](https://github.com/json-schema-form/angular-schema-form-bootstrap/pull/19) that adds this functionality to angular-schema-form-boostrap. I'll close this issue but please re-open if you do not feel the question has been answered sufficiently.

[2016-04-25 20:43] #665 closed

[2016-04-26 06:16] deepkamal commented on #79
forObject.schemaOptions.formDefaults.readOnly = true makes entire form readonly

its already there, unless am missing something?

[2016-04-26 07:48] Machadalo opened #671 "Disable add link in tabarray like in array"
Hi I have a situation where I want to disable to the add link in tab functionality. Could you please let me know how can this be achieved. Thanks in advance

[2016-04-26 07:55] Anthropic commented on #671
@Machadalo please read the documentation for array, your answer is there:
https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#array
"To suppress add and remove buttons set add to null and remove to null."

Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-26 07:57] Anthropic commented on #671
Actually you said tab array, my bad.

[2016-04-26 07:59] Machadalo commented on #671
Yes, Its a tab array. Could you please help me on this

[2016-04-26 08:02] Anthropic commented on #671
@joelwkent you just did a PR on tabarray, did you see anything that would explain why this wouldn't be working?

[2016-04-26 08:04] Machadalo commented on #671
Did not found solution to disable add link?

[2016-04-26 08:30] joelwkent commented on #671
Tab array does not currently support hidding the add and remove buttons like array. @Machadalo would you like to raise a pull request to add this? Otherwise I'm happy to add this functionality as I currently have a pull request open regarding tab array.

[2016-04-26 08:36] Machadalo commented on #671
It would be great if you can add this functionality.. Thanks in advance

[2016-04-26 22:03] joelwkent commented on #671
No problem @Machadalo, I'll expand [PR 19](https://github.com/json-schema-form/angular-schema-form-bootstrap/pull/19) to include this enhancement. I'll close this issue. Please re-open if you do not feel the question has been answered sufficiently.

[2016-04-26 22:03] #671 closed

[2016-04-27 10:16] LeonardoGentile opened #673 "Add-ons with the new builder"
Hello,
I've read the documentation on extending schema form and at the same time I've seen the source code of some add-ons.

There is quite some confusion about the _old_ and _new_ way of building add-ons, and it seems there is no transition documentations about it (or I've missed it).

For example, many addons uses something like this:
[code]
while in the docs it is a bit different:
[code]
which

[2016-04-27 10:50] Anthropic commented on #673
@LeonardoGentile the new version is defineAddOn with the builder provider. That is why the docs were updated. Add-on using the old method will need to be updated if they don't use the default set of builders. But many haven't yet.

There will be more info on this when alphas for v1.0.0 are released as it will potentially break some older add-on. Many add-on writers are still involved so we should

[2016-04-27 10:53] Anthropic commented on #673
@nicklasb does your add-on use the new builder? If not any chance of an update so it can be highlighted as an example?

[2016-04-27 11:48] nicklasb commented on #673
No it doesn't, but obviously, it should.
Or rather, if the user selects to include the external angular-schema-form-bootstrap it does, but no, the examples and the dependencies doesn't.

I will fix that and make a release, you should be able to use that soon.

[2016-04-27 12:03] nicklasb commented on #673
Done:
https://github.com/OptimalBPM/angular-schema-form-dynamic-select/releases/tag/v0.15.0

[2016-04-27 12:17] Anthropic commented on #673
@LeonardoGentile give that a look and if you think it helps enough as a reference let us know and I will update docs :)

Thanks @nicklasb for a quick response 👍

[2016-04-27 12:36] manit815 commented on #433
I am facing a similar issue. So, I am setting form values inside an ajax call. The form basically contains some drop downs which in turn are populated by a service created in angular. Plane javascript function has been written which takes some parameters and gets the relevant drop down values.

And then in my view I am utilising the schema form like this. <form id="someForm" sf-schema="$root.schem

[2016-04-27 12:55] nicklasb commented on #433
It is very difficult to find out what is the problems from descriptions like this, I am sorry, but at least for me, a plunkr is necessary for me to gain the needed insight in the code.

That said, I would perhaps recommend you to chain the $http.get's, they may happen in any order as it is now.

[2016-04-27 13:01] nicklasb commented on #433
With chaining i mean:
[code]

[2016-04-27 13:27] nikmartin commented on #433
@nicklasb do you have a working plunkr i can fork to recreate the issue for you? I don't have time to get all the dependencies pulled in to replicate the issue, but I do have a simple working test case

[2016-04-27 13:33] nicklasb commented on #433
@nikmartin, no I don't actually, not with ASF.

However that is something that would be good for the project to have, feel free to create a baseline ASF plunkr, and we can use that to create an official one to use in cases like this.

[2016-04-27 13:39] nicklasb commented on #433
Found this, not sure how relevant the source is, but you could just copy/paste from ASF.
http://plnkr.co/edit/7Oqxxl?p=info

[2016-04-27 13:50] LeonardoGentile commented on #673
@Anthropic @nicklasb thanks for the quick reply!

Unless I've missed something the release 0.15.0 of dynamic selects doesn't make things much more clear.  The plugin is just using the external bootstrap but it [still using](https://github.com/OptimalBPM/angular-schema-form-dynamic-select/blob/v0.15.0/src/angular-schema-form-dynamic-select.js#L18) the `addMapping` instead of `defineAddOn ` and the

[2016-04-27 13:51] nikmartin commented on #433
This demonstrates the isse:
https://plnkr.co/edit/ayyGY7JRCZ9bijhEItr1?p=preview
after the form is displayed, check the console, and about 10 seconds later, thousands of exceptions will be thrown in the console

[2016-04-27 13:54] nicklasb commented on #673
I was just addressing what @Anthropic asked for, the bootstrap.
What, you're expecting me to read the entire issue? :-)

I will fix that later, meanwhile, please *imagine* ASFDS using defineAddOn. :-)

[2016-04-27 14:03] Anthropic commented on #673
@LeonardoGentile they're not very different, it is really an alias for a very similar function. Did you look at the Material repo?
If you like at define decorator it is nearly identical but just with multiple 'add-on' being the templates for the decorator.
https://github.com/json-schema-form/angular-schema-form-material/blob/develop/src/material-decorator.js

[2016-04-27 14:09] nicklasb commented on #433
Well, that is a huge schema.
As this doesn't produce the schema, your error is at some point between:
[code]

.. and the full schema.
I would recommend a simple binary search.

[2016-04-27 14:23] LeonardoGentile commented on #673
ok I'll take a look there 👍
@nicklasb you made me laugh 😄

[2016-04-27 14:32] nikmartin commented on #433
ALso, feel free to add this plunker to the readme:

https://plnkr.co/edit/5F0Gu1?p=preview

It's a plunker of the demo that's in the readme.

[2016-04-27 14:45] nikmartin commented on #433
I'm not sure I understand. If the error is purely related to the size of the schema, then I'm not sure how to proceed, as the size of the schema is what it is. The schema itself is a valid json-schema (v4)

[2016-04-27 14:48] nikmartin commented on #433
Digging into the error a bit, the first error seems to be thrown by:
 'pattern': '^[0-9]{2}$'

So something is not handling that string very well

[2016-04-27 15:15] scotttrinh commented on #468
@Anthropic thanks for looking into it. I noticed that same bit of code when I was troubleshooting, which is what caused me to open this issue to see if there was a more "correct" way other people already use.

[2016-04-27 15:22] nicklasb commented on #433
I am suggesting not that the size is the issue, but some construct within
it.
On 27 Apr 2016 16:45, "Nik Martin" <notifications@github.com> wrote:

[2016-04-27 15:26] nikmartin commented on #433
OK, well the plunker is there that replicates the issue, that's about all I have to offer at the moment.

[2016-04-27 16:13] nikmartin commented on #433
I was able to continue with my task by adding this to my app:

[code]

So @PierrickI3, in your case, try:
[code]

The default digestTtl is 10, and something is triggering this, so bumping it by 5 fixed it for me in my VERY LARGE schema. This probably isn't a permanent fix, but at least I can continue without so many errors. I don't understand all the ramifications of doing this, but here's the doc

[2016-04-27 17:12] nicklasb commented on #433
@nikmartin, I just saw the plunkr, it looks great!

Ok. I would say that this is a difficult one. Obviously, loads of watchers are created when a huge schema like this is loaded, so it actually may be a permanent fix.
For one, because this is a very special use case, and that setting makes angular view those as unstable, which they might not be.
However, I created schemas with hundreds of fields r

[2016-04-27 17:27] nikmartin commented on #433
Yes, we use MOST of the features of json-schema v4, so there may be some edge cases that are tripping it. We use regex pattern: {} validation functions, in the form of format: {} properties, etc.

[2016-04-27 17:50] nicklasb commented on #433
Hm. It seems to be a plain complexity issue. If I remove the regex patterns, the error doesn't happen during initialisation. However it happens later on, when I navigate the form instead.

[2016-04-27 17:59] nicklasb commented on #433
I think that perhaps some others should take a look at this issue and decide if there is anything to do here, @davidlgj , perhaps.

[2016-04-27 23:19] Anthropic commented on #433
@nikmartin @nicklasb there are way too many watchers in the current bootstrap decorator in the name of flexibility, with the Material repo I made a number of values like title a one-way bind and more than halved the number of watchers. I suspect the same changes need to occur in the bootstrap repo. Otherwise as soon as you set all those values you trigger the watchers. A bugfix issue needs to be a

[2016-04-27 23:42] nicklasb commented on #433
Ok, good that there seems to be an explanation.
Well, I would think that WRT breaking, that would mean that people would in some way edit titles and for some reason expect that would continue to be supported? I cannot see that any mentioning of support for that in the documentation.
Wouldn't this maybe affect some others that have had strange performance issues?

[2016-04-29 21:58] kyse opened #674 "Form Constants or Hidden Fields."
I have a schema that includes a few array properties that I need to include a property on the array's contents objects.  The property differs depending on which object in the array it is.

For example:

Schema:
[code]

So for my form, I need to display primary POC and alt POC fields.

Form:
[code]

I need my model's PointOfContact[0].isPrimary to = true, and false otherwise.  I'd rather not have t

[2016-04-29 22:30] Anthropic commented on #674
Where does is primary get set? Is there a reason you can't set the ID for which item is primary outside the object and reference it within the array items?

[2016-04-29 22:39] kyse commented on #674
So, for that example, isPrimary would get set in my form definition since I'm manually defining the fields for that array object at index 0 to be the primary POC.  Since this scenario would be useful for more than just a on or off bit, but specifying foreign keys like a typeid of a lookupvalue table, a hidden field where I can pass in the value would be nice to have.

This way I could setup an eng

[2016-05-02 09:15] raoulus commented on #673
+1
To me the documentation is also pretty confusing. For the new builder I couldn't find any helpful documentation. I spent for more time than I want in creating custom directives...

[2016-05-02 09:23] nicklasb commented on #673
@raoulus I will update the examples to use the new builder soon(we take PR:s, too).
The documentation there will then also follow that pattern.

[2016-05-02 14:46] Anthropic commented on #674
@kyse I think I see your issue, there is a PR related to acting upon array using arrayIndeces, but in extension to that there should be an easier way to set a field default in the form that is calculated. Even using a calculation combined with a destroyStrategy doesn't appear to work as I expected for your purposes. I'll look into it.

[2016-05-02 17:19] kyse commented on #674
Yea, this is where I am at so far.

Schema:
[code]

Form Def (I'm using extension methods on an array to build out the array, method(key, class, additionalParamsToMerge).  You'll notice a pattern that can be turned into a build engine.):
[code]

Template "hidden.html":
[code]

The end result of this in my model object is:
People property is an object instead of an array (why?) containing 0 and 1,

[2016-05-03 11:30] Anthropic commented on #674
@kyse could you make a plunker possibly? That's a lot to follow outside my work hours, a plunker would help my visualise what you're trying to do better.

[2016-05-04 18:36] kyse commented on #674
Sure, does this link work for you? [https://plnkr.co/NsEzQGz5DoRdD018RTWn](https://plnkr.co/NsEzQGz5DoRdD018RTWn)

[2016-05-05 03:16] thiagog3 opened #675 "Inconsistences when try creating a lumx-decorator"
#### Enhancement

I'm trying to create a new decorator based on lumx angular components [http://ui.lumapps.com/](http://ui.lumapps.com/). First of all, I forked bootstrap-decorator and only implement a default template to test input decorator. Something like this:

[code]
#### Expected behaviour

I expected that validations working as well, including messages of regex invalidation (like bootstrap-

[2016-05-05 08:01] Anthropic commented on #675
@thiagog3 you may want to compare with the material design decorator instead of the bootstrap one. It will show you which hoops need jumping through to get things to work together perhaps a little clearer. That said it still needs some work to neaten it up further.

[2016-05-05 09:47] thunderer199 opened #677 "HTML generator"
Hello, guys
Are there any possibilities for generating form one time?
There is pretty much overhead for generating form each time
I want that server will response with already generated form

[2016-05-05 10:03] Anthropic commented on #677
@thunderer199 yes this is something we are looking at already, at the moment we are re-working the core of the library into a pure javascript core in webpack and which is the json-schema-form-core repository. Once that is completed then it shouldn't be too hard to implement a node server to generate the form. There is plenty of interest in it happening, but as this is a community driven project, t

[2016-05-05 10:03] #677 closed

[2016-05-05 18:07] kyse commented on #673
If you're hitting up the documentation for decorators, perhaps expand on adding multiple templates as well.  When i tried using the defineDecorator version of your documentation instead of multiple defineAddon calls to inject into the existing bootstrapDecorator I couldn't figure out how to get the module to find the new decorator to use the templates.  If I used bootstrapDecorator, instead of mer

[2016-05-05 19:06] kyse opened #678 "Multiple Checkboxes field targeting single Schema Array"
I am noticing some undesired behavior when targeting a single array on my schema when using multiple fields of type checkboxes targeting that same array.

Plunker example: https://plnkr.co/u22GAXC6Fpwh1xOmm27Q
- In the plunker, select a type from both dropdowns to expose the two checkboxes fields.
- check one of the checkboxes on the top field, notice the model includes the object in the array pro

[2016-05-05 19:24] kyse commented on #674
Just an additional note. If I use condition: 'model.People[0]' or 'model.People[1]' on the two hidden IsPrimary people fields I get People as an array in the model, but my desired result is to always have an array of 2 People entities in the array with that IsPrimary field populated.  So even though that could be a solution, it defeats the purpose of using the hidden input field as a way to apply

[2016-05-06 00:59] Anthropic commented on #678
Thanks for the plunker, the main issue would be using the same key for different sets of checkboxes, but the removal of the value when you select another I am not so sure of why that happens I would have expected it to replace it only.

I would use a unique key name and then add click event to handle merging the values into your required key. But I see your issue thanks to your plunker and agree i

[2016-05-06 05:45] kyse commented on #678
If I comment out lines 2393 through 2400, and below that add:
[code]

The issue seems to be resolved.  However I haven't had time to play around with the test scripts you guys have so not sure if this would break anything else as a pull request.  Also you appear to be in the middle of some refactoring with deprecated code.  So will leave this here for now for feedback.

[2016-05-06 08:05] Anthropic commented on #678
You can still make a PR we plan to review all approved PRs to make sure they are working once the main split has been completed, that said if you can find the file in the webpack-babel branch it is worth checking that has the same code, if so then a PR would be fine if it is easy to migrate when ready.

[2016-05-06 16:36] AndrewIsh opened #679 "Can anyone explain why my custom validation Plunk is not working?"
I'm experimenting with using a custom function for validation, making use of the schemaForm.error.* broadcast. For some reason, none of my form fields are being marked as invalid following validation and I can't figure out why. Is anyone able to shed any light please?

#### Plunker
[Custom validation](https://plnkr.co/edit/lGouIF?p=preview)

[2016-05-06 20:01] kyse commented on #674
Updated the plunker to resolve the array being initialized as an object issue.  Using default containing the default values I want (non conditional) resolves that problem.  Just need to figure out how to bind the AdditionalInfo fields to the array without hard coding the index.  As I can't be sure the array being returned from the API will be in the proper order, since they aren't required to incl

[2016-05-08 11:35] Anthropic commented on #679
@AndrewIsh for custom validation I hook straight into ngModel validation.
Look at https://github.com/Anthropic/angular-schema-form-external-options/blob/master/bootstrap-external-options.js#L187 it may give you some ideas on how to achieve your outcome.

[2016-05-08 11:47] Anthropic commented on #679
You can also try looking at the custom validators example in the decorator repo.

[2016-05-09 07:46] AndrewIsh commented on #679
Thanks very much @Anthropic, I'll take a look

[2016-05-09 10:41] Anthropic commented on #674
@kyse there is work needed to fix how arrays are behaving, probably our biggest pain point is that the library does use ngModel, would probably have been better to avoid it given how many quirks it has. But too late now. I really want to help you more, please don't take my slow responses the wrong way! But I spent almost an hour looking at your problem before realising I really need to focus on up

[2016-05-09 10:42] Anthropic commented on #674
Oh and nice plunker, helped a lot to visualise what you are trying to achieve, thank you, when I get around to fixing the underlying issues it will really help! :)

[2016-05-09 12:00] AndrewIsh commented on #679
@Anthropic Hi again. Those both prove extremely helpful, thanks. I've got a slightly different use case and I'm struggling to see how I can apply this technique to it. I was wondering if you might be able to enlighten me.

I'm getting my form definition from an API as a JSON document. I don't particularly want to hold my validator functions in the form definition, since that opens up a man in the

[2016-05-09 14:47] Anthropic commented on #679
If you need that level of assistance you need to make a plunker or gist, did you mean for ngModel to be set to a function though?

[2016-05-09 17:42] kyse commented on #674
Thanks for your time on this.  I've just about come to the same conclusion.  Thinking about one last avenue before I give up.  What about being able to provide a getter/setter function to ngModel that allows control over assigning a field to a new entity in an array based on a condition.  So if setting, it would find the entity (or create an index lookup store) and update, or push a new entity to

[2016-05-09 23:38] kyse commented on #674
So this is what I've ended up with thus far to take control of applying fields to entities inside an array conditionally.

[code]

Caveats:

- Create model first before defining the form definition array.
- When you define your forms, use this function to return the form def's key property value.
- So far I've tested it where the array entities already exist via schema's default: [{conditionProper

[2016-05-10 15:20] AndrewIsh commented on #679
@Anthropic Good point about the ngModel being set to a function, thanks :) I'll see if I can come up with a Plunker to more clearly illustrate my problem.

[2016-05-10 19:21] dorin-niscu opened #680 "Pristine option does nothing"
I tried sf-options="{ pristine: {errors: false, success: false}}".

It comes in scope.options but the options are ignored. It still validates the input no matter if it is pristine or not.

I did a fix but I find it more like a workaround.

\'has-error\': form.disableErrorState !== true && hasError() && **!ngModel.$pristine**, \'has-success\': form.disableSuccessState !== true && hasSuccess() && **

[2016-05-10 20:21] David-Prieto opened #681 "Manual field insertion not working on Ionic app"
#### Enhancement
Manual field insertion and anything you put inside the form tag is ignored in an Ionic app, so I'm not sure is this is a compatibility issue with Ionic, and update on schema-form or just an issue with my app.

#### Expected behaviour
I expected manual field insertion to work in Ionic as in the plunker.

#### Actual behaviour
It actually ignores anything inside the form tag.

####

[2016-05-11 00:11] Anthropic commented on #680
Could you please make a plunker or gist to demonstrate, it would help us a lot?

[2016-05-11 06:08] dorin-niscu commented on #680
I added a demo: http://plnkr.co/edit/lYUgSKaW72vCm82G2dg1?p=preview

[2016-05-11 09:09] dorin-niscu commented on #680
Removing "|| !scope.ngModel.$isEmpty(scope.ngModel.$modelValue)" will fix the problem without using the global option.

[code]

[2016-05-11 15:03] AndrewIsh commented on #679
I've actually simplified my validation now and moved it into the schema (as simple 'pattern' properties). So I'll close this. Thanks.

[2016-05-11 15:03] #679 closed

[2016-05-11 15:30] AndrewIsh opened #682 "Validation immediately upon form load"
#### Plunker

[Example](https://plnkr.co/edit/KzbiJv?p=preview)
#### Expected behaviour

When the form is loaded it is immediately validated.
#### Actual behaviour

The form is not validated upon load, it is not validated until the model changes and a validation is triggered by the watch on the model.

Are my expectations wrong, I'd have thought that sending the schemaFormValidate broadcast as the

[2016-05-11 15:31] AndrewIsh commented on #682
Also, as an aside, when the validation does take place, the first array element does not display the validation message

[2016-05-12 11:23] AndrewIsh opened #683 "Nested schema properties key shared in form object"
#### Plunker

[Example](https://plnkr.co/edit/Lxfrd0?p=preview)

When using a schema with nested properties, where the nested property shares the same name as another nested property (see the 'raw' property in the example), the form object (as logged to the console in the example) seems to only contain a single property, for the final nested property with that name. It appears the form control pro

[2016-05-12 11:45] DianaStockford opened #684 "Angular-schema-form doesn't work for me"
Hello,

I try to use your angular-schema-form. I have created a simple html page using your simple example, but it doesn't work. I get the following error:

[$injector:modulerr] http://errors.angularjs.org/1.5.5/$injector/modulerr?p0=questModule&p1=Erro…

It happens when I use ['schemaForm'] module in angular.module("questModule", ['schemaForm']);

[test_angSchemaForm.zip](https://github.com/json-

[2016-05-12 12:09] Anthropic commented on #684
@DianaStockford can you make a plunker please? It helps us to support you, I am at home on mobile so I can't open zips.

That error is usually relating to the order the files are added in an angular app. But we can know better with a plunker.

[2016-05-12 13:15] DianaStockford commented on #684
Hi,

I have created an example on Plunker. It doesn't work also. Please see the link below

https://plnkr.co/edit/U5GeUXCoHr1GYaA7fYXU?p=preview

I'm not sure that I made all correct...

Regards,
Diana

[2016-05-12 13:45] Anthropic commented on #684
@DianaStockford try using the release version, it's currently using development branch which is undergoing a lot of change at the moment.

[2016-05-12 19:00] donalmurtagh opened #685 "model is not updated correctly when non-conditional fields are falsey"
In [this Plunker demo](http://plnkr.co/edit/CSd5tT?p=preview) I've defined a form with 3 fields, 2 of which depend on the other field.

[code]
#### Expected behaviour

If the value of the `toggle` field is not `'yes'`, the model value of `deleted` and `retained` should both be deleted because they both use the default `destroyStrategy = 'remove'`.
#### Actual behaviour

Although both form fields a

[2016-05-13 10:05] donalmurtagh commented on #685
I might have some time to investigate this today, but before I do, I'd like to understand the expected behaviour of nested conditions. For example, given the following form definition

[code]
The first question is whether or not such nesting is supported, i.e. if `model.page !== 1` will all fields in `items` be retained in the model, regardless of whether they declare their own conditions? If the

[2016-05-13 10:28] grobgl commented on #499
Came across the same issue. Turned out that I accidentally put `ng-field-model` instead of `sf-field-model` in my template. Make sure that you have the following attributes at the beginning of your tabarray template:
[code]

[2016-05-13 11:20] AndrewIsh opened #686 "Determining when validation is complete"
#### Enhancement
Sending the 'schemaFormValidate' broadcast prompts a validation of the form. However, if you then want to perform an action dependent on the form's $valid property immediately after the validation, there is no way of knowing when the validation is complete. This can lead to a race condition whereby the testing of the form's $valid property occurs before the validation is complete.

[2016-05-13 13:01] grobgl commented on #641
The bug has been introduced in version 0.8.11. Check out a working example running 0.8.10 in [this Plunker](http://plnkr.co/edit/tw7iRtcBE8ADLf4dsPzy?p=preview).

[2016-05-13 13:34] Anthropic commented on #641
@grobgl thank you for confirming that, a big help :)

[2016-05-13 13:38] Anthropic commented on #685
Your assumptions would match my own :)

[2016-05-13 13:41] Anthropic commented on #685
It should work, but it may not, we probably need test cases to match those scenarios to build against.

[2016-05-13 14:16] grobgl commented on #641
Getting rid of the `firstDigest` variable (which has been introduced in 0.8.11) entirely seems to fix the issue, but I'm not sure if that has any other implications.

[2016-05-13 17:05] donalmurtagh commented on #685
My (manual) testing indicates that it does not currently work as described above. The ASF docs are fairly silent on the subject of the behaviour of nested conditions.

[2016-05-16 10:48] mrenvoize commented on #683
:+1:   This is an annoying bug that I can replicate.. no idea where to fix though :(

[2016-05-17 01:25] Anthropic commented on #683
@AndrewIsh @mrenvoize this is a known behaviour and is because of the way forms take the name property of the field, I made a fix for the Material decorator I work on, but no-one has ported it to the bootstrap decorator.

If you look at https://github.com/json-schema-form/angular-schema-form-material/blob/develop/src/default.html you can see that instead of using {{form.key.slice(-1)[0]}} taking o

[2016-05-17 01:28] Anthropic commented on #683
It would need any id,for,name to be updated also.

[2016-05-17 18:21] kyse commented on #674
This has evolved into creating a new directive for schema forms for me.  I've created a getterSetter builder that applies an sf-gs attribute to the ng-model targeted element.  The gs method handles initializing the array and updating the entity with the new values.  Needs to be expanded to handle removing the entities from the array if null, etc but this is a good POC to get the point accross.

[P

[2016-05-18 06:34] example2049 opened #687 "$ref"
Hi guys

Do you have a simple example of the use of $ref with Angular-Schema-Form? The example in https://github.com/json-schema-form/angular-schema-form/issues/69 is not clear and I don't understand if  you provide support for it.

Thanks for all

[2016-05-18 07:51] Anthropic commented on #687
@example2049 it isn't supported yet, it is planned, but no timeline has been determined, I'd follow #69  to get notified of updates. We are closer to being ready to start implementing it, but other than that only using the example provided in that ticket would be my only suggestion prior to me actually trying to build it.

[2016-05-18 07:51] #687 closed

[2016-05-18 08:43] AndrewIsh opened #688 "Changing form's readonly property has no effect"
#### Plunker
[Example](https://plnkr.co/edit/ijhY8C?p=preview)

#### Expected behaviour
Toggling `sfOptions.formDefaults.readonly` should toggle the form's readonly appearance in the view

#### Actual behaviour
Toggling `sfOptions.formDefaults.readonly` appears to make no difference at all to the form's appearance

@json-schema-form/angular-schema-form-lead

[2016-05-18 13:21] Gbiggert opened #689 "DestroyStrategy does not trigger when field no longer meets condition"
So I believe that this was addressed in issue #371 and I believe that a solution was purportedly merged however I am still having issues with this problem. So I have noticed that when you select a value which displays a conditional field, pick a value in the resulting conditional, change the value so the field no longer meets the condition (and the conditional field is hidden), and then change bac

[2016-05-19 06:31] Anthropic commented on #681
Hi @David-Prieto can you make a plunker of the ionic version where it doesn't work?

The manual field insertion is listed in the docs as experimental so I am not sure how stable it is for your use case.

[2016-05-19 09:43] HeerRik opened #691 "Unable to use custom form type"
#### Enhancement
Greetings,

I wish to create a custom datepicker addon, as the angular-schema-form-datepicker addon does not suit my needs.
I have tried understanding the docs on creating an addon, but I seem to miss something somewhere.

#### Expected behaviour
As in the docs, the custom field uses the bootstrap decorator, I figured I would not need to create my own decorator. I mainly copied mo

[2016-05-19 11:05] raoulus commented on #691
Did you add your template to the templateCache?

`$templateCache.put('client/fieldtypes/datepicker.html', '...')`

[2016-05-19 11:53] HeerRik commented on #691
I did not, where do you suggest I do this? Straight after defining the addon, at the beginning of my base file or elsewhere? Thank you for your reply.

[2016-05-19 12:06] Zundrium commented on #691
I'm experiencing the same issue, @raoulus, this doesn't sound like the problem here, the URL to a template is the correct type of parameter looking at the [documentation](https://github.com/json-schema-form/angular-schema-form/blob/a4d80ebab607cd72bc499cbe2bdabcfa3a82c0b8/src/services/decorators.js#L503) of the `defineAddOn` function.

[2016-05-19 13:49] raoulus commented on #691
Try it like this. Works for me.
[code]

[2016-05-19 13:50] David-Prieto commented on #681
Here is the [Plunker](http://plnkr.co/edit/S5Ml7MYNlE3QVp27rQuK?p=preview) with Ionic @Anthropic

As you can see, the code inside the form in home.html is being ignored.

Unlike the other [Plunker without Ionic](http://plnkr.co/edit/UzNw3uy7EwSHPlxstsQZ?p=preview), which works fine.

[2016-05-19 14:11] rnjailamba commented on #480
Why is this not closed?

[2016-05-19 14:12] HeerRik commented on #691
This has changed nothing for me, am I correct to assume I can use the bootstrap decorator and do not need to create a custom decorator?

[2016-05-19 22:55] rnjailamba commented on #201
Thanks @sixstringer413  youre an angel!

[2016-05-20 00:19] rnjailamba opened #692 "Support for autocomplete"
#### Enhancement
As a user/developer, i would like autocomplete extension to this library.

[2016-05-20 05:27] Anthropic commented on #692
@rnjailamba this could be done as an add-on, I have implemented something like this in the Material decorator but that isn't really production ready, but you could certainly take a look and see if you can make an add-on from it.

[2016-05-20 05:35] rnjailamba commented on #692
Great ill have a look at it.

[2016-05-20 05:35] #692 closed

[2016-05-20 06:01] Anthropic commented on #480
@rnjailamba it is closed, what do you mean?

[2016-05-20 06:07] Anthropic commented on #691
@HeerRik yes you can use the bootstrap decorator and use the define addOn as @raoulus has explained above. The call does indeed take a url HOWEVER the url MUST have been loaded as a template.
https://github.com/json-schema-form/angular-schema-form/blob/master/docs/extending.md#the-template

You can compile the template the same way the bootstrap decorator compiles, I believe the addOn template rep

[2016-05-20 06:11] Anthropic commented on #691
Also I would usually use a different name than the built in one or make sure your template and script is loaded last.

[2016-05-20 06:21] Anthropic commented on #688
@AndrewIsh the field you are trying to change is a default, not the actual value, so it which would only be used when the form is first created, you would need to drop the form and create again to change that value.

I reload the schema with readonly changed at the root level for my work.

[2016-05-20 08:28] AndrewIsh commented on #688
@Anthropic Many thanks for that, that makes sense.

Could you please elaborate on this? You say you change it at root level, do you mean at the root level of the form? i.e. `$scope.myForm.readonly = true;`?

[2016-05-20 09:28] Anthropic commented on #688
@AndrewIsh I process it server side, so the parent object of the schema gets tagged readonly {readonly: true, [normal object params]}, without looking into it I believe the form only updates if the root object is replaced, it doesn't watch deeply into the object once the form is made, again that's what I think without looking into it.

[2016-05-20 12:54] raoulus commented on #688
It would be great if parts of the form could be updated/refreshed without re-rendering the whole thing. I also would like to change the readonly flag in runtime. When you update a big form the page jumps and it flickers for a second.

[2016-05-20 13:41] senthilsendhil commented on #310
Any luck ? or any workaround ? I am also facing same issue, for me its deleting and getting error as required any solution?

[2016-05-20 13:45] senthilsendhil commented on #310
for me too same issue ? but for me this date filed is not mandatory but after getting empty its making this field as not empty .. so i cant submit the page

[2016-05-20 15:00] AndrewIsh commented on #688
@Anthropic Interesting. For my particular use case, I'm only going to be setting readonly before the form is created anyway, so this will work fine for me. But I think @raoulus has a point, re-rendering the whole form when the readonly property changes feels a bit heavy handed, but I can see why it is the way it is.

[2016-05-20 15:53] edi9999 commented on #625
I've got the same issue, but with valid input . Here is my code :

[code]

and in my view :

[code]

Now if I fill in the two arrays with multiple text elements, I get the error message : `"Invalid type, expected array"`

[2016-05-20 15:56] edi9999 commented on #625
This is very strange, since if I set the model to :

`$scope.model = {"install_packages":["ewfwef","ewfwe"],"install_groups":["dsafasdf","asdf"]}`

However, If I do the same thing manually, the error appears.

[2016-05-20 18:00] dematic-rodrigo-silveira opened #693 "What mechanism should I use to place all the error messages into a single error box within the form?"
#### Question / Enhancement
As a user/developer, when I use angular-schema-form I want a mechanism to place all the error messages into a single error box within the form.

See [this plunker](http://plnkr.co/edit/nOjrSupkVf4L4VuhvxVO?p=preview) for an example; you can move the HTML including the _dl-error-box-container_ directive anywhere in the form.

[2016-05-20 18:06] dematic-rodrigo-silveira opened #694 "Is there a mechanism for disabling tv4"
#### Question / Enhancement
As a user/developer, when I use angular-schema-form I want a mechanism to turn tv4 validation off and rely solely on AngularJS and my own custom validations.

See [this plunker](http://plnkr.co/edit/nOjrSupkVf4L4VuhvxVO?p=preview) for an example. You will notice that I used a dumb, very dumb, service to mock - _DLValidationService_, to support scanning the form's input

[2016-05-20 18:08] dematic-rodrigo-silveira opened #695 "Is there a mechanism to insert custom directives in the generated form's input elements"
#### Question / Enhancement
As a user/developer, when I use angular-schema-form I want a mechanism to a mechanism to insert custom directives in the generated form's input elements

See [this plunker](http://plnkr.co/edit/nOjrSupkVf4L4VuhvxVO?p=preview) for an example. Therein I used the _dlErrorValidationHandlerCombined_ directive, in conjunction with a custom service and a couple of additional s

[2016-05-20 18:12] dematic-rodrigo-silveira opened #696 "Is there a mechanim to to use the AngularJS ng-plurarity directive"
#### Question / Enhancement
As a user/developer, when I use angular-schema-form I want a mechanism to use the AngularJS +ng-plurarity+ directive to use the proper sentences with regard to count and gender.

See [this plunker](http://plnkr.co/edit/nOjrSupkVf4L4VuhvxVO?p=preview) for an example. As you will see, the +minlength+ and +maxlength+ validation messages are wrapped up on templates encapsul

[2016-05-20 22:16] kyse commented on #695
You could inject a new builder to apply the directives on elements with an ng-model jqLite query perhaps.

[code]

[2016-05-20 22:40] kyse opened #697 "Model Populated by a Schema Default via Reference vs Copy"
I am building out a custom model binding and am comparing objects to scope.schemaForm.schema object.  I noticed when the model is initialized with defaults from the schema defaults, it's added to the model as a reference to the schema default object/array rather than copied.  The result being, when a new object is being added to an array on the model and that array was created from the schema defa

[2016-05-21 09:02] lollocavs opened #698 "Not shown select in an array"
I try to implement a multi array form with same select item.  The schema snippet is as follow:
`"technical": {"type": "array", "title": "Technical", "x-schema-form": {"htmlClass": "col-md-4 col-lg-4"},
			"items": {
				"type": "object",
				"properties": {
					"techName": {
						"type": "select",
						"title": "Name",
						"required": true,
						"titleMap": "$scope.Specifications"
					},

[2016-05-22 05:08] #694 closed

[2016-05-22 05:10] dematic-rodrigo-silveira commented on #694
I closed my own issue since after additional research I now understand that tv4 is a schema validatior. My apologies for the misunderstanding.

[2016-05-22 10:05] rnjailamba commented on #480
@Anthropic  i meant that the pull request is not merged - https://github.com/json-schema-form/angular-schema-form-bootstrap/pull/13

[2016-05-22 13:59] Anthropic commented on #625
@edi9999 it isn't strange at all it matches exactly what was described in the thread above your comments. If you set it to empty to start with it errors. You cannot reset it, too late. This needs work to fix.

[2016-05-22 14:07] Anthropic commented on #696
@dematic-rodrigo-silveira you can create your own decorator easily and modify to do what you like. Take a look at the extension framework in the documentation.

[2016-05-22 14:12] Anthropic commented on #688
@AndrewIsh updating parts of the form is something we want, just a matter of resources to change it.

@raoulus we agree, there is a plan to allow a locals scope to be passed in and watched, it could be added to conditionals. But it requires work so I don't know the timeline.

[2016-05-22 14:12] #688 closed

[2016-05-22 14:13] Anthropic commented on #688
Feel free to re-open if you have more to add on this topic :)

[2016-05-22 14:17] Anthropic commented on #695
@kyse thanks!

@dematic-rodrigo-silveira what he said :) Actually a better answer than mine to your other question too.

Please re-open if you have any further questions on the topic.

[2016-05-22 14:17] #695 closed

[2016-05-22 14:20] Anthropic commented on #310
@senthilsendhil can you make a plunker to demonstrate?

[2016-05-22 14:28] Anthropic commented on #480
@rnjailamba it will get merged when someone has time to look at it, we are rewriting the core of the framework so it is hard to deal with PR just at the moment. But it will happen in the next few weeks I hope.

[2016-05-23 05:27] Anthropic commented on #697
@kyse I believe this is already known via #407
Can you confirm if that is the case or not and close this or comment further accordingly please?

[2016-05-23 05:28] #697 closed

[2016-05-23 05:29] Anthropic commented on #691
Please re-open if you do not feel the question has been answered sufficiently.

[2016-05-23 05:29] #691 closed

[2016-05-23 05:30] Anthropic commented on #696
As mentioned in your other post you can use the new builder to add the value to the source template as required prior to it being added to the form.

Please re-open if you do not feel the question has been answered sufficiently..

[2016-05-23 05:30] #696 closed

[2016-05-23 07:37] edi9999 commented on #625
https://meet.pclm.altair.com/sshproblem

[2016-05-23 08:25] HeerRik commented on #691
Hello again @Anthropic and @raoulus ,

Thank you for your responses, and I apologise for not responding the last few days.

I have created a [plunk](https://plnkr.co/edit/uJEkzivxJHb5xUphcPX5), with the code that, if I am not mistaken, is what it should be.

Now I do know, I have to compile the template into the templateCache, but how exactly do I do this?
Do I need to install gulp-angular-templat

[2016-05-23 08:54] kupuguy commented on #79
@deepkamal I think what you're missing is that while setting `formObject.schemaOptions.formDefaults.readOnly = true` does indeed make the form readOnly there is then no easy way to make it editable again. Setting it to `false' and triggering the `schemaFormRedraw` event doesn't have any effect as the `readonly` attribute has been set on each field and only `readOnly=true` value is inherited from `

[2016-05-23 09:26] raoulus commented on #691
@HeerRik in your plunker you are not loading any assets in the index.html. You have to reference angular, schema-form etc. Take a look at this plunkr https://plnkr.co/edit/ijhY8C?p=preview

template cache is basically a key-value store, you don't have to compile anything. Just follow the example above. I guess your problem has to do with loading/referencing the files in the right order.

[2016-05-23 09:39] HeerRik commented on #691
@raoulus I didnt bother collecting all the cdn links for the plunker example, [here](https://plnkr.co/edit/uJEkzivxJHb5xUphcPX5) is how it is in my actual project. It should be in the right order if I am not mistaken, loading dependecies first etc..

[2016-05-23 13:56] Anthropic commented on #698
@lollocavs you can try one of the add-ons for dynamic selects, there are two of them at least and they can load their titleMaps. Thing is titleMap is part of our form definition, it is not part of json-schema so it cannot be in the schema snippet anyway. You must load it as part of the form definition.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-05-23 13:56] #698 closed

[2016-05-23 14:13] Anthropic commented on #691
@HeerRik https://github.com/json-schema-form/angular-schema-form/blob/master/docs/extending.md#defining-a-decorator
Look at the example code below the text "This is the function that makes it a datepicker", you don't have that function in your plunker which is why it wont work.
You also don't load a decorator either so it has nothing to attach to.

Look at the working datepicker https://github.com

[2016-05-23 14:14] HeerRik commented on #691
@Anthropic You would advise against using the .defineAddon and instead use .addmapping?

[2016-05-23 14:47] LeonardoGentile opened #699 "Remove bootstrap-decorator.js from bower main section"
On my project dev workflow I'm using [main-bower-files](https://github.com/ck86/main-bower-files) and gulp to inject the scripts exported by the `main` section of my installed bower_components.

As suggested on the [docs](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#important) I did not rely on the bootstrap-decorator shipped with this project but I've ins

[2016-05-23 14:53] LeonardoGentile opened #700 "Remove bootstrap-decorator.js from bower main section"
On my project dev workflow I'm using [main-bower-files](https://github.com/ck86/main-bower-files) and gulp to inject the scripts exported by the `main` section of my installed bower_components.

As suggested on the [docs](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#important) I did not rely on the bootstrap-decorator shipped with this project but I've ins

[2016-05-24 00:07] rnjailamba opened #701 "CSS messed up after getting schema and form data from api call."
#### Expected behaviour
Earlier within my angular controller i was directly setting the schema and form variables like -
`        vm.schema =
                        {
                          "type": "object",
                          "title": "Comment",
                          "properties": {
                            "name": {
                              "title": "Name",

[2016-05-24 14:26] edi9999 commented on #625
I was able to get rid of the issue by not using : `angular-schema-form-bootstrap 0.2.0`, but instead use the one that is in the dist folder of this repository (when you use npm or bower)

[2016-05-24 17:06] warmy1004 opened #702 "Weird behavior of 'condition' option with negative conditions"
#### Enhancement
I used two more negative conditions ( such as condition:"model.mainQuestion2 !== 'a' || model.mainQuestion2 !== 'd'", ) to show and hide a conditional question.

#### Expected behaviour
I expected the conditional question will not show when 'a' or 'd' is displayed.

#### Actual behaviour
It actually the conditional question didn't hide.

#### Gist/Plunker/Demo
https://plnkr.co/edi

[2016-05-24 20:39] warmy1004 opened #703 "DestroyStrategy option is not working properly"
#### Enhancement

In my case, three conditional questions (text, select, and radios-inline types) are showing and hiding based on the main question's value. Any previously entered input for these conditional questions should be removed or set to be empty when these conditional questions are removed. But, destroyStrategy for them is not working properly.
#### Expected behaviour

I expected the prev

[2016-05-25 00:54] Anthropic commented on #701
@rnjailamba can you make a plunker?
Are you using the Material decorator? It isn't ready for production use yet as it is still unstable.

[2016-05-25 01:06] Anthropic commented on #625
@edi9999 thanks for the info :)

[2016-05-25 01:16] Anthropic commented on #702
@warmy1004 use && not || when using negatives.

[2016-05-25 01:16] #702 closed

[2016-05-25 01:21] Anthropic commented on #689
@Gbiggert thanks I will try to sort out why once we merge the webpack/babel branch soon.

[2016-05-26 08:27] joseg opened #704 "Embedding to a .net project"
#### Enhancement
Could you include steps to embed angular-schema-form into a .net angular project?

[2016-05-26 20:33] d1b1 commented on #500
Reopen please. I have reviewed the examples and am not finding any examples for how to specifically add in directives that add on features like input masks. A little more in the docs would be great.

[2016-05-26 21:14] nicklasb commented on #500
Actually, I'd say that @MattiJarvinen-BA is right. Just adding a directive like that is not possible AFAIK without adding that as a feature to ASF, you will need to create an add on that creates an input that uses ui-mask.

There is a guide here: https://github.com/json-schema-form/angular-schema-form-add-ons

I would think that is a valid case for an add-on.

[2016-05-27 04:49] Anthropic commented on #704
@joseg not sure what you mean, are you referring to intellisense in Visual Studio or something else? As far as I know, you include it the same way and there's nothing special for .net to care about as far as I know other than intellisense, you can just grab the bower version and put that in a folder in your .net solution.

I haven't used .net since node came out so I don't know what new stuff they

[2016-05-27 04:51] Anthropic commented on #500
@d1b1 you can also use the builder functions to add directives to the templates as they are being processed.

[2016-05-27 05:55] nicklasb commented on #500
@Anthropic Did not know that, I am not sure I get how that would happen from the documentation?

[2016-05-29 14:57] Anthropic commented on #539
This has been done and added to webpack (v1.0) branch

[2016-05-29 15:09] Anthropic commented on #500
@d1b1 @nicklasb I've updated the documentation further, please let me know if there is anything that you require further information on https://github.com/json-schema-form/angular-schema-form/blob/development/docs/extending.md

[2016-05-30 19:57] kazoompa commented on #673
After reading all the comments above I was able to create a small add-on but have no clear idea how to use _sf-field_ or _sf-field-mode_, the scope's form is always undefined. The documentation is really essential for a new feature. I am looking forward for an update :)

[2016-05-31 00:04] Anthropic commented on #673
@kazoompa have you looked at the documentation this week, I made some updates to make it a little clearer on the weekend (in develop branch).

[2016-05-31 00:10] kyse commented on #673
[The extending docs](https://github.com/json-schema-form/angular-schema-form/blob/master/docs/extending.md#builderssffield) actually cover the implementation details those details pretty well.  But do yourself a favor and walk though the source on the builders to understand what they are actually doing.  Will give you some good insight on how to extend your addons even further.

[2016-05-31 06:21] kyse commented on #683
I'll probably tackle this soon, I'm experiencing the same issues with my getterSetter builder reusing the same object property for an array.  I've also been meaning to update those templates to wrap inputs in div's with an ng-class so one can easily set input widths via col-xs-# when using form-horizontal.

[2016-05-31 12:00] kazoompa commented on #673
@Anthropic I did read the docs over the week-end and yesterday but had some problems with sf-field or sf-field-mode, every time I used them the _form_ of the add-on is undefined. I will also follow @kyse's suggestion. What would be lovely is a sample that uses all this new stuff so people can use them and change the content to their need :) I am trying to build a custom File Uploader and I use the

[2016-05-31 14:23] ajit-drag commented on #168
Not working in form binding. I am using <select ... ng-model="staff.member-Type">. But still facing same issue. what could be the possible solution. As JSON format cant be changed.

[2016-05-31 16:36] kyse commented on #673
Not sure exactly what you mean when you say the form of the addon is undefined.  I'm guessing you're referring to the form object on the control elements's scope?  Sounds like your missing a directive on your template.

Could try drawing up a quick plunker of your usage of the directives to see what's going wrong.  Try building out a simple input.

Here's another quick tip regarding using the dire

[2016-05-31 20:53] kazoompa commented on #673
Thanks @kyse, I did some screwing around and got the add-on go further using sf-field-model="replaceAll". I still have a lot to accomplish.

Out of curiosity, if you put a console.log() in your provider function you mentionned:

[code]
Do you also get a lot of 'I am here!'?

Thanks.

[2016-05-31 21:32] kyse commented on #673
Running it only once wouldn't make sense.  It's purpose is to test if a form definition not specifically defined to a specific type matches a condition to use that form type as the default (ie schema.type is string, and schema.format is datetimepicker, then this datetimepicker addon would be deafult instead of a stock text input control (or rather the default template).  So I'd wager that method g

[2016-05-31 22:36] kazoompa commented on #673
Thanks a lot @kyse, you're paving the way for the light to come through ;)

I had to used _replaceAll_ to make my add-on model properly initialized:

[code]
_attachment-wrapper_ is our custom directive for file uploads.

I'll be baaack :)

Cheers.

[2016-05-31 22:46] LeonardoGentile commented on #673
@kyse @kazoompa thanks for your examples, even tough I'm having some difficulties following trough :)
As my first comment I still think that a fully working example of a custom add-on using the new builder accompanying the docs would be very much appreciated

[2016-06-01 00:57] kyse commented on #673
Did you look at the angular schema form add on examples github page?  I
think they have a couple.

On Tue, May 31, 2016, 6:46 PM LeonardoGentile <notifications@github.com>
wrote:

[2016-06-01 01:46] Anthropic commented on #673
@LeonardoGentile you raise good points, I think the add-on generator repo needs to be updated too to make it clear what should be done for the new builder, @kornosaurus what are the chances? ;)

[2016-06-01 01:49] Anthropic commented on #168
@ajit-drag you need to make a plunker or gist or provide exampes if you want people to understand your issue.

[2016-06-01 05:35] nicklasb commented on #673
I believe that, actually, both the [add-on repo](https://github.com/json-schema-form/angular-schema-form-add-ons) and the [generator](https://github.com/json-schema-form/generator-angular-schema-form-add-on) accepts PRs...
WRT the add-on repo, and unless I am just given a PR to merge, I can add this next week (out sailing the seven seas),

[2016-06-01 07:50] LeonardoGentile commented on #673
@kyse they look to me the old way to create an addon, maybe I really did not understand the difference old/new then..
@nicklasb I could send PR, if you could just point me to a working example...oh wait 😄

[2016-06-01 08:11] kornosaurus commented on #673
@Anthropic I've been meaning to release some examples in the generator specific to the new builder, hopefully out this week actually

[2016-06-01 12:08] snoosmoomrik opened #706 "Set array items as select options"
I have this schema:
[code]

And this form definition:
[code]
Is it possible to show all list items names in select box?
Maybe my situation has a simple solution but I can't find it anywhere.

[plunker](https://plnkr.co/edit/OclcXl6V5fcAoMFWKq3z?p=preview)

[2016-06-01 17:00] kyse commented on #706
Grab a dynamic/external select add-on that allows you to cusotmize the titleMap input, and for the titleMap sourrce method, target the list.  I use ui-select for my custom select which has a "refresh" option.  It essentially targets my api when it needs an updated source.  You could probably direct the refresh method to target the list array instead.  Could possibly extend/decorate ui-select to ad

[2016-06-01 17:34] warmy1004 commented on #703
For your information, here is version information which I am using in Plunker.
angularjs & angular-sanitize : v 1.4.3
schema-form : v 0.8.13
bootstrap-decorator.js : v 0.8.13 which is provided in the schema-form-v.0.8.13 folder
ObjectPath: v 1.2.1
tv4: v 1.0.17

[2016-06-01 18:04] warmy1004 opened #707 "immediate validation for conditional questions and validateOnRender option issue"
#### Enhancement

I tried to use a different version of schema-form and bootstrap-decorator, and I found validation for conditional questions is immediately happening when forms load with the newest version of bootstrap-decorator. Also, I've tried to use 'validateOnRender' as a global option and a local option, but it didn't work for conditional questions.

FYI, here is version information used in

[2016-06-02 00:42] Anthropic commented on #706
@snoosmoomrik not sure why the titleMap isn't in the correct format?
[code]
https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#select-and-checkboxes

[2016-06-02 00:46] Anthropic commented on #703
@warmy1004 thanks for the additional info, once the webpack/babel branch is stabilised we will be able to look at this.

[2016-06-02 07:22] snoosmoomrik commented on #706
@Anthropic this format is correct and it works. The problem is that in my case I need to track changes in `list` array and update this ittleMap dynamicly according to list items. I'm using angular's $watch for now to do this but I wonder, is there any other way to declare this behavior in schema or form? Here is my last approach: [plunker](https://plnkr.co/edit/OclcXl6V5fcAoMFWKq3z?p=preview)
@kys

[2016-06-02 12:42] Anthropic commented on #706
@snoosmoomrik ha learn something new every day, I didn't even know we supported that format, now I have to update some code to support it in the Material decorator, oh dear...

So this will work with the Material decorator select in theory, I haven't tested it, but it is capable of watching an object and updating from it. External-Options add-on can also do it but not sure if it would need some tw

[2016-06-02 17:04] kyse commented on #706
Wouldn't the refresh option on ui-select-choices give you an updated list when you need?  Perhaps that only updates if you do searches.

[2016-06-03 08:24] snoosmoomrik commented on #706
This can help. Thank you.

[2016-06-03 08:51] snoosmoomrik opened #708 "Non-required select"
In this schema I defined 2 select boxes:
One of them is required, the other isn't.
[code]
I expected that after selecting option in second (non-required) select box the empty option will remain to select it again, but it disappeared.

[Plunker demo](https://plnkr.co/edit/b3xwhNXliUkvIbUtHemw?p=preview)

To achieve needed behavior I usually used something like this:
[code]
But when I tried to overr

[2016-06-03 10:48] Anthropic commented on #708
@snoosmoomrik you can add the extra option in the form definition, *should* achieve the same outcome.

[2016-06-03 11:24] Anthropic commented on #708
Try this:
[code]

[2016-06-04 09:26] repolevedavaj opened #709 "'date' as input field type produces 'Invalid type, expected date'"
First: Thanks for this really cool and easy framework!

I would like to use a input field of type 'date' to support browser specific date picker implementations, but it always shows the error 'Invalid type, expected date' and i do not know where this comes from. If I insert an date input field manually and bind it with `ng-model` to a date object, it seems no problem.

I use the following schema

[2016-06-06 07:49] snoosmoomrik commented on #708
Thank you! It's works now!

[2016-06-06 20:18] kyse commented on #709
Sounds like a validation error?  Ie, your decorator is creating a date input field that is throwing a date as a string on the model, but validation is expecting an actual js Date object on the model?  Make sure whatever date input being generated for that schema object is setup to add a date object on the model.  Generally date inputs will be of type string with format of datetime or something alo

[2016-06-07 00:50] #708 closed

[2016-06-07 00:52] Anthropic commented on #706
Please re-open if you do not feel the question has been answered sufficiently.

[2016-06-07 00:52] #706 closed

[2016-06-07 00:54] Anthropic commented on #704
Please re-open if you can provide more information :)

[2016-06-07 00:54] #704 closed

[2016-06-07 01:01] Anthropic commented on #693
@dematic-rodrigo-silveira I am trying to find time to look at this for you, I probably wont get a chance until the weekend though unfortunately.

[2016-06-07 01:04] Anthropic commented on #693
Just a thought, have you tried looking through the error object ngcontroller adds to the form?
[code]

[2016-06-07 08:38] slyadams opened #710 "Dynamically extending schema"
I'm looking at integrating asf with an existing system which consists of around 400 object types in our back-end, which is exposed through a RESTful webservice which supports an OPTIONS call to get the 'schema' of each object type. I've written a shim to convert the OPTIONS output into an asf schema. So far so good and I'm very impressed with the framework.

One of the big issues with our existing

[2016-06-07 08:48] Anthropic commented on #710
@slyadams best way to think of it I would suggest is that an add-on is simply an angular template you are choosing to have in a position in your form based on schema, it is conceivable that you could create an add on template that has its own schema-form in the child template, that schema form could be generated from loaded data in the same way I load titlemaps and add options in my external-optio

[2016-06-07 09:12] slyadams commented on #710
So basically the overall schema-form would be made up of multiple smaller schema-forms?

[2016-06-07 09:30] Anthropic commented on #710
Yes, that's how I would imagine it working, you can do quite a lot with the builder, ie. if there is a link item in the schema defining the new schema url, then you can have a builder append another node to the template output to be added to the page, which would then load a directive to handle the load and display.

[2016-06-07 09:30] Anthropic commented on #710
take a look at the Material design decorator, it is more up to date than the bootstrap one and may give you a better look at what you can do with the builder.

[2016-06-07 09:56] slyadams commented on #710
When you say 'link item', you mean just adding a new custom key?

[2016-06-07 09:59] Anthropic commented on #710
In json-schema's hypermedia schema there is a link item to define a url, if you look at the external-options add-on you can see how it can be used.

[2016-06-07 12:39] nicklasb commented on #710
Actually I made an add-on that has as one of its features that it loads another schema.
https://github.com/OptimalBPM/angular-schema-form-complex-ui

An important think to remember is that you cannot nest the `<form>`-tag, so use divs instead.

[2016-06-08 15:02] ymarcon opened #711 "Validation of type 'object' in a new addon"
Hi

I am currently developing a new add-on called [sf-localized-string](https://github.com/obiba/sf-localized-string) that allows to capture a "value" in different languages. Then instead of a simple 'string' field, the value is an 'object' with a property for each declared language.

I am trying to validate the value as follow: if at least one text is provided, texts for the other languages must

[2016-06-08 18:20] warmy1004 commented on #703
I want to share with you what I found for this issue.
I can't be fully sure, but I think this issue is caused by a mismatch between actual form's structure from a canonical form definition and a needed structure for angularjs's destroy event.
When the angularjs is broadcasting destroy event based (the current angularjs's code is _this.$broadcast('$destroy');_ ), this broadcast destroy event can't

[2016-06-08 20:06] repolevedavaj commented on #709
The reason why i do not want to use input of type `string` is because it would not support the mobile browser specific implementation of date picker. But I think I found the reason why it is throwing a validation error. While validating, the function `validateType(...)` in the `tv4.js` is called, where the type of the validated data is determined. In my case the validated data is a js `Date` objec

[2016-06-09 09:18] Anthropic commented on #711
Not sure if it will help, but take a look at this https://github.com/Anthropic/angular-schema-form-external-options/blob/master/src/angular-external-options.js#L185 I had to disable validation for items within the object and then validate independently. You would also need to make sure the object item is in the form definition as a section or there is nothing attaching it to the model directly I s

[2016-06-09 09:26] Anthropic commented on #703
@warmy1004 thanks for the info, I appreciate your follow up, once the webpack/babel branch is merged to dev, hopefully someone can do a PR to correct the behaviour or add a test case for me to fix against.

[2016-06-09 17:05] kazoompa commented on #711
@Anthropic, by validate independently you mean each object field has to have its own validator? Could elaborate a little more?

Thanks.

[2016-06-10 22:57] Alain1405 opened #713 "Can't include with browserify"
Hi, I've installed `angular-schema-form` with npm and I'm trying to include it into my project with browserify, but I get the error below. I've tried  including `angular-sanitize` or `bootstrap-decorators` in the right order but no success.
My code:
[code]
The installed deps:
[code]

Here is the error:

[code]

[2016-06-12 10:33] Anthropic commented on #711
@kazoompa no I mean I validate the whole object and disabled validation on the child fields. That way tv4 can determine if the whole group is valid rather than the fields independently.

I created a directive for a class I added to a section, which attached the validation for the object.

[2016-06-12 10:39] Anthropic commented on #713
You will need to replicate this in plunker or gist for someone to provide the support you are after. Otherwise I would assume, as it claims module is not a function, that you haven't loaded the files in the right order.

[2016-06-12 10:41] Anthropic commented on #713
I don't use browserify myself, which is why I need a demo to provide better support. :)

[2016-06-12 19:52] Alain1405 commented on #713
Thanks @Anthropic but I just solved. I'm also not an expert with Browserify, I just inherited a project which uses it.
In the end I didn't need to include the returning value of `require`, but just the module name (not even that for the decorators):
[code]

[2016-06-12 19:52] #713 closed

[2016-06-13 03:38] Anthropic commented on #713
Thanks @Alain1405, we appreciate follow up and your time for closing the issue :)

[2016-06-13 13:48] ymarcon commented on #711
@Anthropic Thanks to your comment I have added a [controller](https://github.com/obiba/sf-localized-string/blob/master/src/module.js#L46-L61) that is deep-watching the model value and triggers the object validation. It works but I still would have expected the schemaform framework to do it automatically.

[2016-06-13 13:48] #711 closed

[2016-06-14 03:13] Anthropic commented on #711
@ymarcon the use of oneOf manyOf is on the roadmap of desired features, it is just tricky to quantify the desired outcome precisely and we don't have a finalised timeframe given most of the work really needs to be done by PRs.

[2016-06-14 11:48] anushkamahesh opened #715 "Remove form element from multiple input field"
As a developer, when I save a value in particular input field (Refer attached image)  I should be able to remove that whole element from the list. So is it possible to do it or is there any way to do that (I'm using latest version 0.8.13)

![List of form element  ](https://cloud.githubusercontent.com/assets/1327120/16041589/d93d3eec-3253-11e6-8845-acf07d27f8e7.png)

[2016-06-15 01:41] Anthropic commented on #715
I need a gist of what you are doing to be able to help, an image doesn't provide enough information for anyone to support your issue.

The example demo has a "Save to Gist" button you can use to create one from a schema and form definition.

[2016-06-15 05:00] anushkamahesh commented on #715
Scenario is like this. Initial, I have 'Add List' button then I click Add List button so if it display a new field with Input field with save button. It is possible to add any number of fields like that. Then, it is needed to input some thing on input filed and then click save.
So when someone click save button, it is needed to save the data and remove that particular field (Same behaviour which i

[2016-06-15 07:42] Anthropic commented on #715
Take a look at the [example page](http://schemaform.io/examples/bootstrap-example.html) and look at the **array** example. You can add any field type inside an array including a button, by default the array will also have an **X** for removal and you can listen for Angular destroy events to capture the backend changes you need.

Please re-open if you do not feel the question has been answered suff

[2016-06-15 07:42] #715 closed

[2016-06-15 09:49] anushkamahesh commented on #715
Hi @Anthropic, what i need is, it needs to remove that particular array element which user click save button with out any user interaction. User clicks save button and that field is remove from the form array. How can i user angular destroy event for that ??

[2016-06-15 13:20] anushkamahesh opened #716 "Need help with array validation?"
##### Expected behaviour
When you type only the validation should work on the input field.

##### Actual behaviour
Below is the code i used to create a array of input with button. It always show **Required** message at the bottom and  show **Required** in the input even.
[code]
[code]

Below image shows my issue

![Required message issue](https://cloud.githubusercontent.com/assets/1327120/16081160

[2016-06-15 14:23] Anthropic commented on #715
@anushkamahesh in that case you would have the function called by the save button handle it all, so you don't need the destroy event for that case, just call your save function and on confirmation from the server that it was saved, splice the item out of your array.

[2016-06-15 14:31] Anthropic commented on #716
@anushkamahesh in the documentation look for validateOnRender under global options. You need to set it to false if you want to avoid the default behaviour.

Please use gist to provide schema/form code examples it is much easier to help, in this case I already knew the answer, but for most things it really helps.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-06-15 14:31] #716 closed

[2016-06-15 15:03] HeerRik opened #717 "Confusion about enum and titleMap in select"
#### Problem
So I'm getting to understand this great library, though I am still running into some troubles using the `select` field.
#### Expected behaviour
Reading through the documentation and checking the code
[code]
It is clear that I am required to use an `enum`, which requires some data.
Now there is also this part:
[code]
Suggesting that a titleMap can be used, and when it does not exist, e

[2016-06-15 16:17] BioPhoton commented on #599
For me this is not clearly answered.
I want to a create a custom date input out of 3 different inputs.
If any of these inputs change i try to set the value to the original (hidden) date input.

I just need to add a custom function for ng-change on the 3 inputs to update the date input.
I have not found any solution yet and the above explanations are not really helpful for me.

Could anybody give m

[2016-06-15 17:01] BioPhoton commented on #599
Ended up with adding the function to the item (form).

One problem is left. The valid state is rendered correct. The invalid state is just black instead of red.

Any idea what i am missing?

[2016-06-16 03:28] Anthropic commented on #717
@HeerRik there's a bunch of titleMap examples in the demo page: http://schemaform.io/examples/bootstrap-example.html

The schema is based on json-schema, that does not support titleMap as it is a data model definition syntax only. The form definition is where you can apply a titleMap. The schema enum must contain valid VALUES only, not keys.

Please re-open if you do not feel the question has been

[2016-06-16 03:28] #717 closed

[2016-06-16 03:33] Anthropic commented on #599
@BioPhoton your issue is not related to the current issue directly I suggest making a new issue to work through your problem specifically. Include a gist to help with examining the issue also please.

[2016-06-16 06:24] anushkamahesh commented on #716
it says **validateOnRender	boolean	Should form be validated on initial render? Default false**
Check this one `https://embed.plnkr.co/NT6cvVybfuZnFIhgU1Xm/, Close the current one exist on the view. Then you can see the issue

[2016-06-16 06:26] anushkamahesh commented on #715
Here is example view [https://embed.plnkr.co/NT6cvVybfuZnFIhgU1Xm/](url). In order to slice in need to get the particular index of the array to the controller how can i do that

[2016-06-16 14:15] HeerRik commented on #717
First off, thanks for your reply
So if I create a string type with an enum in the schema, and then a select type with the titleMap in the form defenition, they should work together right? Right now I for some reason get a select box and a string box under 1 title. Do you need a fiddle or something to see or do you happen to know the problem?

[2016-06-17 13:31] taimoorq opened #718 "clicking checkboxes generated by angular-schema-form cause the error 'cannot read property 'length' of undefined'"
#### Question
I have the following schema and form declared in my controller:

$scope.schema = {
        "type": "object",
        "properties": {
            "s4_0": {
                "type": "array",
                "title": "CHECKBOXES",
                "items": {
                    "type": "string",
                    "enum": [
                        1,
                        2,

[2016-06-17 14:16] warmy1004 commented on #649
Hello, I want to share what I found for solving this issue.
In 0.8.12 version of Schema-from, the conditional questions' missing error message text issue is caused by validation when the conditional questions are loaded. That is, when the conditional questions display, schema-form validates the forms, and those forms are set to have 'tv4-302' (required) error even though they are still pristine. S

[2016-06-17 15:25] taimoorq commented on #718
looks like there is already a known bug thats causing this. closing this issue

[2016-06-17 18:18] taimoorq commented on #718
Reopening this since this schema and form work in the playground so wondering if there's a different issue causing this not to work

[2016-06-19 11:43] galtet opened #720 "Fill a form from a json"
#### Question
I would like an option to fill a form from a json - i didn't find an option to do so, and i think it would be a good idea to support this option.
Is this option exists ? or am i missing something ?

[2016-06-19 13:13] Anthropic commented on #720
@galtet can you elaborate? Do you mean set the default data from json? You can certainly set your model to be data from a JSON file on load if you wish. Just read it in from your filesystem and then set the model.

Please re-open if I haven't answered your request and you can provide more info so the question can been answered sufficiently.

[2016-06-19 13:13] #720 closed

[2016-06-19 13:17] galtet commented on #720
what i mean is - to be able to load the schema from a jsonschema, and to load the data on the fields from another json. I didnt find it in the the documentation.

[2016-06-19 13:34] Anthropic commented on #522
@AndrewIsh can you check if https://github.com/json-schema-form/angular-schema-form-bootstrap/pull/19 solves your issue?

Please re-open if it does not :)

[2016-06-19 13:34] #522 closed

[2016-06-19 14:10] Anthropic commented on #716
@anushkamahesh ok I think I understand what your issue is now thanks for the plunker.

You have set both the comments array as required and the field as required which is why the word required would appear, are they not supposed to be required? If you want a clearer message then you can set validationMessage on the form definition for both array and field to override.

Setting minItems as well as

[2016-06-19 14:11] Anthropic commented on #720
Do you mean select lists? If so then there are a few add-ons already made for doing that and the Material design decorator does it (but still needs work).

[2016-06-19 14:14] Anthropic commented on #715
@anushkamahesh there is a PR in progress #652 to help make this easier as it currently only works if the array is not nested. If it isn't nested then there is an arrayIndex value available to pass to your function, but I think that will work better one the above PR is merged.

[2016-06-19 14:16] Anthropic commented on #717
@HeerRik yes I would need a gist, I suggest using the titleMap demo to replicate what you are trying to do and save to gist and then post that and re-open :)

[2016-06-19 14:19] Anthropic commented on #649
@warmy1004 that's great thanks, can you make a PR or let me know which file and line in the src it is?

[2016-06-19 14:27] Anthropic commented on #718
@taimoorq I suspect your issue is related to either file ordering or model data on load, either way I can't help further without a plunker, but given it works in the demo app I suggest trying to strip out other parts of the form that may be causing the error to narrow down your search.

Please re-open if you do not feel the question has been answered sufficiently or a demo can be provided.

[2016-06-19 14:27] #718 closed

[2016-06-19 20:12] warmy1004 commented on #649
@Anthropic I don't know how to make a PR, so I'll just let you know a file name and line number.
The changed file is /src/directives/schema-validate.js and line number is 52. So, a current code on line 52 which is "_if(!result.valid) {_" needs to be changed to "**_if(!result.valid && $ngModel.$pristine){_**" for both v 0.8.12 and v 0.8.13.

[2016-06-20 05:25] harshdoshi999 opened #721 "titleMap with tabs not working and could not able to find example with titleMap with tabs"
I am trying to use titleMap with tabs but can not able to do it. it throws js error.

**TypeError: Cannot read property 'key' of null
    at {{sitename}}/angular-schema-form/dist/schema-form.js:1334:16**

I am also not able to find the suitable demo for this over internet.

[2016-06-20 12:38] Anthropic commented on #721
The error indicates that you have not set a valid form definition, what is your form and schema?

Not sure what you mean by titleMap with tabs, you mean titleMap on a select inside tabs?

[2016-06-20 12:43] Anthropic commented on #649
@warmy1004 thanks I will take a look :)

FYI to make a PR you fork the repo (using the fork button top right), pull it down locally to work on, make changes in your forked version and then from your forked version you can then request your changes be pulled from your repo into this one, if you made the changes in a fork I could guide you through the rest if you are ever interested.

Thanks for you

[2016-06-20 16:48] warmy1004 commented on #649
@Anthropic Oh I see. Thank you so much for your explanation :)

[2016-06-22 07:44] shreya07 opened #722 "How to lazy load specific part of schema?"
What is the best way to create a custom fieldset/object so that it's child properties render as text fields in a modal box.

Following is my preferred schema fragment. Form fragment is free to be modified but we would like the schema fragment to remain as is, due to the data model.

According to following schema, I want to render date.value as a text field and create custom fieldset for link so th

[2016-06-22 11:58] #721 closed

[2016-06-24 07:56] valix85 commented on #239
I have same problem, teste on your page
Form:

[
  "*",
  {
    "type": "submit",
    "title": "OK"
  }
]

Schema:

{
  "type": "object",
  "title": "Types",
  "properties": {
    "string": {
      "type": "string",
      "required":true,
      "pattern":"[0-7]{3}"
    },
    "integer": {
      "type": "integer"
    },
    "number": {
      "type": "number"
    },
    "boolean": {
      "type": "b

[2016-06-24 08:49] ulion commented on #239
try to add '^' and '$' into your pattern, then see whether it works.

2016-06-24 15:56 GMT+08:00 Valerio <notifications@github.com>:

--
Ulion

[2016-06-24 13:26] laura-h opened #724 "Using the "boolean" schema type results into "$sce:unsafe" error"
#### Enhancement
I am  using the angular-schema-form together with ng6-starter.

I'm trying to create a checkbox using the "boolean" schema type. Here is how I do it:

[code]

#### Expected behaviour
I expected the checkbox to be rendered.

#### Actual behaviour
I'm getting this error: "Error: [$sce:unsafe] Attempting to use an unsafe value in a safe context."

@json-schema-form/angular-schema-for

[2016-06-24 13:45] laura-h commented on #724
Never mind. I just needed to add the "angular-sanitize" module. I'm pretty new at Angular. Was sure I was doing a newbie mistake :)

[2016-06-24 13:45] #724 closed

[2016-06-24 23:59] valix85 commented on #239
@ulion i don't wan't use a regex non standard html5 w3c ...i think it's better call it filter and implement regular html5 code, i fix with regex but isn't good practice for me

[2016-06-25 00:09] ulion commented on #239
pattern is json-schema standard, it is regex.

it's not related to h5 anyway.

2016-06-25 7:59 GMT+08:00 Valerio <notifications@github.com>:

--
Ulion

[2016-06-27 02:26] loopyluke opened #728 "Problems creating an addon with script tags in template"
As the title says I'm having a problem creating an add-on that uses a script tag in the template.

This is my ol3-map.js where the addon is defined:
[code]

And the ol3-map.html template:
[code]

With the two files as above, the map fails to load due to the script not being executed, though the tag and its contents exist in the DOM. However if I replace the `schemaFormDecoratorsProvider.defineAddO

[2016-06-27 03:33] Anthropic commented on #728
If you change the replace: true in the source of the page you are testing with does it then work for you?

[2016-06-27 03:33] Anthropic commented on #728
Can you make a plunker?

[2016-06-27 05:27] loopyluke commented on #728
I think it's all sorted now, solved my problem by creating an angular directive in ol3-map.js and linking it to a div in the ol3-map.html template.

[2016-06-27 05:27] #728 closed

[2016-06-27 15:22] chargrove opened #730 "Add icon field to tab"
#### Enhancement
Add an icon to a tab.  This could use the icon property like tabarray or an htmlClass property on the tab item itself.

@json-schema-form/angular-schema-form-lead

[2016-06-28 13:37] taimoorq commented on #718
I set up a simple plnkr that replicates the issue with a barebones form:

https://plnkr.co/edit/tpl:8rFfZljYNl3z1A4LKSL2?p=preview

Hoping I'm just doing something stupid wrong

[2016-06-29 04:15] Anthropic commented on #718
@taimoorq I think you forgot to save your changes to the plunker perhaps it is not showing any form code?

[2016-06-29 14:28] laura-h opened #731 "Add tooltip"
Is there a way to add tooltips to the inputs? I cannot find anything, even by looking at the code.

[2016-06-29 16:01] taimoorq commented on #718
@Anthropic Sorry bad link. Let me know if this works for you:

https://embed.plnkr.co/xcQ3wfpWgPqvIZirJvdM/

[2016-06-29 18:51] kyse commented on #731
Seems like this would belong in the template.  Ie, the decorator.

[2016-06-30 01:19] shreya07 commented on #722
I solved it by taking the object's children and loading them onto another schema form.

[2016-06-30 01:19] #722 closed

[2016-06-30 08:43] laura-h commented on #731
Yes, you are right. I will close this one and check there. Thank you.

[2016-06-30 08:43] #731 closed

[2016-06-30 13:40] poornerd commented on #692
@rnjailamba did you ever implement the autocomplete?  I need autocomplete as well....

[2016-06-30 14:03] rnjailamba commented on #692
@poornerd  Hi there is an autocomplete example here https://github.com/json-schema-form/angular-schema-form-material/blob/develop/examples/material-example.html

[2016-07-04 10:14] aferre commented on #516
+1

[2016-07-05 10:09] MGouaillier opened #732 "Delete last item of array instead of current one"
Hello.

I have this problem using angular schemaform.

When i want to delete an arrray field with a custom field in it, it deletes the last implemented array field instead of the current one

See exemple here : http://recordit.co/DwUSJHCRQ6

For your information this bug only occurs when i'm using a custom field type, i have another array with only number types, and this bug doesn't appear.

Input

[2016-07-05 13:56] laura-h opened #733 "When changing a field, update other fields"
I am working on an app that at some point shows a user's location on a map.
It should go like this:
- the user enters his zipcode
- the app sends a google geocoder api request and brings back the city, state and neighborhood. This will later be changed to another service, but this is just for testing
- with these values I want to populate some fields (city, state and neighborhood)

Currently, I am

[2016-07-05 17:22] laura-h opened #734 "Validate matching fields"
I have a form for a user registration. It contains 2 fields for email (email and confirm-email). Is there a way to validate that they match?

[2016-07-05 20:35] warmy1004 opened #735 "Is there any way to use regular expression with a modifier in schema.pattern?"
#### Enhancement

I want to make a pattern to ignore case by adding a flag 'i' within schema.pattern property.
The current tv4 is just using a regular constructor as _var regexp = new RegExp(schema.pattern);_  and there is no option to add any specific flag (like i for ignoring case) for constructing a regular expression from a received pattern. So, I don't know how I can make a case-insensitive p

[2016-07-06 06:16] Anthropic commented on #732
@MGouaillier what does your custom type definition look like, if you use a default type it works so I suspect the custom type is not taking into account it's position in an array, normally a custom type would handle the array and the custom type would replace the usage of array as they do behave differently.

[2016-07-06 06:21] Anthropic commented on #733
@laura-h Is there a reason you don't just update the model directly as the data returns?

[2016-07-06 08:13] MGouaillier commented on #732
This what my type definition looks like :

[code]

We followed this tutorial to create our own custom field : https://github.com/json-schema-form/angular-schema-form/blob/development/docs/extending.md

[2016-07-06 10:19] laura-h commented on #733
@Anthropic because I always tend to not see the obvious solution :) Thank you.

But now I am facing another issue. I turned the `neighborhood` field into a `select`, which should be empty at first, until the user enters a zipcode. Do you know know how I can add options to the select dynamically?  Should I open a separate ticket for this question?

[2016-07-07 00:41] Anthropic commented on #732
@MGouaillier because your key ends with [] it needs to handle an array, does your template have sf-array?

[2016-07-07 01:26] Anthropic commented on #733
@laura-h there are a few add-ons designed for handling this, angular-schema-form-external-options angular-schema-form-dynamic-select the later is better supported, the Material design decorator has it built in but only very basicly.

Please re-open if you do not feel the question has been answered sufficiently :)

[2016-07-07 01:26] #733 closed

[2016-07-07 08:03] MGouaillier commented on #732
@Anthropic After your answer I checked and i couldn't find any traces of an "sf-array" directive.
So i checked the documentation and i didn't understand where to put this directive.

Could you enlighten me about this ?

Here is the code where i call both of my schemas and the model

[code]

Thank you !

[2016-07-08 16:26] s-a-85 commented on #567
I'm having the same issue. Does anyone have any ideas about what is causing this? Thanks.

[2016-07-10 07:59] Anthropic commented on #732
@MGouaillier I'm having trouble seeing from the code what would be your issue, can you make a plunker from it?

[2016-07-10 08:02] Anthropic commented on #732
My initial comment was that it would be easier to handle if your decorator handled the whole aray, additionally if your type was an object with another key within it, rather than just a string, this would also be easier to work with. I've found string array to be a bit fiddly in the past myself when it comes to custom decorators.

[2016-07-10 08:38] Anthropic commented on #710
Please re-open if you do not feel the question has been answered sufficiently :)

[2016-07-10 08:38] #710 closed

[2016-07-12 13:36] gtarsiguel commented on #732
Hello,

I am a colleague of @MGouaillier working on this issue. Thanks for taking the time to answer, it is indeed a thorny problem we have here.

I just want to make sure I understand well your answer. I am not sure what you mean by :

The custom type "cityobjectpicker" takes the place of a "string" type input. Therefore it returns a sting. The array logic is managed by angular-schema-form, hence

[2016-07-12 14:58] zcsongor commented on #574
hacky way to solve this
`.input-group.ng-scope + .glyphicon.glyphicon-ok {
  right:50px;
}`

ng-scope not needed if you aren't using [datepicker](https://github.com/chengz/schema-form-datetimepicker)

[2016-07-12 17:12] taimoorq commented on #718
Hey @Anthropic . Just wondering if you were able to view the plunker with that last link?

[2016-07-13 13:30] Anthropic commented on #732
@gtarsiguel sorry, to be clear my first suggestion and second suggestion are not related.

You have your array format currently like:
```array base_network_sections_not_to_be_cut[ "string1", "string2" ]```

If instead you had
```array base_network_sections_not_to_be_cut[ {city:"string1"}, {city:"string2"} ]```

Then in your form definition you could have:
[code]

I think this would be easier for y

[2016-07-13 13:58] Anthropic commented on #718
Hi @taimoorq I missed your follow up, thanks for the nudge!

The line of code your error is on has been removed in dev branch, could you try it with the latest build in develop? I can't see anything obvious causing it, but I am sleepy, remind me on the weekend and I will try to take a better look.

[2016-07-13 13:58] gtarsiguel commented on #732
Hi, thanks for your quick answer !
I've never "plunked" before but I'll try to make a simple one that reproduces the issue.

[2016-07-13 14:00] Anthropic commented on #732
No rush I am about to go to sleep and wont have a chance to look till tomorrow night...

[2016-07-13 19:00] taimoorq commented on #718
Thanks for the offer @Anthropic. Turned out to be a dumb mistake on my end. I didn't have a $scope.model variable set up since im using pouchdb and didn't think i needed it. Added that in and it worked. Looks like the length error is valid, just FYI.

Thanks for your help with this and apologies for the rookie mistake

[2016-07-13 19:59] TimCorey opened #736 "Validating a boolean (checkbox) that is required to be true"
I've included a boolean field in my schema form demo. I would like it to be a "Terms and Conditions" checkbox, where the user is required to check the box before continuing.  Making the field a required field does nothing, I assume because false is a value. In order to gain the functionality to require the checkbox to be checked, I added a function to the $validators object. This worked in that th

[2016-07-13 20:55] TimCorey commented on #736
After further testing, it seems as though the validation message will fire if I check the box and then uncheck it. It will also show the proper error. This still doesn't happen on submit. That is where I need it to happen.

Just for further clarity, I'm not giving the checkbox an initial value, which means it defaults to false (which is what I want).

[2016-07-14 03:01] colemickens opened #737 "Support for `oneOf`"
Apologies if I missed it, but I saw a number of references to support for `oneOf` but I can't tell if it ever landed or is still planned?

[2016-07-15 05:44] Anthropic commented on #737
Follow this issue for now #505

[2016-07-15 05:44] #737 closed

[2016-07-17 05:25] nsamarak opened #739 "Async validator not triggered on every change to form field value"
#### Expected behaviour
I expected the async validator to be fired for every change to the value of an input field.

#### Actual behaviour
The async validator is fired for every change to the value of the input field when the value is passing validation.  Once the value of the field no longer passes validation, the async validator looks like it's only firing for every other change to the input fie

[2016-07-17 10:02] Anthropic commented on #736
@TimCorey have you tried using validateOnRender, that would show the error immediately? Failing that can you hide the submit buttons until the checkbox is checked?

[2016-07-17 10:02] Anthropic commented on #736
I do see the issue though and agree it is a bug worth addressing.

[2016-07-17 10:47] Anthropic commented on #739
@nsamarak you are correct, the way it works currently is stopping on the first error hit from tv4 and not processing further. I've added as an enhancement but it could be quite some time before it can be looked at in all honesty given limited resources.

[2016-07-17 20:01] nsamarak commented on #739
Thanks for the response, @Anthropic.

From the documentation, it looks like $asyncValidators is built on top of ngModelController.  What does tv4 have to do with $asyncValidators?

This issue seems more like a bug than an enhancement.  Until this issue is fixed, someone that hits an error from an async validator can't submit the form.  For example, there's an async validator on the title field in

[2016-07-18 10:28] MGouaillier opened #740 "Default value not updated when using condition"
Hello, i noticed a bug when using angular schema form,

When using a condition, the default value of the key is not applied to the field.
If you try checking the box, you'll see the value is updated but if you click it again, the default value isn't displayed.

Also, you will notice both values are in the model at te beginning of the example, which is a problem

See example here :

http://schemafo

[2016-07-19 03:52] Anthropic commented on #740
@MGouaillier try setting your destroyStrategy
https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#destroystrategy

[2016-07-19 08:44] MGouaillier commented on #740
Thank you so much, it worked perfectly fine

[2016-07-19 08:48] #740 closed

[2016-07-19 12:50] poornerd commented on #573
I have this same problem, too...

[2016-07-20 07:09] Anthropic commented on #740
@MGouaillier thank you for updating the issue with your outcome :)

[2016-07-20 11:01] mnzaki opened #741 "Default value for an 'array' type"
#### Enhancement
As a user/developer, when I set a default value for an 'array' type schema then the array should be populated with those values to begin with, just like with other types ('string', 'number', etc)

#### Actual behaviour
value of the 'default' key is ignored for arrays

@json-schema-form/angular-schema-form-lead

[2016-07-20 15:06] gtarsiguel commented on #732
Hi,

We've finally fixed the issue. Not sure what exatcly fixed it, apparently some data declarations were missing to perform a correct binding with the model.

It seems adding the following line is what fixed the problem (in the overall wrapping div of the html template of the custom schema form input) :
` <div ng-model="$$value$$" schema-validate="form" name="{{form.key.slice(-1)[0]}}" required>

[2016-07-20 17:37] kyse commented on #683
So the method you used with sfCamelKey works well.  But for my case I am using a getterSetter builder to allow more control over the input value to model binding and arrays in the schema while not using the array controls.  Because this results in part of the key being undefined or null (the array index), I had to resort to baking in some logic to handle that situation.  Ie, store the key being pa

[2016-07-21 11:17] slyadams commented on #641
Is this also the root cause for this issue: [Plunk](https://plnkr.co/edit/zfb9uGvmkPukOAZtuzk7)?

[2016-07-21 14:26] #732 closed

[2016-07-22 00:11] Anthropic commented on #732
@gtarsiguel @MGouaillier glad it is working and thanks for closing the ticket and reporting the resolution for others! :)

[2016-07-24 05:47] Anthropic commented on #683
Thanks for the update @kyse, I am working on updating the decorators, time consuming, but I have some time off soon :)

[2016-07-26 02:12] nsamarak commented on #739
@Anthropic @davidlgj  I might be able to help fix the issue if you guys can confirm that it is an issue, that there are no workarounds, and help me figure out a potential solution since I'm somewhat new to angular.

[2016-07-27 15:44] slyadams opened #743 "Overriding fieldset in a decorator isn't rendering inside tabs"
#### Expected

I expected that I could override the fieldset add on (or create a new one) and adding to the bootstrap decorator would mean I can customize how fieldsets are rendered (I'm trying to refactor an existing hand rolled form engine so needed to style mine to be as close to the existing as possible).

#### Actually

I defined it and it worked fine in fields in the form, but when using fie

[2016-07-28 12:09] sisodiakaran opened #744 "Custom HTML Attributes in input field"
Is there a way to add custom attributes to input field?

I tried like this:
[code]

Thanks

[2016-07-28 13:49] joelwkent commented on #744
Hi @sisodiakaran I don't think this is currently supported but this is something I've also wanted in the past. The ability to add data attributes to input fields. So like you say above, properties prefixed with 'data-' or maybe a 'data' object property like below (i've made up another data attribute called braintree-order)

[code]

Which would then appear in the rendered form html as:

[code]

As

[2016-08-01 19:35] anupamarachuri opened #746 "Hi All,"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo
[Description](url)

#### Related issues
This is/maybe related to ...

@json-schema-form/angular-schema-form-lead

[2016-08-01 19:35] anupamarachuri opened #747 "Hi All,"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo
[Description](url)

#### Related issues
This is/maybe related to ...

@json-schema-form/angular-schema-form-lead

[2016-08-01 19:39] anupamarachuri commented on #316
I am trying to create a grid using angular-schema-form. This is how my schema looks and the form. Its not working. Can you please suggest where could i be wrong?

{
  "schema": {
    "type": "object",
    "title": "Grid Schema",
    "properties": {
      "grid1": {
        "type": "object",
        "description": "An Grid.",
        "items": [
          "grid1[].name",
          "grid1[].age"

[2016-08-01 19:39] #747 closed

[2016-08-01 19:40] #746 closed

[2016-08-02 14:08] tobilg opened #749 "Form is not rendering, although JSON schema is syntactically correct"
I have the following JSON schema:

[code]

and the following controller code:

[code]

The partial looks like this:

[code]

The for is not rendered, although the JSON schema is syntactically correct, and IMO doesn't use any non-supported features. There are no errors on the console.

#### Expected behaviour
I expected the form will be rendered correctly.

#### Actual behaviour
It actually doesn't

[2016-08-02 15:49] MGouaillier opened #750 "Removing an invalid array item doesn't work properly"
Hi !
I have this issue when using the array type of angular schema form.
When you add two or more items to an arrray and fill them with invalid values, the deletion process is not working correctly.

See video example here : [http://recordit.co/xCDIUi3L8S](http://recordit.co/xCDIUi3L8S)
See angular schema form demo here : [http://schemaform.io/examples/bootstrap-example.html#/e32e956f05ed01bc216ae

[2016-08-02 18:43] anupamarachuri opened #751 "Custom grid -- angular-ui-grid with angular-schema-form -- not working"
Data Grid is on of the very common scenarios for any Web Page. I am trying to create a grid using angular-schema-form. This is how my schema looks and the form. Its not working. Can you please suggest where could i be wrong?

{
"schema": {
    "type": "object",
    "title": "Grid Schema",
    "properties": {
      "grid1": {
        "type": "array",
        "description": "An Grid.",
        "item

[2016-08-02 20:47] slyadams commented on #751
`"type": "simple-grid"`

This isn't supported in ASF currently, you'd need to implement that as an addon.

[2016-08-03 10:59] joelwkent commented on #749
Hi @tobilg, I was able to get your form to render by adding "type": "object" to the root of your schema:

[code]

I've not checked the whole form renders correctly or that it performs as expected, but it renders which is a start!

Hope this helps.

[2016-08-03 11:50] tobilg commented on #749
Hi @joelwkent, thanks for the feedback! In fact, when I add this it works... Strange that http://jsonschemalint.com/draft5/ reported the schema as correct... Thanks!

[2016-08-03 11:50] #749 closed

[2016-08-03 15:45] anupamarachuri commented on #751
Hi Simon,

Thanks for you reply.

I forgot to mention. I have created a custom template and registered in the bootstrap-decorator.

$templateCache.put("src/simple-grid.html", "<div class=\"form-group schema-form-simple-grid\" ng-class=\"{\'has-error\': hasError(), \'has-success\': hasSuccess(), \'has-feedback\': form.feedback !== false, \'float\': form.float === true }\"> <label class=\"control-la

[2016-08-04 08:11] MGouaillier commented on #422
Hi.
Any news on this ?

[2016-08-05 07:53] coderabsolute opened #753 "Question about Angular 1.5x support."
The documentation has mentioned that Angular 1.3x is supported but not sure has anyone tried with 1.5x? What advise would you give to someone who is starting a new project (admin interface from scratch) by next week?

[2016-08-05 11:54] milansgowda opened #754 "Change title dynamically"
#### Question

As a user  I should be able to change the title/dynamically of the form dynamically. Currently i can change the value of inputs, is there a way where i can change title/label dynamically
#### Expected behaviour

{
    "key": "comment",
    "type": "textarea",
   "title":"user.title",
    "placeholder": "Make a comment"
  }
where i can set value for comment like $scope.model.comment

[2016-08-05 15:26] MGouaillier commented on #754
Hello :)
See : #538

Hope this can help

[2016-08-08 17:16] anupamarachuri commented on #751
Hi All,

Can you please help with this? I also tried the below JSON Schema and did not work:

{
  "schema": {
    "type": "object",
    "title": "Grid Test",
    "properties": {
      "Offerings": {
        "type": "array",
        "title": "Offerings Info",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "title": "Name",
              "

[2016-08-09 14:35] mhelvens commented on #621
Is there a separate repo or issue to track progress on the Angular 2 version?

[2016-08-09 15:06] nicklasb commented on #621
Just for information for this thread, I have previously posted it in the gitter feed, but I will repost it here, for those who may consider A2 support a showstopper, there is an interim solution:

It is possible to combine ASF and Angular 2 components using ngUpgrade.

@rowino and his team has helped me rewrite an admin interface for a framework I am creating(aren't we all) in a hybrid Angular 1/A

[2016-08-10 15:25] mhelvens commented on #621
So is there a separate repo or issue to track progress on the dedicated Angular 2 version of JSON Schema Form (based on that unified core mentioned above)?

[2016-08-11 09:17] schmidt-uni-leipzig commented on #689
Are there any new information / milestone plans for this issue?

[2016-08-12 00:52] brianpkelley commented on #709
How I fixed it was:
Add this conditional to the /angular-schema-form/src/services/validator.js around line 39

[code]

[2016-08-12 14:01] SureshArav opened #756 "Issue in adding multiselect input field as addon into schema form"
#### Enhancement
I have added the following multiselect input field into schema form lib

http://dotansimha.github.io/angularjs-dropdown-multiselect/#/

#### Expected behaviour
This multiselect fields dropdown will be open till the use selects the value and close it manually

#### Actual behaviour
But after adding it to schema form lib on single select itself the dropdown gets closed,since  iam tr

[2016-08-15 07:59] nicklasb commented on #756
I don't understand. The problem is, as you say, that you are broadcasting a redraw.
That will trigger a redraw, which means that your dropdown will be redrawn, and I would presume that its initial state would be closed.

The problem is that you are redrawing schema form. Don't do that if you need to keep the states of active editors.

The plunkr doesn't seem to work, so I cannot see what you are t

[2016-08-15 08:19] nicklasb commented on #753
I use it with 1.5.7, seems to work.

[2016-08-15 10:00] nicklasb opened #757 "Form and schema management - How to?"
Hi all,
Like many others that use ASF, I want to generalize structure, validation and the input forms in [my framework/system](https://github.com/OptimalBPM/of), and the problem, after learning ASF, is managing them.

A solution may be important for how [our form repository ](https://github.com/json-schema-form/json-schema-form-repository) should be structured to make it easier to use and extend.

[2016-08-15 11:32] nicklasb commented on #750
Hi, your links didn't work, fixed them for you.

[2016-08-15 11:35] nicklasb commented on #750
Agree, it just deletes the last in the list, it doesn't expect more items to be added, probably.

[2016-08-15 16:51] SureshArav commented on #756
Hi nicklasb,
Thanks for your response
Here is the working plunkr
http://plnkr.co/edit/DpHgwshltP1INId4fdoh?p=preview

UI will have two multiselect dropdowns. Based on 1st dropdowns selection 2nd dropdown will gets populated.For this data population i'm trying to redraw the schema form. Because after data selection from 1st dropdown scope is getting updated with 2nd dropdown's options but data is n

[2016-08-15 17:06] nicklasb commented on #756
Are you sure you need to redraw the schema?

Anyway, a simpler solution is to use the add-on I am maintaining, angular-schema-form-dynamic-select, it has a filter functionality that acts that way, or you can use the onChange event:
https://github.com/OptimalBPM/angular-schema-form-dynamic-select#filters

[2016-08-15 21:29] thiagog3 commented on #633
@kohanyirobrt @Anthropic Does any temporary solution has found?

[2016-08-16 08:02] kohanyirobert commented on #633
@thiagog3 I'm still using version 0.8.2 and that works, haven't tried newer versions. I'm content with this.

For another project I'm using this instead: https://github.com/jdorn/json-editor/, there is an Angular binding to it (which is a bit dodgy, but it works: https://github.com/rodikh/angular-json-editor). Not perfect either, but it can handle generating forms from complex schemas better (I ha

[2016-08-16 12:45] SureshArav commented on #756
Hi nicklasb

onChange is not working with multiselect input field.But its working with all other default html input fields.
we need to use multiselect directive only,since its our requirement
is it possible to redraw schema form on close of dropdown?
i have tried to trigger redraw event on close of multiselect drop down,but its not getting triggered.

Let me know is there any other way to achieve

[2016-08-16 14:01] SureshArav opened #758 "Issue in integrating multiselect field into schema form"
#### Enhancement
Adding a new input field into schema form

#### Expected behaviour
onDropdownHide should be triggered on close of dropdown

#### Actual behaviour
It actually ...onDropdownHide not getting triggered

#### Gist/Plunker/Demo
http://plnkr.co/edit/ZapAPvU2dwM0lM9Q5IDx?p=preview

@json-schema-form/angular-schema-form-lead

[2016-08-16 14:09] SureshArav commented on #758
working plunker

http://plnkr.co/edit/ZapAPvU2dwM0lM9Q5IDx?p=preview

[2016-08-18 05:56] nicklasb commented on #758
Ok, so is your goal here to build an add-on to use the external component Bootstrap Multiselect in ASF? Good stuff!
If so, first take a look on the [angular-schema-form-add-ons repo](https://github.com/json-schema-form/angular-schema-form-add-ons), you should consider the naming of you project.

Then, this is a very complicated question that requires people to basically learn your project, and no

[2016-08-18 06:42] nicklasb commented on #756
onChange not working? Multiselect seems to have an onChange, I would recommend mapping whatever callback is set in options to that: http://davidstutz.github.io/bootstrap-multiselect/#configuration-options-onChange

[2016-08-18 18:09] ri0t commented on #753
Combining that with ES6 and Webpack - my experience so far is mixed to bad.

The basics work, but not one of the 5 plugins i used to use, works perfectly - 4 of them not at all.

[2016-08-18 18:38] ri0t commented on #753
@nicklasb actually - your's is the only one that works (partially) - i do have working strapselects,
but no
* ckeditor
* colorpicker
* datepicker
* timepicker

[2016-08-19 18:23] GustavoGottardi commented on #744
Someone managed to insert html properties in inputs?

[2016-08-21 01:21] a-polito commented on #626
Hi @nicklasb,
I'm having the same problem. Basically I'm working on a very complex UI that loads many custom components  (I'm using angular 1.5 components) and one of them uses a nested schema form, so for this reason I had to convert the form tag inside the component to another tag such as div or ng-form. Despite this, in the validation phase, triggering the schemaFormValidate event, I'm unable t

[2016-08-21 07:43] nicklasb commented on #626
I only had two levels, so in the bottom levels I think I used actual forms, but I can't check now.
Either way, adding ng-form would be a nice way to tell ASF that there is something there.

[2016-08-22 12:37] mgabetta opened #760 "Render tab content on select"
Hi everybody!

I'm looking for a way to speed up the loading of my large form. It contains many large arrays which elements are rendered with selects.

Since each array is contained inside a tab, I was thinking about the possibility of generating the tab html content only after the tab selection. Thus only the first tab content would be generated initially.

I'm almost sure that this is not possib

[2016-08-22 12:45] nicklasb commented on #757
I am seeing now that I went for the dotted representation even though I "leaned towards" the slash one. :-)
Dotted does look nicer. :-)

[2016-08-22 14:41] senyaak opened #761 "Wrong key resolving for ngModel in decorator.js"
In https://github.com/json-schema-form/angular-schema-form/blob/development/src/services/decorators.js#L193-L201 the ngModel won't get correct path if the directive will be called in ngRepeat, cause some key(s) well be an empty string.
Example we have `['lvl1','array','', 'value']`
After resolving we'll get '`model['lvl1']['array']['']['value']`' and this isn't right.
At this point if the key arra

[2016-08-25 09:21] gladiussdv opened #762 "Common fields removes from tabs if I I will remove any tab."
#### Expected behaviour

Common fields for all tabs should be safety from removing until there are any tabs
#### Actual behaviour

It actually removes common fields if any tabs will be removed

[2016-08-27 21:57] nicklasb commented on #757
So I am now implementing a directory-based solution. I will see how it works and create an issue in the json-schema-form repo, detailing it and propose that we try to see if that is valuable for the community.

I would really like to try and find some kind of "typical" implementation that we think will work for most.

[2016-08-29 08:39] SureshArav opened #763 "Adding select input placeholder?"
How to set a placeholder  <---select----> for select input field in angular schema form?

[2016-08-31 12:48] tjones0808 commented on #697
was this fixed? I am still having the same problem.

[2016-08-31 12:49] tjones0808 commented on #407
Was this fixed? I am having the same problem. I am building dynamic forms and I need my form objects left unchanged so I can reproduce forms at a later date. Schema Form keeps changing my keys to arrays whenever I render.

[2016-08-31 17:45] kyse commented on #697
I never saw any end in sight to all these updates needed.  Doesn't appear they do very many publishes either.  So I just work on a manually modified version of the library to address this myself and prevent bower from updating the library unless I do so manually to readdress my modifications.

[2016-08-31 17:54] kyse commented on #697
Line 2667: `sfSelect(path, scope.model, angular.copy(prop['default']));`

My other modification is to prevent killing the titleMap but parse properties to see what needs updating on line 2393 to 2399.

[2016-08-31 20:35] anupamarachuri opened #764 "Angular 2.0 Integration"
Could you please provide a way to integrate with Angular 2.0. Basically our requirement is to include the dynamic form only for few pages and static for few. Could you please let us know how we can leverage this using the angular-schema-form.

[2016-09-02 05:59] Anthropic commented on #764
@anupamarachuri as Angular 2 has not been released we haven't started migrating the framework to ng2 yet. If you had ng2 with the ng1 compatibility module I would expect that to work, but I haven't tried so I can't be sure. We will be trying to implement for ng2 but there's no timeline on that yet.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-02 05:59] #764 closed

[2016-09-05 15:30] Alber70g opened #765 "Use custom property names for select"
Is it possible to use custom property names for a select.
For example I have the following array:
[code]

And define in the metadata to use `id` and `name` as respectively `value` and `name`?

[2016-09-07 07:53] snoosmoomrik opened #766 "Empty array"
I tried to add an empty array in my model

#### Expected behaviour
I expected that array type schema form will not contain any items

#### Actual behaviour
It actually pushed one object in my array and showed it in from

#### Jsfiddle
[Empty array](http://jsfiddle.net/Lvc0u55v/9237/)

@json-schema-form/angular-schema-form-lead

[2016-09-07 08:22] ErikSvedin opened #767 "Custom form type for object property in array"
I've got an array of objects with 3 string properties "title", "description" and "icon". However I would liek to create a custom control for the icon property in order for the user to select icon from a list or a modal or whatever.

However I cant even get past the first example in the getting my custom addon to  #work. I've defined the addon and cached the template. However when i use it on the i

[2016-09-07 11:33] ErikSvedin commented on #767
By adding `ng-model="$$value$$"` to the input element i was able to resolve this issue. Closing

[2016-09-07 11:33] #767 closed

[2016-09-08 14:05] saltwalwei commented on #766
You can start with an empty array, just add `"startEmpty": true` to the form definition

[2016-09-09 17:47] vincetastic commented on #708
Adding the undefined value to the titleMap renders correctly, but leads to unexpected behavior when validating the form. Namely, this error:

"Invalid type: undefined (expected string)"

If I instead use a value of "", then it also renders correctly and avoids that error, however, when I actually select that value from the drop-down, a subsequent 'schemaFormRedraw' broadcast causes angular-schema-

[2016-09-10 16:42] Anthropic commented on #708
@vincetastic you can also use null as an optional field type in your schema and use null as the default.

[2016-09-10 16:47] Anthropic commented on #621
@mhelvens not yet, still a bit more to do before we can start it

[2016-09-10 16:56] Anthropic commented on #739
@nsamarak I missed this before I left for holidays, there is work being done in the webpack babel branch so that branch would be the ideal place to make changes.

It is hard to explain and I haven't finished the new version and don't have much time to update the documentation yet. But if you do think it isn't too late for you to take a look I'd be happy to try to take you through it at some point.

[2016-09-10 17:18] Anthropic commented on #743
Hi @slyadams fieldset is a core type like string, it has code in the core that manages its behaviour and the child recursion, so to override it would require it to have its own copy of that internal code, not sure why the simpleTransclusion doesn't cover it, I actually thought it would have.

[2016-09-10 17:26] Anthropic commented on #422
@MGouaillier no it needs a PR and test case, but I can't tell you how long it will take me to get to it, would be great if you were able to figure out where the issue was coming from even if you can't create a PR :)

[2016-09-10 17:29] Anthropic commented on #754
Using the new builder this may be possible without the overhead added by two new watchers per field if the suggested PR doesn't cover what you are after.

[2016-09-10 17:59] Anthropic commented on #751
Have you tried using bootstrap grid css styles, I think they are supported aren't they? Then just put that inside an array.

[2016-09-10 18:04] Anthropic commented on #766
Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-10 18:04] #766 closed

[2016-09-12 19:02] anupamarachuri commented on #751
I tried a month ago but did not work.. Did it work for you?

[2016-09-13 05:06] doomie999 opened #769 "Model inside Array is not cleaned when Condition fails"
#### Expected behaviour
- _Given_ that a Condition is set on a property inside an Array
- _When_ the Condition is false
- _Then_ that property of the Model (that element inside the Array) should be cleaned as per the DestroyStrategy
#### Actual behaviour
- That property of the Model (that Element inside the Array) retains any previous value entered, instead of being removed as per the default Dest

[2016-09-14 01:25] Anthropic commented on #758
Due to a month without response I am closing.
Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-14 01:25] #758 closed

[2016-09-14 01:26] Anthropic commented on #756
Due to a month without response I am closing.
Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-14 01:26] #756 closed

[2016-09-14 01:28] Anthropic commented on #753
@ri0t did you find any reasons as to why they are not working we may be able to fix?

[2016-09-14 05:55] nicklasb commented on #753
@coderabsolute I am actually using it in a hybrid Angular 1/Angular 2 application right now.
I will clear up these docs a bit later on(as I didn't write them), but if you want to, Angular 2 is *possible* for the rest of the application:
https://github.com/OptimalBPM/of-admin/wiki/App-Entry-&-Bootstrapping

[2016-09-14 05:55] Anthropic commented on #689
@schmidt-uni-leipzig I am getting closer with the webpack babel code, just got back from a month break so will find time over the next few weeks to start more solid alpha testing to get a beta out.

That said I haven't looked to see why it may work in the demo and not in 0.8.13, could be a PR afterwards has fixed it, I need to get a new release done pretty badly. Would be grateful to hear if you h

[2016-09-14 05:59] Anthropic commented on #760
@mgabetta It's a bit confusing at the moment as we are transitioning to webpack/babel, so part of the code is in angular-schema-form-core which is read into angular-schema-form which is read into angular-schema-form-material (I haven't done the bootstrap version yet)

You can message me questions on Gitter directly and I am happy to help you with any questions, sorry fot he delay I was on holiday.

[2016-09-15 23:26] vincetastic commented on #708
@Anthropic Thanks. Our use case is titleMaps that dynamically change in response to other selections. I played more with the undefined and it *seems* to work if I'm careful to only add the undefined entry to the titleMap if the titleMap is non-empty. I also had to update the corresponding model value to undefined when the list of options is otherwise empty.

For future reference, did you mean some

[2016-09-16 10:08] ericxinzhang commented on #610
I had same requirement and worked out a quick solution. Note that the solution is
- Not self-contained, you will have to expose some function in your model or service for the angular-schema-form directive to call.
- Not a ideal solution, but the changes required are relatively small.

1. For tabarray, the angular-schema-form I'm using (v0.8.13) generates the input's ng-model attribute value as som

[2016-09-20 03:50] Anthropic commented on #708
@vincetastic I meant more like type: [null, string]
If you want dynamic select for titleMaps then angular-schema-form-dynamic-select can handle that pretty well.

[2016-09-20 11:35] wendibus commented on #648
I was looking for an example how to include schemaform.io in an ionic 2.0 project which uses typescript. I'm not an expert in javascript and a newbee for typescript and I would love a simple example how to use this together.
Schemaform is really brilliant and exactly what I was looking for. I'm just in the need to use it in an app instead of a website :-((

[2016-09-20 12:33] nicklasb commented on #648
Well, actually, it *should* be possible.  We are using ASF as is, using @angular/upgrade in an Angular 2 project, a description of that is here:
https://github.com/OptimalBPM/of-admin/wiki/App-Entry-&-Bootstrapping

I don't know how well Ionic works with ASF in other ways, though.

I have actually considered creating an implementation for react-native or react-native-renderer. Because after 1.0, a

[2016-09-21 00:53] aman-gautam commented on #635
One approach that I took on a large form was to divide the form in smaller, logically related sections and showing only one of them at a time..

    $scope.schema = {
      // ....
    }

    $scope.partForm = {
      part1: [],
      part2: [],
      part3: []
    }

    $scope.form = $scope.partForm['part1']; // default section of the form that is visible

    $scope.selectFormPart = function (p

[2016-09-21 07:31] Anthropic commented on #763
@SureshArav you need to add a default value into both titleMap with a value that you also need in your enum. This is usually either an empty string.

Sorry for the slow reply I was on holidays.
Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-21 07:31] #763 closed

[2016-09-21 07:35] Anthropic commented on #765
@Alber70g I have added this to the Material repo and I will try to find time to add it to the Bootstrap one also, but as of right now it doesn't give you the option, you would have to parse it on load. I am not sure if the dynamic select add-on can do it or not, may be worth checking that one.

[2016-09-21 07:36] Anthropic commented on #751
@anupamarachuri I made an add-on for work that makes a basic data table, but unfortunately not of a high enough level of quality that I would release it into the wild

[2016-09-21 07:38] Anthropic commented on #769
@doomie999 we love PRs, so thank you for your efforts, I will continue to follow the PR so we can get it merged :)

[2016-09-23 20:27] gaganmalhotra commented on #75
Hey @davidlgj ,
Does angular schema form also support conditional showing hiding form fields on certain select dropdown values. Currently I'm trying out using the condition property in Form array and changing its values as per the change in the select. Is there any other way to do it?

[2016-09-23 23:42] Anthropic commented on #75
@gaganmalhotra you would use dynamic select add-on and retrieve the options from your server based on criteria.

[2016-09-25 14:39] #680 closed

[2016-09-26 12:32] bruderol commented on #739
Hi, I seem to have the same problem.

The funny thing is, that the validation message somehow disappears when the user pressed one additional key, but the revalidation ($asynchValidator function) does not get triggered and the field stays red (=ng-invalid).

I also not understand why you think that this has to do with TV4 validation? Because I think the $asynchValidator is set on the schema form f

[2016-09-26 18:01] shinkondo commented on #739
A workaround is to use a tv4 key when you register your validator.

For the plunker example, if you substitute `noTest` with `"tv4-1000"` or something in script.js, the form should behave as expected.

This has a downside that this is probably not a proper usage of the tv4 error code.

[2016-09-26 18:36] gaganmalhotra opened #772 "How to uncheck all other checkboxes using one of the checkbox in angular schema form?"
schema: {
   "freeOptions": {
          "type": "array",
		"items": {
			"type": "string",
			"enum": [
				"Demo...",
				"Free edition ...",
				"Free trial ...",
				"None..."
			]
		}
	}
}
if I need to uncheck all the checkboxes on click of "None" option, how to do it?

Im using the onChange property in the form but dont know how to retrieve which checkbox it clicked as the model updates after

[2016-09-26 20:58] bruderol commented on #739
not sure if this tv4 workaround would help. Maybe I check tomorrow.

I at least isolated the problem a little bit more.
Following piece of code seems to be the source of the problem:

[code]
Problem: this code prevents the $asynchValidators to get retriggered, because it decides, that the result is invalid allready, if there is allready another error, to prevent further validation pipeline being r

[2016-09-26 21:18] bruderol commented on #739
Aha, now I see the connection to what @shinkondo mentioned above, because there is in deed a little bit above the mentioned code another piece of code, which seems to clear any previously triggered "tv4-"-errors and then doing the tv4 validation as part of the parsers pipeline. So this kind of "tv4-"-errors are guaranteed to happen before this special piece of code (mentioned above) gets called. S

[2016-09-27 00:53] Anthropic commented on #739
@shinkondo san domo arigatou gozaimasu, I hadn't thought of that, interesting.
@bruderol please take a look at the code in the webpack branch as it may have already had some changes applied, I can't remember off the top of my head, I can check tonight when I get home.

[2016-09-27 06:07] bruderol commented on #739
@Anthropic had a look at the webpack branch (you mean feature/webpack-babel), right? Same code is still there (in schemaValidate directive, line 96-104). Should I make a PR? Should this go to this branch (when is this planned to be released?) or shouldn't this better be done on a hotfix branch to release it isolated and then merge it to the mentioned feature branch?

[2016-09-27 06:24] bruderol commented on #739
By the way, the workaround with "tv4-" prefix as proposed by @shinkondo seems to work. Thanks a lot!
Funny thing is that for the error message the message has to be mapped on error code without the `tv4-` prefix, because schemaform strips this special prefix from error codes. All in all I think that this behaviour is weird and should be fixed. Let me know if I should make a PR.

[2016-09-27 06:37] Anthropic commented on #739
@bruderol if the same code is there (yes, in feature/webpack-babel) then a merge to develop should be fine and I can copy it across to the new branch, just wanted to check that it wasn't different to save you (and me) time! :)

The new branch is hopefully nearing readiness, just more cleanup to do and some more testing, but more importantly I need to make it easier to work with so good people like

[2016-09-27 06:45] Anthropic commented on #772
@gaganmalhotra you would just use the onclick event of a button and then update the model directly in javascript, you don't need to make changes to the form just update the data model and Angular handles the rest.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-27 06:45] #772 closed

[2016-09-27 07:19] Anthropic commented on #739
I think the tv4 issue I mentioned was this regression #633

[2016-09-27 14:50] gaganmalhotra commented on #772
Thanks for your reply @Anthropic , but i want the onClick event to be attached not to a button click but to a checkbox click which is made by using schema form. I have the schema formed as below:

{
    "key" : "inputs.isSBSOnboardingCompleted",
    "type" : "radios",
    "title" : "Is SBS onboarding completed?",
    "titleMap": [
      { "name": "Yes" },
      { "name": "In progress" },
      { "

[2016-09-27 22:39] gaganmalhotra opened #773 "Can angular directive be assigned to fields generated by asf?"
Have a couple of questions:
1) is there a way to attach a angular directive to angular schema form generated fields?
for example,
schema:
[code]
Form:
[code]

Is there a possible way to add ng-click directive to any particular select option, for eg, if I want this function to execute only when 'Developer' option in the checkbox is clicked...how to implement it?

Also how can we attach any other di

[2016-09-28 01:41] Anthropic commented on #773
@gaganmalhotra please use the template provided when creating issues and read the support requirements or you may not get an answer. Do not tag individual users in an initial question.

Please create a plunker to show what you are trying to do as it allows someone answering to make a quick change to it and send back to you with possible solution, otherwise we can't se what you are doing wrong.

Al

[2016-09-28 01:42] Anthropic commented on #693
Please re-open if you do not feel the question has been answered sufficiently.

[2016-09-28 01:42] #693 closed

[2016-09-28 15:14] gaganmalhotra commented on #773
@Anthropic Thanks for the reply Marcel. i have updated it in Plunker below:
https://plnkr.co/edit/30BjICzgFsXlQ3ZgfkUi?p=preview

Please see in app.js where i need to show the value of the checkbox being selected...how to do that using angular schema form.

Also for the second question of mine i have updated it in the same question where i want to add any angular provided directive to a text field

[2016-09-28 18:45] mmc41 opened #774 "Angular 2 support ?"
Now that Angular2 has been released, is there any plans to port angular-schema-form to Angular 2 ?

[2016-09-29 00:41] Anthropic commented on #774
Absolutely, we are already looking into it. Hard to give a timeline, but we have a few avenues we are looking at on the best way to proceed.

[2016-09-29 11:39] mmc41 commented on #774
@Anthropic  Ok. I guess I need to roll my own solution than of my Angular2 app (in fact already stated) I only need to support a subset of the functionality with a custom non-bootstrap gui anyway + I am using typescript 2.0 (not plain js). If it makes sense, we could work together but properly not easy to align requirements, time, architecture-ideas etc.

[2016-09-29 13:53] david4City commented on #149
Any news on that subject ?

[2016-09-29 14:32] jazzmanro commented on #774
Or, could a hybrid Angular 1 + 2 model be used meanwhile? We already use a v2 application and I guess that Angular's UpgradeAdapter may work to integrate v1 directives like schema form.
Does anyone have a working simple example how this could be achieved?

[2016-09-29 14:46] jazzmanro opened #775 "Creating a custom editor for a part of the schema/model tree"
Hello,

This is actually a question.

I Have a complex model/schema containing complex object structures. I want to create a custom type that I will attach to the property in the form definition and take complete control of the fields that I render and their bindings. But so far examples/add-ons seem to be only editors over a single model field injected by 'sf-field-model'.

Could anyone point me

[2016-09-29 15:28] david4City opened #776 "Condition on tab"
Is there a solution to hide a tab based on the selection from an other tab.

#### Enhancement

Would be nice to be able to have condition on a tab

#### Expected behaviour

Consider this form :

[code]

`Tab 2` should show only when `Option C` is selected in `Tab 1`.

[2016-09-29 22:20] gaganmalhotra opened #777 "How to use custom directive with angular schema form?"
I have a custom directive that i want to use it with the date field created by the angular schema form. If you could guide me how to implement it.

I have updated the code with my custom directive to be used in the below plunker, if anyone could help me out on this one. Thanks!

Plunker:
https://plnkr.co/edit/30BjICzgFsXlQ3ZgfkUi?p=preview

I want to use the date picker directive to be rendered us

[2016-09-30 16:07] EtiAggarwal opened #778 "How can I get the value of arrayIndex inside onChange method?"
#### Enhancement

As a user/developer, when I call the onChange method I should be able to access the arrayIndex

@json-schema-form/angular-schema-form-lead

[2016-09-30 17:07] joelwkent commented on #778
Hi, currently it is not possible to get the arrayIndex in an onChange function but there are plans to add it. I don't have the related issue/PR IDs to hand but I will try to dig them out and list them here shortly so you can can follow, and if you fancy, get involved in the developments.

[2016-10-01 13:08] Anthropic commented on #773
@gaganmalhotra in the plunker the field is of type select not checkboxes, I can see where there may be confusion, as checkbox values are not sent to your function, you can however use the $scope.model within your code as within the console.log below, this will provide you an array of all the selected options
[code]
= {respondantRole: [ "Marketing manager", "Developer" ]}

Regarding click or focus

[2016-10-01 13:08] #773 closed

[2016-10-02 07:17] Anthropic commented on #336
@ericxinzhang 's comment on another issue offers a solution that I have seen work, but it needs to be done in a PR to be added into the project.
https://github.com/json-schema-form/angular-schema-form/issues/610#issuecomment-247564989

[2016-10-02 07:21] Anthropic commented on #336
@ericxinzhang wrote:
I had same requirement and worked out a quick solution. Note that the solution is
- Not self-contained, you will have to expose some function in your model or service for the angular-schema-form directive to call.
- Not a ideal solution, but the changes required are relatively small.

1. For tabarray, the angular-schema-form I'm using (v0.8.13) generates the input's ng-model a

[2016-10-02 07:26] Anthropic commented on #775
@jazzmanro an add on can add as much to the model as it likes, so you could indeed create an add-on that adds complex objects or whatever you like to the model. You are limited only by Angular itself in what you can do, so you would need a ng-model reference for a parent object to act upon and then do what you like for the child elements. Is this what you are referring too?

[2016-10-02 07:44] Anthropic commented on #777
@gaganmalhotra I'm not sure I follow what you mean, are you saying you want to add the directive, but not create a custom add-on? So leave the template as it is but have it act upon part of the template?

[2016-10-02 08:59] jazzmanro commented on #775
@Anthropic Imagine the following example: the schema and model is server-generated based on class definitions and object instances (using Java or C#). In my model I actually use several fields of type Address (let's say) that have a few usual properties:

[code]
For those Address field(s) I want to create a custom editor that controls all nested model fields in a custom (connected) way, more than

[2016-10-02 13:08] Anthropic commented on #776
@david4City I agree, this could be an expected behaviour.

Can you do me a favour and try updating your tabs template to include this:
```ng-if="(!tab.condition || evalExpr(tab.condition, { model: model, arrayIndex: $index}))"```

The full template would look like this, but adding just one attribute may be easier if you don't want to try compiling the templates.

If you can try that and not find a

[2016-10-02 13:12] Anthropic commented on #776
Oh it still needs some code in the decorator if you want to destroy the data after it is added if the tab is then hidden. I'll look into that side of it too.

[2016-10-02 13:15] Anthropic commented on #776
Well it appears easy, the builder function for tabs would need to be updated to this
[code]

[2016-10-02 23:29] Anthropic commented on #775
@jazzmanro those fields would all needed to be handled by your Angular directive and you would then use your directive to write back to a single model value for the entire address if I understand you correctly.

I'm not sure what you can't do in a connected way though, you can always write a directive add-on that can do calculations and update any value you like, thereby continuing to use the stan

[2016-10-02 23:36] Anthropic commented on #776
@david4City you can get the latest dist/angular-schema-form-bootstrap.js (not in the minified version yet) from the latest commit to the webpack branch to give it a try, it includes all the dependencies so you just need that file, you can look at the example file to see how to use it. Be great if you could try it out and let me know how you go :)

[2016-10-03 04:46] Anthropic commented on #774
@mmc41 @jazzmanro I have already heard of people using the upgrade adapter to use it within an ng2 app.

[2016-10-03 07:33] david4City commented on #776
Hi.
Thanks for the quick reply.
I can only see the `feature/webpack-babel` branch.
Is the `webpack` branch private ?

[2016-10-03 08:17] Anthropic commented on #776
@david4City feature/webpack-babel is what I was referring to :)

[2016-10-03 13:58] jazzmanro commented on #775
@Anthropic sure, agree with you. But what I still cannot find/understand is how do I get access to the model (more precisely, sub-model) to use it or pass it further to my custom directive? I guess starting from bootstrap decorator and datepicker example isn't that good. Because what I did so far was, given above model structure, to add a new form type:
[code]
Then, register it via config():
[code

[2016-10-03 14:03] jazzmanro commented on #774
Would be so great if anyone could post a simple working example, even if it uses other library than schema form. My lack of Angular experience gave me too many headaches when trying this, without success so far.

[2016-10-04 04:31] Anthropic commented on #775
@jazzmanro the main way to look at it is to imagine that you are using ASF simply to put a bunch of templates into your page.

Develop as if you weren't using ASF and just put your template into the page, make it work with ng-model data and then once you have a component/directive making it behave the way you want then you can use it as a template and have ASF put it in place for you and pass the

[2016-10-04 13:36] Anthropic commented on #407
@tjones0808 I just had a quick look and I would expect if you search in the compiled file for initialForm  and find the line:
```var form = scope.initialForm || [ '*' ];```
And replace it with
```var form = scope.initialForm ? angular.copy(scope.initialForm) : [ '*' ];``` it should have the desired effect.
I will look at adding it to the next release. Please let me know if that was all that was re

[2016-10-04 13:58] rayhooker opened #779 "Add Pop-up Help"
I wanted to add the capability for a pop-up help text and wanted to solicit suggestions on the best way to handle that? I know how to format it but I want it to be defined as another option for the form elements.  I guess it is possible to extend all of the form types I use to create a new form type such as was done to create "currency" as an extension of "number", but that is a lot work and code

[2016-10-04 14:13] Anthropic commented on #779
Hi @rayhooker using the new builder it is possible to add a builder that adds an attribute or element and then add that to each item in the decorator that it is relevant for. That would be the easiest way to do it for everything.

[2016-10-04 14:23] Anthropic commented on #776
FYI this still needs work, it fails if you hide the first tab. I remembered there was already a PR to add this functionality a while back in the bootstrap repo. I have been looking at it but it also has the issue of failing if the first tab is not available, once I solve that issue it will be ok, but I need to find a way to push the selected tab value to the first visible tab.

[2016-10-04 16:18] raquintero commented on #610
@ericxinzhang Your solution sounds great!  Do you have a plunker or demo somewhere showing your updates?
I am in the process of extending all the bootstrap-decorators so I can add `i18n` support and add unique ID's to all field elements.  The transformation of the Form object using Objectpath has gotten in my way and was forced to hack around it, which forced me to create a "dirty" model, then pos

[2016-10-04 21:17] rayhooker commented on #779
Anthropic,  That makes sense. I am sorting through the docs and examples.  Is there an example of someone doing that, to add a field.  I see examples to add new add-ons but not to modify an item in a decorator.

[2016-10-04 22:17] ericxinzhang commented on #610
@raquintero I don't have a plunker to show my updates at the moment. Will extract the changes from my project and create one when I have time, hopefully by this weekend.

[2016-10-04 23:46] raquintero commented on #610
@ericxinzhang That would be awesome if you could find the time!

[2016-10-05 01:03] Anthropic commented on #779
@rayhooker you would need to grab the decorator repo you are using and add it there, it isn't currently a built in option. The src/bootstrap-decorator.js file is the one that lists them all. I may convert this to an issue for adding the ability to apply a builder function to a list of types.

[2016-10-05 08:21] jazzmanro commented on #775
@Anthropic thanks for all your help.
What I needed was `$$value$$` it seems but figured it out late from the documentation and samples. I had access to the `form` in HTML which is the definition tailored to the sub-structure that I was editing, I needed something similar for the model.

[2016-10-05 08:21] #775 closed

[2016-10-05 08:56] ashram99 opened #780 "Numeric Validation Renders Over Number Toggle"
Validations render over the number toggle for numeric values in Safari.  In Chrome and FF, there's a space created for the validation and the toggle is to the right of it.

![safari_number_validation](https://cloud.githubusercontent.com/assets/5816803/19106787/4621a172-8ab7-11e6-9603-f19ed73fee55.png)

#### Expected behaviour
Validation not to render over the number toggle.

#### Actual behaviour

[2016-10-05 11:41] Anthropic commented on #775
@jazzmanro awesome, love it when people come back and close their own issues, thank you for your time I appreciate it :)

[2016-10-05 15:00] EtiAggarwal commented on #778
Thanks

[2016-10-06 08:57] Anthropic commented on #780
@ashram99 did you have any luck determining why it was happening?

[2016-10-06 12:30] nicklasb commented on #295
This is not fixed, the pull request in #295 has not been merged.

[2016-10-06 15:26] nicklasb commented on #762
Hi @gladiussdv,
I am not sure I understand what you are saying, could you please rephrase that?

[2016-10-06 15:27] nicklasb commented on #730
@chargrove Agree, would be a nice feature.

[2016-10-06 16:46] gladiussdv commented on #762
Ok. For example. I have 3 tabs. Is there correct way to create field that would be the same for all tabs?
So if I will create tab I have this field in the new tab and in the old tabs too.
If I will remove tab I have this field in the remained tabs.

A schematic json representation:
tabs {
  tab: [
     {nameForTab1: "nameTab1"},
     {nameForTab2: "nameTab2"},
     {nameForTab3: "nameTab3"}
  ],

[2016-10-06 22:30] rayhooker commented on #779
Okay so I think the fog is clearing.  I already had noted the bootstrap-decorator file. That lists all of the standard decorator item. I also know the list of add-ons I have added to my project.  Perhaps I have missed it, but other than editing the list of builders in each file, how can I add this new builder (e.g., "helptext" or "popuphelp") to the applicable items in the decorators?

[2016-10-07 03:22] Anthropic commented on #779
The easiest way, if it applied to absolutely everything, would be to add it to the default builder list toward the top of the decorator file. Well you would probably do that anyway, but if it doesn't apply to everything then the function you add would need to confirm as its first action that it was a valid field type to append information to.

[2016-10-07 13:19] ericxinzhang commented on #610
@raquintero  here you go http://plnkr.co/edit/pk4YzPlFBcjk26zr1hbY?p=preview

[2016-10-07 14:23] BioPhoton commented on #602
I solved similar problems by using $setViewValue() and $render.

[2016-10-07 19:53] ayhlam opened #781 "Use form to set type as number"
#### Bug
As a user/developer, when I set the schema of type of a field to be a string, then set the type to be a number in the form, then the generated input box should work completely as a number box. This is similar to the way the form can treat enums.

#### Expected behaviour
Similar to changing the form to `type="select"`, changing the form to `type="number"` should allow the user to input num

[2016-10-07 20:05] joelwkent commented on #781
Hi @ayhlam, thanks for your interest in ASF and thanks for your very detailed issue. It's great when people provide examples like this as it ensures there is no confusion.

The behaviour you are seeing is correct and there is no bug here. The schema defines the data model, structure, data types and validation. The form defines the UI. You can put a select (enum) on a schema data type "string" as t

[2016-10-07 21:48] gaganmalhotra opened #782 "Regarding passing the scope from decorator's directive to the parent controller"
**Problem:
The Parent controller's scope is not passed on to decorator's scope/ directive's scope.**

Hello,

I'm currently stuck at understanding that how decorators can be used as flexible components because as we compare with directives, directives can have their own controller definition and handle manipulations without interacting with the parent controller.
If we don't want to use directives

[2016-10-07 22:01] gaganmalhotra commented on #777
I was thinking that without making a directive can we wrap an html template to be rendered using a decorator in the schema form. But i went ahead by making a decorator and it works fine. Thanks :)

[2016-10-09 08:11] Anthropic commented on #781
Please re-open if you do not feel the question has been answered sufficiently.

[2016-10-09 08:11] #781 closed

[2016-10-09 08:13] #777 closed

[2016-10-09 09:36] Anthropic commented on #730
Would be a great add in conjunction with #336

[2016-10-09 10:23] Anthropic commented on #602
@BioPhoton could you create a plunker, demo (or PR ;) ) to show your solution in action?

[2016-10-09 19:52] BioPhoton commented on #602
Is there an existing plunker that I can try to solve?

In my case I User onChange to edit other Fields. So it was a async Problem with the validate Event. I just used the Form obj to "rerender" the Input state...

[2016-10-11 01:04] raquintero commented on #610
@ericxinzhang Hey man, I forgot to say thanks!!!!

[2016-10-11 13:10] rayhooker commented on #779
I am having trouble adding and triggering a new builder... I am using version 0.8.13 BTW.  Though it is best to make changes to the development version of  angular schema form and run gulp to build the version, as a test I was tracing the "dist" version.  I added a new builder to builder (line 81) called popup help with the item to add it to at least one decorator item and test it:

popuphelp: fun

[2016-10-11 15:03] rubenswieringa opened #783 "Using a separate template for read-only fields"
Is there a way to use a separate template for read-only fields?

My best effort was using default-rules (`schemaFormProvider.defaults`) to read my global formDefaults and then point to a custom type with a separate template (see example below), but then a type defined in the form-definition can still override that.

<details><summary>***(simplified example)***</summary>

In the below snippet:
* Th

[2016-10-11 22:40] ashram99 commented on #780
@Anthropic no luck yet.  We've punted this, since it doesn't hamper functionality, but the UI is undesirable,

[2016-10-12 04:43] Anthropic commented on #783
@rubenswieringa I would love a plunker, not because you haven't described it well enough, you did a great job, but because it helps me to quickly confirm the behaviour and help me to help you :)

There is no built-in way to do it, but it is something I have wanted to have for a while. But as to your example I can investigate specific issue with a plunker.

[2016-10-12 04:47] Anthropic commented on #779
@rayhooker is may help to make a basic plunker so I can see what you have tried and suggest next steps?

[2016-10-12 09:49] rubenswieringa commented on #783
@Anthropic Thanks for the quick response, here is a plunker: https://embed.plnkr.co/mCQljjSWTUUlSWPKSlhr

I noticed you attached ***type:bug*** as a label, does that mean that it's not expected/intended behavior for default-rules to be overridden by types as set in the schema-definition?

[2016-10-12 10:59] Anthropic commented on #783
@rubenswieringa thanks for the plunker, I see what you mean now. It isn't a bug no.

But I myself have had the problem of not being able to define a default that is not editable. I have a feeling there may already be an issue related to that.

The running of defaults each time is because it is during the step to create the defaults for the form object and it should only run if the condition is tru

[2016-10-12 12:08] rubenswieringa commented on #783
@Anthropic Thanks for the feedback!

# The builder-approach

Looking through the docs, it seems that builders are intended for manipulating an existing DOM, correct? In our use-case, the read-only template is entirely different from the other templates (for one, the read-only template has no form-elements) and I don't want to pollute my other templates with the HTML from the read-only template.

S

[2016-10-12 15:02] rayhooker commented on #779
Okay FWIW I loaded my currrent version and my changes to your dist versions of code at:
https://plnkr.co/edit/mtVpJfLqlkEWPe5cbPHA?p=preview

As you can see, on line 89 of schema-form, I added a builder called "popuphelp" with only a console.log line to see what is passed.  This is almost identical to the "condition" builder that processes a condition item on a form field.  I also added a console.

[2016-10-12 15:30] rayhooker commented on #779
BTW when I speak of mapping in the development version, I am referring to the following that does not appear in the dist version:

  var defaults = [sfField, ngModel, ngModelOptions, condition];
  decoratorsProvider.defineDecorator('bootstrapDecorator', {
    textarea: {template: base + 'textarea.html', builder: defaults},
    fieldset: {template: base + 'fieldset.html', builder: [sfField, simpleT

[2016-10-12 23:25] Anthropic commented on #779
@rayhooker that code comes from the decorator. In the new version I am working on I have added version number to the code because in a situation like this I have no idea which version you are working with, but it isn't the current one. It may be that npm is out of date, but if you look at the documentation for [defining-a-decorator](https://github.com/json-schema-form/angular-schema-form/blob/deve

[2016-10-12 23:31] Anthropic commented on #783
@rubenswieringa partially correct, yes a builder acts upon an already defined template fragment, but it acts on it at the time of injection, so you could conceivably test for the readonly attribute and field type and then replace the fragment with another. It does mean you are acting on fragments and not on source templates, so I would like to find a way to make both work, but it would certainly b

[2016-10-13 01:07] rayhooker commented on #779
Oh my, you are correct!  What happened is that bower (not sure about npm) continued to deliver the old bootstrap-decorator.js (and min version) with the notification "WHERE_IS_BOOTSTRAP_DECORATOR.md".  So I did not notice it had moved and I should also install the new one.  I will double check that the other artifacts were updated but I think it just did not remove the old bootstrap decorator file

[2016-10-13 02:38] Anthropic commented on #779
Is it bower version 0.8.13?

[2016-10-13 02:44] rayhooker commented on #779
Actually it looks like bower only has 0.8.12.. hmmm.  I will make sure I get 0.8.13 for sure. BTW I explicitly asked for 0.8.13 and received "not found".

[2016-10-13 02:49] Anthropic commented on #779
Ok I will look into it, maybe didn't publish as expected

[2016-10-13 08:19] rubenswieringa commented on #783
@Anthropic Alright, I'll be sure to share our solution once we've figured it out – thanks for all the help!

[2016-10-13 15:44] rayhooker commented on #779
BTW it looks like npm is up to date but bower is out of sync.  I already started using npm for some of my testing framework, and perhaps should switch to it.  At least for base schema-form I am using npm.

[2016-10-14 18:37] rayhooker commented on #779
I got everything working quickly with the proper versions.  Basically the approach is almost the same as condition builder exception that I insert a button after the form item label with call to toaster passing the help text string.  This does require me to make constant updates to the base code when every a new version of schema form comes out.  I am not sure how to make it stand alone.  So any i

[2016-10-16 04:37] Anthropic commented on #779
@rayhooker well what I was saying earlier is that at the moment there isn't an easy way to make it future proof, however I am working on a method for appending/prepending builders to specific fields, that would make it much easier. I will make a new ticket fo ryou to be able to follow, if it isn't in the next release it will be in the one after that.

[2016-10-16 04:41] Anthropic opened #784 "Add the ability to append/prepend the builder list based on decorator/field"
#### Enhancement
As a user/developer, when I want to dynamically modify templates I should be able to add builders to fields without the need to modify/customise the actual builder code.

#### Expected behaviour
I expected to be able to pass a list of fields and the builder with a flag for prepending or appending

#### Related issues
This stems from issue https://github.com/json-schema-form/angula

[2016-10-16 04:43] Anthropic commented on #779
In the meantime I can't see many changes happening to the latest decorator file so you shouldn't have to make many tweaks to that if the builder is stand alone enough.

[2016-10-16 13:55] sandeep048 opened #785 "class="form-horizontal" not getting applied on json-schema-form ??"
I cannot get the form to style as expected. I would like the control labels align to the left and the form elements to the right. Highly appreciate if I can get hold of a working example.

[2016-10-17 04:21] sandeep048 commented on #785
Some thing like this. Horizontal form layout?

![image](https://cloud.githubusercontent.com/assets/500899/19425357/23f75e24-944f-11e6-9e29-f7e0f3074d91.png)

[2016-10-17 04:34] Anthropic commented on #785
@sandeep048 you use CSS to change layout, for example this will set your label and the control to inline instead of acting like a block which is half the way there.
[code]
You will find much better CSS help on Stack Overflow than here though, so i suggest asking for styling help there with the source output from your form.

[2016-10-17 09:12] anushamca opened #786 "Radio button validation is not working"
I have a simple form along with radio buttons.I made them as required. All are working properly except the radio buttons. Even if we select one of radio buttons still it is showing Required! error message.But I tested with my same schema and form on  http://schemaform.io/examples/bootstrap-example.html#/07e5173aa0ecd930fd1814073eaf3f8e its working as we expected,but in browser not working  I don't

[2016-10-17 23:58] Anthropic commented on #675
@thiagog3 how is your LumX decorator going? Did you finish it off?

[2016-10-17 23:59] Anthropic commented on #786
Maybe if you build a plunker based on your own code someone can compare between the two and see what you did differently?

[2016-10-18 03:18] anushamca commented on #786
Here is the gist link http://schemaform.io/examples/bootstrap-example.html#/2c3ba5414ce1e0a3cf020a7c4bc78ffd

but in gist its working properly in browser not working.

This is my form

<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
	<div ng-controller="ConfigController">

		<form name="ngform" sf-model="modelData" sf-form="form"
			sf-schema="schema" ng-submit="submitForm(ngform,modelData)

[2016-10-18 03:21] anushamca commented on #786
Also input type as number is also not working.

[2016-10-18 04:01] raquintero opened #787 "How to set a form value from two other values, in an Array?"
I'm trying to find an example of how to update a field, let's call it ID, that is a concatenation of two fields.
For example, I have a field called "name", a field called "suffix", and a field called "id".
ID field is read only, but gets dynamically set as "name-suffix".
And this is inside an array.

Can someone point me to an example please?  Or do I have to triage some random dev branch?

[2016-10-18 04:04] raquintero opened #788 "Set the title map of an select field that is inside of an array"
Hello,
I have a dropdown field that needs to be changed on the fly.  aka dynamically.  And this field is inside an array.  Is there an example of this somewhere?
If not, can someone point me to an example/documentation showing how to update the form model and reset the default titlemap field?  I am not sure the proper sequence or when in the schema/form building or loading process where I can do t

[2016-10-18 05:33] Anthropic commented on #786
Can you make your page available or provide it as a plunker?

[2016-10-18 05:44] Anthropic commented on #788
@raquintero if you google for angular-schema-form dynamic select you will find an add on that already does what I think you want to do.

[2016-10-18 05:47] Anthropic commented on #787
Try this
[code]

[2016-10-18 06:23] raquintero commented on #788
@Anthropic Thanks, I'll have to take a look.  Looks simple enough, I hope.
Side note, it seems that not every component has the same available attributes available.  For instance, if every component could take an onClick and OnChange event, and you could get the array index, modelVal, form, as well as absolute path, then pretty much most issues will be solved.  Is there an inherent reason why inde

[2016-10-18 06:27] raquintero commented on #787
@Anthropic Thanks!  Would I have to just add this to the bootstrap-decorator.js file, or create a new module?  And how would this work in an array?  My biggest issue is, again, figuring out which index I am working with, rather than just asking the form/element to tell me.

[2016-10-18 10:03] lorenzonet opened #789 "Create object with field values"
I'm new on angular-schema-form, my goal is to store form values in a database altogether, in a Json format similar to the schema, just only FieldID and Value.
I was wondering how I can accomplish this.
Afterwards when I want to review the record I'll merge the schema with the field values store in a Json object.

[2016-10-18 10:33] divercraig opened #790 "How to add a custom builder with dependencies"
I expected to be able to add my own builder functions to my addOn and have it used by angular-schema-form but it seems that the builder can only access providers which do not support dependencies on other services.

If I want to define an addOn with a custom builder I configure the schemaFormDecoratorsProvider

[code]

This new custom-type needs a custom builder to add support functions to the for

[2016-10-18 10:36] lorenzonet commented on #789
I've realized right now that there's already the model object.

[2016-10-18 10:36] #789 closed

[2016-10-18 16:27] raquintero commented on #607
@Anthropic Has this exact issue been fixed somewhere?  I need an index value to pass along in an onChange event.

[2016-10-18 16:31] raquintero commented on #788
@Anthropic Thanks for the link.  I couldn't use the dynamic select.  I broke all of my existing select boxes, and there were too many dependencies to debug.  I just need the way to pass the current index on an onChange event.  I did the update for the onClick having the Array indexes, (haven't gotten around to using it yet), but I can't add an onClick to the input fields, without completely re-cre

[2016-10-18 16:37] raquintero commented on #778
@joelwkent I would love to get involved with this too, as I need this asap or I will have to completely abandon ASF and move in another direction.  I've burned way too many hours fighting ASF.

I mean at this point, if someone who really knows ASF can just explain high level what needs to be done in order for input fields to have access to Array indexes, would be a tremendous help.  Heck, is there

[2016-10-18 21:07] joelwkent commented on #778
Hi @raquintero, apologies for not updating you but @Anthropic has made some progress on this, see this [commit](https://github.com/json-schema-form/angular-schema-form/commit/7d456822012bce7788c487a520fabfb1bf5fdc8f)). I have not had a chance to try it out yet but you could take a look at it, pull it down and see if it works for you.

[2016-10-19 00:08] raquintero commented on #778
@joelwkent @Anthropic Awesome!  I will take a look asap!!!

[2016-10-19 00:21] Anthropic commented on #789
@lorenzonet thanks for self closing, appreciate your effort to do that :)

[2016-10-19 00:25] Anthropic commented on #778
@joelwkent @raquintero I have found a bug in it, but it is almost there, I am looking at it now to try to fix it, currently getting the wrong index for the last key. I think I have the controller or directive on the wrong tag. Hopefully find a solution today.

[2016-10-19 00:26] Anthropic commented on #787
@raquintero it would only work in an array if you defined the indexes, so hopefully I can come up with a solution to that today.

[2016-10-19 00:31] raquintero commented on #787
@Anthropic Do you have a sample of how to use this feature, or does this add field ID's on it's own?

I'm not familiar with webpack, so I need to learn how to build directly from source.  Typically I've been cutting and pasting into my current/updated schema-form.js

[2016-10-19 00:50] Anthropic commented on #790
@divercraig have you tried adding a function below where you have ```var seating``` (doesn't this line cause an error?) that then calls the service?

To be honest I have all my builders only act based on what is in the form data so I haven't got anything calling a service so I have not tried to see which format it needs to be. I would have thought it would be reasonably straight forward though. If

[2016-10-19 00:53] Anthropic commented on #787
Webpack makes it super easy to watch for changes and auto compile so you can continue what you are doing essentially. Have a look at the scripts run from package.json there's a few there, you do need to run npm and bower installs first before trying to run the builds :)

[2016-10-19 18:30] karthiks3000 opened #791 "Hide/Disable Add and Remove buttons from TabArray"
#### Enhancement
As a developer, I would like to use the tabarray option to provide a read-only view of my array. But I can't seem to find a way to remove the Add and Remove buttons. Setting Add and Remove to null works when the type is just an array but not when the type is set to 'tabarray'

#### Sample
I have modified the tab array sample from the schema-form demo page, is this feature not ther

[2016-10-19 19:29] joelwkent commented on #791
Hi @karthiks3000, this functionality is included in the latest ASF bootstrap decorator but it may be that the latest decorator is not being used in the examples on Schemaform.io . If you pull the latest code it should work for you. I just checked the code [here](https://github.com/json-schema-form/angular-schema-form-bootstrap/blob/develop/src/tabarray.html#L18) and the add/remove buttons will not

[2016-10-19 20:45] karthiks3000 commented on #791
Hi @joelwkent, Thanks for the quick response!! I made the changes to my file and it worked like a charm!!

Thanks again!! You guys are awesome!!

[2016-10-19 20:48] joelwkent commented on #791
Hi @karthiks3000 really happy to hear you got it sorted.

[2016-10-19 20:48] #791 closed

[2016-10-20 03:44] kyse opened #792 "global ngModelOptions ignored when ngModelOptions provided in field definition."
So I have a need to add the tab index a fied resides on to the ngModelOptions so when its time to validate, I can ignore specific validation errors by parsing the errors array, which contains error codes, which in turn contains the array of ngModelController objects specific to that error.  I can grab the fields tab from the ngModelController.$options to check the tab it's part of and know if I sh

[2016-10-20 08:44] divercraig commented on #790
Hey @Anthropic,

apologies about that extra line. I left in in from my actual code while I was trying to sanitise my example. I'll get that plunker up shortly for you.

[2016-10-20 12:10] divercraig commented on #790
Hey @Anthropic, I've got a plunker at https://plnkr.co/edit/qcbP0uiScV78WB5bLr8W?p=preview If you open the console you'll see that an error us called because the builder function isn't available. This is because the $get function is not called.

Regards,
Craig

[2016-10-20 13:45] karthiks3000 opened #793 "Checkbox mapped to Yes/No value"
#### Question
I have a particular field that I want to display as a checkbox. But the data in the field is being returned as either a Yes/No. The property in the schema is of type string and I can override it by setting the type in the form to be a checkbox. However, how do I convert the Yes to True and No to False? I tried using a title map, but I think i'm doing it wrong. Is this even possible?