[2016-10-20 16:03] joelwkent commented on #793
Hi @karthiks3000, a schema data type of boolean will default to a checkbox in your form. You can see this on the [example page](http://schemaform.io/examples/bootstrap-example.html) in the "Basic JSON Schema Type" example.

Checkout this [example](http://schemaform.io/examples/bootstrap-example.html#/d7de52d28816bd5cd3fb41a0287f0295) of a schema that contains just a boolean element with key "Strea

[2016-10-20 16:08] karthiks3000 commented on #793
Hi @joelwkent, my problem is that I am consuming a service that is created by someone else. I can't alter the data type of the property. The service will always return a Yes/No for that property. If I set the schema to be boolean for that property, won't the binding fail?

[2016-10-20 17:00] joelwkent commented on #793
Hi @karthiks3000, OK got it. I've had this exact problem in the past. Your options are to use a select field type with two options or radio buttons. You cannot use a single checkbox on a string enum. And field type checkboxes can only be used with arrays which I don't think will work with your data type.

If you really must use a single checkbox and you have no control server side you could parse

[2016-10-20 18:04] karthiks3000 commented on #793
I thought as much... Thanks for the confirmation @joelwkent
Yes, I think I will probably need to use the select or radio button approach. I plan to use the schema generated by the service (which is also not in my control) and it has the property listed as a string.

[2016-10-20 18:04] #793 closed

[2016-10-20 18:28] karthiks3000 opened #794 "schema.required.indexOf is not a function"
#### Bug
I have a schema where the array properties are generated with a required attribute at the array level and at the individual item level. But when I try to generate the form I get an error.
TypeError: schema.required.indexOf is not a function
    at Array.array (schema-form.js:1211)

Here is the schema that does not work
`{
  "Genre": {
    "type": [
      "array",
      "null"
    ],
    "

[2016-10-21 00:15] Anthropic commented on #794
@karthiks3000 **required** is not a boolean value, it must be an array.

Please refer to the [JSON Schema specification](http://json-schema.org/latest/json-schema-validation.html#anchor61) on the attribute.

From the spec (uppercase emphasis theirs):
**5.4.3.1.  Valid values**
The value of this keyword MUST be an array. This array MUST have at least one element. Elements of this array MUST be stri

[2016-10-21 00:15] #794 closed

[2016-10-21 00:57] Anthropic commented on #792
Hi @kyse are you referring to within a directive of your own? Without knowing that I would be thinking about importing the sfField scope for the info.

Thanks for the info on the merge script issue, that does seem like something worth updating, the script is now in json-schema-form-core in the merge.js file and the options attribute passed into the merge function is whatever is added to the sf-opt

[2016-10-21 01:03] kyse commented on #792
Yes inside a directive, once I broadcast for the form to validate, if there are errors, I'm checking the formController's $errors array to grab all the ngModelControllers.  I think I may go about this differently, and just store the form definition for that field in a factory so I can easily look it up.  Since I'm using custom GetterSetter's to apply the model value so I can make use of customized

[2016-10-21 02:22] Anthropic commented on #792
There is an issue kicking about regarding showing form status on a tab for the validity of the form within its tab pane, the solution offered in that may be of interest to you as well perhaps.

[2016-10-21 02:38] kyse commented on #782
you could add a builder to expose the scope to a property on the form definition.  That's how I exposed the selected tab in the tabs decorator.

[2016-10-21 03:02] kyse commented on #776
I wrote the PR your referring to I believe?  If you email me I'll try and address the issue and update the PR.

[2016-10-21 03:07] raquintero commented on #788
@Anthropic Hi, any progress with allowing form fields to maintain a copy of the index that it resides in?
Also, directly related to the original question, Is it possible to update the enum/titleMap of a select field during creation?
My hope is:

1. I have a custom bootstrap template (an addOn) that adds an attribute, called `setTitleMap`, which would be a name of a function that is created in my C

[2016-10-21 03:42] Anthropic commented on #788
@raquintero angular-schema-form-external-objects is my own extensions for updating a titleMap dynamically and includes an option to get data from the form scope rather than externally, I don't think it would be too hard to modify that to do what you want to do. I don't know if you can do it in a day, but you could definitely do it.

[2016-10-21 04:56] Anthropic commented on #776
Hi @kyse, yes this one https://github.com/json-schema-form/angular-schema-form-bootstrap/pull/24

I added a comment to it, I admit I wasn't thinking when I made the basic change above in my own code and ran into the issue where a removed tab can cause issues in tab selection, I added a question to that issue if you can shed some light on it I would appreciate it :)

[2016-10-21 06:43] nicklasb commented on #788
@raquintero Hi, maintainer of ASFDS here, remember you only need the dependencies for the select you need. Also, I am interested in what way it broke things for you?

[2016-10-21 14:53] karthiks3000 commented on #794
@Anthropic Looks like your right! But if that were the case why does the following code work?
`{ "Genre": { "type": [ "array", "null" ], "items": { "type": [ "object", "null" ], "properties": { "GenreName": { "required": true, "type": [ "string", "null" ] } } } } }`

[2016-10-22 00:38] luizgrs opened #795 "Missing Validation Message in untouched form when broadcasting schemaFormValidate"
Hi,

I may have found an issue with validators and validation messages.

To make the plunker simple I just checked if the value is empty, but in my real case the validation is more complex.

If I have a field with $validators and broadcasts schemaFormValidate without touching it, the field is set as invalid as expected but the validation message does not appear. To get the error message, I have to

[2016-10-22 00:47] luizgrs commented on #602
I'm also facing this issue, here is a plunker of it: https://plnkr.co/edit/IuTv9HdwHRJpT1so6J6u?p=preview

Just run it and click in the submit form, you will see the (error) feedback in front of the field but the validation message does not appear.

if you type in the field and then erase it, you will see the message.

I know the $validator I set is too simple and could be achieves by the required

[2016-10-22 00:49] luizgrs commented on #795
I just found https://github.com/json-schema-form/angular-schema-form/issues/602 it looks like the same issue, sorry. I posted my plunker there.

[2016-10-22 00:49] #795 closed

[2016-10-22 03:15] kyse commented on #787
Sound like a job for the GetterSetter builder.  I really need to spend some time on making it an official add on.

[2016-10-22 03:22] kyse commented on #787
#674 has a link and also posted prototype/poc of the GetterSetter builder concept to give you some ideas if your willing to dive in and manipulate some snippets to do your bidding.  I built it to take control of binding fields to arrays so I could use arrays on my schema and have the final model object be in line with the api's graph post/patching.  To add required entities to the array just add d

[2016-10-22 03:29] kyse opened #796 "Thoughts on Web Workers"
My form is a ton of fields, and it kills the ui thread as it loads up.  Modal window animation is frozen till it finishes for instance.  I've adapted somewhat by waiting for the CSS animation to finish before initializing the form, but would be nice to have it run in another thread building out the form tree, then a final initialize loop to do actual Dom work.  With schema forms being so Dom manip

[2016-10-22 21:05] BioPhoton commented on #602
Hi @luizgrs,

i solved this stuff in different ways, always not really nice. But here is one of my approaches:

I basically create a rerenderInput function which changes the value of the input to another and then back to the old one...

`
var t = vm.model.Field1;
vm.theForm.Field1.$setViewValue('other value');
vm.theForm.Field1.$render();
vm.theForm.Field1.$setViewValue(t);
vm.theForm.Field1.$rend

[2016-10-23 06:05] Anthropic commented on #796
@kyse I have been thinking about this too, primarily if there's benefit in the core being sped up with web workers, I have been trying to find some good resources on the angular fragment store, from my understanding (and I could be VERY wrong) Angular created a worker with its own code for generating fragments, as I understand it they have most of angular 2 executed within the webworkers, I need m

[2016-10-23 14:03] Anthropic commented on #794
@karthiks3000 thanks, I assume that is misbehaving due to support for the value within the form description as opposed to the schema, but I haven't tested that to be sure.

[2016-10-24 17:57] bombompb commented on #774
I agree with the fact that we would like to have a working example which uses the hybrid Angular 1-2 UpgradeAdapter till this project gets ported to Angular 2 completely. Can anyone help in this?

@Anthropic: Can you please try to give some estimate on the porting? How is it progressing?

[2016-10-24 20:19] kyse commented on #784
Interesting thought.  But sounds like you'd need to decorate schema forms builder provider to add logic to conditionally add builders.  Or an easier way would be to add a wrapper to each builder from a config method to check the form builder conditions.

[code]

I think you can also define builders individually per field's form def?

[2016-10-25 05:26] Anthropic commented on #774
@nicklasb did you know of a hybrid version working and how ng2 would work with the form?

[2016-10-25 07:33] mmc41 commented on #774
Nb. See also "https://github.com/json-schema-form/json-schema-form-core/issues/3" for a suggestion on how to more easily retarget for various web frameworks, incl. Angular 2.

[2016-10-25 23:32] luizgrs commented on #602
Why the problem happens I think:

Important: sfMessage uses an watchCollection in ngModel.$error to detect errors and then show messages.

- During form load validations runs and populates ngModel.$error
- WatchCollection('ngModel.$error') in sfMessage is triggered but as form field is $pristine no error message is displayed (scope.hasError() checks if field is $invalid && !$pristine
- Once we bro

[2016-10-26 00:14] kyse commented on #783
I'm guessing you're wanting an automatic/dynamic field rather than having to define them manually.  But the manual option would be to define two fields, and only show one of them via condition.

[2016-10-26 07:31] Anthropic commented on #784
Yes, I was going to re-write some of the decorator/builder process as I don't think the current way decorators operate is flexible enough. For example I have an add-on that does not display and is therefore independent of decorator, but I can't easily provide a single include that says, "load for whatever decorator the person is using" so I need to look at modifying that and at the same time updat

[2016-10-26 11:26] pradeep4smriti opened #797 "when using onfocus="flag=true" and onblur="flag=false" and clicking on the input field , it gives the error onfocus is not defined since the sf-schema or sf-form doesnt allow any function; Any solution for this or any update how to detect focus"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo
[Description](url)

#### Related issues
This is/maybe related to ...

@json-schema-form/angular-schema-form-lead

[2016-10-26 13:53] Anthropic commented on #797
Hi @pradeep4smriti I'm sorry but if you aren't even going to put in the effort to fill in an issue template, how can you expect busy professionals to put in the effort to help you?

Please re-open if you can provide the issue in the required template with a demo.

[2016-10-26 13:53] #797 closed

[2016-10-26 22:06] BioPhoton commented on #602
Hi, nice that you investigated in this!
Now I can understand the Problem. 😀

I think watchers would decrease performance. Implementing another event in the prosess would be more efficient as the function would only fire if there is really something new.

But I guess the real issue this is in the check itselfe. Changing the expression to $invalid && $touched would solve it I believe.

THX again and

[2016-10-27 04:08] Anthropic commented on #602
@BioPhoton and @luizgrs if you can both agree on the best and most amazingly efficient solution, please ping me, I'm watching anyway, but just in case I miss it :)

[2016-10-27 09:51] parky128 opened #798 "Field failing a condition is not being removed from the model"
I am making use of the condition property on a field, and have successfully got it to show\hide based on the value of another field in my model.

I am finding however, that the field remains in the model when I go to submit the form.

According to the docs, fields that get hidden in the DOM should be removed from the model (destroyStrategy=remove) but this does not seem to be the case for me.

I h

[2016-10-27 12:35] Anthropic commented on #798
Can you try using the version of the bootstrap decorator from the bootstrap repo and let me know if the problem persists?

[2016-10-27 12:58] waynewalter commented on #776
This will be an awesome feature. When can how can I get it please?

[2016-10-27 14:59] parky128 commented on #798
Hi, I did try this after coming across this post - http://stackoverflow.com/questions/32253453/angular-schema-form-destroystrategy-works-only-on-siblings-that-are-array-of-obj

The behaviour still persists however, any ideas? Thanks

[2016-10-28 03:34] Anthropic commented on #798
Are you able to make a plunker to demonstrate?

[2016-10-28 09:32] BioPhoton commented on #602
Hi. I'm pretty sure it would work with this function:
[code]

The only problem is, i'm not sure how to access the wrapper form from inside this code to check for submitted...
If the $submitted is not set we could do this manually in our submit function by using theFormThatWrappsThisField.$setSubmitted(true);

[2016-10-28 09:49] BioPhoton commented on #602
Hmmm, now i have access to form but it still not works.

`return scope.ngModel.$invalid && scope.ngModel.$touched || scope.ngModel.$invalid  &&  scope.$parent.$parent.formCtrl.$submitted;`

Maybe it's better to use extra event or in worst case another watcher...

[2016-10-30 23:07] raquintero commented on #778
As an update for this issue, I have added the change identified here: [714](https://github.com/json-schema-form/angular-schema-form/pull/714/files) and now in my `onChange` event, I pass (modelValue, form, scope).  I rearranged the scope to the last value, so as not to break my existing onChange functions.

I use it in my onChange function defined in my Controller like this:

I use Chrome Tools to

[2016-10-31 15:55] parky128 commented on #798
Ok, looks like I wasn't including the bootstrap decorator, the conditional field is now not being included as expected

[2016-10-31 15:55] #798 closed

[2016-10-31 19:15] raquintero commented on #567
This is still an issue, and I did the updated fix for Buttons to have access to the index, so I'm assuming that radio buttons are not really "buttons"?  Any overall fix, roadmap, idea, or how to handle arrays and arrays in arrays, holistically?  Every "fix" seems to be piece meal, and never makes it into a release build.  Is there a real roadmap, or is the focus really just moving to Angular 2 and

[2016-11-01 13:12] Anthropic commented on #567
@raquintero more a case of one person trying to deal with 140+ GitHub issues to get back on top of them in his spare time.

If I don't face the issue in my work it is hard to give it the priority it needs, for now, at the same time I am trying to finish off a re-write started by the former maintainer. I am starting to get further with that recently thankfully (webpack-babel branch).

@jainashwin a

[2016-11-01 13:32] s-a-85 commented on #567
@Anthropic Thanks a lot for your response. Will give it a go.

[2016-11-02 13:12] luizgrs commented on #602
I'm trying to first write a test to show this bug but I'm failing to achieve that: https://github.com/luizgrs/angular-schema-form/commit/d5a79ab9af5a49cb117bf562aa9fa653937f6565

The test is still incomplete, but the error message is already being displayed after $rootScope.$apply() is executed, its assert for an empty message is already failing, even before the validate event is broadcasted.

I g

[2016-11-02 15:10] raquintero commented on #567
@Anthropic Thanks for the response, I will give a look.
Quick question, when you say you tested in in the templates, which version of the templates (bootstrap-schema.js) are you referring to?  I want to make sure I test with the same exact copy you worked from.

Also, I would love to help out with the work that needs to be done.  I don't have a lot of free time as well, but if there is a good "Dee

[2016-11-03 03:11] Anthropic commented on #567
@raquintero message me on Gitter, I am happy to help you get up to speed on what is going on :)

https://github.com/json-schema-form/angular-schema-form/tree/feature/webpack-babel/dist
schema-form.js
angular-schema-form-bootstrap.js

The whole example folder in that branch should work as a starting point.

[2016-11-03 03:21] Anthropic commented on #602
Perhaps try it with the code in the new version too, be interested to know what changes (you can use the example folder version) needs bower and npm installs to run so may need to clone the repo.
https://github.com/json-schema-form/angular-schema-form/tree/feature/webpack-babel

[2016-11-04 15:12] Lorless opened #799 "Why does the schemaFormRedraw use angular.copy() ?"
Why does the schemaFormRedraw use ```angular.copy(scope.initialForm)``` ? This causes a lot of issues where my variables and watchers detach themselves from the form object I was watching. I modified the library to not use ```using angular.copy()``` and it worked fine.

Is it really necessary to call the copying function when the ```$on('schemaFormRedraw')``` watcher calls the ```render(schema, fo

[2016-11-07 13:12] anushamca commented on #786
I had fixed this issue long back.Sorry for not updated the status

[2016-11-07 13:12] #786 closed

[2016-11-07 15:13] DLevai94 opened #800 "Accordion or collapse"
#### Enhancement
As a developer, I want to be able to hide/show some fields of my form by using collapse or accordion. I tried it in this way: I created a checkbox and styled it to look like a button. And using condition to hide/show fields.

#### Expected behaviour
I expected it to work.

#### Actual behaviour
It actually validating the checkbox. And if it's in false, the form doesn't care about

[2016-11-07 23:26] Anthropic commented on #329
@deyceg how did you go with this one, did you ever get a chance to make an add on? #800 just got added by someone looking for a solution to use.

[2016-11-07 23:29] Anthropic commented on #764
@anupamarachuri there is work being done by @nicklasb on a demo of how to use the current version in an ng2 app and we have started work on making the code re-usable for ng2, but no timeline just yet.

[2016-11-07 23:47] nicklasb commented on #764
I will start doing that soon™, meanwhile the documentation describes how it works:
https://github.com/OptimalBPM/of-admin/wiki/App-Entry-&-Bootstrapping

[2016-11-09 08:01] deyceg commented on #329
@Anthropic I did create schema-form-modal although I havent published it! Heres the component:

[code]

[2016-11-10 03:36] Anthropic commented on #329
@deyceg thanks for that! :)

[2016-11-10 05:41] Anthropic commented on #800
Hi @DLevai94 try the code that @deyceg shared in #329 using UI Bootstrap's accordion.
https://gist.github.com/deyceg/6a3bfe870f258ef839b3aaf6b1c5a912

[2016-11-10 20:29] deyceg commented on #329
@Anthropic No problem! FYI I was using 0.8.x of schema-form!

[2016-11-15 12:32] orbg opened #801 "how to use form.$valid in controller?"
#### Enhancement
I should be able to use form.$valid from within my controller functions.
At the moment i can us it from within a submit function as in your examples:

    $scope.onSubmit = function(form) {
        // First we broadcast an event so all fields validate themselves
        $scope.$broadcast('schemaFormValidate');

        // Then we check if the form is valid
        if (form.$valid)

[2016-11-16 08:10] orbg commented on #801
Sorry, found it.
You can use formname.$valid
in my case this was not in the scope ..

[2016-11-16 08:10] #801 closed

[2016-11-16 10:12] Lorless opened #802 "How to get schema-validate to work with fields inside an object addon?"
I have a scenario where I need an add on that produces some like

`
{topKeyName: {
  value: 'something',
  unit: 1
}}
`

But I want to have validation on each of those fields. Why can't I do something like

`schema-validate="form.items[1]"`

for each field in my add on? Am I going about this the wrong way? I dont want to use the simpleTransclusion builder because it gives me no flexibility or cont

[2016-11-18 06:38] vdesh1234 commented on #731
Kindly paste the code here !!! :)

[2016-11-18 17:05] #802 closed

[2016-11-18 17:07] Lorless commented on #799
It would be nice to get an answer to this. Is there any point at all for the use of the copy? It completely destroys the ability to save the state of any variables outside of the model scope since it detaches form and schema from their original copies. Very difficult to work around and seemingly doesn't have any benefits.

[2016-11-19 09:58] Anthropic commented on #799
@Lorless we modify the data within our library, if  we used the source object then it would be modified which can cause all sorts of issues. If you search the issue list for closed issues with 'angular.copy' you will find all the previous issues reporting problems caused by that behaviour.

Please re-open if you do not feel the question has been answered sufficiently.

[2016-11-19 09:58] #799 closed

[2016-11-19 09:59] Anthropic commented on #802
@Lorless thank you for self closing, appreciate your effort :)

[2016-11-19 10:04] Anthropic commented on #801
Thank you @orbg for self closing, appreciate your time :)

[2016-11-21 06:34] vdesh1234 opened #803 "From Date To Date Validations"
1. To date is not less than From Date

[2016-11-22 11:16] orbg opened #804 "actual tab of array in controller"
Is it possible to acces the index of the actual tab of an array within the controller?
Can I switch the actual tab from outside?

[2016-11-22 15:45] Lorless opened #805 "Is there some way to require all fields in an object?"
Is there some way to validate fields in an object that never have inputs associated with them? Im my example the model is set by a directive.

The docs don't explain much about how validation works on different field types. I've tried this:

[code]

I've also tried custom validators but the validator is never even run on validate:

**EDIT** I did not have schema-validate alongside my ng-model so m

[2016-11-23 05:54] Anthropic commented on #805
@Lorless if required didn't work then I am not sure why not. Can you make a plunker?

[2016-11-23 05:57] Anthropic commented on #804
@orbg the templates generate angular code, you can make your own controller that attaches to the array elements and determines this value. There was another ticket in which an example was provided about interrogating array properties, try searching in the issue list for 'array'.

[2016-11-23 09:29] Lorless commented on #805
I'm currently trying but plunker isn't playing ball. Won't save and getting Bad Request errors. Going to keep trying.

[2016-11-23 09:55] coxrichuk commented on #568
Has anyone had any success with passing the arrayindex / $index as a parameter to a function?

[2016-11-23 10:52] s-a-85 opened #806 "Form doesn't refresh when setting the schema and form to empty"
#### Enhancement
As a developer, when I clear out the schema and the form an empty form should be rendered.

#### Expected behaviour
The following renders a text box:
[code]

If I then want to change the schema and the form to:
[code]
I expected the text box to disappear and the page to be empty.

#### Actual behaviour
It actually keeps displaying the text box despite the schema and the form being

[2016-11-23 11:35] Lorless commented on #805
Okay here it is: https://plnkr.co/edit/pAyuDP8zfT95wedXMzrQ?p=preview

As you can see the custom validators are run immediately which I don't think should happen. The required custom validator works for this scenario but does not update when fields inside the object change requiring a copy for every change.

I have also tried to use the required : [] array syntax in the schema to produce the valid

[2016-11-25 09:30] slyadams commented on #611
I'm also having this issue. I'm writing a 'bulk edit' form where I create a checkbox for each form field to enable modifying of that field. I then use a watcher to copy the fields (and not the enabling checkboxes) into the binding value of my directive. The problem is that these forced defaults is setting all my checkboxes to false.

[2016-11-25 15:18] Lorless commented on #805
Can someone take the tag off as this now has a plunker. The main problem here is validation on an object that contains fields rather than validation on the fields themselves. I need a way to check if all those fields are properly filled out but custom validators don't work as I would expect and the required array does work at all.

[2016-11-28 12:48] Anthropic commented on #568
@coxrichuk it is partially working in the webpack branch but at the same time it has other things broken. But you could certainly take a look there for ideas on how it was fixed, but there are also other questions asked in issues that also provide further info on how it can be overcome.

[2016-11-29 06:56] rishabmehra opened #807 "Angular Schema Form for angular 2"
Hi Admin,

When are you going to release angular schema for angular 2 version ?

[2016-11-30 11:35] krzysiek-kr opened #808 "Vertical scroll jumps on drag the last elements of long arrays"
#### Expected behaviour
When I have a form with long array and a page has a vertical scroll and I drag one of array's elements the scroll should be stable.

#### Actual behaviour
When I have a form with long array and the array is long enough that a page has a vertical scroll and I scroll down the page to the bottom and try to drag the last one of elements of the array then the scroll make some ki

[2016-11-30 15:49] Lorless commented on #799
@Anthropic Hi Anthropic, this problem keeps rearing its head at us. The core problem here is how do we maintain the state of the form as we change it? We need to be able to save the state of variables that are on the form. The copy detaches our directives from the form where all our useful options are.

We will also need to insert fields via AJAX requests to get JSON files with the fields we want.

[2016-12-01 05:52] Anthropic commented on #806
@s-a-85 try this:
[code]
It only bothers to render if there is something to render, so it needs something in properties.

[2016-12-01 06:51] Anthropic commented on #805
@Lorless, I made my own decorator for custom validation of an entire object and passed the whole object into tv4 to validate independently. You can see where I have the line ```ngModel.$validators```.

This is my substitute version of anyOf validation and very very old.

This is what it looks like:
[code]

[2016-12-01 17:24] s-a-85 commented on #806
Hi @Anthropic ,
Thanks for your reply. I had figured that out and even the following would do:
[code]
However, I would expect it to clear the form.
I assume there is no way to force it to 'bother'?
Thanks again.

[2016-12-02 09:57] krzysiek-kr commented on #808
I figure out that it looks like a problem in the angular ui-sortable. I will find there a solution of mentioned problem.

[2016-12-02 12:58] #808 closed

[2016-12-03 11:13] Anthropic commented on #807
Duplicate of #774

[2016-12-03 11:13] #807 closed

[2016-12-03 11:26] Anthropic commented on #799
@Lorless yes state awareness is beneficial. You can always add fields to the form definition that do not need to be a part of the schema and track with those, but state is something I do want myself.

In regard to directives, not sure what you mean, I'm not sure why you would pass directives in to schema-form as they are not valid in a json-schema or in the form definition. You can apply css to co

[2016-12-05 03:46] Anthropic commented on #806
@s-a-85 well I would just watch the schema and form objects and if they were empty I would hide the entire form myself. But if you think it should clear both then I am happy to mark the issue as an enhancement request?

[2016-12-05 17:18] zfarrell opened #810 "Best practice for using multiple decorators for the same field type within a single app?"
I'm sure i'm just overlooking this somewhere, but i can't seem to find it documented anywhere...

I would like to use multiple decorators for the same field type (but for different forms).

As a simplistic example, say that i have two forms: `Form A` and `Form B`:
[code]

In `formA` i want to display checkboxes using a custom template (arbitrarily picking one here, but in reality there's likely se

[2016-12-05 18:15] twler opened #811 "Improve website usability"
#### Enhancement
It's hard to navigate the docs site, particularly the homepage schemaform.io and the examples pages.  This adds to frustration each time and decreases likelyhood that people will use the tool.

#### Expected behaviour
I expected an easy-to-find docs button on the home page, and reasonably sized font on examples page (it is huge).

#### Actual behaviour
It requires scrolling on hom

[2016-12-05 22:49] zfarrell commented on #810
I think i found what i was looking for, `sf-use-decorator`.

For those that it might help in the future:

The decorator(s) you're using have names, e.g. `schemaFormDecoratorsProvider.defineDecorator('bootstrap', {..`
`schemaFormDecoratorsProvider.defineDecorator('myCustomDecorator', {..`

Extending the example from above, you could explicitly choose one of the decorators like this:
[code]

[2016-12-06 15:43] coxrichuk opened #812 "Array / ui-sortable missing sortOptions"
I am passing `sortOptions` to set some options for `ui-sortable`, however nothing is being returned.

When I look at the bootstrap decorator I can see the variable is being pulled out

https://github.com/json-schema-form/angular-schema-form-bootstrap/blob/develop/src/array.html#L5

However inside the template cache:

`bower_components/angular-schema-form/dist/bootstrap-decorator.js`

I can see the

[2016-12-07 04:21] #810 closed

[2016-12-07 11:41] dhamodharanbaskar opened #813 "form validation json schema"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo
[Description](url)

#### Related issues
This is/maybe related to ...

@json-schema-form/angular-schema-form-lead

[2016-12-07 11:55] dhamodharanbaskar opened #814 "angular schema form validation"
need a create a form for jsonschema and validate it
i have created a request and used json schema to create a form but i cant validate that form in browser
it not a full project its a demo project given for training purpose

#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo

[2016-12-07 12:27] #813 closed

[2016-12-07 12:28] Anthropic commented on #814
@dhamodharanbaskar Why not take the demo we already made and use that?

[2016-12-07 12:43] dhamodharanbaskar commented on #814
Sure where is the demo

On Dec 7, 2016 5:58 PM, "Marcel J Bennett" <notifications@github.com> wrote:

[2016-12-07 23:28] EtiAggarwal commented on #778
Is there any update on this ?

[2016-12-08 01:00] Anthropic commented on #814
The demo is linked from the main page of this repo, it is in the examples folder.

Please re-open if you can provide more information (gist/plunker) to help us to help you :)

[2016-12-08 01:00] #814 closed

[2016-12-08 01:02] Anthropic commented on #778
It is working to some degree in the latest code I have but not ready for a release yet sorry I have some other bugs to overcome.

[2016-12-08 12:28] AndrewIsh commented on #683
Is there any progress with this. I'm currently working on creating a PR for #610, part of which is altering the name attribute formation from `form.key.slice(-1)[0]` to `form.key.join('.')` so if there are ongoing alternative plans for the formation of this attribute, I'd be better off using that. I like the idea of using `sfCamelKey` but it seems that the use case @kyse mentioned might be problem

[2016-12-08 12:36] AndrewIsh commented on #610
I am in the middle of creating what I hope will end up being a PR for this, based on the excellent work done by @ericxinzhang. I was a bit uneasy with modifying the way the name attribute is formed, partly because I wasn't sure of the implications this might have elsewhere, but also because there are plans afoot to alter it in #683.

In an attempt to avoid this, I created a custom builder called `

[2016-12-09 14:43] AndrewIsh commented on #610
Once I spent some time looking at this it became clear that it wasn't going to be as straightforward as I'd hoped.

The fundamental problem I've hit is that my application is using a `tabs` form type, whereas the solution proposed by @ericxinzhang is using a `tabarray`. Looking into it, is seems that these two form types are built in fundamentally different ways, the practical upshot of this is th

[2016-12-10 08:46] dhamodharanbaskar opened #815 "angular json form validation"
hi
need a validate json schema using the methods defined inside the json
gone through github and schema form
nothing gets clear since am a fresher
its a not a project just a demo given for the traning purpose
https://plnkr.co/edit/4mIteDMPQNw2q8TPzgrS?p=catalogue

[2016-12-10 09:04] Anthropic commented on #610
@AndrewIsh it is complex, taken me a long time to get up to speed on it, I haven't spent too much time on it for tabs, but I would expect that there needs to be ng-form added to catch the status of the form element children.

[2016-12-10 09:05] Anthropic commented on #610
@AndrewIsh this should probably be a new issue regarding tabs showing status as they are quite separate. Then we can discuss it there.

[2016-12-10 11:40] Anthropic commented on #815
@dhamodharanbaskar that plunker doesn't even include our library, so I am not sure what you want me to do. I've already told you that the demo http://schemaform.io/examples/bootstrap-example.html is the ideal place to start when building a demo. If you are struggling to know how to use Angular I suggest [Codecademy](https://www.codecademy.com/).

[2016-12-10 11:40] #815 closed

[2016-12-10 11:41] Anthropic commented on #804
Please re-open if you do not feel the question has been answered sufficiently.

[2016-12-10 11:41] #804 closed

[2016-12-11 00:19] Anthropic commented on #683
@AndrewIsh yes I have updated the way keys and ids are generated in the webpack branch, talk to me in gitter PM and I will fill you in on where changes are happening.

[2016-12-13 10:07] cheprus commented on #774
Here is probably a temporary alternative https://github.com/makinacorpus/angular2-schema-form
Untill the angular-schema-form will be ported to Angular 2.

[2016-12-13 10:18] nicklasb commented on #774
@Anthropic , @mmc41 , @cheprus :
It is possible to use ASF in Angular 2 with ngUpgrade for the time being.

I use it in the administrative interface for my framework:
https://github.com/OptimalBPM/of-admin/wiki/App-Entry-&-Bootstrapping

[2016-12-13 10:23] nicklasb commented on #774
The admin UI is also Angular 2, BTW.
Because A2 is about components, that part is kind of contained anyway, so it works well.
Sure, if one starts to intertwine stuff directly, one might encounter some problems, on the other hand, that is not a very nice architectural design choice.

[2016-12-15 20:16] zfarrell commented on #761
fyi, i believe the decorators.js link is out of date. I think this represents what @senyaak was linking to at the time this issue was created: https://github.com/json-schema-form/angular-schema-form/blob/0a8702464504cf143c1e7405de3c1e4f25ad4e4f/src/services/decorators.js#L193-L201

@Anthropic i noticed you added the `has: PR` label, but i don't actually see one. Am i just overlooking it?

[2016-12-18 08:43] dorin-niscu commented on #480
Seems that the problem is the multiple interpolation.
This works fine: `class="form-group {{\'schema-form-\' + form.type + \' \' + form.htmlClass}}"`

[2016-12-18 11:19] Anthropic commented on #480
@dorin-niscu what a coincidence, I changed it in my local build eight hours ago to:
"```form-group {{::form.htmlClass + ' schema-form-' + form.type}}```" and was going to build it soon :)

https://github.com/json-schema-form/angular-schema-form-bootstrap/blob/7b74047b4932b60f680544993a065ae94564e07d/src/bootstrap/default.html

[2016-12-18 13:26] Anthropic commented on #761
@zfarrell I have made changes in the webpack-babel branch to ensure the key is available which I believe will fix this issue. If you or @senyaak have any time, a unit test for this would really help me confirm it as fixed.

[2016-12-18 14:27] dorin-niscu commented on #480
@Anthropic Hehe yes :)

[2016-12-19 00:22] ericxinzhang commented on #610
Hello guys, highlighting the tab with errors is easy if jQuery is available. Please check out this example http://plnkr.co/edit/8TFFM0r3HPLrGP5HmqQA?p=preview, in which the highlightTabs() function add error number as badge after the tab label, and works for both tabs and tabarray. This function was actually created by my colleague.

If I had time, I probably would create a directive which will do

[2016-12-19 13:52] AndrewIsh commented on #610
Hi @ericxinzhang

Interesting. That certainly does work. My immediate feeling is that it doesn't feel particularly 'angular', it's more about adding UI sparkle based on the presence of classes adding following validation. While this is a valid approach, it feels cleaner for us to be basing our evaluation of whether a tab's pane contains invalid fields on the form object's `$error` property rather

[2016-12-19 19:36] RPGillespie6 commented on #811
This is very true. It's extremely difficult to find a complete working example anywhere. Even the demo page just gives you JSON, when what I really need is the code that goes into the angular module, controller, html, etc. The JSON is the easy part.

A complete, minimal JSFiddle would be a good start.

[2016-12-19 22:05] ericxinzhang commented on #610
Hi @AndrewIsh,

You are absolutely right, with angular we should minimize DOM manipulating. The solution is really a quick and short term one :-) but I'm glad it helps

[2016-12-20 11:04] AndrewIsh commented on #610
@ericxinzhang Just to update, I implemented this and it's working nicely. Many thanks for your suggestion, much appreciated :)

[2016-12-27 21:41] brandontrabon commented on #416
I'm just wondering if there is a way to use dot notation with the fieldset object? In our system we must use dot notation and I have created a custom ASF control that works like fieldset and makes ASF work with dot notation. I really don't want to have to create a custom "fieldset" object just to make this work so if anyone has an idea I would appreciate it.

[2016-12-30 13:54] mariusheil commented on #69
Any updates on this issue?

[2016-12-31 03:44] Anthropic commented on #69
@mariusheil I have one more failing test to fix before I start taking a look at it, Although anything implemented would not be much beyond what @AndreNel7 posted above, just internally.

[2016-12-31 07:11] yabasha opened #816 "Error in parsing starting and closing brackets"
#### Enhancement
As a developer, when I changed $interpolateProvider.startSymbol('%%'); the output
of the form was not rendered with the fields names and placeholders, as the used starting and ending symbols in the form code is '{{ }}'

#### Expected behaviour
It should use the modified starting and closing symbols and render the form elements correctly

#### Actual behaviour
It actually doesn't p

[2017-01-01 07:06] Anthropic commented on #816
@yabasha have you ever seen a library which changes its interpolation tags based on what the user has set as their start symbol?

[2017-01-01 16:48] Anthropic commented on #812
@coxrichuk can you try the version in `support/0.x` branch and let me know if that fixes it and if so I will push it out.

[2017-01-02 15:21] mnanom opened #817 "function stdFormObj not including properties { placeholder, labelHtmlClass, fieldHtmlClass, htmlClass, etc }"
In function stdFormObj in file src/schem-form.js is undefined attributes globals.

[2017-01-02 23:40] Anthropic commented on #817
@mnanom which version are you using and when do you get the error?

[2017-01-03 02:21] mnanom commented on #817
Version 0.8.13

[2017-01-03 03:33] Anthropic commented on #817
@mnanom any chance you could try the latest version in the feature/webpack-babel branch to see if it still occurs? What does the error look like?

[2017-01-03 09:37] daniel-codrea commented on #419
A simple solution is to work with the `sf-render-finished` event.
Something simple like:
[code]
is working for most of the cases. This will focus the first form element it can find.

[2017-01-03 22:34] toccoto opened #818 "Can't overwrite default updateOn when using radios"
#### Expected behaviour
When I use radio-inline with a default ngModelOptions updateOn set to blur, but a local updateOn set to default, the local one should override the global.

snippet:

$scope.formOptions = {
      destroyStrategy: 'retain',
      formDefaults: {
        feedback: false,
        ngModelOptions: {
          updateOn: 'blur'
        }
      }
    };

snippet for schema:

{

[2017-01-05 16:20] guptasuraj opened #819 "getting updateOn undefined error when using restangular in my config file"
TypeError: Cannot read property 'updateOn' of undefined
    at new controller (http://localhost:8099/static/vendor/angular/angular.js:28239:34)
    at Object.invoke (http://localhost:8099/static/vendor/angular/angular.js:4718:19)
    at $controllerInit (http://localhost:8099/static/vendor/angular/angular.js:10354:34)
    at nodeLinkFn (http://localhost:8099/static/vendor/angular/angular.js:9263:34

[2017-01-06 00:31] Anthropic commented on #819
@guptasuraj which version? Can you provide an example/demo?

[2017-01-06 00:39] Anthropic commented on #818
Thanks @toccoto I assume that setting it to change instead of default doesn't fix anything? Were you able to make any changes to templates that fixed it for you?

[2017-01-06 21:29] guptasuraj commented on #819
i am using angular v1.3.15 and restangular v1.5.2

[2017-01-08 07:32] Anthropic commented on #819
@guptasuraj which version of Angular Schema Form? Can you make a plunker or demo with the files you are using?

[2017-01-08 21:46] zcapin commented on #530
Does making fields 'readonly' speeds up your array?

[2017-01-08 22:30] nicklasb commented on #530
You'll have to try, but I don't think that it would matter all that much.
A workaround solution is to window it and just work with part of the array.
@Anthropic, do you know if there will be any major applicable improvements on performance?

[2017-01-09 03:19] Anthropic commented on #530
@zcapin which version are you using, you are best off with the version of bootstrap decorator from that repo and the schema-form version from this repo, they make the arrays much better than with the version of bootstrap found in the release here. The new builder will improve performance more in future too as we migrate more elements into it instead of in the old decorator style or templates.

[2017-01-09 12:29] zcapin commented on #530
I am using version 0.8.13 with bootstrap-decorator. But i have a huge form.json ~20000 rows, which leaves me helpless, there is simply no way that this works fast, and what happens after adding even more watchers... I think i read somewhere you made material-decorator that is very fast when compared to bootstrap-decorator?

[2017-01-09 18:09] SacSingh commented on #806
I was having the same issue. Assigning the code below would not clear the pre-rendered form content.
[code]
But now I've placed a conditional to check is $scope.From is empty and I'm calling the following code (provided by @Anthropic) to clear the previously rendered form.

[code]

[2017-01-09 18:58] nicklasb commented on #530
AFAIK, Excel isn't rendering 20000 rows either, it only renders those
visible and some more. It just looks like it because it does so in a smooth
fashion.

What you probably need is a windowing functionality that only renders the
visible part of the form.

However, I am not sure if it is easy to implement.

//Nicklas

Den 9 jan. 2017 1:29 PM skrev "zcapin" <notifications@github.com>:

[2017-01-10 11:45] s-a-85 commented on #806
@Anthropic Sorry for the late response. A work around is fine. Happy to close this issue.

[2017-01-10 11:45] #806 closed

[2017-01-10 15:17] zcapin commented on #530
Ok, i think i got it, removing duplicate keys seems to have a good impact :) Probably merging the form with the schema becomes problem? What happens?

[2017-01-10 22:43] Anthropic commented on #806
@s-a-85 thank you for your time :)

[2017-01-11 06:20] blackmiaool opened #821 "Document problem about "validationMessages""
@json-schema-form/angular-schema-form-lead

https://github.com/json-schema-form/angular-schema-form/blame/development/docs/index.md#L417

It's not a valid array. Maybe it should be:
[code]

[2017-01-12 11:18] ravicontata opened #822 "After broadcasting the "schemaForm.error.formKey" the formkey gets undefined if the user types in the field."
#### Expected behaviour
The value of the element in the angular form model must not be undefined if the custom validation event is broadcasted.

see the demo application, I have illustrated it there.

#### Actual behaviour
Value of model property gets undefined.

#### Gist/Plunker/Demo
[ Demo of the bug  @](http://jsbin.com/tenaxojehi/edit?js,console,output)

@json-schema-form/angular-schema-form-

[2017-01-14 15:42] #667 closed

[2017-01-14 16:58] Anthropic commented on #821
@blackmiaool thanks I made the update :)

[2017-01-14 16:58] #821 closed

[2017-01-14 19:57] ravikumarmistry opened #823 "Dynamic update of the Select type's titleMap not working for the array type schema which has an select property."
#### Enhancement
As a user/developer, when I try to update "select" type's titleMap it is not updating if it is in Array.

I have illustrated it in the [Demo](http://jsbin.com/tirekud/1/edit?js,output).

#### Gist/Plunker/Demo
[Demo](http://jsbin.com/tirekud/1/edit?js,output)

#### Related issues
This is/maybe related to copy of titleMap object and passed to the Array decorator instead of referenc

[2017-01-15 23:08] Anthropic commented on #823
@ravikumarmistry the titleMap isn't meant to be a watched value, that is a side effect of angular integration. There are a few add-ons that can allow for watching an object to populate a titleMap, but it would be useful and I will leave this as an enhancement as it would be nice if the solution in the material decorator worked in bootstrap also.

[2017-01-17 07:45] ravikumarmistry commented on #823
@Anthropic is this implemented in the material decorator.

[2017-01-17 21:52] Anthropic commented on #823
Yes, although the Material decorator has other issues... the add-ons would be your best option for now I expect.

[2017-01-18 13:01] ravikumarmistry commented on #823
@Anthropic i am thinking of creating an add on, I want to expose some of my controllers $scope property to be exposed in the form decorator. how can i archive it. Any guidance would be helpful.

[2017-01-18 14:13] Lorless commented on #799
@Anthropic Hi again, in answer to your question, directives themselves aren't being passed into the form but they do exist inside my custom elements. Often these directives have no way to know what context they are in apart from the 'form' variable available in each form element. So we tend to save stuff onto those form elements. Ie {type:'customSelect', key: 'object.name', isActive: false}. We th

[2017-01-18 14:23] Lorless opened #826 "Change key dynicamally"
Hi, I've got a scenario where I need to change the ng-model of a field.

It looks something like this.

`model['color']['breakpoints']['2000']['fieldName'];`

and needs to look like this

`model['color']['breakpoints']['1000']['fieldName'];`

Is there some way i can easily go about this? At the moment Im modifying the form and the model manually and have a directive to update the ng-model on the i

[2017-01-19 04:44] Anthropic commented on #799
This may be easier once I add the ability to reference state data, not sure how long that will take though... but then the add-on could set the value in state and not be bothered by a redraw at all. Although it could probably handle that within its own code anyway if you had a state provider.

[2017-01-19 09:09] Lorless commented on #799
I've actually got a state provider service already where I'm keeping track of things. I wanted to see whether it was possible to avoid using it as it can be a bit cumbersome. I'll use it for now. Thanks for getting back to me.

[2017-01-19 22:32] Anthropic commented on #826
Can you not have both in the form and use a condition to switch between them?

[2017-01-19 23:00] Anthropic commented on #823
You could add an angular directive to the template you make for the add-on that passes a value into the scope of the current field.

[2017-01-21 00:16] kyse commented on #817
I also ran into this.  Ended up resolving with a patch in the mean time, not sure how bad the extend call per field on performance is however.

Sorry, I've edited the vendor file a few times, not sure what the stock line # is, so pasting the surrounding code block as well.
[code]

[2017-01-21 05:12] kyse commented on #790
I know this is a few months old, but if you haven't gotten this taken care of yet:

Schema Form wants a function for the builder, because the loop will treat it as a function and try and pass it some params.

For some reason, even though the builder is being called from outside the config phase, the injector refuses to return anything other than Providers.  So doing some trickery with passing (pro

[2017-01-21 13:22] VladVM opened #828 "schemaFormValidate event doesn't trigger past v0.8.2"
#### Problem/question
I am trying to use schemaFormValidate event to make all the form fields validate on external event. After a few hours of digging into my code I've copied a libraries from plunker sample I seen before, and to my surprise I worked. I figured that the behavior changed somewhere after 0.8.2, but I was not able to find any mention on that in the documentation.

#### Expected behav

[2017-01-23 02:26] Anthropic commented on #828
@VladVM thanks for that, and the plunker, I will try to make a test case for it so it can get fixed :)

[2017-01-23 02:44] Anthropic commented on #828
I need to add a spec `src/directives/schema-validate.directive.spec.js` to test that the schemaFormValidate event is both heard and then processed.

Then I can track down and fix where the issue is occurring once it passes with older versions.

[2017-01-23 13:48] Anthropic commented on #828
@VladVM could you try it with the current version in development branch? Specifically if you think the test I added in `schema-validate.directive.spec.js` covers everything?

[2017-01-23 17:29] GarrisonKubis commented on #651
Hello,

I'm experiencing the same issue.

[code]

[code]

I am using version [0.8.13](https://github.com/json-schema-form/angular-schema-form/releases/tag/0.8.13) so I think bootstrap-decorator is still in the same repo (even though there is a `WHERE _IS_BOOTSTRAP_DECORATOR.md` in there).

[2017-01-23 19:31] VladVM commented on #828
@Anthropic I've tried it. I've reproduced the issue and then took the current dev version. Now it works as expected with the latest fix.

Spec file covers the exact scenario that was failing. I am not aware of other failing cases.

[2017-01-24 05:05] Anthropic commented on #651
@GarrisonKubis use the version of the bootstrap decorator from the bootstrap repo for 0.8.13

[2017-01-24 12:00] kyse commented on #826
You could also look at a ngModel getterSetter scenario to dynamically target a key on the model from a field.

[2017-01-27 10:29] kyse commented on #784
Needed this myself today, so here you go.

https://plnkr.co/4xXY7o

Adds two new methods to schemaFormDecoratorsProvider
- defineInheritedDecorator(name, fields, inherited)
  - Create new decorator inheriting from existing decorator (or target default decorator).  With this you can create new decorators without redefining templates/builders for types you don't intend on updating.  You can use this

[2017-01-28 03:33] zcapin opened #831 "New array example"
Anyone using newArray.html from bootstrap decorator? I am looking at this example: https://github.com/json-schema-form/angular-schema-form-bootstrap/blob/develop/src/array.html#L3, and it seems that my new-sf-array is always null and i have a type error in watcher: https://github.com/json-schema-form/angular-schema-form/blob/0.8.13/src/directives/newArray.js#L68. Expression is "" + ".length" so i

[2017-01-28 07:57] Anthropic commented on #831
@zcapin if the expression is evaluating to "" + ".length" then I suspect the schema and form have a config issue. If you make a plunker/demo I am happy to take a quick look.

[2017-01-30 08:33] YoYo35 commented on #774
Hi
Any estimation for this issue?

[2017-01-30 14:38] cmartin81 commented on #774
+1

[2017-01-30 22:06] Anthropic commented on #774
The first alpha of the core is out, once a few more fixes and a clean API are added then ng2 work can start using it. Timelines are a bit tricky to indicate, never know how much time anyone will have. I suspect once I get the ASF alpha out shortly that there may be a few more contributors willing to help work on it.

[2017-01-31 04:15] DDuTCH commented on #497
+1

[2017-01-31 13:59] shaun-here opened #832 "How to provide input id from the form schema?"
I want to add id to all html input fields through form schema.
How to do that?

[2017-01-31 14:11] Anthropic commented on #832
@shaun-here what do you want to achieve, an id is already added, but ideally you would use the model data rather than need to script anything against the form ids. The new version fixes up the id and name values to be correctly applied with paths `form-obj-array-4-obj-property` for example.

[2017-01-31 18:41] gatperdut opened #833 "combination of hidden and default inside object"
I want to build a (section of a) form which produces the following output:

[code]
The catch is, context should always be present - the only field the user gets to manipulate is minPrice. Immediately, a hidden field with a value comes to mind. So here's the schema definition:

[code]
And here the form definition:

[code]
However, observing the generated model it's obvious the entry context is not

[2017-01-31 21:07] shaun-here commented on #329
Can any help me integrating and using https://gist.github.com/deyceg/6a3bfe870f258ef839b3aaf6b1c5a912 in my project?

[2017-01-31 21:55] Anthropic commented on #833
@gatperdut can you display the field or you want it to be hidden?

If the field is in the schema it will work:
http://schemaform.io/examples/bootstrap-example.html#/39cc5a4a79c2b938df94fb7b8989ce19

[2017-02-01 05:10] kyse commented on #833
I've used this in the past to achieve hidden fields on the form.
[code]

[2017-02-01 05:13] gatperdut commented on #833
Guys, thanks a lot for your replies. Please close this issue and ignore me. I was too tired and put the relevant schema part one level within the json on top of where it should have been. Duh. Not an issue of angular-schema-form.

[2017-02-01 05:33] Anthropic commented on #833
@gatperdut thanks for letting us know

[2017-02-01 05:33] #833 closed

[2017-02-02 13:32] Anthropic commented on #633
@kohanyirobert the issue is actually a *feature of ngModel*, when you type in the text field **if the value is invalid ngModel removes it from the model**, so then when validating the entire form it no longer applies as the model it sends to the custom validator no longer contains the item to test against.

Thankfully there's an easy way around this is using `ng-model-options="{ allowInvalid: true

[2017-02-02 15:22] gatperdut opened #834 "translation in selects"
hi!

I have a select, its schema looks like this:

[code]

and its form def like this:

[code]

I'm using angular translate for the i18n. The select works flawlessly, however I haven't found a way to translate the actual items in the enum. Is there a way to do this?

I was thinking of something in the form def like this:

[code]

[2017-02-03 08:15] gatperdut commented on #834
Would it be possible perhaps to use `titleMaps` somehow like this?

[code]

...instead of having to enumerate all of them with their corresponding i18n:

[code]

Does that make any  sense? I think it'd be a cool addition - I can see too how enumerating them explicitly would be a problem in a dynamically fetched enum.

[2017-02-03 11:25] Nyasak opened #835 ""ng-model" property of a form control"
I am trying to see how i can set the "ng-model" property of a from control, all i can see is the "title", "description", "name" etc what about "ng-model" ?

[2017-02-03 15:43] oskanberg opened #836 "input :valid & :invalid pseudo-classes not being set appropriately"
#### Expected Behaviour
The CSS3 `:valid` and `:invalid` pseudo-classes are applied correctly when using Angular in-built form validation. CSS rules that apply to these elements work out of the box for angular forms that are using `.ng-valid` and `.ng-invalid`. I would expect angular-schema-form to manage these states correctly too.

#### Actual Behaviour
When using input validation with angular-s

[2017-02-04 11:30] Anthropic commented on #834
@gatperdut the current aim is to remove functions from the ui-schema where we can.
Any PR would need to include a method that took a tag or id in the schema and handled the lookup in the add-on ideally.

Have you thought about handling the translation in a function that is the provider of the select? There are a few different select options that look up titleMap from a function.

[2017-02-04 11:34] Anthropic commented on #835
The model property is managed by the framework based on the schema and form definitions. If the form key is "user.name" the ng-model will be set to "model['user']['name']".

Please re-open if you do not feel the question has been answered sufficiently.

[2017-02-04 11:34] #835 closed

[2017-02-04 11:41] Anthropic commented on #836
@oskanberg thanks for the example. I'd love some help in finding out what angular does to handle it.

[2017-02-05 09:20] gatperdut commented on #834
@Anthropic I am using titleMap in the form definition. Now I'm wondering if I should be doing that at all.

I'll give a try to your suggestion with the function.

[2017-02-06 09:48] gatperdut commented on #834
worked fine, thank you very much! I still believe though a function in the form definition assigned to `titleMap` would be very useful.

[2017-02-06 09:59] oskanberg commented on #836
I'm afraid I am not familiar with how Angular sets this property. I have had a quick dig in the source to find it, but it's a difficult topic to search for.

I know there is a [HTML5-spec API](http://stackoverflow.com/a/18883194) for setting form validity that is probably what we need, but would need a polyfill for older browsers.

[2017-02-07 00:10] zcapin commented on #831
It seems I did have a bug in my form config... :(

This plunker proves everything working fine

[2017-02-07 00:10] #831 closed

[2017-02-07 00:10] zcapin commented on #831
It seems I did have a bug in my form config... :(

This plunker proves everything working fine. https://plnkr.co/edit/9GjN0bDNQm7t7pgm1KQu?p=preview

[2017-02-07 16:08] peckomingo opened #837 "Get value from model without $$value$$"
I know that $$value$$ gets string replaced by SF with the link to the model in the background like this.
_model[theKeyFromForm]_. In some situation I can not use $$value$$ and I want to do it also "manually". Writing _model[myKey]_ works fine on flat structures.

But is there a way or a API provided by SF to do it out of my controllers with more complicated keys like the ones from repeated rows an

[2017-02-07 19:16] therecluse26 opened #838 "Adding array breaks form"
I have this schema built that I'm trying to add an array to, and whenever I do, it just breaks the entire form and nothing outputs. I'm not sure what I'm doing wrong, if you could help me out, I'd appreciate it a ton! When I change the one array in here to object instead, the form renders properly, but when I change it to an array, the entire form stops rendering and no error outputs to the log.

[2017-02-07 23:12] Anthropic commented on #837
@peckomingo the model is just a normal javascript object structure and can be accessed from angular code in your controller  $scope.model.mySpecialKey[0].fieldName is that what you mean?

[2017-02-08 03:27] Anthropic commented on #834
@gatperdut there is such an option in the Material decorator already.

You can look up the example for [titlemaps.json](https://github.com/json-schema-form/angular-schema-form-material/blob/develop/examples/data/titlemaps.json) used by the controller in [example.html](https://github.com/json-schema-form/angular-schema-form-material/blob/develop/examples/example.html) and see that with the followin

[2017-02-08 03:27] #834 closed

[2017-02-08 03:33] Anthropic commented on #838
@therecluse26 your array is incorrectly defined, you don't have properties defined in an array, the item definition IS a property of its own. If you want to define an object with properties you have to define the object within the array first.

[code]

[2017-02-08 03:33] #838 closed

[2017-02-08 04:17] therecluse26 commented on #838
Thank you! That was driving me nuts! I must have missed that in the documentation

[2017-02-08 13:18] Anthropic commented on #811
@tyrw agreed, thanks for the feedback, I've had the same thoughts myself. I'm looking into dgeni to see if we can generate a documentation based site at some point, but we rely on community contributions, so unless someone is willing to mock up a basic website for us or make a PR I have to focus on functionality for work more than anything else.

@RPGillespie6 check this Plunker out https://plnkr.

[2017-02-08 13:53] peckomingo commented on #837
Somehow I mean this, yes... but...
Lets say I have such a key notated as a string in the scope of a form of a component like so:
scope.form.key = mySpecialKey[0].fieldName

before the form gets built the key stays the same, but when the form gets build and the json's merged this key mutates to a array construct.

So if I manually want to look for the model information in the key. How would I do th

[2017-02-08 16:31] tyrw commented on #811
@Anthropic very much understand.  It is noteworthy though that in the time since I made the initial comment, we ended up rolling our own literally because the documentation is too painful to navigate.  The main culprit honestly is the giant font size for the schema page.  It seems like that would be a 5 minute fix, but I don't have a dog in the fight anymore.  Thanks for running the project either

[2017-02-08 19:23] raquintero opened #839 "How to Trigger a validation error on a field that is in an nested array."
Hello,
I have a regex pattern on a field, with my custom validation message that works fine normally.
[code]
The key for this field is `parentA.parentB.parentC.parentD[].fieldA`
However, if the value for `fieldB` changes, the acceptable range of values for `fieldA` needs to change, so basically, I want to know how to "trigger" this validation message on the form, if it is inside of an array?
From

[2017-02-08 20:07] nicklasb commented on #811
@RPGillespie6
It should be noted, WRT dependencies, that they are listed on the front page of the git repo:
https://github.com/json-schema-form/angular-schema-form#script-loading

So they also include angular and angular-sanitize.
And that ObjectPath is included in >1.0.

[2017-02-08 21:03] RPGillespie6 commented on #811
@Anthropic Looks good to me. That would have saved me a lot of time having a complete working example and I'm sure it will help others.

@nicklasb That's where I eventually found them, however the landing page for this library from google for me was http://schemaform.io/ and from that landing page I spent a lot of time trying to get an example working from the demo and documentation. If I had know

[2017-02-09 04:52] Anthropic commented on #837
ObjectPath is included with the library and includes path traversal in normalised format and a combination of normalised or natural. "model['obj']['array'][4]['field']" vs "model.obj.array[4].field".

[2017-02-09 11:06] nicklasb commented on #811
@RPGillespie6  Ok, I guess I am a bit github-centric, perhaps. But of course there should be a link.

[2017-02-09 23:06] Anthropic commented on #839
@raquintero I've done similar by changing the options in the form based on conditions. But it depends on how many different values B has as to how well that would work for you. Have a look at the calculate plugin I added to the examples int he alpha, you may find you can validate against a hidden field instead and calculate its value from field B.

[2017-02-10 19:50] chargrove commented on #484
I'm seeing the issue here and it is just that the title field doesn't show when putting in a "type":"date" for the schema.  This falls back to the default field template and the title doesn't actually show unless specified from the Form definition.

http://schemaform.io/examples/bootstrap-example.html#/66a572514f0363b77f3ef2a7bc40a8c5

They also reference this problem on issue 412.

[2017-02-11 22:39] Anthropic commented on #484
Thanks @chargrove for finding a previous issue and providing example, appreciate it :)

[2017-02-11 23:48] Anthropic commented on #484
The schema cannot be set to type: date, that is [not a valid json-schema type](http://json-schema.org/latest/json-schema-core.html), you can only set that in the form definition.

Here's a working example:
http://schemaform.io/examples/bootstrap-example.html#/7dbeb20f58be76c7609d6f304ba1083d

[2017-02-11 23:48] #484 closed

[2017-02-15 15:13] rayhooker opened #840 "Decorate a Multiple Select with TitleMap/ Enum"
Thanks to your advice, I was able to add a decorator for popuphelp and for adding the capability to do a review of multiple entries.  This works for all fields except it does not trigger for a field defined such the following properties def for "things" from your demo:

    "things": {
      "type": "array",
      "title": "I like...",
      "items": {
        "type": "string",
        "enum": [

[2017-02-16 03:00] Anthropic commented on #840
Hi @rayhooker I don't remember the other issue, what are you trying to do exactly, can you break it down a bit further for me please as to what you have done so far? A builder is just a function so there's no reason you can't attach a builder to an array or string and have them check they match criteria you want them to before executing.

[2017-02-16 20:05] rayhooker commented on #840
Marcel,  So I am talking about a decorator such as "popuphelp" that will take a help string as input and add to the form element an icon that pops up the help.  I defined it and added it to the default builders in bootstrap-decorator and then defined it in schema-form.js.

I then created a similar one to allow people to see update history for a rater reliability feature.  I noticed that it did not

[2017-02-16 20:12] RedDroid commented on #342
Hi @minutephp ,
Can you create a PR for this? I'm using angular schema form in my project and I need to display checkboxes inline, so this will be helpful.
thanks

[2017-02-17 09:32] jimmykane commented on #45
Is this resolved ? I am having this issue with latest stable.

[2017-02-18 10:55] Anthropic commented on #45
@jimmykane it looks like it should be, have you tried with the alpha?

[2017-02-18 14:43] Anthropic commented on #840
Hi Ray, the one you want to look at for that is the checkboxes row, it doesn't use the defaults, although I plan to change that as it uses the defaults with one appended, so that would be a better syntax.

[2017-02-18 19:10] rayhooker commented on #840
Marcel,  Excellent! That works.  For some reason when I scanned the list I did not notice that checkboxes did not call defaults.  I went ahead and added it.  I have to update the base code and will try to track as you externalize the ability to specify decorators and builders.  For now at least it works!

Thanks.

[2017-02-18 21:51] #837 closed

[2017-02-19 03:50] Anthropic commented on #840
@rayhooker glad to hear it :)

[2017-02-19 03:50] #840 closed

[2017-02-19 13:48] Anthropic commented on #69
@mariusheil the second alpha has $ref pre-processing

[2017-02-19 13:50] Anthropic commented on #69
This is now in 1.0.0-alpha.2 and has passing tests

[2017-02-19 13:50] #69 closed

[2017-02-19 13:52] Anthropic commented on #564
As of 1.0.0-alpha.2 $ref is supported as a preprocessing step.

[2017-02-19 13:55] Anthropic commented on #113
@rhalff as of 1.0.0-alpha.2 $ref is supported as a preprocessing step.

[2017-02-19 13:58] Anthropic commented on #687
As of 1.0.0-alpha.2 $ref is supported as a preprocessing step.

[2017-02-19 18:14] jimmykane commented on #45
@Anthropic Is alpha stable enough? We have our own decorators unfortunately and somehow I caught right now in the middle.
Might the bootstrap decorators (repo link?) work or should I test also against alpha?

[2017-02-19 21:06] Anthropic commented on #45
angular-schema-form-bootstrap repo is in this org, if you use the decorator file from there it is more recent than the bundled one in bower. Are you setting validate on render? If not it would only validate on submit.

[2017-02-20 09:36] jimmykane commented on #45
@Anthropic Will check this out. Just saw some sf-new-array and the old one got deprecated. So let me check that.

[2017-02-20 16:50] coxrichuk opened #841 "Custom field / Nested key breaking validation"
I have created a Custom Textbox and I want to return a nested json to the model.

When I set the `key` in the `form` to `myfield.value`

It breaks the validation and never returns the model

However if I use the standard Schema form text box it works as expected return the model with a nested key

**Schema / Form**

[code]
**Custom field**
[code]
[code]

**Model I am expecting when all fields comp

[2017-02-20 18:22] donalmurtagh opened #842 "Remove bootstrap-decorator.js from bower distribution"
When I install v. 0.8.13 with bower, the `bower_components/angular-schema-form/dist` directory has the following contents
[code]

`bootstrap-decorator.js` and (`bootstrap-decorator.min.js`) should not be included in this distribution, because the docs and `WHERE_IS_BOOTSTRAP_DECORATOR.md` state that this has been moved to a separate repository.

Also, `bootstrap-decorator.js` contains references t

[2017-02-21 00:27] jimgrimmett commented on #689
Can confirm that the kitchen sink is working but when using the code locally the destroy handlers are not called and the model stays as it was.

Will there be a 0.8.14 bugfix releaseor is the 1.0 release the next we can expect?

[2017-02-21 09:23] Anthropic commented on #689
@jimgrimmett I've had several reports that the v1.0.0-alpha's are working pretty well for the few people already using them, would love to know if this is still an issue in that, I think the test cases covered it. But nothing beats human verification :)

[2017-02-21 12:19] Anthropic commented on #841
Essentially both fields were getting only "value" as their id/name because of "{{form.key.slice(-1)[0]}}", so only one got updated. Names and Id's are now generated differently in the alpha of v1 using a function to get the full key path, you could try just joining your keys with .join("-") in your template.

Please re-open if you do not feel the question has been answered sufficiently.

[2017-02-21 12:19] #841 closed

[2017-02-21 12:36] jimmykane commented on #45
AS far as I checked the following:
[code]
Will validatate for the whole form but not for the checkboxes. The form state is invalid but only after a change is triggered the checkboxes get the correct validity state

[2017-02-21 13:28] jimmykane commented on #45
Here is the plnkr as well https://plnkr.co/edit/fjSB0WgkJ46GuQZW6sz8?p=preview

The problem is still there but not on alpha

Tested -> Alpha is ok
Tested -> Old .8 with new decorators not OK.

[2017-02-21 21:53] aelamrani commented on #651
+1

[2017-02-22 03:50] sinqinc commented on #751
@Anthropic I'm trying to implement a very basic data table in a module I made. Could you share your code?

[2017-02-22 04:22] wtm17 opened #843 "Password type input not using custom default template"
When using `addMapping` method on `schemaFormDecoratorsProvider` to override the `default` template with a custom template, inputs of type `password` do not use the custom template. Inputs of type `text` and `email` do use the custom template.

Here is a plunker to demonstrate the issue:
https://plnkr.co/edit/6cW9LibLnO3NkMazJed7?p=preview

@json-schema-form/angular-schema-form-lead

[2017-02-22 15:59] wtm17 commented on #843
I have a fix for this. The password field gets updated when you add this line to the module config:

[code]

I've updated the Plunker. I'm not sure if this is actually a bug - it may be functioning as intended.

[2017-02-23 06:51] akramabdulrahman opened #844 "date picker addon page is not found !"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected the date picker addon page to be found

#### Actual behaviour
It actually gave me a 404 not found response

#### Gist/Plunker/Demo
i've installed it yesterday to my project , i went back to it today to see how to customize stuff
go to
https://github.com/json-schema-form/angular-schema-form-

[2017-02-23 07:15] MaggieBi commented on #689
Can confirm that this issue is still present with the v1.0.0-alpha, the hidden values are not removed from the model even when `destroyStrategy: 'remove'`

[2017-02-23 16:16] donalmurtagh commented on #625
I also get this issue when I use `angular-schema-form-bootstrap 0.2.0` with `angular-schema-form  0.8.13`. Here's a [plunker demo](https://plnkr.co/edit/JBDUMFos47aF39KkMDqF?p=preview). As soon as you add one item to the array you get the field error "Invalid type, expected array" is displayed.

[2017-02-23 22:57] Anthropic commented on #844
@akramabdulrahman where was it mentioned here?
The plugin is not part of this org it is located at [github.com/**Textalk**/angular-schema-form-datepicker](https://github.com/Textalk/angular-schema-form-datepicker)

[2017-02-24 11:42] akramabdulrahman commented on #844
well , it is mentioned in the full documentation section
https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md
this snip shows where it is mentioned
http://imgur.com/a/bo7xJ
sorry for the late response , and thanks for your fast response , people like you are awesome 👍

[2017-02-26 08:13] #828 closed

[2017-02-26 08:22] Anthropic commented on #844
Awww you're making me blush 😊

Updated, thank you for letting me know :)

[2017-02-26 08:22] #844 closed

[2017-02-26 08:24] Anthropic commented on #842
Duplicaate of #699

[2017-02-26 08:24] #842 closed

[2017-02-26 08:28] Anthropic commented on #699
This is updated in the Alpha releases, they will be pushed to bower as part of v1.0.0

[2017-02-26 08:28] #699 closed

[2017-02-26 08:31] Anthropic commented on #779
Please re-open if you do not feel the question has been answered sufficiently.

[2017-02-26 08:31] #779 closed

[2017-02-26 08:42] Anthropic commented on #678
@kyse as your code suggestion is in the alpha I will close this, let me know if there is anything more you think needs doing on it :)

[2017-02-26 08:42] #678 closed

[2017-02-26 08:46] Anthropic commented on #684
@DianaStockford did you sort out the issue?

I'm doing housekeeping, so I will close this as it has been a while, if you still have an issue please re-open and let me know.

[2017-02-26 08:46] #684 closed

[2017-02-26 08:47] Anthropic commented on #788
Please re-open if you do not feel the question has been answered sufficiently or you have more to add.

[2017-02-26 08:47] #788 closed

[2017-02-26 08:48] Anthropic commented on #832
Please re-open if you do not feel the question has been answered sufficiently.

[2017-02-26 08:48] #832 closed

[2017-02-26 08:51] Anthropic commented on #805
@Lorless did my last comment help at all? I am closing this as it's been two months please feel free to re-open it if you have an enhancement suggestion you think should be added :)

[2017-02-26 08:51] #805 closed

[2017-02-26 08:55] Anthropic commented on #782
Please re-open if you do not feel the question has been answered sufficiently.

[2017-02-26 08:55] #782 closed

[2017-02-26 09:08] Anthropic commented on #787
I added this as one of the examples, so I am closing the issue.

Please re-open if you do not feel the question has been answered sufficiently :)

[2017-02-26 09:08] #787 closed

[2017-02-26 15:12] Anthropic commented on #625
@donalmurtagh I have a fix for that based on comments in #649, will get it out in alpha.3 this week, should have in dev branch in the next day or two I hope.

[2017-02-27 02:51] Anthropic commented on #506
This is part of 1.0.0 alpha using the agnostic core and the builder that can be used for Material decorator too. More work will go into it, but I think we can close this issue.

[2017-02-27 02:51] #506 closed

[2017-02-27 11:09] ssaallmmaann opened #845 "Dynamic form schema"
#### Enhancement
As a user/developer, I should be able to construct form by sending schema from external service. So, in theory, data and schema both are externallised unlike current implementation where i need to define schema before hand.

#### Expected behaviour
I expected that we can make the schema dynamic as well. Like sending schema information to build a form by calling a service instead o

[2017-02-27 11:52] radvansky-tomas opened #846 "Extend Decorator to view Input Model Immediately"
Hi I am using 3rd party decorator and I would like to add my own template which is in fact <input> with type = range. Everything works fine.

But next step is to add some label/input to show currently selected value by range control.

I tried different combinations of sf-model, but none of them seems to work. Could you please post me to right direction ?

[code]

@json-schema-form/angular-schema-f

[2017-02-27 12:57] Anthropic commented on #567
The templates were updated for the alpha releases.

Please re-open if the issue persists in the alphas.

[2017-02-27 12:57] #567 closed

[2017-02-27 13:14] Anthropic commented on #568
This works in the alphas for v1.0.0, you can pass whatever($index)

[2017-02-27 13:14] #568 closed

[2017-02-27 13:18] Anthropic commented on #846
@radvansky-tomas can you make a plunker demo of what you are doing so far?

[2017-02-27 13:21] Anthropic commented on #845
@ssaallmmaann I already load my schemas remotely, not sure what you mean, it is angular, you can set the schema and form values from a $http call if you like?

The latest alpha supports $ref as well. Can you make a plunker of what you are trying to do?

[2017-02-27 13:28] radvansky-tomas commented on #846
I am using for my forked version of Angular Ionic Schemaform Decorator:
https://github.com/radvansky-tomas/angular-schema-form-ionic

This is more less generic question which you should be able to replicate with any decorator.
Lets say that you have basic input text. And you want right next to it display <p> element bound to same model as is bound to that input.

This is what I am trying to achiev

[2017-02-27 13:29] Anthropic commented on #822
@ravicontata thanks for the demo, really helpful, sorry I missed this issue till now :)

[2017-02-27 13:39] Anthropic commented on #846
@radvansky-tomas ok I see, that's clearer for me, so what I would do is pass your model into a property of a directive and have the directive controller handle the update of your model value, you don't have to do it all in the template alone, you can add your own directive or controller to manage your template and pass things to it.

In other words your two separate items may both have code to loo

[2017-02-27 13:53] radvansky-tomas commented on #846
@Anthropic Thank you very much for quick reply, but unfortunately I dont understand :(

Where exactly I can place code to control my elements ? In decorator.js file ? Or you want me to control it from "client" app ?

[2017-02-27 14:00] Anthropic commented on #846
In the client app, you can add directives/controllers that use your template and the values set in it.

Say you have a tag structure like:
[code]
You can have a controller that defines the value to be used in your child elements.

At the end of the day apart from a few values it is not much more than a standard angular template you can do whatever you like to it with the value it gets passed. I'm

[2017-02-27 14:31] radvansky-tomas commented on #846
https://plnkr.co/edit/GNI0JS?p=preview

[2017-02-27 14:31] radvansky-tomas commented on #846
Sorry It took my a while, I havent use this tool before

[2017-02-27 19:45] donalmurtagh commented on #625
@Anthropic Great, I'll try that out alpha3 as soon as it's available. It would really be appreciated if you could mention in the release notes of alpha3 which version of the bootstrap decorator it should be used with.

[2017-02-28 11:39] oskanberg commented on #424
Any update on this bug?

[2017-02-28 13:28] Anthropic commented on #595
If you find the code `&& Object.keys(schema.properties).length > 0` and remove it, then add `{"key":"submit", "type": "hidden"}` to your form it would work. I'll look into something more permanent though.

[2017-02-28 14:00] Anthropic commented on #424
@oskanberg there's two ways this can be done.

When a submit is triggered or the schemaFormValidate event is triggered, the form will again display the error. You can see here when you follow the original instructions and then click submit
http://localhost/asf/examples/example.html#/99678122dfeb31c38454edae6d0ac826

Alternatively you can also update the destroyStrategy to `retain` and set `allowIn

[2017-02-28 14:03] Anthropic commented on #803
@vdesh1234 look at the calculate add-on, that can do what you want it to I would expect.

It is included in the examples in the repo now.

Please re-open if you do not feel the question has been answered sufficiently.

[2017-02-28 14:03] #803 closed

[2017-02-28 14:16] Anthropic commented on #741
@mnzaki can you make an example gist for me to test against?

I made a gist and when I set to startEmpty it worked as intended, I suspect it may be a combination of values causing the display issues and I'd love to know what your form/schema combo contained.
http://localhost/asf/examples/example.html#/daee70e7734f16229073d7d122cdff67

[2017-02-28 14:33] Anthropic commented on #707
@warmy1004 would love to know if anything has changed with the alpha releases regarding this? Probably not, but it would help to know.

[2017-02-28 14:34] Anthropic commented on #682
@AndrewIsh would love to know if anything has changed with the alpha releases regarding this? Probably not, but it would help to know.

[2017-02-28 18:27] donalmurtagh opened #847 "Using other fields values in a custom validator"
The docs include this example that shows how to write a custom validator for a field:

[code]

Is it somehow possible to use other field values in a custom validator? For example, if we want to apply the validation above only if `model.gender == 'MALE'`?

[2017-02-28 23:31] Anthropic commented on #847
I would suggest not using $validators from the ui-schema, instead if you have a controller or a directive to manage it, then you can make scope available to it when you define it.

[2017-03-01 08:12] biapar opened #848 "It's support Angular2?"
It's support Angular2?

[2017-03-01 10:34] donalmurtagh commented on #847
Based on the example above, it isn't possible to do this with `$validators`, because the validation function only provides access to the value of the field itself, or am I missing something?

Are you suggesting that I should implement this with an [addon](https://github.com/json-schema-form/angular-schema-form/blob/master/docs/extending.md)?

One solution I'd considered is to define an addon which

[2017-03-01 16:22] ruben0909 commented on #848
#774

[2017-03-01 20:25] warmy1004 commented on #707
@Anthropic I tested my issues again with schema-form 1.0.0 alpha2. And I found another one thing.

I just changed schema-form version to 1.0.0 alpha2. Rest of libraries are same as before.

A validation for a radios-inline type with boolean values (true and false for titleMap's value) is acting weird. When No radio button is selected, Required error is coming. But this issue is not happening if I

[2017-03-01 23:40] #848 closed

[2017-03-01 23:47] Anthropic commented on #707
@warmy1004 thanks, I really appreciate your effort to write issues properly and your detailed responses :)

Basically I had a hard time getting to the alpha as the tests were not working and there was not enough coverage for me to feel confident making changes to a framework I didn't write, but I'm in a good place with over a hundred test cases and code I understand now so starting to make more pr

[2017-03-01 23:56] Anthropic commented on #847
@donalmurtagh if you look at [setting up defaults](https://github.com/json-schema-form/angular-schema-form/blob/master/docs/extending.md#setting-up-schema-defaults) you can see the use of the provider to apply form attribute selection, you could apply your validator to f as the f value in the example is the form definition and I would expect that adding the validator here where it can access your

[2017-03-02 14:29] icxDave opened #849 "Error: [ng:cpws] Can't copy! Making copies of Window or Scope instances is not supported."
Error: [ng:cpws] Can't copy! Making copies of Window or Scope instances is not supported.
When upgrading to Angular 1.6.0+, upon
`$scope.$broadcast('schemaFormValidate');`

there is an error with angular 1.6.0+ that will prevent the $$scope from when Angular copies the element/ng-model:

Stack Trace:
<img width="617" alt="screen shot 2017-03-01 at 7 09 12 pm" src="https://cloud.githubusercontent.c

[2017-03-03 03:11] Anthropic commented on #849
@icxDave thanks for letting me know, it looks like it may be a bug in 1.6 to be fixed in 1.6.1 based on reading this:
https://github.com/angular/angular.js/issues/15479

Could you try their solution and let me know if it fixes this or not?

[2017-03-03 06:11] vinceis1337 commented on #568
Excited to see this functionality in 1.0.0!

[2017-03-06 19:18] derekm commented on #214
I agree with @plong0 ... It would be nice to hide the `help-block`s if error states are suppressed.

[2017-03-06 19:57] derekm commented on #214
I modified @plong0's styles to be:
[code]

[2017-03-07 00:13] derekm opened #850 "Hide `help-block` margins until `form-group` gets `has-error`"
`help-block`s in the `bootstrap-decorator` consume whitespace even when error states are disabled. In issue #214, user @plong0 points out that it would be nice to hide `help-block`s until there are errors.

This is an issue because `help-block` has top & bottom margins that consume space and tend to make form inputs appear "too far" apart.

I used a version of plong0's CSS, which is:

[code]

Ulti

[2017-03-07 10:11] itaimo opened #851 "Empty Form"
#### Empty Form - please advise
I added Schema Form and filled the relevant data but couldn't see the content presented:
Controller:

     vm.schema = {
            "type": "object",
            "title": "Comment",
            "properties": {
                "name": {
                    "title": "Name",
                    "type": "string"
                },
                "email": {

[2017-03-07 15:42] ivarprudnikov opened #852 "Radio buttons do not store boolean values in array"
#### Radio buttons do not store value

Documentation contains example of radio buttons with titleMap that binds to boolean schema field and it works unless those radio buttons are in Array.

#### Dependency versions

- angular 1.5.11
- angular-sanitize 1.5.11
- angular-schema-form 0.8.13
- jquery 1.9.1
- ObjectPath 1.1.0 (bower version)
- TV4 1.2.7 (bower version)

#### Gist/Plunker/Demo
[Plunker

[2017-03-08 06:39] Anthropic commented on #851
@itaimo the "result" link doesn't work for me, can you fix it?

[2017-03-08 11:37] AndrewIsh commented on #686
@Anthropic I'm not sure how this would be implemented. If I'm sending a `schemaFormValidate` broadcast, that's a fire and forget. I'm not sure I understand how `scope.$apply()` could be used in this context. Apologies if I'm being dim ;-)

[2017-03-09 22:08] albertjose commented on #731
@laura-h please, you can explain better how do that?

[2017-03-10 04:09] vinhthang commented on #852
I tried your example with schemaform.io example and it worked

http://schemaform.io/examples/bootstrap-example.html#/b253cb6f17d61e46eee2bbfe448b63d7

maybe you should change to 1.0 alpha

[2017-03-13 04:59] Anthropic commented on #852
@ivarprudnikov @vinhthang this was an issue introduced by the new builder, it should be fixed within the alpha, but there are some issues still with add-ons, so if you aren't using any add-ons then you should be fine to go with the alpha now. Otherwise you may have to downgrade to 0.8.12 which I think is what the schemaform.io demo is using.

[2017-03-13 05:01] Anthropic commented on #852
@john-latham is this one of the issues you have been having?

[2017-03-14 14:08] hlobit opened #853 "Not required nested object form fields validation"
#### Enhancement
As a user, when I don't fill in any of the fields of a nested object I should be able to validate if schema does not specify this object as required.

#### Expected behaviour
I expected the model to be valid if it successfully validates with json schema.
For instance, tv4 validates the following model with schema :

[code]

[code]

#### Actual behaviour
Angular Schema Form conside

[2017-03-15 22:34] Anthropic commented on #853
@hlobit that isn't likely in the near future as tv4 is run at the field level not on the entire object. Ideally we will find a way to upgrade away from tv4 to a validator fast enough to make whole object validation an option, but there's a lot of work in that obviously.

To replicate the outcome you desire in the short term, you would have to define the form with a field (checkbox maybe) to trigge

[2017-03-16 17:36] mferreira92 opened #854 "two forms on the same page"
Hi,

I have a situation where I will need in the same page two schema forms.

How can I load two completely different forms on the same same?

I've tested adding two examples on the same page, but it will load only the first form
(e.g. http://schemaform.io/examples/bootstrap-example.html).

I've changed the div ID beucause it could be an overwrite, but still no luck. Do you have any guidance on th

[2017-03-17 12:12] hlobit commented on #853
@Anthropic nice workaround for the moment, will do that with a checkbox, this is also more explicit for the user.

I couldn't find issues related to this, maybe there are other side effects due to the fact that validation is performed at field level, but apparently not reported yet...

[2017-03-20 03:26] Anthropic commented on #854
You want the same schema with two different form definitions?

Can you make a plunker, I can tell you what you are doing wrong if I have a reference to refer to?

[2017-03-20 03:36] Anthropic commented on #853
It would be quite easy to add a directive to your app to watch for a style you put in your ui-schema which then does an additional validation from an object level. I did it for a very basic support of anyOf but you could certainly modify it to validate from any point within the form all the child validation.

The allowInvalid stops the child validations, so up to you if that is needed.
It then run

[2017-03-20 16:58] cividinidavide commented on #480
Any news?

[2017-03-21 04:52] Anthropic commented on #480
@cividinidavide this should be working fine in the alpha version, if you are waiting on stable it wont be too much longer.

[2017-03-21 13:02] mark007 commented on #625
Hi, Id be interested to see your fix for this in alpha 3 also Anthropic. Is a patch already merged for the fix?

[2017-03-21 13:07] mark007 commented on #741
I also can't get the defaults to work on my development machine. On the example page here, when I add defaults for arrays they work fine, http://schemaform.io/examples/bootstrap-example.html. In my current project I'm using the following in my bower.json and the defaults for arrays don't seem to work. Could this be because of the fact that its an alpha version of schema-form I'm using?

    "angul

[2017-03-21 16:20] Lorless commented on #847
Im also having trouble here. I need to make sure several values are not the same but I have no access to the model in my validator.

@Anthropic, your suggestion above seems it would affect every instance of that type of field. That doesn't seem viable, or the right way to do things. Even if we managed a way to turn that specific validator on or off we still have the issue of integrating with schem

[2017-03-21 17:51] Lorless opened #856 "Adding form fields on the fly"
I have a scenario where I need to add form fields after the form has been rendered. Usually this just works with a little processing of the keys on my part.

I've hit a problem where arrays added on the fly do not work correctly, mainly the add buttons do not increment the array number and drag and drop re-ordering does not work. Of course I could just call 'schemaFormRedraw' but the angular.copy(

[2017-03-21 19:32] krptodr commented on #709
@brianpkelley This fixes the issue, but introduces an issue with the validation. After you clear the field the validation sticks saying it's successful.

[2017-03-22 01:12] Anthropic commented on #625
@mark007 due to family emergency I haven't gotten alpha 3 out yet, I am hoping to get something out this weekend if everything lines up for me.

[2017-03-22 03:37] Anthropic commented on #856
@Lorless which version are you using, an alpha? Arrays are working better in the alpha. Still some work needed on the alpha to get add-ons working properly again, but should be sorted very soon.

[2017-03-22 08:37] mark007 commented on #625
Thanks Anthropic. In general is there a list of features in lets say json schema draft 4, that asf currently does / doesn't support? I couldn't see any particular list on the github pages themselves, ie whether theres support for validation of things like string types with particular formats, like ipv4 etc. From searching the code I assume things like that aren't in there currently, but just wante

[2017-03-22 09:28] Lorless commented on #856
@Anthropic 0.8.13 I think but its hard to know for sure since none of the files have version numbers. That appears to be the latest version though? Are you saying that adding array form fields after render might work in the latest version?

[2017-03-22 22:33] jagould opened #857 "boolean values allow true only on generated schema"
We are generated schema automatically from java pojos using jackson libraries.  in that library boolean values automatically get "required", which makes sense as in java this is a primitive and so cannot contain null.

Unfortunately, forms are now generating with a checkbox  that only allows "true" as the value.  This appears new as it did not occur in prior versions of angular-schema-form.  Also,

[2017-03-23 03:38] brianpkelley commented on #709
https://github.com/json-schema-form/angular-schema-form-material/issues/18

I don't recall the exact circumstances that led me to the solution I posted on the link above, but it may offer more help if needed.

[2017-03-23 16:38] donalmurtagh opened #858 "allow more fine-grained control of destroy strategy"
Currently, the destroy strategy for conditional fields can only be specified at the form level, but it would be useful if you could have different strategies for different fields.

In my case, I use conditions to implement pagination-like behavior, such that
[code]

At the bottom of the form there are previous/next buttons which update the value of `model.page`. Obviously we would never want to re

[2017-03-23 21:03] jagould commented on #857
Rereading my post, apologies if my ranting is unclear.  So to clarify, the schema below has "myBoolean" as a required field.  The generated form using the default form ["*"] displays an error when the checkbox is empty even though the underlying json value is set to false, which is valid according to the schema.  This started occurring after upgrading to the latest download.

{"$schema":"http://js

[2017-03-26 12:45] Anthropic commented on #847
@donalmurtagh
@Lorless the issue is $validator is not an ASF feature and it is passed directly to Angular as is, Angular is the one that only passes a single model value to the function.

I suspect you could try using a wrapper around the code that adds the validator, change
[code]
Into this
[code]

If one of you want to try that and see if you could get it working I'd love **confirmation** it wor

[2017-03-26 12:50] Anthropic commented on #856
@Lorless the alphas have version numbers, I have added that in, I don't know how previous maintainer managed issues without knowing, surprised it didn't drive him nuts. Anyway alphas have version info headers in-file.

The alphas ensure that arrays have correct index values for items so the button should in theory no longer be confused, but I would need an example to test against to be sure.

[2017-03-26 13:16] Anthropic commented on #857
@jagould thanks for the report :)

I can see what you mean, I made a Gist of the working one that doesn't work in the current version to test against:
http://schemaform.io/examples/bootstrap-example.html#/3bc648fe6e7d6e3e348b396fc41f8ede

[2017-03-26 23:51] Anthropic commented on #741
@mark007 I haven't pushed the alpha for bootstrap yet, I will try to get a version of the alpha out for bootstrap if I can this weekend, but it isn't as high a priority as getting features into a state where they can be tested at least in the bundled version in the ASF repo. It will be more of a priority when I hit beta, but I will still try to get something in bower soon.

[2017-04-02 12:20] Anthropic commented on #858
@donalmurtagh well wizards are a case discussed already and there is an issue for them somewhere, my goal for 1.x is to add state support, where another model could be added to the form to act as state and then you could append that to URIs or within a post body etc... without adding details to the form that shouldn't need to be in the model scope.

Another goal is to have conditions available out

[2017-04-02 13:20] Anthropic commented on #750
@MGouaillier this was an easy one, array template was using `track by $index`, needed to be `track by $id(item)` which uses $$hash instead. I have committed the change for release in alpha 4

[2017-04-03 12:56] Anthropic commented on #836
This is what is required as linked above
element.setCustomValidity('I make it invalid')
element.setCustomValidity('') // I make it valid

Still not sure why Angular isn't handling it with ASF as Angular has a wrapper for this:
$setValidity(validationErrorKey, isValid);

[2017-04-03 13:14] Anthropic commented on #769
Made a gist link to test locally and want to remember it:
http://schemaform.io/examples/bootstrap-example.html#/f7078098dc03151c5a0cc18c6452aaea

[2017-04-03 13:23] soccermatrix commented on #744
Has anyone managed to insert html properties in inputs as of April 2017? I'm having this issue right now.

[2017-04-03 13:30] Anthropic commented on #769
@doomie999 pleased to say this appears to be working in alpha.4 after some other remotely related changes to fix array behaviour. I have tested at depth yet, but I don't see why it wouldn't work, I will try to create a unit test at depth soon.

[2017-04-03 13:51] Anthropic commented on #689
@MaggieBi I believe this will work as of alpha.4 would love it if you could try with the files in the dist folder of the developer branch

[2017-04-03 13:58] Anthropic commented on #744
@joelwkent did you ever get anywhere on this? I assume it would only take a template modification and a function on scope to serialize into a string like (using your example)
[code]

An add on can modify the form object, so conceivably you could put the function in the form object and then modify the templates to call it once without too much trouble. Thoughts?

[2017-04-04 09:33] Anthropic commented on #649
@warmy1004 can you give this a try in alpha.3?

[2017-04-04 12:34] Anthropic commented on #477
Please re-open if you can provide more information (gist/plunker) to help us to help you :)

[2017-04-04 12:34] #477 closed

[2017-04-04 12:36] Anthropic commented on #524
@nicklasb go on, you know you want to do it ;)

[2017-04-04 12:37] Anthropic commented on #530
Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-04 12:37] #530 closed

[2017-04-04 12:39] Anthropic commented on #537
Please re-open if you can provide more information to help us to help you :)

[2017-04-04 12:39] #537 closed

[2017-04-04 12:42] Anthropic commented on #565
I think this is the same as #769 which I believe is fixed in the latest alpha so given the age of this I will close it for now.

[2017-04-04 12:42] #565 closed

[2017-04-04 12:45] Anthropic commented on #675
Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-04 12:45] #675 closed

[2017-04-04 12:48] Anthropic commented on #590
A PR has been merged for the issue, please test the solution is resolved and re-open if it is not.

[2017-04-04 12:48] #590 closed

[2017-04-04 12:57] mark007 opened #859 "Enums without type set, don't display even though valid"
#### Enhancement
As a user/developer, when I ... I should be able to display an enum field that doesn't have the "type" set

#### Expected behaviour
I expected the enum to display, even without the type set to something like "string"

#### Actual behaviour
It actually doesn't appear, and I don't see any error that the field is not understandable / not being displayed

json schema validators like a

[2017-04-04 13:04] Anthropic commented on #433
The new alpha would be good to get some feedback on regarding the issues here. If it is still worthwhile documenting the work around then @nicklasb can certainly look at updating that :)

[2017-04-04 13:09] Anthropic commented on #760
Not sure if you ended up forking and giving it a try or not, but on thinking about it, you could create an add-on that simply adds a sub form with sf-schema+sf-form etc... and by passing the current object in as the model it would extend and then destroy when that node was trimmed. Anyway I am closing this for now, please re-open or message me on Gitter to follow up on the topic :)

[2017-04-04 13:09] #760 closed

[2017-04-04 13:10] nicklasb commented on #524
Well I really do. :-)

[2017-04-04 13:14] mark007 commented on #625
Can I just confirm guys, that this issue, is different to this other one ( #750  ) one that has had fixes pushed up for it https://github.com/json-schema-form/angular-schema-form/issues/750

[2017-04-04 13:15] Anthropic commented on #395
Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-04 13:15] #395 closed

[2017-04-04 13:20] Anthropic commented on #19
Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-04 13:20] #19 closed

[2017-04-04 13:24] Anthropic commented on #778
The latest 1.0.0-alpha release should have arrayIndices / $i as an array of the array path so I will close this as that change is tracked in another issue already.

[2017-04-04 13:24] #778 closed

[2017-04-04 13:33] Anthropic commented on #625
@mark007 It is different, I believe, but I do believe that this issue is fixed by either alpha 3 already or 4 in dev branch. I can't change the error message which comes from tv4, but at least now when you change the value it should remove the error and it should display only when it is accurate.

[2017-04-04 13:40] mark007 commented on #625
Thanks Anthropic. Thats why I wasn't sure, in my bower.json I'm pulling down todays latest push for angular-schema-form-bootstrap, but on page load, under my array field I still see the error appearing, even after I fill in the individual array items to make them valid.

Do you think I should put together an example or is it easy to also see this on your end. I'm using angular 1.6.4. This is a sni

[2017-04-04 13:40] Anthropic commented on #859
@mark007 What would you expect to see displayed, I assume you are meaning without defining something in the form schema by using "*"?

Say for their example: "enum": ["red", "amber", "green", null, 42]?

[2017-04-04 13:43] Anthropic commented on #625
If you use the example and make a gist with a schema and form definition I can load that on the latest version locally and debug. Which versions is bower pulling down?

[2017-04-04 13:59] mark007 commented on #625
Bower sees alpha 3 of angular schema form bootstrap, not an alpha 4 so I use the actual git commit id to get the absolute latest. I'm not sure how to change the versions in the gist link, to use angular schema form bootstrap latest, but even this example should show the issue, if the latest version is used.

http://schemaform.io/examples/bootstrap-example.html#/d127f6b978d7dff299afe010e91c2ea8

[2017-04-04 14:05] mark007 commented on #859
Hi Anthropic. Heres a gist example (I'm getting good at this ;) ) http://schemaform.io/examples/bootstrap-example.html#/bf745ed6e106ab3343bc3b9d291c4806

Would you have hoped the field to appear in this case, or is it by design that it doesn't show up in these cases.

[2017-04-04 22:49] Anthropic commented on #859
Thanks @mark007, the problem is knowing what and how to display it, json-schema is not a spec with any form structure in mind at all, quite the opposite in fact, I am working with the people behind it to try and formalise some rules around that, but for now it really only considers data model and validation which makes things hard for frameworks generating a ui.

The reason I asked about "enum": [

[2017-04-05 05:51] skumarsg opened #860 "Nested Tabs in Schema tab"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
Child tabs count inside a tab should be independent and should not be same.

#### Actual behaviour
Problem in Schema Form in case I have tab children inside a tab. If  I add “Towns Tab-0” two child tabs (Rural – Tab0, Tab1) it adds automatically two child tabs for “Towns Tab-1” and other subsequent To

[2017-04-05 07:55] mark007 commented on #859
Ah yes now I see, thanks for the explanation. I will try out the defaults at some point. My only concern in general is there many be understandably many of these cases where the form may perhaps not show a field and the user may receive no hint or error as to why the model of the data is not validating later against say an ajv validator. Thats the only place I could see a possible improvement, ie

[2017-04-05 19:50] warmy1004 commented on #649
@Anthropic I tested it with alpha.3, but it's not working as expected. And it seems like there is another issue; it looks like validation is always recursively and automatically happening for the entire form including not displayed things on the screen. So, the parent question is getting 'Required' message even though conditional questions are not displayed.

To help your understanding, follow thi

[2017-04-05 22:26] Anthropic commented on #860
@skumarsg can you put that in a gist from the example app and post example data here or make a plunker with everything? If I am reading you right you are saying that Add is adding the array to every child as well as itself?

[2017-04-05 22:30] Anthropic commented on #859
I agree it should probably be triggering a warning at least that there are fields not rendered, not sure about showing the end user that though, although a flag could conceivably allow that to be a developer choice.

[2017-04-05 22:38] Anthropic commented on #649
@warmy1004 can you try again with the matching bootstrap decorator:
https://raw.githubusercontent.com/json-schema-form/angular-schema-form-bootstrap/develop/dist/angular-schema-form-bootstrap.js

[2017-04-06 05:42] skumarsg commented on #860
HI @Anthropic thanks a lot for responding... I am struggling from quite some time to automate a dynamic form with nested tabs. Yes .... I am facing the problem handling the tabs with children nested tabs. As you are asking an example datas ...
It is a hierarchy of State>>Cities>>Towns
State may contain multiple cities - City 1, City 2 , City 3, City 4 (tabs here) etc.
Again City 1 may contain mult

[2017-04-06 05:50] skumarsg commented on #860
HI @Anthropic thanks a lot for responding the problem... I am struggling from quite some time to automate a dynamic form with vertical hierarchical nested tabs (problem handling the tabs with children nested tabs). As you are asking for an example data ...
It is a hierarchy of State>>Cities>>Towns
State may contain multiple cities - City 1, City 2 , City 3, City 4 etc.
Again City 1 may contain mul

[2017-04-06 12:41] warmy1004 commented on #649
@Anthropic I tested it with the new version of bootstrap. The above issue is gone. But, it's still not working as expected.

plnkr: https://plnkr.co/edit/GpmbaMPZmtgofOdV0Fye?p=preview

how to reproduce it :
case 1)
1. select 'no' for the parent question
2. then, click a 'validate' button

case 2)
1. select 'yes' for the parent question
2. do not answer any conditional question and just click a va

[2017-04-06 12:59] warmy1004 commented on #649
@Anthropic Also, I found another thing: validation is failing. You can use the same plnkr which I posted right above.

how to reproduce it:
case 3)
1. select 'yes' for the parent question
2. answer all three conditional questions. Especially, you need to select 'NO' for the last child question (Do you like animals)
3. click a 'validate' button

-> you will see a required button from the last child

[2017-04-06 13:16] warmy1004 commented on #649
@Anthropic sorry for multiple messages, but I want to let you know one more thing about checkbox

To show this, I slightly updated my plnkr : https://plnkr.co/edit/GpmbaMPZmtgofOdV0Fye?p=preview
[NOTE]
(1) I added a string type of radio button as one of children questions, so you can easily see what the difference is.
(2) I added a checkbox question as a child question, so you can reproduce the is

[2017-04-06 13:29] drtobal opened #861 "Wrap some components in a custom div"
Hi,

How can I wrap some elements in a div like tabs, but in a div with custom classes.

Thanks.

[2017-04-06 14:01] drtobal commented on #861
sorry, I have used type 'section' and it solved all my problems, cheers.

[2017-04-06 14:01] #861 closed

[2017-04-09 23:30] Anthropic commented on #860
@skumarsg can you make a demo with plunker of in the demo app using gist save?

[2017-04-10 00:05] Anthropic commented on #649
@warmy1004 thanks for the info I will try to get to it soon, been sick for two weeks now, surviving on Codral... to build the decorator if you have changed templates it uses webpack `npm run build` or `npm run dist` to get minified, those commands will generate the dist folder in any of the three repo although core is unminified, webpack pulls in the templates via **import** statements from https:

[2017-04-10 05:42] skumarsg commented on #860
[POCInterceptor.zip](https://github.com/json-schema-form/angular-schema-form/files/909052/POCInterceptor.zip)

Hi Anthropic... thanks again for showing the interest... I have attached a a complete demo POC (compatible to Visual Studio 2015 ... .netCore)...

example data is ...
It is a hierarchy of  Cities>>Towns
Added multiple cities - City 1, City 2 , City 3, City 4 etc.
Again City 1 may contain

[2017-04-10 17:10] shravanmahankali commented on #213
Has anyone got this working better?

[2017-04-11 05:20] skumarsg commented on #860
Let me know do you need  any more details

[2017-04-13 04:08] Anthropic commented on #860
@skumarsg not ignoring you, been feeling unwell. Is there any chance you could put your poc into plunker? Can't open unknown zip files on work computer :)

[2017-04-13 04:13] skumarsg commented on #860
Hi buddy... thanks a lot for taking it seriously...
weather is changing now ... so take care...
I will do it by end of the day today it's my morning time 9:42 AM.

[2017-04-13 13:58] EtiAggarwal commented on #625
I still see the issue on alpha 3 when using array of strings

[2017-04-13 15:03] iGormilhit opened #862 "[Question] How to customize the checkboxes display for a long list?"
#### Disclaimer
I'm not a developer and english isn't my primary language. :smiley:

#### Question
In the form I'm trying to write, thanks to `jsonschema` and AFS, I have a property that can take multiple value inside a closed list.

I tried to make and array to give the possibility to add a new field, but AFAIK, I cannot put an `enum` in this kind of array (as in the array bootstrap-example). And

[2017-04-14 16:48] Anthropic commented on #625
@EtiAggarwal @mark007 to be clearer, the main thing I fixed was that once the error appeared you couldn't get rid of it, to fix this entire issue I have updated ASF just now to put in an empty string instead of null, it will be in the next alpha update or you can try the version in the dev branch.

[2017-04-14 19:16] EtiAggarwal commented on #225
The second method of using two conditionals worked for me, but when I switched to alpha3 it stopped working. I am using the conditionals inside an array.

[2017-04-15 06:20] Anthropic commented on #225
@EtiAggarwal can you make an issue with a plunker?

[2017-04-15 08:41] Anthropic commented on #736
@TimCorey I am closing this because technically the attribute you want is `{ const: true }` as part of the schema, this isn't supported in tv4, but making ajv or djv available to validate with is already covered in other issues.

Const is part of json-schema v6 https://github.com/json-schema-org/json-schema-spec/issues/58

[2017-04-15 08:41] #736 closed

[2017-04-15 10:09] #857 closed

[2017-04-15 10:10] Anthropic commented on #857
This is ready to be released in the next alpha as it was a logic fail when I moved Angular specific code into the core and replaced it with code that wasn't identical.

[2017-04-15 10:11] #625 closed

[2017-04-15 10:12] #750 closed

[2017-04-15 10:36] Anthropic commented on #862
@iGormilhit you are correct the easiest way is to apply css
[code]

If this affects other checkboxes, you can apply a class to a section and then use
[code]

The new alpha release has better classes so you can specify a class only used by that field.

Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-15 10:36] #862 closed

[2017-04-15 11:09] Anthropic commented on #860
@skumarsg I made a Gist
FYI the key needs to include the entire path eg `"key": "Cities[].Towns[].Rural"`

I updated the Gist
http://schemaform.io/examples/bootstrap-example.html#/fbb2e8e7d2fb56e8d6a0e6ff3219567b

Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-15 11:09] #860 closed

[2017-04-15 15:00] Anthropic commented on #649
@warmy1004 I've got your cases working locally, try the latest commit, the only issue it still has is that selecting yes then no then yes leaves the checkbox showing a required error. But I am not sure what to do with that, technically it is accurate. What we're missing is support for `const`.

Anyway feel free to give it a go, I'm going to close this issue as I believe most items are covered now,

[2017-04-15 15:00] #649 closed

[2017-04-15 15:14] Anthropic commented on #703
@warmy1004 how does this one look on the latest dist folder files in dev branch? Are you able to confirm it is working again after all the changes I made to fix destroy behaviour?

[2017-04-15 15:18] Anthropic commented on #852
This should be working again in the latest alpha.

[2017-04-15 15:18] #852 closed

[2017-04-15 15:19] #769 closed

[2017-04-17 10:51] Anthropic commented on #602
@BioPhoton and @luizgrs can either of you try this in the latest alpha and let me know if it works now or the problem still occurs?

[2017-04-17 11:15] Anthropic commented on #497
@vicary this should work in the latest alphas.

[2017-04-17 11:15] #497 closed

[2017-04-17 11:37] Anthropic commented on #689
This should be fixed in alpha 4, please re-open if the problem persists.

[2017-04-17 11:37] #689 closed

[2017-04-17 12:05] Anthropic commented on #602
This looks to work now https://plnkr.co/edit/Nx7qM8La3oUFjDnk5FF0?p=preview
Although the demo would need to be updated to ignore undefined, but other than that it should be working as expected. Please let me know if you think there is more to do.

[2017-04-17 12:05] #602 closed

[2017-04-17 13:53] Anthropic commented on #851
Nevermind I fixed the link, but it just goes to an image which is impossible to debug, I assume you are missing the right scripts or something isn't loaded, but I don't debug code unless people make a plunker.

Please re-open if you can provide more information (plunker) to help us to help you :)

[2017-04-17 13:53] #851 closed

[2017-04-17 14:03] Anthropic commented on #776
Just leaving this here for myself :)
#329 also has related information as it manages accordion status display.

[2017-04-17 14:21] Anthropic commented on #673
There's an example in the repo now.
https://github.com/json-schema-form/angular-schema-form/blob/development/examples/add-on/calculate.js

Still need to update documentation though. How's the generator going @kornosaurus, any chance of an update?

[2017-04-17 14:24] skumarsg commented on #860
Thanks a lot Anthropic (Marcel)...provided solution is meeting perfectly my requirement.
Thanks a lot for the great help again.

[2017-04-17 14:35] Anthropic commented on #816
Given the risks it could create I'm not inclined to change this, I'd recommend making a version of the decorator with your preferred markup.

https://docs.angularjs.org/api/ng/provider/$interpolateProvider
`"This feature is sometimes used to mix different markup languages, e.g. to wrap an AngularJS template within a Python Jinja template (or any other template language). Mixing templating language

[2017-04-17 14:35] #816 closed

[2017-04-17 21:04] shravanmahankali commented on #213
angular-translate (https://angular-translate.github.io/docs) seems to work very well for me as well! thanks for the pointers.

[2017-04-18 07:49] mark007 commented on #625
Thanks Anthropic, I can't seem to pick it up yet using the schema form bootstrap bundled min file. I guess its not merged yet, I will pick it up once its there.

Thanks again.

[2017-04-18 11:09] mark007 opened #863 "default value not being used along with ref"
#### Enhancement
As a user/developer, when I have a property that uses both a $ref aswell as a default I should be able to see the default value appear on the UI

#### Expected behaviour
I expected the default value to appear on the UI

#### Actual behaviour
It actually didn't show the default value

#### Gist/Plunker/Demo
I can't reproduce on the online example / gist as the field doesn't actuall

[2017-04-18 12:42] Anthropic commented on #625
@mark007 it should be, what version of the file are you using, what's the version headers say?

[2017-04-18 12:50] mark007 commented on #625
This is from the header of the bundled asf bootstrap file, looks like it was just built yesterday.

/*!
 * angular-schema-form-bootstrap
 * @version 1.0.0-alpha.4
 * @date Mon, 17 Apr 2017 08:57:43 GMT

I still have the issue if I don't set all of the array fields to [] before passing to the form, the error is appearing for me. Whats the easiest way to reproduce this for you. gist doesn't seem to

[2017-04-18 13:00] Anthropic commented on #863
ajv wouldn't help your case, it is only for validation, it's also written in a template language, but also it wouldn't work on a $ref object.

$ref overrides the entire object, to quote [RFC Section 7](http://json-schema.org/latest/json-schema-core.html#rfc.section.7)
_The value of the $ref is a URI Reference. Resolved against the current URI base, it identifies the URI of a schema to use. **All o

[2017-04-18 13:00] #863 closed

[2017-04-18 13:05] Anthropic commented on #625
@mark007 plunkers are the best method @warmy1004 has made some great ones, he bothered to put in multiple versions so you can compare, try this one and modify how you like the one thing I would ask is that you make sure the schema and form definition are json compatible and not js or I have to go and add quote on all the properties if I want to test it in my local test instance :)

[2017-04-18 13:19] Anthropic commented on #846
@radvansky-tomas sorry I lost track of this, did you sort it out yourself or did you still need me to look at it?

[2017-04-18 13:19] Anthropic commented on #839
Please re-open if you do not feel the question has been answered sufficiently, I'm spring cleaning quiet issues.

[2017-04-18 13:19] #839 closed

[2017-04-18 13:20] Anthropic commented on #790
Please re-open if you do not feel the question has been answered sufficiently, I'm spring cleaning quiet issues.

[2017-04-18 13:20] #790 closed

[2017-04-18 13:22] Anthropic commented on #762
@nicklasb this is regarding having a static section that displays on all tabs.

@gladiussdv this should be possible in the alpha if you use the $ref capability, so I will close this issue.

[2017-04-18 13:22] #762 closed

[2017-04-18 13:26] Anthropic commented on #757
@nicklasb can I close this? I think if you come up with a preferred solution you can make it available and see how many are interested in the approach and maybe start a new repo for it in future?

[2017-04-18 13:27] radvansky-tomas commented on #846
Yes you can close it, i sorted it via sf-model

[2017-04-18 13:28] Anthropic commented on #845
Please re-open if you do not feel the question has been answered sufficiently, I'm spring cleaning quiet issues.

[2017-04-18 13:28] #845 closed

[2017-04-18 13:28] Anthropic commented on #819
Please re-open if you have more info, I'm spring cleaning quiet issues.

[2017-04-18 13:28] #819 closed

[2017-04-18 13:30] Anthropic commented on #846
Great to hear! Thank you :)

[2017-04-18 13:30] #846 closed

[2017-04-18 13:36] Anthropic commented on #753
Please re-open if you do not feel the question has been answered sufficiently I'm spring cleaning quiet issues.

[2017-04-18 13:36] #753 closed

[2017-04-18 13:39] Anthropic commented on #854
@mferreira92 here's a demo @johnslipper sent me, posting for anyone who finds this issue in future, it demonstrates different decorators on the same page, but ultimately covers this as well.
https://plnkr.co/edit/Rfy2vO3otiQDZTGzgTZi?p=preview

Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-18 13:39] #854 closed

[2017-04-18 13:42] nicklasb commented on #757
Would like to have gotten a diskussion going, but sure, closing.

[2017-04-18 13:42] #757 closed

[2017-04-18 13:58] Anthropic commented on #843
Not sure if this has changed in the alpha releases, it may have, glad you sorted it :)

[2017-04-18 13:58] #843 closed

[2017-04-18 14:00] Anthropic commented on #754
Please re-open if you do not feel the question has been answered sufficiently I'm spring cleaning quiet issues.

[2017-04-18 14:00] #754 closed

[2017-04-18 14:02] Anthropic commented on #734
Wow this one got lost in the ether, hope you found a solution! The calculate add-on included in the example app in the latest dev branch code would do it.

[2017-04-18 14:02] #734 closed

[2017-04-18 14:06] Anthropic commented on #735
Hey @warmy1004 the pattern behaviour is part of JSON-schema definition and not this library, so short answer is not until they change it. I do recommend adding an issue in the schema-form-spec repo and push them to think about a solution, now draft 6 is out they are more likely to have some time for that sort of consideration. That said I haven't even checked if this changed at all already. Anyway

[2017-04-18 14:06] #735 closed

[2017-04-18 14:06] shravanmahankali commented on #388
is this fixed?

[2017-04-18 14:08] Anthropic commented on #388
@shravanmahankali I believe it is in the alphas, please re-open if tit needs more work though, thanks for pointing it out.

[2017-04-18 14:08] #388 closed

[2017-04-18 14:15] #785 closed

[2017-04-18 14:16] mark007 commented on #863
OK no problem, using useDefaults: true in Ajv options does in fact work though and it does populate the default in that case. Maybe its as you say not following the spec in that case as $ref and default, does actually populate the default into the data during the validate.

Although in my example above the default, is not a property of $ref itself, its a property of "router_name" so maybe it is va

[2017-04-18 14:19] Anthropic commented on #826
Please re-open if you do not feel the question has been answered sufficiently I'm spring cleaning quiet issues.

[2017-04-18 14:19] #826 closed

[2017-04-18 14:23] Anthropic commented on #683
This should be working now in the alphas, please re-open if there's still issues.

[2017-04-18 14:23] #683 closed

[2017-04-18 14:33] Anthropic commented on #863
@mark007 you'll find it wont work in ajv past version five as he is defaulting back to the standard, additional flags will be needed to indicate you want to bypass the standard. ajv also supports proposed keywords that are not accepted yet, so it is worth reading up on what is standard before adding anything that library validates that may not be supported in any other library.

[2017-04-19 08:17] vicary commented on #497
@Anthropic Thank you!

[2017-04-19 19:34] krptodr opened #864 "Provide continued support for Internet Explorer"
Can you please continue to develope ASF with support for Internet Explorer, when moving forward into versions 1+?

The business world is still heavily using IE due to many intranet sites using ActiveX controls.

[2017-04-19 19:41] shravanmahankali commented on #864
+1

Also, can you provide some guidance on how to get latest alpha build?

[2017-04-19 19:54] ramakrij commented on #864
+1. I dont think dropping support for IE completely is a step in the right direction. If there is any thing specific that causes this behaviour, I am happy to spend a few hours and help with some tasks if that would help.

[2017-04-20 00:55] Anthropic commented on #864
@krptodr @shravanmahankali @ramakrij
I've never dropped support for IE deliberately, I know plenty of poorly managed companies are stuck on legacy platforms, the corporate I work for only a few years ago adopted Chrome alongside IE, took most of a decade to get approval! No one has reported any issues specific to IE in Github that I'm aware of, so I can't fix what I don't know about :)

I don't us

[2017-04-20 00:55] #864 closed

[2017-04-20 04:21] shravanmahankali opened #865 "i18n demo"
#### Expected behaviour
I expected application to support internationalization and localization with modular and scalable approach.

#### Actual behaviour
No inbuilt support for i18n/ l10n. In-built messages are in English only.

#### Gist/Plunker/Demo
[Description] Based on schema-form.js v0.8.13 I have developed a dynamic forms example with internationalization and localization support for Engli

[2017-04-20 10:42] Anthropic commented on #856
Please re-open if you do not feel the question has been answered sufficiently I'm cleaning up quiet issues.

[2017-04-20 10:42] #856 closed

[2017-04-20 10:51] Anthropic commented on #601
Closing due to lack of recent comments

[2017-04-20 10:51] #601 closed

[2017-04-20 10:55] Anthropic commented on #563
This should be working now in the alphas.

[2017-04-20 11:34] Anthropic commented on #612
Updated bootstrap repo, added required to css on outer div. This can be used like
[code]
This is in the first stage of work for 1.0.0 alpha 5 in the developer branch of bootstrap repo.

[2017-04-20 11:34] #612 closed

[2017-04-20 12:07] Anthropic commented on #666
@JamesGuthrie damn I did forget it, did you find the solution?
This would be quite easy to do with the calculate add-on in the example folder of the latest code in dev branch. I'll close this but please re-open if you still need help with it or further explanation.

[2017-04-20 12:07] #666 closed

[2017-04-20 12:16] Anthropic commented on #707
@warmy1004 so this is fixed in the latest alpha I believe, at least the boolean question is, can you let me know if there is anything left to do on this one after alpha 4? I made it needs: more info so I don't keep opening the issue when I am waiting for a response :)

[2017-04-20 12:16] Anthropic commented on #682
This should be working, so I will close this until I hear otherwise.

[2017-04-20 12:16] #682 closed

[2017-04-20 12:36] Anthropic commented on #685
The original post issue should be fixed now. The destroy strategy means when the display item is destroyed, so if the parent is destroyed the children are too.

Closing as I don't think there's anything left to do, please re-open if you have something to add or create a new issue for any related suggestions.

[2017-04-20 12:36] #685 closed

[2017-04-20 12:47] Anthropic commented on #386
@mike-marcacci Have you seen the builder functions that @davidlgj built that are available in the alphas?

Do you know how this would work best with them? Could this be handled in comment annotations or in some way that could be stripped out by a minifier or left in when used by a builder tool?

[2017-04-20 12:50] Anthropic commented on #226
Closing old issues because it's fun.

[2017-04-20 12:50] #226 closed

[2017-04-20 12:55] Anthropic commented on #252
This can be done with the new builder functions, an add-on could provide a link to a field. The new alphas correctly provide a long variant of the field path via a function which could also be a way to look for an item by id. A builder could append such a tag to desired items. A little complex, but possible. If you still want help with this let me know and I can help you with it.

[2017-04-20 12:55] #252 closed

[2017-04-20 13:01] Anthropic commented on #629
@dorin-niscu the id is now handled with a function call that makes it a full path including array indexes, there is a class added to the parent that shows the schema path. Closing this for now, let me know if you have further questions, there are other tickets that provide information on how to work with i18n if it is stilll causing headaches.

[2017-04-20 13:01] #629 closed

[2017-04-20 13:03] Anthropic commented on #631
Closing this issue here, the only way it will get updated is if someone makes a PR to bring it up to date. I really would love that to happen, perhaps a fork of the decorator would be a good start to move toward a consensus on an upgrade after the 1.0.0 version is out.

[2017-04-20 13:03] #631 closed

[2017-04-20 13:30] Anthropic commented on #817
This has changed a lot in the alphas, not sure if it is still needed, I'm closing this until someone can make a plunker or demo for me to work with that shows the issue in the alphas. Kyse's code can be a workaround for old versions.

[2017-04-20 13:30] #817 closed

[2017-04-20 13:34] Anthropic commented on #641
This should be working in the latest alphas.

[2017-04-20 13:34] #641 closed

[2017-04-20 13:45] Anthropic commented on #639
The new alphas are built with webpack using the following format:
[code]
Combined with 'ngtemplate-loader' it imports everything during the build and adds them to cache.

Alternatively if you look at the calculate add-on in the example folder you will see how to add the template cache into your add-on
[code]

[2017-04-20 13:45] #639 closed

[2017-04-20 13:46] Anthropic commented on #639
Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-20 13:49] Anthropic commented on #594
@petermekhaeil sorry I couldn't help on this one sooner, I didn't really know the answer myself.

I'm going to close it due to age, but if it is still something you want to know please re-open and I will do my best to figure it out for you.

[2017-04-20 13:49] #594 closed

[2017-04-20 13:53] Anthropic commented on #595
This should be working in the alpha now :)

[2017-04-20 13:53] #595 closed

[2017-04-20 13:58] Anthropic commented on #585
@souluniversal does this offer still stand, I think I understand the code a lot better now and could potentially implement some things. Some of the items are already planned, like a rules engine that can update properties of multiple fields based on conditions. Have you seen the new alphas?

[2017-04-20 14:01] Anthropic commented on #573
@vicary is this behaviour any different in the latest alpha?

[2017-04-21 02:25] warmy1004 commented on #703
@Anthropic I retested it and this is fixed in the alpha 4 version. Thank you.

[2017-04-21 02:27] warmy1004 commented on #707
@Anthropic I don't think there is anything left here. Thank you :)

[2017-04-21 10:12] mark007 opened #866 "Potential improvement to always show title, description, key"
#### Enhancement
As a user/developer, when I am filling in a field on the interface I should be able to perhaps optionally, be always able to see the title, description, key, and any validation error

#### Expected behaviour
I expected when making a mistake on a certain field in the gui, for the description to be always visible as it often gives clues as to how to make the field valid

#### Actual

[2017-04-21 14:24] Lorless opened #867 "destroyStrategy is not clearing the model in custom field"
Hi,

My custom fields are not having their model destroyed when they are hidden. In a lot of cases ive simply wrapped the html from the original default field (like text input) in my own custom field and added some stuff. My custom declaration looks like this

[code]

I expected that the model would be destroyed as i have not made any changes to the global options for destroyStrategy. I actually p

[2017-04-23 08:18] Anthropic commented on #866
@mark007 I'm all for it :)
If it was still in the page then it could be forced to continue displaying with css. To be honest the description field itself is contentious to me as it is part of the json-schema designed for describing a field and for some reason is found within the validation schema, there is discussion about adding a hint field to the schema for what we use description for. There is

[2017-04-23 08:19] Anthropic commented on #703
Woo hoooo!

[2017-04-23 08:19] #703 closed

[2017-04-23 08:20] Anthropic commented on #707
Sweet!

[2017-04-23 08:20] #707 closed

[2017-04-23 08:27] Anthropic commented on #867
It all depends on your templates, can you share one? Destroy strategy is managed by sf-field directive, if you don't have that then it won't destroy anything and you would have to manage it yourself with your own directive.

[2017-04-23 10:49] Anthropic commented on #330
I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.

Please re-open if there are still issues in these versions.

[2017-04-23 10:49] #330 closed

[2017-04-23 10:58] Anthropic commented on #221
This appears to be fixed, not sure when but I can't reproduce in the current version, please re-open with demo if you think the issue still exists.

[2017-04-23 10:58] #221 closed

[2017-04-23 11:02] Anthropic commented on #274
I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.

Please re-open if there are still issues in these versions.

[2017-04-23 11:02] #274 closed

[2017-04-23 11:14] Anthropic commented on #243
@ulion this function now looks like the below can you confirm if it works for you in the alphas or you still have an enhancement request here? I will close it until someone responds as I'm cleaning out old issues, but please let me know if it is still something do discuss here. A plunker of what people want to see would help if re-opening :)

[code]

[2017-04-23 11:14] #243 closed

[2017-04-23 11:24] Anthropic commented on #600
@nicklasb can you check this one out? The examples are both the same minus the use of your plugin for the first fo the two selects, can you shed some light on the problem, has this been reported to you in your github issues?

[2017-04-23 11:27] Anthropic commented on #593
Closing as it looks like a syntax issue, if not please re-open with plunker.

[2017-04-23 11:27] #593 closed

[2017-04-23 11:34] Anthropic commented on #588
@catchshyam I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.

Please re-open if there are still issues in these versions.

[2017-04-23 11:34] #588 closed

[2017-04-23 11:35] Anthropic commented on #588
FYI I tested with form:
[code]

[2017-04-23 11:41] Anthropic commented on #295
I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.

Please re-open if there are still issues in these versions.

[2017-04-23 11:45] Anthropic commented on #295
Hmmm the test case in the originally proposed PR fails, re-opening just in case it isn't fixed.

[2017-04-23 14:33] Anthropic commented on #295
Nope just fixed the test and it does pass. All good.

[2017-04-23 14:33] #295 closed

[2017-04-23 14:52] Anthropic commented on #611
@slyadams
I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.

Please re-open if there are still issues in these versions.

[2017-04-23 14:52] #611 closed

[2017-04-23 14:53] Anthropic commented on #611
If anyone wants this re-opened I need a gist or plunker please.

[2017-04-23 17:57] Lorless commented on #867
Sure, here is an example. You'll see its basically the same as the standard text box but its been wrapped with a few extra bits.

[code]

[2017-04-23 23:19] Anthropic commented on #867
@Lorless any chance you can show an example of it rendered too, may help see what is and isn't working?

[2017-04-23 23:20] Anthropic commented on #867
Are there any errors in console?

[2017-04-23 23:27] Anthropic commented on #865
@shravanmahankali the demo in the link has errors, did you perhaps save an update that didn't get updated in the link?

[2017-04-24 00:44] Anthropic commented on #516
The best I can offer is #834 or the user supplied demo #865 that still needs some work, follow that issue till it is completed perhaps, I'll close this one in favour of that one.

[2017-04-24 00:44] #516 closed

[2017-04-24 01:23] Anthropic commented on #287
I believe this is fixed already. I tried to make a gist to replicate:
http://schemaform.io/examples/bootstrap-example.html#/a0d434414d78fb83b401715e5a1dd487

But can't see the issue, , please re-open if there are still issues.

[2017-04-24 01:23] #287 closed

[2017-04-24 01:45] Anthropic commented on #433
Updated to use the latest version
https://plnkr.co/edit/C9mM5feGGZ0N7povA84G?p=preview

[2017-04-24 03:16] shravanmahankali commented on #865
@Anthropic sorry for the trouble, I have fixed the issues with the example at plunker, its working fine now. Please try now.

[2017-04-24 03:40] Anthropic commented on #433
I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.
We remove many watchers and replace them with one-time binding. The example plunker no longer has the issue even without the config value.
Please re-open if there are still issues in these versions.

ps. @nikmartin I added the plunker to the create issue template and will try to remember to add to documentation

[2017-04-24 03:40] #433 closed

[2017-04-24 03:41] Anthropic commented on #865
@shravanmahankali nice that works great, will no doubt help a lot of people! :)

[2017-04-24 03:50] Anthropic commented on #634
@nicklasb any solution suggestions on this? Calculate add-on I added would cover this to a point I suspect.

[2017-04-24 03:53] Anthropic commented on #561
@nicklasb onChange can take a string with the function inside, which callback were you referring to with this one, anything specific or just in general? This is a goal I have now, so over time I do want to reduce/remove having javascript in schema directly.

Let me know if there was anything else to this one or I will close it given it is a project goal now.

[2017-04-24 03:53] #561 closed

[2017-04-24 08:38] Lorless commented on #867
Sure, here is the rendered field including its sf-decorator. There are no console errors. It appears that the destroy event in schema-form.js is never fired.

[code]

[2017-04-24 08:47] amir707 opened #868 "Defaulting value is set even when condition is false"
#### Enhancement
As a user/developer, when I click save on schema form  I should be able to have the model without any fields which are invisible

#### Expected behaviour
I expected model not to have the field with its default when the field is not visible (condition returns false)

#### Actual behaviour
The model actually has the field with its default value.

#### Gist/Plunker/Demo

https://plnk

[2017-04-24 09:35] MGouaillier commented on #741
Same problem in alpha 4

[2017-04-24 14:43] shravanmahankali commented on #865
Waiting to see my contribution of i18n/ l10n demo live. Let me know.
Btw, any suggestions on 'Related issues' I have mentioned in this issue?

[2017-04-24 14:59] ivarprudnikov commented on #852
Updated plunker showing that it works in `1.0.0-alpha.4` https://plnkr.co/edit/vnyh4yWedQR7UD21yCI4?p=preview

[2017-04-24 15:06] ivarprudnikov commented on #852
@Anthropic could you point to the code which fixes the issue in `1.0.0-alpha.4` so that fix can be backported to `0.8` branch?

[2017-04-24 15:13] donalmurtagh commented on #864
This is about the browser version that a product's users are using. This is not necessarily something that a company can control or even influence, regardless of how well managed it is.

[2017-04-24 16:05] Lorless commented on #867
@Anthropic So I've been investigating this and it seems that the custom directive is not to blame, ive tried it with the default text field and it still does not remove the model. I've put loggers on lines 2131 and 623 on schema-form.js just underneath the $destroy events but it seems they arent being fired at all.

[2017-04-24 16:53] Anthropic commented on #864
@donalmurtagh I would disagree that's what it is about, the OP talks of ActiveX usage, end users wouldn't know their ActiveX from their X-Men. But in the corporate space the company does indeed tightly control browser usage in their SOE and even though Microsoft has expressly stated that users of older windows versions or corporation stuck in ActiveX​ hell should install Chrome alongside IE, many

[2017-04-24 17:16] Lorless commented on #867
I've just realised that none of the fields inside my custom directives (apart from the very top level custom directive) have sf-field attached to their container divs. I think this may be because i've used
` <sf-decorator ng-repeat="item in form.items" form="item"></sf-decorator>` in my custom directives where the custom directive has its own items array to render.

 If the sf-field directive is n

[2017-04-25 09:55] donalmurtagh commented on #864
In my case the application which uses ASF is used by members of the public, and our analytics shown that a significant proportion of them access it via IE11. There's little we can do to encourage them to switch to another browser, and there are too many of them for us to drop support for IE11. The only option we seem to have then is to continue using 0.8.13, which is unappealing, because we've run

[2017-04-25 12:08] Anthropic commented on #741
Thanks @MGouaillier

[2017-04-25 12:14] Anthropic commented on #865
@shravanmahankali have you tried adding languages to tv4?https://github.com/geraintluff/tv4#addlanguagecode-map

Is that what you are after?

[2017-04-25 12:31] Anthropic commented on #867
@Lorless two quick responses, first, you mentioned schema-form.js I assume that means you are using 0.8.13, have you tried with the alphas, could you please if not?

Secondly, yes, `sf-field` is where the destroy activity is managed from, so I would expect that it needs to be in the template.

[2017-04-25 12:36] Anthropic commented on #852
@ivarprudnikov that's a bit tricky, I expect that it is related to a combination of the field names, which now use a function to ensure that ids and names are unique and also that arrays now manage themselves using $$hashKey instead of $index. I never specifically fixed this issue, I just fixed so many array based issues it got lucky :)

The changelog should list all the issues and hopefully the c

[2017-04-25 12:41] Lorless commented on #867
@Anthropic I believe we tried to move over to the alpha a little while ago and it broke our system. We will of course migrate eventually but its hard to make a case for it right now.

Is there any reason why the sf-field directive wouldn't be applied to items rendered from sf-decorator inside a custom field? That seems to be the heart of the problem. I have custom fields like accordions that rende

[2017-04-25 13:07] Anthropic commented on #864
@donalmurtagh I did expect IE11 to have enough support to work to be honest, I just tried it and it doesn't show the form, but does not provide a single error or detail in console that could explain why...

F@#&. 😡

[2017-04-25 13:14] Anthropic commented on #864
Hey @donalmurtagh @ramakrij @shravanmahankali @krptodr
I just tried with this [polyfill](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill) and it appears to work, I will look at either starting an additional file for backwards compatibility or get webpack/babel to add the polyfill, I'll decide once I know how many other issues may arise that need

[2017-04-25 13:21] Anthropic opened #869 "Add Object.assign polyfill or backwards compatibility library for IE support"
#### Enhancement
Add Object.assign polyfill or backwards compatibility module for IE support.

This can be either a script for supporting legacy browsers or included by default, that shall depend on the need for any other polyfills to support IE11

Awaiting feedback from @donalmurtagh @ramakrij @shravanmahankali @krptodr :)

#### Related issues
This is related to #864.

@json-schema-form/angular-s

[2017-04-25 13:38] donalmurtagh commented on #869
I'll test out the latest alpha with this polyfill. It'll likely have to wait until next week though, as I'm on vacation for 2nf half of this week

[2017-04-25 13:43] Anthropic commented on #761
I believe this is fixed in the latest updates (alphas) for the eventual 1.0.0 release.

Please re-open if there are still issues in these versions and please make a plunker or gist to help me.

[2017-04-25 13:43] #761 closed

[2017-04-25 14:04] Anthropic commented on #741
Seems the default will only get set if the default value is in the schema and not the form definition, but also not on load only on new item.

[2017-04-25 14:08] Anthropic commented on #867
@Lorless ideally if you are appending new items using a builder would be the better method, I haven't got time to provide more info tonight, if you haven't found a solution by 20 hours from now let me know nad I will try to help tomorrow night :)

[2017-04-25 14:09] Anthropic commented on #868
@amir707 I wonder if this is related to #741 in some way, I suspect the whole mechanic of setting defaults needs to be re-written to be more stable.

[2017-04-25 15:15] jimgrimmett commented on #689
Is there any chance the fixes will be back-ported to the 3.x branch? We're using schema-form in production and are not going to be using an alpha any time soon.

Many thanks.

J.

[2017-04-25 18:30] mnzaki opened #870 "form.key inside arrays"
#### Bug
`form.key` inside arrays appends the array path and empty string `""` after the actual key, for example giving `["names", 0, "names", ""]` for the first array item in an array with key `["names"]`.

#### Gist/Plunker/Demo
[Plunker demonstrating the issue](https://plnkr.co/edit/e7gj799X4ijPyUEbyA0n?p=preview)

@json-schema-form/angular-schema-form-lead

[2017-04-25 18:48] mnzaki commented on #870
And it has more weird behavior when in arrays in objects. Plunker updated to demonstrate.

[2017-04-25 20:26] shravanmahankali commented on #864
Is there a plunker setup with issues being talked about, as earlier I had trouble (blank screen) using alpha library?

[2017-04-26 00:02] Anthropic commented on #689
@jimgrimmett the biggest issue I have is that I am not as familiar with the older codebase (I wasn't maintainer back then) so I am nervous to make changes when the test cases were also not working properly for the 0.x branch. Technically I'd say 0.x is pre-alpha as well as it had many bugs and issues, I would expect the alpha to work much better. But I am hoping to move to beta soon-ish, only a fe

[2017-04-26 00:09] Anthropic commented on #870
@mnzaki `"key": 'names[]'` should be `"key": 'names'`
You only need [] when there is a sub property like `names[].names`

Because it doesn't know the key it can't replace it with the index.

[2017-04-26 00:11] Anthropic commented on #847
Please re-open if you do not feel the question has been answered sufficiently.

[2017-04-26 00:14] Anthropic commented on #847
Didn't mean to close, if someone can confirmt the solution I suggested works or offer suggested changes it would be a great help toward the issue :)

[2017-04-26 00:15] michaelarichard commented on #563
Testing on pre-release. No luck so far. Am I missing something?
[code]
Replacing the `arrayIndex` with `0` or `1` accesses the proper field, but I am still unable to make it dynamic by using `arrayIndex`

[2017-04-26 00:51] mnzaki commented on #870
I updated the plunker to reflect that, but now the empty string gets replaced with `0` (for all keys), also `form.key` seems to be overridden by the last key always (try adding a new value to the array)

[2017-04-26 01:22] mnzaki commented on #870
Also the behavior of `sfKeyController` seems to be broken for `type: "fieldset"`. The `fieldset` form addon adds an `sf-index="{{$index}}"` attribute, but there's no `$index` defined in that scope and that gets parsed into a `0`.

[2017-04-26 01:31] Anthropic commented on #870
@mnzaki

[2017-04-26 06:00] Anthropic commented on #563
@michaelarichard thanks for letting me know, I'll take a look.

[2017-04-26 08:02] Lorless commented on #847
@Anthropic Ill test this out tonight :)

[2017-04-26 10:39] mnzaki commented on #870
I have been looking at code, and there seems to be a few problems.
For starters, `sfPath.parse("[]")` returns `[""]`, is this correct behavior?

If so then in `fieldset.html` addon template, `sf-key-controller sf-parent-key=\"[{{form.key.join('][')}}]\"  sf-index=\"{{$index}}\">` will produce incorrect results when `form.key` is empty, as that evaluates to `sf-parent-key="[]"` which is parsed to `

[2017-04-26 14:44] Lorless commented on #867
@Anthropic tried updating to v1.0.4 and well... nothing. The form doesn't render at all, not even a  lonely div. No errors either.

[2017-04-26 15:00] Anthropic commented on #867
@Lorless are you on IE by any chance? If so you need a polyfill for Object.assign, I will be added it to the next alpha either directly or in a legacy browser support file.

[2017-04-26 15:10] Lorless commented on #867
@Anthropic no, im on chrome, although i've just been informed i may need to install the bootstrap decorator separately.

[2017-04-26 16:08] mattbrunetti opened #871 "Switch to `ajv` schema validator?"
#### Enhancement
As a user/developer, when I use this I should be able to ...
- use the same schema validator on my nodejs backend (to reuse custom `format`s and `keyword`s). Unfortunately, due to poor performance (see [comparison of benchmark results for json-schema validators](https://github.com/ebdrup/json-schema-benchmark)) we can't use tv4 on our backend.
- use features from the latest (draft

[2017-04-26 22:44] w3bappd3v opened #872 "objectPath.js not listed as a dependency - please add, ty"
#### Enhancement
As a user/developer,  I should not have to beat my head against the wall because nothing works without objectPath.js

#### Expected behaviour
objectPath.js is listed as a dependency along with tv4 etc.

#### Actual behaviour
No mention of objectPath.js in dependencies.

@json-schema-form/angular-schema-form-lead

[2017-04-27 00:31] Anthropic commented on #871
@mattbrunetti making validator selectable is definitely something I am looking at, it is something we need given the lack of support now for tv4. But I don't want to repeat the mistake of lock-in and select ajv, for example djv appears to be 25% faster, just not as up to date, but if it was supporting the latest draft it would be superior performance wise. So yes the plan is to make it possible to

[2017-04-27 04:01] Anthropic commented on #872
@w3bappd3v what are you doing when seeing an error? objectpath.js is no longer a dependency in the way it is in 0.8.13, it is a dependency of json-schema-form-core which is in turn a dependency of this library.

However I haven't added that to npm as anyone developing should be cloning the repos beside each other rather than relying on npm. When JSFC is ready to be used by other libraries with a m

[2017-04-27 05:07] w3bappd3v commented on #872
I was building a code pen asf boilerplate/poc from cdn hosted libs.

Trial and errored release versions of all the deps for a while, jquery,
angularjs, ngSanitize, tv4, bs3, asf, asfbsdecorator......x.x.x...went a
little cray cray

Thanks for responding.

On Wed, Apr 26, 2017 at 11:01 PM Marcel J Bennett <notifications@github.com>
wrote:

--
Rob Rhodes
(323)608-3874
r0brh0d3s@gmail.com

[2017-04-27 05:21] Anthropic commented on #872
Ah ok well hopefully it is a bit clearer, the alphas should work with the alphas of the same version.

Are you ok with closing this now based on my response? :)

[2017-04-27 06:14] w3bappd3v commented on #872
I think the cdns are only up to 8.13, ne way might still be worth mention
in the markdow

Just wanted to make  community aware, close away, thank you for your work

On Thu, Apr 27, 2017 at 12:21 AM Marcel J Bennett <notifications@github.com>
wrote:

--
Rob Rhodes
(323)608-3874
r0brh0d3s@gmail.com

[2017-04-27 07:20] Anthropic commented on #872
@w3bappd3v fair point, there is already an issue regarding updating documentation on versions and working with the library, I just want to get to beta as fast as I can and then update docs. Always happy to accept or discuss PRs relating to documentation, but not many people have time to help me unfortunately.

ps. when you email replay GitHub it publishes your email footer so your name, phone numb

[2017-04-27 07:20] #872 closed

[2017-04-27 10:07] Lorless commented on #867
@Anthropic So i think i've hit the brick wall here. If i implement the builder function you suggested i think it will break the forms I have where the user can add form fields as they go. The current sf-decorator with repeat im using means any form fields added will simply be created when angular finishes its digest cycle. If i use the builder the only time any children will get built is on initia

[2017-04-27 10:07] #867 closed

[2017-04-27 12:07] mattbrunetti commented on #871
Even better! This is great news!

[2017-04-27 23:32] Anthropic commented on #870
@mnzaki right, makes sense, I didn't get a chance the other night, wife dragged me out shopping, very much against my will, will definitely take a look this weekend.

[2017-04-28 05:52] nicklasb commented on #600
@Anthropic
Hi, have to get back on this next week but had a quick look not and I think that this is the one:
https://github.com/OptimalBPM/angular-schema-form-dynamic-select/issues/63
And it also links to:
https://github.com/json-schema-form/angular-schema-form-bootstrap/issues/9

[2017-04-28 10:18] mnzaki commented on #870
More analysis:

Another related problem is in [this line](https://github.com/json-schema-form/angular-schema-form/blob/104a3fa98d688b547feece7d4a38bc7c20adcf5e/src/directives/sf-field.directive.js#L34) in `sf-field.directive`:
[code]

Assigning the form object directly from the `sfSchema.lookup` will break for arrays as there's only 1 form item object for all the array items, so when changes are m

[2017-05-01 15:32] warmy1004 opened #875 "Checkbox validation is not working with version 1.0-alpha4"
#### Enhancement
Validating a checkbox is not working.

How to reproduce:
1. Select Yes for the first question
2. click 'Validate' button

#### Expected behaviour
I expected 'Required' error message is displayed on the screen for the last question, checkbox one

#### Actual behaviour
It actually no error message is pop up and it's in a success stage instead of an error stage. The color is changed

[2017-05-04 09:45] skumarsg commented on #860
Hi Anthropic

I am facing a problem in schema form. We need to implement cascading drop downs in schema form.
eg.,

Country Dropdown
State Dropdown
City Dropdown

In that case we created directive and implemented it in schema form by using template type.
Now we have a trouble here, when ever we do any change in the values those changes are not reflected in model json.
 Does any body has any clue h

[2017-05-04 09:54] skumarsg commented on #869
schema-form => Does template type values be reflected in schema form model json... any insight

[2017-05-04 14:31] radvansky-tomas opened #876 "Custom Validator, disable onRender validation"
Hi, could somebody advice me what I am doing wrong.
I am trying to implement custom validators. With simple example of:

[code]

Every time I open page, my field is being validated => validation message is shown.
But My expected behaviour is perform validation when I want -> so for example after submit, or onblur etc...I tried all suggested options from documentation, but this validator is ALWAYS

[2017-05-04 22:16] Anthropic commented on #869
@skumarsg if you have a question please make an issue, off topic posts are too hard to track.

[2017-05-04 22:19] Anthropic commented on #860
@skumarsg there are a few tools already provided by the community for this already, angular-schema-form-external-options was one I made myself but there is also another called angular-schema-form-dynamic-select. These are very common use cases and these two options have covered most user requirements for related select fields.

[2017-05-04 22:31] Anthropic commented on #876
I'm wondering if you could set a scope attribute on first run and don't run until it is set? I'm not sure it would work as angular forms can re-trigger validation more than once, but it may work. If you can find something in the code which could avoid it, I'm happy to take a look at making it part of the validateOnRender option behaviour.

[2017-05-04 22:44] Anthropic commented on #875
@warmy1004 your issue is actually resulting from something that was fixed, the previous behaviour was actually causing errors.

Add `"enum": [ true ]` to the schema to get the behaviour you are needing.

[2017-05-04 22:44] #875 closed

[2017-05-05 06:49] radvansky-tomas commented on #876
So do you suggest to update sfValidate directive, set some flag there?

Sent from my iPhone

[2017-05-05 15:28] krptodr commented on #869
@Anthropic I apologize for my delay on getting to this. I pulled the latest changes from Git and can say that it does not work in IE still. Which leads me to ask, if I should be manually applying this Polyfill into a script somewhere?

[2017-05-05 15:37] krptodr commented on #869
I can confirm the polyFill resolve the issue with Internet Explorer 11. The form seems to load properly. However, it appears there is an issue with ngCloaking when rendering the form. This could be related to the polyFill implementation OR Alpha.5

[2017-05-05 17:30] Anthropic commented on #869
@krptodr can you describe what you mean regarding ngCloaking issue, what is happening that shouldn't?

[2017-05-05 17:33] Anthropic commented on #876
No I was wondering, not certain, but wondering if you could set this.hasRun = 1 at the end and test for it at the beginning. Haven't tried it, just a thought.

[2017-05-05 17:37] krptodr commented on #709
@brianpkelley I'm having a hard time thinking it's best to solve this issue by adding a tv4 format and not adding a solution directly into ASF. It seems @Anthropic really favors your choice. But it seems like creating a decorator to resolve an issue isn't the right path, for something that is provided by default.

However, because I am using a decorator for my date fields ANYWAYS, I have chosen to

[2017-05-05 18:05] krptodr commented on #869
@Anthropic It seems like the cloaking doesn't work. You can see the {{modelvalues}} while the form is rendering.

[2017-05-05 19:49] radvansky-tomas commented on #876
I tried to delay setting validators completely and call scope.apply after...but It always perform that validation immediately after assignment and show error in schemaform

[2017-05-07 13:28] Anthropic commented on #709
@krptodr I would love to come up with a solution to this that works for everyone, dates are a pain, I assume that's why Textalk made the original datepicker add-on for the library as a separate item. I would like to add a stable datepicker to the bootstrap repo and whatever changes are required here, ideally if there was a main datepicker as part of bootstrap (I don't use bootstrap much so I have

[2017-05-07 13:30] Anthropic commented on #876
Can you test for pristine? Not run the validation if the form hasn't been altered?

[2017-05-07 13:49] Anthropic commented on #869
I assume you are meaning while using ng-cloak or just without but while it loads? I think $ref support making it async has some unintended side effects like that which need to be looked into.

[2017-05-07 14:50] radvansky-tomas commented on #876
You mean inside validators itself ?! Based on docs validator takes only one argument (value) which is object from ng-model. How do you suggest to get reference of that particular form. Even if this does not sound as best practice I would try it...but I have to idea how to obtain form reference within validator...(imagine that you have multiple forms per page)

[2017-05-07 15:55] mathpaquette commented on #774
what's the status for this issue. I'm going to have spare time in the near future and I wish to help.

[2017-05-08 00:42] Anthropic commented on #774
@mathpaquette (and anyone interested in helping) can message me on Gitter.
I will make a Gitter group tonight for people willing to help with progressing this.

[2017-05-08 03:30] Anthropic commented on #876
What's on the 'this' object? Anything that may help? Sorry I can't test a solution I don't have a plunker handy and I'm at work :)

[2017-05-08 04:20] skumarsg commented on #860
Is there any way to identify or locate type template control or get type template control (controls inside template) value in model json.

[2017-05-08 05:29] radvansky-tomas commented on #876
Obviously you have schema, form layout and model. You are defining validators inside form layout. And this custom validators are having this format:

` $validators: {
      noBob: function(value) {
        if (angular.isString(value) && value.indexOf('Bob') !== -1) {
          return false;
        }
        return true
      }
    }`

In this case "value" is object/primitive type from ng-model de

[2017-05-08 05:39] radvansky-tomas commented on #876
Example is here:
https://embed.plnkr.co/WwBHmh/

Try to 'hide' $validator on render, by not using 'hacks'. IE I want to perform validator once form is touched / submit button is pressed. As it is for "email" field -> by using internal validator (email pattern)

[2017-05-09 12:39] mathpaquette commented on #774
Hi @Anthropic where's the Gitter? Also a thing that makes me very sad is that jsonschema form as been ported to recent framework like react (react-jsonschema-form) but nobody have considered to create an intermediate lib that we can easily reuse (probably its more efforts). I saw that you created a core project but is there a real interest by the community?

[2017-05-09 20:39] vicary commented on #573
AFAICT it is unchanged. TBH I'm not sure what to expect, it's neither `destroyStrategy` nor `default`.

It's more like when `$modelValue === ''` we revert back to some state.

Sounds almost the behaviour of form reset, but only on a single field.

[2017-05-09 22:14] ryantehbaker commented on #425
hi

[2017-05-10 01:36] Anthropic commented on #774
@mathpaquette yes there is likely to be an effort shortly to fork and port the react lib you mentioned over to use the core from here, some users want a react port that is 100% compatible using the core. I will work with them on that to ensure the core is as stable and usable as possible for any library. Gitter is linked from this repo home page but you can just go onto gitter and use my github us

[2017-05-10 01:53] Anthropic commented on #573
@vicary ok, just checking after so much time... I like the nullOnEmpty config suggestion, would you expect that to be needed per-field though or would global be enough do you think?

[2017-05-11 18:19] Schaussi opened #878 "Schema groups / tabs / accordion"
Hi,
I am using a quite huge schema, so I am looking for the best way to only display partial data, if possible without creating a separate form definition ([*]).
What I found so far is #800, unfortunately in my test project I only see a minimal button without any function.

Basically, I would like to give a schema object (e.g. myschema.myobject) a certain type like "x-form-schema" : { "type": "tab

[2017-05-12 04:31] Anthropic commented on #878
json-schema is a standardised format, but in the documentation there are details on how to add form definition rules to your schema. You can also make an add-on without the need to make an entire decorator.

[2017-05-12 05:22] Schaussi commented on #878
x-schema-form would be perfect for my case, but I think it is not possible to tell e.g. myschema.myobject to generate all its underlying objects (but only 1 level) as tabs, as you have to also specify the "tabs" and "items" properties.
It would be great if one could use the star symbol for certain parts of the schema in the form definition, like "myschema.myobject.[*]".
Unfortunately, I am too lit

[2017-05-13 03:05] Anthropic commented on #878
So is this closable if you have a solution then?

[2017-05-13 05:59] Anthropic opened #879 "Add UI Policies"
#### Enhancement
As a user/developer, when I change a field value I should be able to make other fields become readonly, required, defaulted or hidden based on conditions that can be evaluated after certain change parameters are met.

This includes multiple fields to watch for change and the option to apply updates to multiple fields as well.

#### Related issues
#597

@json-schema-form/angular-sc

[2017-05-13 06:32] Anthropic commented on #876
It would be easier with the alpha as each element would have a class to access, I don't think the old version will work without applying a style to the outer element and looking it up that way.

[2017-05-13 06:35] Anthropic commented on #849
@icxDave any luck with the proposed solution?

I'm going to close this unless/until someone confirms this isn't an Angular bug.

[2017-05-13 06:35] #849 closed

[2017-05-13 06:36] radvansky-tomas commented on #876
I have no idea what are you talking about 🤣  There is no alpha channel involved and even if it was it would be hack as hell...

[2017-05-13 13:03] Anthropic commented on #876
@radvansky-tomas the current dev branch of this library is the alpha of v1.0.0 it has a substantial amount of fixes and changes in it and should be much more stable, despite being labelled an alpha, than the current release. Both still have plenty of things I want to fix, but it would be worth looking into as it would possibly make your goal much easier to achieve as it adds appropriate classes an

[2017-05-13 13:08] Anthropic commented on #425
@ryantehbaker I tried @ymarcon's example on the example [plunker](https://plnkr.co/edit/C9mM5feGGZ0N7povA84G?p=preview) and it worked fine.

[2017-05-13 13:08] #425 closed

[2017-05-13 13:14] Anthropic commented on #847
@donalmurtagh @Lorless any feedback?

[2017-05-13 13:53] Anthropic commented on #321
I tried this in a plunk of the latest code for the alpha https://embed.plnkr.co/WwBHmh/ and it seems to be ok. Please re-open if any further issues still exist in relation to this.

[2017-05-13 13:53] #321 closed

[2017-05-14 19:50] kirantejj opened #880 "dynamic ui-select search the beginning of the string,i want to search The string anywhere in the result string"
ex: the below are the dynamic select dropdown values

1)cars : cars 1.1 :cars 1.2
2)cars : cars 1.1:cars1.3
senerio 1:
if i type **cars** it is showing dropdown values
senerio 2:
if i type **cars: cars 1.1**  it is showing dropdown values
Senerio 3:
 But if i type **cars 1.1** the dropdown values are not showing ,it does not search middle characters.

need solution?

#### Enhancement
As a user/dev

[2017-05-14 20:27] kirantejj commented on #880
issue resolved
I added **** **item[prop].toString().toLowerCase().indexOf(text) > -1** on
**angular-schema-form-dynamic-select.js** file on line no 117

[2017-05-14 22:40] #880 closed

[2017-05-15 05:46] Schaussi commented on #878
Yes, thank you.

[2017-05-15 05:46] #878 closed

[2017-05-15 06:07] radvansky-tomas commented on #876
I've updated plunker to latest source from dev branch - https://embed.plnkr.co/WwBHmh/ I cant see any difference in end result. Validation is still triggered on load.

[2017-05-15 14:19] Anthropic commented on #876
This will work for your example case:
[code]

[2017-05-15 14:35] radvansky-tomas commented on #876
Yes, but unfortunately,  you've hardcoded element name and diminished whole point of dynamic forms. Plus looking for element via jquery...

Thing is that these "custom" validators dont have reference neither to form / element ... And in my case I am adding elements in dynamic way to the layout...so I cannot really "hardcode" strings

[2017-05-15 15:05] kirantejj opened #881 "API /Remote service data is not populating ( angular-schema-form-dynamic select)"
scenario 1 :working with static data
----------

**xyz.ts**
--------
 public populateTitleMap() {
            var vm = this;

            return [
                  { value: "value1", name: "text1" },
                 { value: "value2", name: "text2" },
                   { value: "value3", name: "Select dynamic!" }
               ];
}

------------------------------------------------------------

[2017-05-15 21:56] Anthropic commented on #876
That is completely covered by the last sentence isn't it? If you point to your root form, you can do whatever you like with whatever scope you like, it's as flexible as you want to make it.

Take a look at #847 I'm waiting for feedback on a solution which I think would help you, maybe you can provide some feedback on the potential solution.

[2017-05-15 22:08] Anthropic commented on #881
@kirantejj I'm sorry but I can't help you any more than to say look at the two add-ons that already do dynamic select and replicate how they do it or use one of them.
http://github.com/Anthropic/angular-schema-form-external-options
http://github.com/OptimalBPM/angular-schema-form-dynamic-select

[2017-05-15 22:08] #881 closed

[2017-05-15 22:15] Anthropic commented on #865
@shravanmahankali do you want to make a PR to add it to the documentation? Then you get added to the repo as a contributor, under a header of "i18n/ l10n" something along the lines of "While the library does not specifically address i18n/l10n it is certainly possible as this plunker demonstrates.". Would you like to do it or do you want me to add it?

[2017-05-15 22:18] Anthropic commented on #796
I'm going to close this, it is always on my mind so if I can find a way for webworkers to help I certainly will be doing so, but I want to reduce the issue count, so I'm closing it :)

[2017-05-15 22:18] #796 closed

[2017-05-15 22:29] shravanmahankali commented on #865
@Anthropic I am not familiar with the PR process, can you guide me through?

[2017-05-15 22:58] Anthropic commented on #865
Well these days you can make a PR directly from GitHub, you just select to edit a file in the dev branch https://github.com/json-schema-form/angular-schema-form/edit/development/docs/index.md then when you go to save it, at the bottom, you should see "Create a new branch for this commit and start a pull request". Are you familiar with Markdown? Don't update the table of content at the top I can do

[2017-05-15 23:00] Anthropic commented on #865
The other way is to fork the repo and make the change in your own copy and then create a pull request from your repo to this one, it gives you a bit more control but ultimately does the same thing.

[2017-05-15 23:07] shravanmahankali commented on #865
I realized by PR you meant a pull request and I can do that. So, once after I do a PR from development branch and then I'll integrate my i18n/l10n sample to the code. Is that correct? If so, I need to take a look at your code to find a way to integrate.

[2017-05-15 23:13] Anthropic commented on #865
@shravanmahankali I just meant to add a section in the docs/index.md file to point to your plunker with a description about the link like what I wrote :)

[2017-05-16 06:09] #865 closed

[2017-05-16 10:32] donalmurtagh commented on #847
@Anthropic not yet, but it's still very much on my radar. I expect to get to this within the next week or two. Sorry for the delay.

[2017-05-17 12:25] AChakraborty1982 opened #883 "Unable to load schemaForm (angular/webpack)"
angular.js:2101Uncaught Error: [$injector:nomod] http://errors.angularjs.org/1.5.6/$injector/nomod?p0=schemaForm(…)
angular.js:13642TypeError: Cannot read property 'text' of undefined
    at http://localhost:8123/node_modules/angular-schema-form/dist/schema-form.min.js:1:4011
    at Array.reduce (native)
    at l (http://localhost:8123/node_modules/angular-schema-form/dist/schema-form.min.js:1:396

[2017-05-17 22:13] alexandroscgb opened #884 "Image fields"
Hi.

I was wondering if I cand add an image field to the form, like manully inserting a new field, I just don't see how.
It would be simple functionality of uploading an image to a server in a rest service.

Where can I look up this?

Thank you.

[2017-05-18 01:26] Anthropic commented on #884
Check out this answer #364
There's also:
https://github.com/chengz/schema-form-file-upload
https://github.com/guillbdx/angular-schema-file-type

[2017-05-18 01:26] #884 closed

[2017-05-18 01:30] Anthropic commented on #883
@AChakraborty1982 I don't accept zip files, if you make a plunk I can take a look, but the error indicates the file isn't included and if it is then in the wrong order. If you need help with webpack you may have better luck there as they have more resources than I do to help you.

Please feel free to re-open with a plunk reference.

[2017-05-18 01:30] #883 closed

[2017-05-19 10:26] mss-parveensachdeva opened #885 "Controller vm.schema is visible in view but not show the angular-schema-form ."
I'm using angular-schema-form
with following version :-
angular: 1.3.15
angular-sanitize: 1.3.15
angular-animate.min: 1.3.15

I setup the angular-schema-from with following controller code:-
`vm.schema= {"type":"object","properties":{"name":{"type":"string","title":"Timeout Name","readOnly":true},"timeout_list":{"type":"object","properties":{"delivery_staus":{"type":"boolean","title":"Delivery Sta

[2017-05-20 01:13] Anthropic commented on #885
@mss-parveensachdeva no one can really help you with the amount of information provided, you need to provide a demo (plunker). Please re-open when you have made one to link to. Also include the details of which version of angular-schema-form and the bootstrap decorator you are using.

[2017-05-22 11:16] mss-parveensachdeva commented on #885
Hi @Anthropic ,
Thanks for your reply . I solved this issue :)

[2017-05-24 12:00] pitchiah commented on #259
Hi Dervisevic, your solution works perfectly

[2017-05-25 08:01] santhoslokanath commented on #295
Hi Team,

In which version of release this patch is available. I am using bower to install and after running bower install. the patch code mentioned in this case(i.e onChange for array) is not available.

Please, let me know what I have do to get patch through bower.

Thanks,
Santhosh Lokanath

[2017-05-25 13:45] Anthropic commented on #295
@santhoslokanath as mentioned above it is fixed in the alphas, it is not in a release yet, I suggest using npm and pulling the alpha version. Bower won't be supported much longer I expect as they recommend using yarn on their own homepage https://bower.io/

[2017-05-26 09:06] C-E-Rios opened #886 "Readonly and disabled treated the same"
Setting an input to readonly is different to setting an input to disabled. Why are these used interchangeably in schema form?

[2017-05-28 12:36] Anthropic commented on #886
Not sure, it was like that when I started using it and long before I started working on it, I plan to change it, no timeline for it, but it is definitely something I intend on doing, it annoys me too!

[2017-05-28 12:36] #886 closed

[2017-06-01 12:39] donalmurtagh opened #887 "Multiple radio buttons with the same schema value behave incorrectly"
In [this plunker demo](https://plnkr.co/edit/nv2yyscFYRHhUiV10Xdw?p=preview) I've defined a form with a property of type boolean. The property is displayed using a group of radio buttons, the first of which sets the property to `true` and the other two set it to `false`.

However, if I change the property to a false value by selecting either option 2 or 3, the button that is shown as selected is a

[2017-06-01 23:46] Anthropic commented on #887
@donalmurtagh Angular doesn't like two radio with the same values.

The following will show the same issue and is pure angular code without our framework:
[code]
If you do the same thing in the latest 1.x version it selects both, so I am not sure when they fixed it but you could try ngJS 1.4 or 1.5 and see if that helps.

[2017-06-02 10:42] donalmurtagh commented on #887
I'm don't agree that selecting both should be considered a fix, but if the behaviour with ASF is the same as in a pure angular form, then I think it's reasonable to close this issue.

[2017-06-02 13:38] donalmurtagh opened #888 "Array validation broken in Angular 1.5.10"
## Steps to reproduce

- Open the [Plunker demo](https://plnkr.co/edit/1fphMFbKXhK5CaAfmntD?p=preview)
- Answer "Yes" to the first question, this will reveal a savings and investments section that allows one or more account details to be entered
- **Problem no.1**: Notice that the "Enter details of at least one account" validation message is shown, even though these fields are pristine and I've sp

[2017-06-02 15:40] donalmurtagh opened #889 "x-schema-form broken in latest alpha"
## Steps to reproduce

- Open the [Plunker demo](https://plnkr.co/edit/n1R1uFIT7oKDI7bJMSm9?p=preview
- Notice that the "Marital status" dropdown contains 3 blank entries
- If the `x-schema-form` attributes are removed from the schema and moved to the form definition, it works. In other words, you can workaround the issue by changing the schema to:

[code]

and change the form definition to:

[cod

[2017-06-02 17:35] donalmurtagh opened #890 "sfValidator regression in latest alpha"
I recently upgraded from 0.8.13 to the latest 1.0.0-alpha.5. In my app, I programmatically validate fields by injecting `sfValidator` and calling

[code]
Since the upgrade, this causes the following error:

Has this function been renamed, or is there a replacement available?

@json-schema-form/angular-schema-form-lead

[2017-06-03 14:51] Anthropic commented on #889
Thanks @donalmurtagh I will be able to make a test out of this to avoid it happening again once fixed, there's so many scenarios that don't have tests still, good to have someone using the framework in a way I don't, I appreciate you taking the time to report them :)

[2017-06-03 14:58] Anthropic commented on #890
Try `sfValidator(form, viewValue)` the sfValidator is now an alias for `JSONSchemaFormCore.validate`
[code]

[2017-06-03 15:10] Anthropic commented on #888
Nice, a breaking change in a patch release, gotta love that. Hopefully that means it is a minor change I can manage a fix for. Thanks for finding the offending release and the clear plunks.

[2017-06-04 12:04] #887 closed

[2017-06-04 12:22] Anthropic commented on #889
I checked in an old version and the same behaviour exists, the only supported version of titleMap within x-schema-form is an object list like the below:
[code]
I can certainly see why it would help if this had of been documented!

It was before my time so the best I can offer is to update the documentation to indicate the requirement for now and keep this issue as an enhancement. I would accept a

[2017-06-04 12:35] Anthropic commented on #890
Please re-open if you do not feel the question has been answered sufficiently.

[2017-06-04 12:35] #890 closed

[2017-06-05 18:04] donalmurtagh commented on #889
that seems like a reasonable interim measure

[2017-06-06 09:06] donalmurtagh commented on #889
@Anthropic I can confirm that the following successfully works around this issue

[code]

Notice that in your code snippet, you proposed assigning an object rather than an array to `titleMap`, which doesn't work

[2017-06-06 11:36] donalmurtagh commented on #890
Thanks for your reply, this seems to have fixed the problem. If you're maintaining a 1.0 upgrade guide, this ought to be included.

[2017-06-06 12:09] donalmurtagh opened #891 "schemaForm.merge regression in 1.0.0-alpha.5"
I recently upgraded from 0.8.13 to the latest 1.0.0-alpha.5. In my app, I programmatically merge the form and schema definitions by calling the following function, which serves as a simple facade for
`schemaForm.merge`

[code]

I have some Jasmine tests of this function, which fail since upgrading from 0.8.13 to the latest alpha

# Test 1
[code]
I've marked the lines that fail with `// FAIL` but u

[2017-06-06 23:46] Anthropic commented on #890
Yes, I admit I had overlooked the idea of people using the factories outside the framework but obviously it happens especially in add-ons, I changed it as it seemed odd to have a single function added to an object instead of just passing the function. I should have logged it, I'm glad you raised it, got me thinking about what else may have seemed minor but actually are not.

[2017-06-06 23:49] Anthropic commented on #889
Oh sorry, my being lazy I just copied your one from above and altered it to objects for each option and didn't alter the parent brackets :)

[2017-06-06 23:58] Anthropic commented on #891
Thanks @donalmurtagh the arguments have changed on this one, the function was moved to the core library and therefore needed more information.

You can see the different signature here: [schema-form.provider.js#L103](https://github.com/json-schema-form/angular-schema-form/blob/2360915caa037a90d0a64544203365e69268b74b/src/services/schema-form.provider.js#L103)

[2017-06-07 08:02] miukki opened #892 "Enhancement: validate generated form-items"
lets say i have generated a few inputs
`<input name="attr-dropdown-{{$index}}">
`
where is `{{$index}} ` 0,1,2

in scheme json i added:
[code]

so .. would be nice to have it

[2017-06-07 09:10] donalmurtagh commented on #891
Thanks @Anthropic, I replaced
[code]
with
[code]
and my tests pass now. If you're planning on writing an upgrade/migration guide for ASF v1.0, the change in this function's signature is worth mentioning.

[2017-06-07 22:28] Anthropic commented on #891
@donalmurtagh Yeah I added the "needs documentation" tag and I will review everything with that tag regardless of it being open or closed when I am ready to go to beta, thanks again, can't tell you how helpful it is to have someone going through an upgrade process to help me find things I may have forgotten or missed :)

[2017-06-07 22:41] Anthropic commented on #892
@miukki I think you need to bring this up in the json-schema org, we don't modify the schema standard in this project. If you want to propose a method to allow this based on the form definition I can look at it, but not on the schema.

Please re-open if you do not feel the question has been answered sufficiently.

[2017-06-07 22:41] #892 closed

[2017-06-08 17:41] donalmurtagh opened #893 "0.8.3 Field template does not show description after upgrading to 1.0.0-alpha.5"
Steps to reproduce:

- Open the [Plunker demo](https://plnkr.co/edit/mLxKpOC6zNm7l3tLXr3Y?p=preview)
- Enter some data in the field and notice that the description "Enter your name" appears under the field when it is valid
- Clear the contents of the field such that it becomes invalid, and notice that the error message is displayed twice: once in the correct place, and once in the expected `<div>`

[2017-06-08 21:43] donalmurtagh commented on #891
@Anthropic you're very welcome and your timely responses are much appreciated

[2017-06-09 04:12] Anthropic opened #894 "Add migration and API change doc for 0.x -> 1.0"
Add documentation for the following issues found during migration processes carried out by users.

- [x] #901 contribution docs
- [x] #891 schemaForm.merge no longer requires all parameters
- [x] #869 Add Object.assign polyfill or backwards compatibility library for IE support
- [x] #889 x-schema-form should accept all formats for titleMaps
- [x] #890 sfValidator API change
- [x] #896 Change to fi

[2017-06-09 04:16] Anthropic commented on #891
@donalmurtagh I added #894 to make sure I keep track of items to document, please let me know what you think may be of use that isn't a breaking change, it is good the way you make an issue for each so I can confirm it is an actual change vs a bug. I'll close this issue now as once the documentation is done it will be covered.

[2017-06-09 04:16] #891 closed

[2017-06-09 05:01] Anthropic commented on #893
@donalmurtagh I agree with you usability, I want to add a help tooltip option 'hint' or 'instruction' to make it clearer what the annotation is for, my one problem with 'description' is that the json-schema is used for defining only the data definition and validation and as such technically description should be more like 'I am the field for this' rather than 'please enter your whatever here'. The

[2017-06-09 10:50] donalmurtagh commented on #893
In my case I use the field description to provide guidance to the user about how to complete the field, and this is always defined via the `description` attribute of the field in the _form_ definition, e.g.
[code]

Am I using `description` incorrectly?

[2017-06-11 06:28] vicary commented on #573
I guess make it global until somebody suggest a legit use case on the field level.

IMO the logic behind this is a bit complicated for normal users to even care.

[2017-06-13 21:05] mnzaki commented on #870
@Anthropic I think I broke something with the fixes related to this issue, please take a look at the test I just add [here](https://github.com/mnzaki/angular-schema-form/commit/7906ac66bbbda870f0e36a780db92ecc8c8f6287). When deleting items from an array of objects it deletes other items as well. The bug is triggered when the form object has a "fieldset" (as opposed to the object items directly ref

[2017-06-13 21:46] mnzaki commented on #870
The issue may be faintly related to #750 and #769 and #689

[2017-06-13 23:24] Anthropic commented on #893
In ASF you are using it correctly, but ASF is currently using it wrong in my opinion and it will probably need to change in future. But not yet.

[2017-06-15 12:38] donalmurtagh opened #896 "Change to field names in 1-alpha"
I'm not sure when exactly this changed, but prior to upgrading to the latest alpha, I was generating field names like this in my templates:
[code]

The latest templates seem to recommend using the following instead
[code]
I changed my templates to use the new field names and in the case of one particular field inside an array, this changes the field name from
[code]
to
[code]

I think this should

[2017-06-16 16:49] alexandroscgb opened #897 "Patterns for not allowing special chars"
I have ASF working but now I cannot find a pattern for not allowing special characters like *!@ in a string field
` "especialfidu":
                  {
                    "title": "Especial fiduciario",
                    "type": "string",
                    "pattern": "/^[a-zA-Z0-9]*$/"
                  },`
What would be a good pattern?

Thank you.

[2017-06-16 19:06] alexandroscgb opened #898 "OnBlur validation"
Hi.

I was wondering if I could validate if the field is empty or not when it looses the focus, showing the validation message, in adition to the submit validation.

I have an onChange function that populate another field and I need to add onBlur validation, is it possible?

Thanks.

[2017-06-16 20:39] alexandroscgb commented on #898
Or I could use onChange property to see if the field is empty and if it is, trigger the same mecanism submit button triggers to show validation messages and css.
How could I do something like this? I mean, what is the mecanism to show validation messages and styles?

[2017-06-16 21:08] alexandroscgb commented on #898
I found some similar way, and that is to $scope.$broadcast(fieldId) the field I need to validate, but again, I can't link it to the onBlur event.

[2017-06-16 21:33] alexandroscgb opened #899 "ngModelOptions updateOn does not work"
Hi.

In the search for an onBlur validation I found that this expression:`ngModelOptions: { updateOn: 'blur' }` could make a field validate on loosing the focus, according to the documentation.
It turns out it doesn't. I press tab keyword and nothing happens.

Is it supposed to work like this? Or I'm just way out of base here.

Thanks.

[2017-06-18 23:33] Anthropic commented on #870
Thanks, I am hoping to get some time this week to fix up some of the smaller issues like this. Thanks for the update.

[2017-06-18 23:39] Anthropic commented on #897
@alexandroscgb stack overflow is a better resource for getting help on regex, I'd recommend playing on regex101.com it is a really easy way to test your regex. A caret (^) inside square brackets is negative so /^[^\*\!\@]*$/ would match everything except those characters.

[2017-06-18 23:39] #897 closed

[2017-06-18 23:47] Anthropic commented on #896
Yes this was a fix for a bunch of name related issues both in arrays when fields had the same property names, radio issues and problems when the page had multiple form with fields named the same. I've tagged needs documentation, thanks :)

[2017-06-18 23:48] Anthropic commented on #896
This can now be tracked in the migration doc issue

[2017-06-18 23:48] #896 closed

[2017-06-19 12:52] donalmurtagh opened #900 "schemaForm.merge reports incorrect keys for array object properties"
## Overview

In the latest version (1.0.0-alpha.5), the `schemaForm.merge` function reports incorrect keys for object properties stored in an array

## Steps to Reproduce

1. Open [this Plunker demo](https://plnkr.co/edit/H1ZEhzr5J9yRNouR5vVN?p=preview)
2. Click the "Merge form and schema button" and look at the result
3. In the result section, look at the keys reported for the child's name and ag

[2017-06-20 00:08] Anthropic commented on #900
Thanks @donalmurtagh I will turn this into a test case to ensure the scenario is supported in future changes as well.

[2017-06-20 09:54] donalmurtagh opened #901 "Improve contribution docs"
I was trying to setup a local development environment for angular-schema-form. Here's what I did:

- Cloned all the repos into sibling folders, as described in `CONTRIBUTING.md`
- Installed karma (this was not mentioned in `CONTRIBUTING.md`)
- Ran `npm install` (this was not mentioned in `CONTRIBUTING.md`)
- Ran `bower install` (this was not mentioned in `CONTRIBUTING.md`)
- Ran `npm run test`

Th

[2017-06-20 09:55] donalmurtagh commented on #901
[npm-debug.log.txt](https://github.com/json-schema-form/angular-schema-form/files/1087747/npm-debug.log.txt)

[2017-06-20 15:58] donalmurtagh commented on #900
@Anthropic I discovered that you can workaround the problem by using `fieldset` in the form definition instead of a `section`. You can verify this in the Plunker example

[2017-06-20 18:11] Deklin opened #903 "0.8.13 - issue with condition logic on IE."
#### Expected behaviour
I expected the condition logic to not fail on IE

#### Actual behaviour
It actually fails on IE, however you have it fixed in master, I've created a fork and fixed it against 0.8.13 to give you an 0.8.14 however I have no way to PR this properly.

#### Gist/Plunker/Demo

[Description](url)

#### Related issues
Please review this PR, this is a port back of your fix on the de

[2017-06-20 18:11] Deklin commented on #903
I have no target branch to PR against for you to see the change,  But the changes are limited to only what was fixed on the development branch for the builder.condition method.

[2017-06-20 22:25] mnzaki commented on #870
@Anthropic please do take a look at #895 which adds a test and a fix for the issue I just mentioned.

[2017-06-21 00:36] Anthropic commented on #903
@Deklin try targeting the **support/0.x** branch, that should be the closest to 0.8.13

[2017-06-21 00:42] Anthropic commented on #870
@mnzaki The [should not delete innocent items on delete](https://travis-ci.org/json-schema-form/angular-schema-form/builds/242656408?utm_source=github_status&utm_medium=notification) test is failing, can you take a look at what would be causing that?
ps. it can sometimes be node version related.

[2017-06-21 13:49] mnzaki commented on #870
@Anthropic that's again the same issue because I did not commit `dist` :D I do remember you said you fixed that but it doesn't look like it's pushed yet.

[2017-06-22 16:49] ludovicPelle opened #907 "schemaFormValidate miss last field"
#### Enhancement
As a developer, when I trigger schemaFormValidate, the last form field does not render errors, if i run another digest cycle , its ok

#### Expected behaviour
I expected schemaFormValidate works as expected

#### Actual behaviour
It actually need another digest cycle.

#### Gist/Plunker/Demo
I cant reproduce in plunker but, i reproduce on your demo page
http://schemaform.io/exampl

[2017-06-23 01:10] Anthropic commented on #870
Ah yes, you even added a comment on it to that effect, sorry about that!

[2017-06-23 09:13] t27 opened #908 "No way to know the source of onClick event in arrays/tabarrays"
#### Enhancement/Bug
As a user/developer, when I have a "Button" form element inside an array/tabarray schema, and this button has an `onClick` handler, I should be able to access the active tab index, since the purpose of having a button inside the form would be to make tab specific changes.

#### Behaviour
Currently, there is no way to do so. When we click on the button from any of the tabs, the

[2017-06-24 05:40] Anthropic commented on #870
@mnzaki sat down at my home pc and immediately realised I couldn't sync latest changes as I had the build fix uncommitted, got one bug to fix then I should be able to push it.

[2017-06-24 12:16] Anthropic commented on #901
@donalmurtagh was there anything else to add to this, did you need to install webpack/eslint globally with -g to get build to work for example?

[2017-06-24 12:35] Anthropic commented on #901
@donalmurtagh would this suffice?
## How to setup to develop
To get started clone all json-schema-form library repos into sibling folders.
[code]
Install dev/global dependencies and bower references to use demo site
[code]
Once cloned each repo has npm commands for assisting development
[code]

[2017-06-24 13:56] Anthropic commented on #908
@t27 ideally it should follow the behaviour of onChange which passes this object definition:
[code]
I would love a PR if you have the time to make it work :)

[2017-06-24 21:06] marcelchastain commented on #118
@davidlgj any chance we can have this added to the documentation, prominently?

$refs are a fairly integral part of json schema definitions, and the only mention of the currently-supported-status is buried deep in github issues like this one.

[2017-06-25 07:45] Anthropic commented on #118
@marcelchastain it will be a part of the 1.0.0 release and is already in the current alpha. I've just added it to the alpha docs and will push them in the next update.

[2017-06-25 07:49] Anthropic commented on #907
@ludovicPelle which example are you looking at? Actually which browser and version are you using?

[2017-06-25 10:40] Anthropic commented on #900
@donalmurtagh this test is passing in the latest changes I merged, please re-open if there's anything still not working in relation to this :)

[2017-06-25 10:40] #900 closed

[2017-06-25 11:14] Anthropic commented on #870
Merged :)

[2017-06-25 11:14] #870 closed

[2017-06-25 12:08] Anthropic commented on #901
@donalmurtagh please re-open if you have more to add or think there's anything else I should add?

[2017-06-25 12:08] #901 closed

[2017-06-25 12:13] Anthropic commented on #894
All items are covered now, I'll re-open this issue if any more documentation needs pop-up

[2017-06-25 12:13] #894 closed

[2017-06-26 00:40] Drissen opened #909 "onChanged is not as described in the docu"
See the onChange-Events:
https://plnkr.co/edit/b8PwXmyOCwrcwhZ47DZQ

I defined the onChange-Event in different ways.
It only works, when a anonymous function is called.

See docu:
https://github.com/json-schema-form/angular-schema-form/blob/master/docs/index.md

and

docu says not only anonym functions.

[2017-06-26 10:31] donalmurtagh commented on #900
@Anthropic I've updated the Plunker demo to use the latest code and agree that this issue is now resolved

[2017-06-26 21:24] AChakraborty1982 opened #910 "Update $scope.model after bootstrapping angularjs module."
Please see this plunker https://plnkr.co/edit/Kax2uyNC0XdnSZCQWBLo

I am trying to set the $scope.model after the bootstrap manually, as this is a usecase in which the model is read from an external file which i m emulating for the example.

Please suggest any link or post by which i can update the model with my input json .

[2017-06-27 07:31] t27 commented on #908
@Anthropic ,
Thanks, I think I can implement this for onClick ...
The format that you mentioned above, is in the code [here](https://github.com/json-schema-form/angular-schema-form/blob/15f101ab71dc8740157e5e45a32840e55f94a6ff/src/directives/sf-changed.directive.js) right?
Also are there any issues/PRs related to this, that you are aware of, that could help while implementing this? (mainly to know