[2017-06-27 12:26] ludovicPelle commented on #907
On the "simple" example, tested with chrome 56 and firefox 49.

[2017-06-27 14:31] Anthropic commented on #909
"If its an expression it will be evaluated in the **parent scope** of the sf-schema directive"
You need to add the function to the scope of your controller so ASF has access to it `$scope.TestHandler = TestHandler;` would suffice :)

Please re-open if you do not feel the question has been answered sufficiently.

[2017-06-27 14:31] #909 closed

[2017-06-27 17:01] chemistryneil opened #911 "root array not rendered"
#### Enhancement
As a user/developer, when I pass in an schema array object i need it to display form array data

#### Expected behaviour
I expected to be able to pass in a schema with an array as a base object and provide a form to populate array data.
Any schema with the root type of array does not render anything. even though this is a valid schema.
Here is the schema i am trying to use I have

[2017-06-28 15:23] damonpu opened #912 "the second level array can't be display if there is a boolean property in the object"
`{
  "type": "object",
  "title": "Comment",
  "required": [
    "comments"
  ],
  "properties": {
    "comments": {
      "type": "array",
      "maxItems": 2,
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string"
          },
          "email": {
            "title": "Email",
            "type": "string",

[2017-06-28 17:21] donalmurtagh commented on #912
@damonpu Could you create a Plunker demo that reproduces your issue. You could fork [this demo](https://plnkr.co/edit/H1ZEhzr5J9yRNouR5vVN?p=info), so that you don't have to create everything from scratch.

[2017-06-29 03:44] Anthropic commented on #911
@chemistryneil please read the responses on #158.

Essentially the array schema would need to be wrapped in an object schema and that isn't a high priority since it is rare that someone would want or need an array root they can't manage to wrap within an object themselves. If it ever became easy for me to change in the course of other changes then I will definitely be looking at it though, it woul

[2017-06-29 03:44] #911 closed

[2017-06-29 04:16] Anthropic commented on #908
@t27 If you search for issue/PRs with comments by @joelwkent relating to arrays there was a fair bit of work done on array code to get the same values available within onChange/destroy relating to that and also it should explain what arrayIndices is all about. I'm on holiday for the next week, but happy to answer any questions the following week.

[2017-06-29 05:09] damonpu commented on #912
should be the version issue, we now use the same version as the demo and the issue resolved, so close the issue, thanks for the help

[2017-06-29 05:09] #912 closed

[2017-06-29 08:35] emarcias commented on #739
Hello, I also have the same problem, has anyone managed to solve it? Thanks

[2017-06-29 23:29] Anthropic commented on #907
@ludovicPelle are I see what you mean now, thank you for your time :)

[2017-07-01 05:54] thardy opened #913 "Migration Guide link returns 404"
I was looking to use angular-schema-form in a brand new Angular 4 app and was hoping it was possible.

[2017-07-04 06:36] vishnucr commented on #115
Hey, i have the same problem, i need to change the default interpolation. because i'm using python django. what should i do, ?

[2017-07-07 19:20] jolevesq opened #914 "Webpack with tv4 depedency"
### Problem
I am not able to run my project with Webpack. I always have this error

```Uncaught ReferenceError: tv4 is not defined```

I saw you solve the problem from a PR submit by jsomsanith (merged on May 15) but I am not able to find the modification inside development branch. You solved it for json-schema-form-core. Is it solved for angular-schema-form as well?

Thanks

#### Related issues
T

[2017-07-08 10:57] devendrainfotech commented on #692
Hey, I am not able to find the autocomplete example from the above link. can you care to share again.

[2017-07-08 13:48] rnjailamba commented on #692
@devendrainfotech  please check the examples here - https://github.com/json-schema-form/angular-schema-form-material

[2017-07-10 07:27] Tarjei400 commented on #625
Hi I took a liberty to tweak this example and to show there still is issue with[https://plnkr.co/edit/RBQBHEUJAfOnYYpcHPnP?p=preview](url) Invalid type, expected array.

[2017-07-10 08:11] Tarjei400 commented on #625
It seems like the parent form isnt updated when sub item changes. If I add a requirement on a string in items array like maxLength: 5 it gets wierder even more

[2017-07-10 10:57] tadam313 opened #915 "sfField decorator issue in Safari"
Hello guys,

I'd like to ask for your help as we have run out of ideas investigating an issue related to `sfField` decorator, the error message is:

`undefined is not an object (evaluating 'sfSchema.lookup["f"+attrs.sfField]')` - so the `lookup` object is somehow undefined.

This is only happening in Safari desktop versions (no specific versions, happened in 9.* and 10.* as well). I've tried to ba

[2017-07-12 04:37] #913 closed

[2017-07-12 04:38] Anthropic commented on #913
@thardy you would still need the Angular upgrade module but it can work and I am aware of people doing it.

[2017-07-12 04:38] Anthropic commented on #913
Thanks for letting me know about the link :)

[2017-07-13 10:46] #800 closed

[2017-07-14 07:27] legend80s commented on #651
+1 The solution: Use the npm package [angular-schema-form-bootstrap](https://www.npmjs.com/package/angular-schema-form-bootstrap).

[2017-07-14 07:40] legend80s commented on #724
+1 angular-sanitize

[2017-07-14 08:36] legend80s commented on #118
@Anthropic Can we see the the alpha docs for ref now?

[2017-07-16 07:15] Anthropic commented on #739
@emarcias I'm working to remove tv-4 at the moment, it is too old and not supported any more so long overdue, but may take a while still.

That said have you tried the proposed workaround above?

[2017-07-16 14:28] Anthropic commented on #914
@jolevesq unfortunately it caused more issues than it fixed to embed tv4 in ASF, so I am looking for a better solution, if you include the tv4 lib before ASF or add as an external it should be ok. I'm going to try to remove tv4 as soon as I can, it is causing a real problem for me at the moment.

[2017-07-16 14:31] Anthropic commented on #625
@Tarjei400 that's using alpha.2 the current one is alpha.4 and dev branch is a little ahead of that already.

[2017-07-16 14:51] Anthropic commented on #118
@legend80s it's in the [docs](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#ref) for the dev branch. Not much to say though, it just parses using fairly default options. More advanced options may  come in future but not for a while.

[2017-07-16 15:33] Anthropic commented on #915
Hi @tadam313 that's a tricky one without a method to reproduce it is always harder to assist.

From memory similar issues were related to field name conflicts or poorly handled special characters, but you'd expect that to happen more often and be reproducible. Have you had any further insights since last week when I was on holiday?

[2017-07-18 14:41] andrei-dracea opened #916 "Specify 'destroyStrategy' for array item removal"
#### Enhancement
As a user/developer, I would like to be able to set a `destroyStrategy` for array form types, so that when I remove an item, I can have it empty instead of destroyed (to keep track of changes).

#### Expected behaviour
I expected `destroyStrategy` to work on array form types.

#### Actual behaviour
It actually does not work like that. Nor does it provide any means of intercepting

[2017-07-19 01:21] Anthropic commented on #916
Hi @andrei-dracea when I click remove on the array item the comments array is showing as an empty array, what were you hoping it would show?

Are you wanting the array item itself to remain? That could be achieved with a button hiding the item rather than removing it, the default array buttons delete the array item so there is no item for ASF to act upon. If the array included a section with a con

[2017-07-19 09:34] andrei-dracea commented on #916
So, when you click remove, I was hoping there was a way I could specify something like `destroyStrategy`, so that I could have the order of the items remain the same, when I already have some data into the form.

For the _comments_ array example, starting from this model
[code]
after removing the first item, I would like to be left with
[code]

I need this for telling the backend API that the firs

[2017-07-19 09:47] legend80s commented on #118
@Anthropic  Can I see a demo of how to use $ref. The [docs](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#ref) is too brief for a newbie

[2017-07-20 12:53] jolevesq commented on #914
@Anthropic thanks for your answer and your good work. In the mean time I found a way to inject tv4 and ASF to my html instead of building the project with them and it works.

[2017-07-20 23:39] Anthropic commented on #914
Great, I'm glad, I know the project is in flux and can be tricky at times, I am trying to get it to a more stable point, but there's never enough time in a day!

[2017-07-24 19:42] rickyblaha commented on #207
Kudos to @mbugbee for the solution as well. For me this error started happening only when adding a boolean to a nested array. It worked fine if the nested array contained only string fields. As soon as I would add a boolean field, I got a "s.push is not a function" error. Your solution of adding the default empty array solved it.

[2017-07-25 08:09] aman-gautam commented on #597
This would be a really great feature!

[2017-07-26 06:15] upgo opened #917 "Error: [$injector:modulerr] Failed to instantiate module myApp due to: [$injector:modulerr] Failed to instantiate module schemaForm due to: r is undefined"
I can't get angular-schema-form to work and am being served and error:

Error: [$injector:modulerr] Failed to instantiate module myApp due to: [$injector:modulerr] Failed to instantiate module schemaForm due to: r is undefined.

All the scripts are correctly loaded in the right order as described. The only thing I can figure is that require.js is somehow needed but is this a requirement for my app

[2017-07-29 08:01] Anthropic commented on #597
CLosing this in favour of #879 I do want it, just have some more core work to be able to. I am trying to swap validators first that should give me more options.

[2017-07-29 08:01] #597 closed

[2017-07-30 07:56] Anthropic commented on #917
@upgo I haven't tested it with 1.6 yet, it is hard to say from that message, I would need more info to be able to offer you some assistance.

[2017-08-04 17:52] priteshacharya commented on #739
I'm also having this issue. The workaround would call the async validation on all input, but it would remove the error message "Error in title field".
Has anyone solved it?

[2017-08-06 21:38] mustafawani commented on #800
Can you please provide form schema for accordian

[2017-08-08 12:46] ludovicPelle commented on #907
Ok after digging:
it seems  : validateField call (src/directives/schema-validate.js lign 163) miss digest cycle so if you have one field -> no validation, if you have more -> miss last field "digest"

Solution : wrap validateField call in scope.$applyAsync( function() {/***/}) (src/directives/schema-validate.js lign 163) seems to fix problem

[2017-08-08 15:14] amiceli opened #918 "Duplicated field mixing asterix and declaration"
#### Features
As a developer, when I define my form schema, I should be able to display remaning field with "*".

#### Expected behaviour

For example with that form definition :

    vm.form  = [
        {
            "key"            : "name",
            validationMessage: {
                "nameContainsSpaces": "The name contains spaces"
            },
            $validators      : {

[2017-08-09 22:30] bmherold commented on #466
+1

[2017-08-12 04:22] Anthropic commented on #918
See #748 this is in the alpha version already using the key "..."

[2017-08-12 04:22] #918 closed

[2017-08-15 12:11] dsnoeck commented on #917
This drive me crazy for a full day, until I finally found the solution here: https://github.com/json-schema-form/angular-schema-form/issues/713

I'm also using Angular 1.6 with browserify.

[2017-08-16 03:57] Anthropic commented on #917
Closed as it appears answered in #713

Please re-open if you do not feel the question has been answered sufficiently.

[2017-08-16 03:57] #917 closed

[2017-08-21 22:47] GFoley83 commented on #774
@Anthropic just wondering if there's any update or progress on Angular 2+ support? Have an Angular 4 enterprise project about to kick off and ASF would make life a million times easier. Thanks!

[2017-08-21 23:02] Anthropic commented on #774
I don't expect it to be any time too soon, I have been sick for three weeks and taken off anything form related at work, so I am struggling on time, I have one colleague at work testing several different approaches for me though and I am working on making validator selectable to remove dependence on tv4, so it isn't a stand still, Angular no longer has a $compile method so we're determining the be

[2017-08-23 12:34] marmite22 opened #919 "How do I disable a field?"
Hi,

I've got some fields that I want to set to disabled however I can only seem to find references to readonly.

Is there a way to disable form fields?

Thanks

[2017-08-23 12:52] GenyaB opened #920 "Creating a Google Places Autocomplete Add-On for Angular-Schema-Form"
Hi,

I am trying to create an add-on that adds g-places-autocomplete to the input tag based on this library:
https://github.com/kuhnza/angular-google-places-autocomplete

I'm not sure if I am executing the instructions properly or what I am doing wrong.

Here is a plunker I made:
[https://plnkr.co/edit/J1Jhe3kHLICPGkARX000](url)

All that's supposed to happen is that when the user starts typing th

[2017-08-23 22:09] Anthropic commented on #919
@marmite22 the readonly flag actually sets the field to disabled, it was like that when I started working on it. Something I hope to correct at some point when I get past other priorities.

Please re-open if you do not feel the question has been answered sufficiently.

[2017-08-23 22:09] #919 closed

[2017-08-23 22:22] Anthropic commented on #920
@GenyaB the plunker doesn't include a form tag in the index, is there content missing from the plunker?

[2017-08-24 05:46] SweetSchilly opened #921 "no value change when using arrow keys in microsoft egde"
We use an input-tag with numbers. If we use _arrow keys_, the values in the tree would be changed, but in **microsoft edge** there are no changing - no changing after enter key or tab key or otherwise. The value changes only when typing numbers.

We tested this in Firefox and Google Chrome equally and there are no problems.

We hope, you can help us.
Thanks

[2017-08-24 07:05] GenyaB commented on #920
@Anthropic  Yeah sorry I left that out. Will add it now.

[2017-08-24 07:12] GenyaB commented on #920
@Anthropic [http://plnkr.co/edit/J1Jhe3kHLICPGkARX000?p=info](url)

[2017-08-24 08:43] GenyaB opened #922 "How do I prevent the form from refreshing on schemaFormRedraw"
I am using $scope.$broadcast('schemaFormRedraw'); after dynamically adding elements to my angular-schema-form, however, when I do this, it refreshes the form and reverts back to the first tab every time.

I've had a look at the render() and internalRender() functions inside the schema-form.js and have a feeling it's something in those two functions.

Here is how I am adding the elements:

//declar

[2017-08-25 16:10] SaifJerbi opened #923 "Not Issue : Java form definition generator for Angular Schema form"
Hi Team,

I wasn't able to join you by email, so i'm creating an issue in order to announce you my [SF Java UI Library](https://github.com/JsonSchema-JavaUI). It's related to your project angular-schema-form.

The SF-JAVA-UI is a server side extension for the Json Schema Form library,  It make the integration of your library into Java-Angular Web Project easier. Developers will not care about how

[2017-08-26 15:59] arshad104 opened #924 "Can we have Multiple schemas and multiple models for one form???"
Hi,

I am using angular schema forms for one of project. Just want to know can we have mutliple schemas and multiple models for a single form? If Yes, any example?

Thanks

[2017-08-28 02:07] Anthropic commented on #923
@SaifJerbi I like it :trophy:, feel free to join the [Gitter channel](https://gitter.im/json-schema-form/angular-schema-form) and let others know, you can always contact me quicker via Gitter as well

I like what you did with my logo too, perhaps `java-schema-form` should be a part of this org. :wink:

[2017-08-28 11:05] SaifJerbi commented on #923
Hi @Anthropic we really appreciate your collaboration. I joined the Gitter channel.
I hope that there will be contributers.
I like to name it : "java-schema-form", it would a pleasure for us to be part of your org

[2017-08-28 11:34] lucasgranberg commented on #213
Now after almost 2 years I had to implement translation for schema form again. Just for reference this is what I did. I am using ngtemplates to make my templatecache so I added these to the templatecache.
[code]
This means I also have to use the templatecache when devving.

I simply copied all the bootstrap templates to app/decorators/bootstrap. Then I manually inserted the |translate filter from

[2017-08-30 06:29] SylvainEstevez commented on #125
Any news regarding `oneOf` support guys? I'm looking for a library to create forms for my JSON schemas, but I highly depend on `oneOf`.

[2017-08-30 07:30] Anthropic commented on #125
The main issue with oneOf is that it is part of validation and not of display logic, I don't feel the previous solutions are adequate and we are discussing options within the json-schema org about how best to approach it. In the meantime I'm trying to split out the tv4 validator so we don't rely on it any more as it is no longer supported. This will allow us to use a validator with draft 6+ suppor

[2017-08-30 16:54] binodgrg commented on #388
Any idea when this will be fixed and is there a way to trigger the $validators separately?

[2017-09-03 05:39] Anthropic commented on #921
@SweetSchilly it appears Microsoft Edge is an edge case 🤣
But seriously Angular decided not to care about IE not supporting the required behaviour and someone on the issue posted a workaround if you have to support edge: https://github.com/angular/angular.js/issues/15366#issuecomment-258495347

I suspect eventually Edge will be fixed, so I am not inclined to put the workaround into this project if

[2017-09-03 05:39] #921 closed

[2017-09-03 05:43] Anthropic commented on #924
Not really, you can add sf-schema attributes on a non-form tag and have multiple schema-form instances within one html form tag. Never tried to blend the data though. Be easier to use $ref to combine the schema under different parent object keys and do it that way I would expect.

[2017-09-03 05:43] #924 closed

[2017-09-03 06:00] Anthropic commented on #923
I asked now in Gitter for some insight into how it works internally. I was thinking to be called java-schema-form it should be able to operate as a server for a folder of schema and forms as well, is that how it works, does it generate then serve or does it compile direct to server output?

[2017-09-03 06:02] Anthropic commented on #388
@binodgrg you mean in 0.8.13? Have you tried the alpha release? It's called alpha as feature set is not locked yet, however in many ways it is as stable as 0.8.13 depending on requirements.

[2017-09-03 06:13] Anthropic commented on #922
@GenyaB the schema and form are compiled into an Intermediate Representation which is then used for the display, updating the schema or form then regenerates the IR which causes the form to regenerate display. I have been wanting to find time to create a tab add-on that allows defining a schema/form to dsiplay as the content of the tab, but keep running out of time.

[2017-09-07 10:28] GenyaB commented on #922
@Anthropic Ah I see, I've been playing around as well but no luck. Let me know if you come up with a working solution.

[2017-09-08 23:56] swirlsky commented on #774
@GFoley83 same here.

[2017-09-11 18:24] Thorski opened #925 "Cascading menu to select value"
#### Enhancement
Is it possible to make a cascading  menu for
selecting a value.    Perhaps some array of arrays in titleMap?

Use case is user needs to pick a node in a large hierarchy of values.
<pre>
Root ->
  Top Level 1 ->
     Next Level 1-1 ->
       Third Level 1-1-1
       Third Level 1-1-2
     Next Level 1-2 ->
  ... etc
</pre>

@json-schema-form/angular-schema-form-lead

[2017-09-12 09:40] sandeepbhatt commented on #653
Hi , I want to remove empty row from json:from which is created through below json

{
    "type": "object",
    "required": ["editors_used"],
    "properties": {
        "editors_used": {
            "type": "array",
            "title": "What editors do you use?",
            "minItems": 1,
            "items": {
                "type": "string",
                "enum": [
                    "vim

[2017-09-12 09:41] sandeepbhatt opened #926 "how to remove empty option from drop down."
Hi , I want to remove empty option from json:from which is created through below json

{
"type": "object",
"required": ["editors_used"],
"properties": {
"editors_used": {
"type": "array",
"title": "What editors do you use?",
"minItems": 1,
"items": {
"type": "string",
"enum": [
"vim", "emacs", "sublime", "kate"
],"default":"vim"
},
"additionalItems": false
}
}
}

[2017-09-13 19:52] murrutia8k commented on #345
Hi, I'am using onchange with a input date, but I need the function was executed when I loose focus (onBlur) in the field, not always when change... supose I need to change date from 2017-08-12 to 2017-08-11... But the function is executed for 2017-08-1 (when I delete the last "2" character) and then when I complete date to 2017-08-11.

Any news about other events? I need to resolve this issue as c

[2017-09-14 07:45] Anthropic commented on #926
What do you mean? You require 1 item in order to be valid, what empty option are you talking about?

[2017-09-14 07:52] Anthropic commented on #925
@Thorski you can use arrays in arrays as long as the key names are unique, you could use a select (one of the dynamic select add-ons) which loads related level data if you know how many levels deep the user may go as well.

[2017-09-14 11:52] Thorski commented on #925
@Anthropic thank you for your answer, but I cannot figure out how to structure this.   If you could provide a simple example I would greatly appreciate it.   Thank you.

    "titleMap": [
      {
        "value": "1",
        "name": "Ohio",
        "type": "select",
        "children": [
          { "value": "2", "name": "Delaware" }
        ]
      },
    ]

[2017-09-15 05:07] Anthropic commented on #925
Can you give me an example of the data you want from the output and perhaps an example of the tree?

[2017-09-18 15:34] Thorski commented on #925
I had not looked at or seen the external options.   Thank you.   I have since wrapped ngx-tree-select in a custom widget and am using that.

[2017-09-21 21:06] tommywalsh opened #928 "Misinterpretation of "required" for boolean properties"
The JSON Schema spec says this about the "required" keyword:

In other words, marking a property as "required" is supposed to mean "This property must not be omitted from the object instance".

See http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.17

For boolean properties, I believe this keyword is being misinterpreted. It appears that angular-schema-form is interpreting "r

[2017-09-27 08:09] Schaussi opened #930 "Schema, description: Not all HTML href attributes showing"
#### Enhancement
As a developer, when I use HTML links in the schema definition's description properties, I should be able to use attributes like "onClick" or "id".

#### Expected behaviour
Using e.g. this line in schema config,
`"description": "<a href='test' id=\"testID\" ng-click='testClick' onclick='testClick2()' title='testTitle'>Testlinktext</a>"`

I expected this output:
`<a href='test' id=

[2017-09-29 11:49] dmastag commented on #774
Hi @Anthropic ,
Is there some progress on the Angular 4 implementation? Am looking really forward to it.

[2017-09-30 02:12] Anthropic commented on #774
@dmastag I am working on it today, there's been a break as I was sick for four weeks over the last two months with two separate cases of the flu, but I am started back into it yesterday. Timelines are hard to provide though as it is only me working on it in spare time.

[2017-09-30 04:41] dmastag commented on #774
Hi @Anthropic ,
Thanks for the update. Hope that you are feeling better now.
Is the work done on this repository? And is it still a huge task to do?

Maybe if the tasks can be split up into smaller jobs then the community is willing to help you on it?

[2017-10-01 03:34] Anthropic commented on #925
Closing since you found a solution :)

Please re-open if you do not feel the question has been answered sufficiently.

[2017-10-01 03:34] #925 closed

[2017-10-01 03:50] Anthropic commented on #928
I believe this is a duplicate of #857 which has been resolved in the latest alpha. I'm hoping to release another in the next few weeks.

[2017-10-01 03:50] #928 closed

[2017-10-01 06:18] beeing commented on #774
Hi, just to share in case you may not know about this project - https://github.com/dschnelldavis/angular2-json-schema-form. Perhaps can merge the effort to improve on one library.

[2017-10-01 06:44] GFoley83 commented on #774
https://github.com/dschnelldavis/angular2-json-schema-form is still in alpha and development is pretty sparse. I opened an issue over a month ago asking if the project was still in active development and have yet to get a response.

I've resorted to using:
https://github.com/makinacorpus/angular2-schema-form

which is stable, actively in development and seem to be doing the trick so far.

[2017-10-03 08:18] dmastag commented on #774
@GFoley83 agree, and it is even mentioned on the disclaimer that they think this is a great library and would like to join forces on an Angular2+ solution

https://github.com/makinacorpus/angular2-schema-form#disclaimer

[2017-10-03 16:16] aelamrani commented on #651
@stevenmccord we had to copy files locally to get it work... a bit ugly but when we faced the issue, it was the only solution we found

You can find here how: https://github.com/gravitee-io/gravitee-management-webui/blob/master/src/management/management.module.ts#L77

[2017-10-03 18:13] stevenmccord commented on #651
@aelamrani thanks for responding, I actually just figured this out and thought I might share, and might be a bit better than copying the files.  It was pretty easy once I figured it out.  Ultimately, webpack couldn't figure out how to resolve `schemForm` when the bootstrap defined it.  So you just need to make a `resolve.alias` and point to the schema-form.js file that you need.

Here are the rele

[2017-10-05 00:14] Anthropic commented on #774
Yes I have spoken to them to get them to add the disclaimer (people were getting confused by the name and asking me support questions for it) and we will probably collaborate together in future once the core work is done. I'll give you a list later about what work there is to do, I am always happy to help get someone up to speed to work on the project if they are interested I've trained a few peop

[2017-10-05 04:55] tivie opened #931 "Change the default html template angular-schema-form generates"
#### Enhancement

`angular-schema-form` is very opinionated in the HTML it generates, and it's very limited in the way the output form can be customized.

jsonform library has a schema [property called `params` that lets you apply `fieldHtmlClass` and `htmlClass` property to all form fields at once](https://github.com/joshfire/jsonform/wiki#style-the-input-field-the-fieldhtmlclass-property) (which

[2017-10-05 06:08] Anthropic commented on #931
@tivie have you looked at how add-ons work?
You can make your own templates for any field type you like, for example I had a user ask about validating an object using oneOf and showed how it could be done with this plunker: https://plnkr.co/edit/WN2TV5b1ujJItf2f8IJj?p=preview
Look at the oy-inline add-on file for how to inject templates. And css for making the fields inline.

You can make an add-o

[2017-10-05 14:29] stevenmccord commented on #651
@Anthropic done #932

[2017-10-05 21:55] tivie commented on #931
@Anthropic thank you very much for your quick response and hard work.

I did look into how addons work, but as I understood them, you can't define a generic template that all forms inputs inherit from. But I checked your plunkr and maybe I misunderstood the documentation. I will let you know :)

[2017-10-05 22:33] Anthropic commented on #931
@tivie the 'trick' in this case is to apply the inline requirement to the parent and just group the fields within it rather than try to affect each individual field. By adding a class to the grouping element it gives you all you need to manipulate the display of the children per group :)

[2017-10-05 22:39] Anthropic commented on #931
Closing this for now, let me know if you have any further requirements you need to resolve :)

Please comment if you want to re-open or do not feel the question has been answered sufficiently.

[2017-10-05 22:39] #931 closed

[2017-10-06 01:06] Anthropic commented on #930
@Schaussi the only element that will pass scripts into the page is the type [template](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#template).
[code]
The other fields are all being passed by AngularJS `$sanitize` which you can pass config to and allow elements to be whitelisted, I haven't tested it but I would expect it to work.

[2017-10-06 14:53] tivie commented on #931
I ended up forking [`angular-schema-form-bootstrap`](https://github.com/tivie/angular-schema-form-bootstrap) and made crude changes to the templates to fit my needs. To be honest, I got lazy and that was the fastest way to accomplish what I needed.

[2017-10-07 13:24] Anthropic commented on #931
That's fine, the decorators are there for just that, I do exactly the same for my work projects. There's always a need for work specific decorator behaviours. That's why I started the Material design one, for a project that needed to be different. :)

[2017-10-07 16:55] Schaussi commented on #930
Thank you for your hints.

In my special case, I ended up with this approach:
`<a href="#test">test</a>`
`window.setTimeout(meow, 8000);
        function meow() {
            var link = $('a[href="#test"]');
            link.click(testfunction);
        };`
I know it's not the best way to achieve this, but for my needs it works fine.

[2017-10-07 23:01] tivie commented on #709
Since json schema draft 4 does not support custom types AND has a pre defined string format known as date-time, maybe the best way to tackle this is to force conversion of date objects to strings prior to validation.

[2017-10-08 13:00] Anthropic commented on #930
Glad you found a workable solution for your case :)

Please comment if you want to re-open but I will close now for housekeeping purposes.

[2017-10-08 13:00] #930 closed

[2017-10-08 13:01] Anthropic commented on #926
I need a gist of what you are doing to be able to help, this doesn't provide enough information for me to support your issue.

The example demo has a "Save to Gist" button you can use to create one from a schema and form definition.

[2017-10-08 13:01] #926 closed

[2017-10-08 13:45] Anthropic commented on #774
@dmastag I'm currently working on:
 -  finish streamlining the build process in the core and making it TypeScript using build based on rxjs's build process, which I am almost finished with (almost is not referring to time, but effort).
 -  changing the validator in the core, tv4 is no longer supported and I want features from draft 6 and 7, I am working on making any validator supportable starting

[2017-10-08 18:45] tivie commented on #847
You can access other field values in the validator function (third parameter):

[code]

[2017-10-09 09:04] donalmurtagh commented on #847
@tivie thanks, that's very useful to know. This should be added to the docs

[2017-10-11 09:54] Tina92 opened #933 "Does this support onPaste event?"
I want to get the date on clipboard. I can make it through the `ng-paste` directive usually. Now, can  this default input suppport `onPaste` event ?

[2017-10-11 21:14] Anthropic commented on #933
Having never used it I can't be certain, but as is I doubt it, you would probably have to use a builder with the decorator to add the attribute.

[2017-10-12 03:07] Tina92 commented on #933
Yes, I use the bootstrap decorator, but I don't know how to add this attribute because `onPaste` is a event(function).

[2017-10-12 07:38] Tina92 commented on #933
Yeah, I hava solved this problem through the method about the decorator. 😊
Thank you !

[2017-10-12 11:25] Anthropic commented on #933
Great, thanks for letting me know @Tina92

[2017-10-12 11:25] #933 closed

[2017-10-12 20:26] vicary commented on #149
This should be fixed already.

[2017-10-12 21:17] vicary commented on #879
**Thoughts**
1. Function &/ expression instead of boolean constant? Because `condition`.
2. Should all form options takes it?
3. If so, should users copy the same watching expression for all ending nodes in case of \*:\* relations among multiple fields?
4. I smell recursions, logic flow should be one way as: json-schema -> sf-form -> decorator -> user input -> validation -> model data
5. From this

[2017-10-20 10:54] jake-cross opened #934 "Cannot load angular modue when including schemaForm"
My index.html: (I've added a load of extra scripts before hand trying to get around this issue). I have taken the files schema-form and bootstrap-decorator straight from the bower_components folder when it installed them)
[code]

My module:
[code]

Error in the page:
[code]

@json-schema-form/angular-schema-form-lead

[2017-10-20 13:43] seseso commented on #345
Hi, any news about this? I have the same requirement!

Thanks

[2017-10-21 10:16] Anthropic commented on #934
@jake-cross if you make a plunker I am happy to help you sort it out, it is usually an ordering of loaded files or scripts within them though. Could also be incompatible versions of the library, all of which I can help with through a plunker.

[2017-10-23 08:29] jake-cross commented on #934
Thanks for getting back to me, I'll do that as soon as I can.

[2017-10-23 13:47] murrutia8k commented on #345
Hi,

We use this workaround as commented in this other issue:
https://github.com/Textalk/angular-schema-form-datepicker/issues/24
Let me know if this helps you.

2017-10-20 10:43 GMT-03:00 seseso <notifications@github.com>:

[2017-10-27 17:33] aman-gautam opened #935 "Model with undefined values"
#### Expected behaviour
The model object should have the keys populated even if there is no value (undefined).

example instead of having a default model as `{}` we should have something like `{name: undefined, email: undefined, comment: undefined}`

#### Actual behaviour
The model is a blank object by default. If there is no value in the form, the key won't appear in the `model`.

#### Demo
In th

[2017-10-30 11:56] h123eranga opened #936 "Multi select onChange method"
How to add multi-select options to a form element?
How to add the onChange event for that element?

[2017-10-31 02:40] Anthropic commented on #936
We can continue this on your [Stack Overflow post](https://stackoverflow.com/questions/47016121/how-to-add-onchange-method-for-uiselectmultiple-element-in-angular-schema-form)

[2017-10-31 02:40] #936 closed

[2017-10-31 02:56] Anthropic commented on #935
If you try to access the properties they are still going to equal undefined, model.name and model.not_added will both equal the same thing n your object above.

Is there a reason you want a representation in the model without value, perhaps I can help more specifically? There is a library from the creator of [djv](https://github.com/korzio/djv) called [djvi](https://github.com/korzio/djvi) which w

[2017-11-02 09:49] aman-gautam commented on #935
Thanks for the response @Anthropic.

We have a large `schema` object and many `form` objects that use a subset of the `schema`. When the data is passed on to an external validation API, we are getting back ALL the `fields` from the large `schema`. Even if some `fields` of the `schema` are not even there in the current `form`.

We need to find a way to show only the invalid `fields` that are presen

[2017-11-07 23:12] Anthropic commented on #935
I would consider doing something like that outside of ASF, you can parse your form object to create a list of valid keys from the form definition and then process that against the resulting object prior to submission to the back end to remove unwanted items.

My opinion would be that as a schema should represent the model, even a subset form definition should validate against the schema as is and

[2017-11-10 10:47] TiruDadam opened #937 "WEB Accessibility (WCAG)"
<!--
How to make WCAG compliant (like adding lables and tab index..) using angular schema.

[2017-11-10 10:48] TiruDadam commented on #937
How to make WCAG complaint using angular schema.

[2017-11-10 22:40] Anthropic commented on #937
Deleted the duplicate comment.
Good question, the framework has never had anything specific to address this, it would be a good feature to add.

[2017-11-14 14:50] camilobaezcamba commented on #879
There is a function to redraw the schema form.

// We also listen to the event schemaFormRedraw so you can manually trigger a change if.
// part of the form or schema is chnaged without it being a new instance.
        scope.$on('schemaFormRedraw', function() {
          var schema = scope.schema;
          var form   = scope.initialForm ? angular.copy(scope.initialForm) : ['*'];
          if (sch

[2017-11-14 17:59] vsymguysung opened #938 "npm test failed"
This is error  message

[code]
Any idea?
Thank you!
@json-schema-form/angular-schema-form-lead

[2017-11-14 20:38] vsymguysung commented on #938
Never mind. It works on the dev branch though and the error above is only for the master branch.

[2017-11-14 23:12] Anthropic commented on #879
@camilobaezcamba this ticket is for planning a feature I plan to add to the framework in future and is more of a reminder for myself :)

[2017-11-14 23:13] Anthropic commented on #938
Thanks for the follow up @vsymguysung

[2017-11-14 23:13] #938 closed

[2017-11-16 04:52] sonikritika569 opened #939 "Conditional Required in Schema form"
I have to handle a scenario where I have some fields in my form if any of them is filled other all fields become required.
Is there any way by which we can mark conditional Required in such scenario?

[2017-11-16 08:04] yourarj opened #940 "Changes in dynamic options of select type input are not reflected in the UI"
#### Expected behaviour
I expected that if I give **titlemap** and **enum** values as object and array resp. (Dynamic values)
for a **select type field**, the changes made in the source variables should get reflected in the options
visible for selection

#### Actual behaviour
It actually doesn't reflect changes

#### Gist/Plunker/Demo

form was intitialized as
`					<form name="questionnaireForm"

[2017-11-16 14:02] jolevesq commented on #563
Is this suppose to be resolved in 1.0.0-alpha.4? I have the same issue.

[2017-11-20 11:45] #940 closed

[2017-11-21 05:32] yourarj commented on #939
Namaste Kritika ji,
 Kindly check the **contributing.md** file before submitting a bug. This seems some logical problem not an issue in angular-schema-form. Kindly check stackoverflow for more relevant problems and solutions.

[2017-11-21 10:34] Anthropic commented on #939
@sonikritika569 you can do this using the calculate add-on to set a value which you then add to the condition on all fields which you want to show to make them show.

[2017-11-22 04:30] bcbirkhauser opened #941 "Pre-fill model value - set multiple values"
#### Question
I have multiple yes/no radio buttons and I have one that I want to use to set the values for all the others, a "All Yes/All No" radio button.  I have a callback on the change to set the model values, but it doesn't actually update the ui.
 I also have a need to be able to pre-populate the form with saved answers if a user comes back to the form, which I assume will be a similar funct

[2017-11-27 03:52] angular360 commented on #572
any update on this bug??

[2017-11-27 03:53] angular360 commented on #572
I facing then same issue and need a work around for this issue.

[2017-11-27 03:57] angular360 commented on #424
any update on this bug ? I am facing the same issue in our application . Need a work around to fix this issue.

[2017-11-28 12:47] Anthropic commented on #424
@angular360 did the work arounds above not help your case?

[2017-12-05 18:28] Jarzembowski opened #942 "How to add fields to the schema dynamically"
I'm trying to add fields to the schema dynamically, but it only shows the first one I add.
For some reason, the "key" atribute changes from the second element on - maybe that's why only the first is showing.

Unfortunatelly, in this plnkr nothing happens, so I couldn't really recreate the same scenario - but the code is exactly the same.

https://plnkr.co/edit/6uD59yn7fIimTMuu6Qyq

[2017-12-06 11:11] TiruDadam commented on #937
Any plans to make framework WCAG A , AA and AAA compliance ??

[2017-12-08 10:25] cmartin81 commented on #774
Any updates here?

[2017-12-15 08:19] aman-gautam commented on #935
Sorry for not updating it earlier.

I ended up writing a small recursive function to find all the fields in the form

[code]

Thanks for the pointers @Anthropic

[2017-12-15 08:19] #935 closed

[2017-12-18 01:44] salimchemes commented on #908
onChange event on tabarray does not fire, is that a known bug? do you know if is there any workaround?

[2017-12-18 11:51] salimchemes opened #943 "tabarray onChange method does not fire"
I have this schema

The onChange method does not fire as it does in other type of elements.
Other methods have the same **onChange** methods defineded and works fine but tabarray is now working.

Looks like is not supported for tabarray, any ideas how to fix this issue?

        "key": "Atentions",
        "type": "tabarray",
        "tabType": "top",
        "title": "Audio {{ value.audio || $ind

[2017-12-19 13:14] mark007 commented on #914
@jolevesq can you share how you got tv4 to work along with asf. I'm trying to move a project to use webpack instead of bower, and am struggling to get asf-bootstrap to work. This is the latest error I'm also seeing about tv4, even though I am importing it via

import tv4 from 'tv4';

[2017-12-19 14:25] jolevesq commented on #914
@mark007 fom my webpack.commo.js file I use this to copy those files from the node_modules to a folder where my html page will be.
[code]

And inside my html template I use this to add the file as script tag
[code]

[2017-12-19 14:28] mark007 commented on #914
Ah great thanks @jolevesq

[2017-12-20 13:12] signalarun opened #944 "Is there any ui form builder for this library"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo

[Description](url)

#### Related issues
This is/maybe related to ...

@json-schema-form/angular-schema-form-lead

[2017-12-22 19:24] mnzaki commented on #914
You can use `expose-loader` and just load `tv4` before `angular-schema-form`
[code]

[2017-12-24 20:47] atavakoli opened #945 "Array with nulls/empty strings accepted, contradicting schema in items"
As a developer, I expect to be able to define a schema for an array of non-empty strings, for which form validation rejects an array containing one or more empty strings.

#### Expected behaviour

Using the following schema:

[code]

and the following form config:

[code]

... in the generated form, leave one or more of the entries empty. I expect the form to be rendered as invalid.

#### Actual b

[2018-01-04 05:58] rajdu opened #946 "What should be the schema type for Form type "section"? Can i write my own text in that section?"

[2018-01-05 03:49] easonzhou opened #947 "Readonly on the form doesn't apply to selector and array types."
#### Enhancement
As a user/developer, when I apply readonly on the form, readonly doesn't apply to single/multiple selector UI elements.

#### Expected behaviour
I expected that the whole form are readonly.

#### Actual behaviour
Actually only the text input fields are readonly, but the selector or multiple selectors are still editable and has no "readonly" look and feel

#### Gist/Plunker/Demo

D

[2018-01-08 15:31] AChakraborty1982 opened #948 "onChange is not able to update schemaForm"
https://plnkr.co/edit/AHemml?p=preview

I am trying to use onChange and update the schema values, but i don't see any changes, can someone point me what is wrong in it.
`
$scope.schema.properties.processor = ['dym', 'dym1'];

 $scope.form = angular.copy($scope.originalForm);

 $scope.$broadcast('schemaFormRedraw');
`
If I change the platform , i want to update the processors with new values. But t

[2018-01-11 12:54] burgstaller commented on #691
@HeerRik maybe a bit too late, but i got some remarks, since i was working on a plugin on my own recently:

.addmapping: is marked as depricated, however if you dont need any custom decorator, .addmapping should be fine.

Since I did not want to overwrite a default (string, number, array, ...) I created my own type with an corresponding rule. This makes it more clear in the definition AND the defa

[2018-01-12 13:29] subratawebops commented on #306
How can we add custom validation like if select field option is 1 show else if hide the field?

[2018-01-14 09:11] brunodymios commented on #939
@sonikritika569 try to check the example "Hack: Conditional required" in the examples page http://schemaform.io/examples/bootstrap-example.html. Basically, for each conditionally required field you have two versions of it, with the same key.
It may be very useful to support a "requiredIf" key in the schema that accepts a condition-like formula to better manage these situations that are very common

[2018-01-18 20:13] skidvd commented on #125
Just curious what the latest status and plans are with respect to anyOf, allOf, oneOf?

I have been doing some investigations with 1.0.0-alpha.4 as well as 1.0.0-alpha.5, but they still do not appear to be recognized/supported.

Any updates would be greatly appreciated.

[2018-01-19 14:15] borriej commented on #206
Im also getting this error "Error: There is no FormControl instance attached to form control element with path: 'rides -> 1 -> distance'"

Im trying to validate the form again, after deleting... but why is it so hard to do run this code? I feel like Angular is suffering from timing issues and is too strict. As if I need a ImDoneCallback() for each function i write?

[code]

[2018-01-19 21:00] jarocks opened #949 "Radio buttons across array"
Is it possible in an array to only allow one radio button to be selected at a time across all the items? (Like shown) Or can this only be accomplished with additional code?
![image](https://media.giphy.com/media/xUNd9Mcdi69NmSK5Fe/giphy.gif)

[2018-01-21 10:05] Anthropic commented on #944
There was one started by some other people at one point https://github.com/json-schema-form/json-schema-builder, but I don't think they still work on it. But you could take a look and see if it does what you are after.

[2018-01-21 10:05] #944 closed

[2018-01-22 04:12] Anthropic commented on #949
It isn't possible at this stage without an addon.

It depends what the specific desired outcome is, if you simply wish to select one, and only one, of the array items you can certainly use the calculate add-on to manipulate values based on a selection. But it would probably be easiest to use a dynamic drop down add-on to read in the array and display the titles of the array items with their index

[2018-01-22 04:12] #949 closed

[2018-01-22 04:23] Anthropic commented on #125
@skidvd there is no reason you can't roll an add-on easily to do the validation, I've already done it several times. The problem being there are far too many different ways to handle it so it is hard to make a standard handler for it. I am hoping to come up with a few alternative widget types that can be used to display them in a few different ways while still processing validation but my first jo

[2018-01-22 04:24] Anthropic commented on #908
@salimchemes are you using an alpha or 0.8.13?

[2018-01-22 04:35] Anthropic commented on #939
@brunodymios the required property of the schema is defined by the json-schema standard. I am looking at adding in a rule processing capability in future that can masse-update required, visible and disabled states for fields based on rules. but it could be a long time coming.

[2018-01-22 05:51] Anthropic commented on #948
`$scope.schema.properties.processor = ['dym', 'dym1'];`
should be
`$scope.schema.properties.processor.enum = ['dym', 'dym1'];`

[2018-01-22 05:51] #948 closed

[2018-01-22 21:15] skidvd opened #950 "tabarray first tab content not displayed until click away and back"
I am using the 1.0.0-alpha.4 version.

#### ???
As a user/developer, when I use tabarray for definition I should be able to have first tab displayed

#### Expected behaviour
I expected the first tab to be displayed by default

#### Actual behaviour
It actually displays the first tab selector as active/chosen, but with no actual tab contents vsible.  Upon clicking on another tab (or adding another

[2018-01-22 23:41] Anthropic commented on #946
Normally there isn't one, but you can certainly name it after a parent object if they are logically object based groupings. You can add a help text output to a section easily enough.

[2018-01-22 23:41] #946 closed

[2018-01-23 00:25] Anthropic commented on #691
@burgstaller Thanks for taking the time to comment, I'm sure it will help someone if not the OP :)

[2018-01-23 00:35] Anthropic commented on #306
@subratawebops this is a closed issue from 3 years ago and already answers your question, I am not sure what you are having difficulty with? I would suggest if you have an error in the way you are trying to implement it, you can add a demo to Stack Overflow and you should get a resolution fairly quickly.

`oneOf` is not available without using an add-on currently.

[2018-01-23 00:38] Anthropic commented on #950
Are you able to make a plunker to demo or have you found any indication of what code or style may be causing it?

[2018-01-23 10:41] brunodymios commented on #939
@Anthropic Thank You.
I did some research after writing and I noticed that indeed in the official specification of the standard there is no way to specify such validations. It could be a nice proposal for a future release of the standard, because they are very commonly requested. Extending your library this way could result in inconsistencies when used with other json schema validator (e.g. for se

[2018-01-23 19:57] skidvd commented on #950
Interesting, I made a plunker (https://plnkr.co/edit/QfjzjIfvD1lcQpy7InNV?p=preview) to demo this issue.  However, it works as desired in the plunker.  It appears that the first tab is just not receiving the 'active' class in my main effort.  Any idea what could cause that?

[2018-01-24 03:20] Anthropic commented on #950
@skidvd this is most common when something interrupts the final stages of the digest, can you test that by running the digest via console to see if running once more would finish the render?

[2018-01-24 22:31] Anthropic commented on #947
How are you doing it, if you apply readonly within the schema or form on a select it should work? If not you could try putting the fields within a fieldset and making the fieldset readonly.

[2018-01-25 03:36] easonzhou commented on #947
OK. Tried with putting them into fieldset and it works.

[2018-01-25 04:18] #947 closed

[2018-01-25 12:33] srihari-sridharan commented on #774
Hi any updates on this?

[2018-01-28 22:57] Anthropic commented on #774
No, I've been on holidays for a month+ and the end of year workload was too hectic, so I will be starting to work on ASF again this week. I have Assimilate and core running tests, but need to work on ASF to get it to compile and run tests properly so I can be sure it is working.

[2018-01-29 06:03] srihari-sridharan commented on #774
Thanks for the update @Anthropic

[2018-01-29 06:13] srihari-sridharan commented on #774
@Anthropic I found [angular2-schema-form](https://github.com/makinacorpus/angular2-schema-form). Asking this since I am new to Schema Forms, there is a disclaimer that states "We think angular-schema-form is a great Angular 1 library, and when it will move to Angular 2, we will probably join our efforts to produce and maintain a unique Angular 2 solution." Are there any plans on your end to join t

[2018-01-29 10:51] Anthropic commented on #774
Yes I have had conversations with them when I asked them to put in the disclaimer and I hope to work with them once the core is stable, I've also talked with @dschnelldavis who put together https://github.com/dschnelldavis/angular2-json-schema-form

[2018-01-29 15:11] srihari-sridharan commented on #774
Great to hear that! Please keep me posted as we are looking forward to use
this.

Thanks and Regards,

*Srihari Sridharan*

Never postpone work which should be done without delaying. Tirukkuṛaḷ
<http://en.wikipedia.org/wiki/Tirukkural> *2nd ** century BC*

தூங்குக தூங்கிச் செயற்பால் தூங்கற்க

தூங்காது செய்யும் வினை. - திருக்குறள்
<http://en.wikipedia.org/wiki/Tirukkural>

On Mon, Jan 29, 2018 at 4

[2018-01-30 11:00] hamzahamidi opened #951 "Does it support Property dependencies?"
#### Expected behavior
I read in your documentation that this library support Json schema v4. Does that mean it supports **Property dependencies**?
If a member's value of the dependencies keyword is either a string or an array of strings, then this is a property dependency. Example:
[code]
In the example schema above:

- if the instance to validate has a member named "a", then it MUST also have a

[2018-01-30 11:09] rhelgeby commented on #903
I see that this is merged into support/0.x, but is it released? As far as I can see 0.8.13 is still the latest release.

Is there any chance to get an updated build of dist/schema-form.js that I can reference until the release is ready?

[2018-02-01 06:01] Anthropic commented on #951
You could implement dependency validation within an add-on fairly easily, as you can see with this [inline options directive](https://github.com/Anthropic/angular-schema-form-external-options/blob/master/src/angular-external-options.js#L227), you can apply an object level validation to do anything you like quite easily. In that case it was for anyOf, but there would not be much effort required to

[2018-02-01 06:10] Anthropic commented on #951
Note on your example, `"a": "b"` would be invalid, even a single item has to be within an array `"a": ["b"]` when creating a property dependency, otherwise a complete JSON Schema object is required for a schema dependency.

[2018-02-01 12:51] srihari-sridharan commented on #774
@Anthropic can you please suggest me when to expect the support of Angular2? Asking this since my team is looking forward to using this. Thanks in advance.

[2018-02-01 18:38] ham-360 commented on #150
I think I understand what @zotona was asking for and I believe I too have a need for the same thing.

The aspect of json-schema-form which I find most compelling is the concept of using a JSON definition of a View (the Form document) which references a JSON definition of a Model (a JSON Schema), allowing the UI to present data (a JSON object) of said type (i.e. conforming to the JSON schema)

This

[2018-02-06 05:03] Anthropic commented on #903
@rhelgeby the alphas are fairly stable, you could try them, or just pull the change from the 0.x branch. I made a 0.x branch primarily to keep track of that version as it is in use and the new versions are so different internally.

[2018-02-06 14:29] rhelgeby commented on #903
Unfortunately I can't take that risk at the moment, but referencing the 0.8.13 branch is ok. Though the build in the dist-folder on that branch is outdated.

Would you mind doing a new build and commit it on that branch? Then I can use a github link in my package.json file.

[2018-02-07 00:14] Anthropic commented on #903
@rhelgeby could you run the build and confirm it works? I'm in the middle of work on another branch, but I would totally accept a PR for that branch that has just run the build. If not then I will try to find time this weekend.

[2018-02-07 21:29] rhelgeby commented on #903
I plan to fork and create a pull request with the updated build soon. Then I should be able to verify this specific fix, and do some regression testing of the features the app is using.

[2018-02-08 03:32] Anthropic commented on #774
@srihari-sridharan it all depends on how much support I get. Otherwise it is just me on my own so timelines are very difficult to predict, I had expected second half of last year, but my workload increased too much to make that possible, definitely not weeks though.

[2018-02-15 06:49] bp117 opened #952 "is Angular 4 support expected in future for this tool"
#### Enhancement
As a user/developer, when I ... I should be able to ...

#### Expected behaviour
I expected ...

#### Actual behaviour
It actually ...

#### Gist/Plunker/Demo

[Description](url)

#### Related issues
This is/maybe related to ...

@json-schema-form/angular-schema-form-lead

[2018-02-15 23:12] Anthropic commented on #952
Duplicate of #774

[2018-02-15 23:12] #952 closed

[2018-02-19 12:52] rhelgeby commented on #903
Although the build server couldn't build it, the build I provided in the pull request works for me (the IE bug is fixed). So far it seems good, and I since this is going in production in a few months, I will notify if there are any issues blocking it.

Currently I'm referencing the branch in my fork so that any changes doesn't mess with the release schedule for the app.

[2018-02-21 18:33] ncrocfer opened #954 "Send Raw JSON data"
Hello,

I'm trying to allow my users to send raw JSON in a field, using the CodeMirror extension (https://github.com/philippbosch/angular-schema-form-ui-codemirror).

Unfortunately the data is not validated as a valid JSON :
![codemirror_object](https://user-images.githubusercontent.com/1552526/36498025-6414bc3c-173d-11e8-9741-e10daf67c18d.png)

Here is my schema :

[code]

And my form :

[code]
W

[2018-02-22 00:13] Anthropic commented on #903
@rhelgeby ignore the travis build on that branch, before I started on the project the tests were broken and I only fixed them all for the alphas. One of the reasons I am terrified to touch that older code frankly.

[2018-02-22 06:39] ncrocfer commented on #954
Oups, no sorry I misspoke. The problem is not the extension, I have the same behaviour with a simple "textarea" type in the form definition.

I should not have talked about codemirror :)

My question is : how to send raw JSON data please ?

[2018-02-23 09:25] Anthropic commented on #954
The easiest way would be to use an extension applied to a textarea that then updates the model. It wouldn't be hard to do, similar to writing a normal bit of code in angular only you turn it into a ccomponent, the framework is ultimately an angular template manager after all. If you take a look at the calculate extension in the example/add-on folder you can see how you can add whatever you like in

[2018-02-26 14:41] ncrocfer commented on #954
Ok great, I'll do it ! Thanks for your answer :)

[2018-02-26 14:41] #954 closed

[2018-02-28 10:05] person2713 opened #955 "How set for definitions for json-schema in component (angular 2)."
Can you explain how set form definitions for json-schema in component. I have trouble, when try set layout array. Can you some example? (I use angular 2)

[2018-03-02 04:55] Anthropic commented on #955
@person2713 did you mean to add this issue here or at https://github.com/dschnelldavis/angular2-json-schema-form/ ?

[2018-03-02 06:50] #955 closed

[2018-03-02 06:54] person2713 opened #956 "How to link a custom button and method?"
I add custom button to form use next:
[code]
Then I try to link button 'Save' and function "exampleLog()' but, i don't know how do it. I use angular 2 on typescript and json-schema for angular. Can you give me some example how do it?

[2018-03-06 06:21] #956 closed

[2018-03-06 14:39] donalmurtagh opened #957 "ASF doesn't validate properties that are absent from the form"
#### Expected behaviour
If a property that is defined as `required` in the schema, is absent from the form (and model), the model should fail validation

#### Actual behaviour
The model passes validation

#### Gist/Plunker/Demo
[This demo}(http://schemaform.io/examples/bootstrap-example.html#/3eeccf1d15b022ba9cb1d7ebe41a50be) modifies the [simple example](http://schemaform.io/examples/bootstrap-ex

[2018-03-08 21:28] Anthropic commented on #957
Hi @donalmurtagh I'm not sure exactly why it was done this way, but to my understanding of the history it was determined that only what is available should be validated. I suspect this was due to limitations in tv4 and the integration with angular required to handle the validations.

I expect that with the swappable validators when I finish them there will be an option to handle this given the mor

[2018-03-08 23:29] donalmurtagh commented on #957
@Anthropic thanks for your response. I agree that visually highlighting validation errors for non-existent fields is obviously impossible, but equally, I'm uneasy about a model that does not conform to the schema passing validation. One possible solution would be for validation to throw an error in such cases, alerting the developer to the fact that there's an error in their form implementation.

[2018-03-13 15:41] omaigad commented on #943
+1

[2018-03-13 16:01] omaigad commented on #908
+1

[2018-03-13 20:01] person2713 opened #958 "What's wrong with schema and layout?"
[code]
Why I don't see "attributeId", "attrbuteName" and "value"?

[2018-03-14 02:23] scottux commented on #958
This is probably an issue best handled by a question on stackoverflow.com. Your syntax is off. In short, you need to use the full key like `Objects[].object.attributes[].attributeId`

[2018-03-14 04:37] Skepticism opened #960 "http://schemaform.io/ is down"
As a result, the examples referenced by the documentation are unavailable

[2018-03-14 06:45] person2713 commented on #958
You are right, thanks.

[2018-03-14 08:52] person2713 commented on #958
In general, my purpose is add appear Name of object when user input objectId. May be there is a better idea than add "attrbuteName" to schema and then customize it in layout?
Sample:
![image](https://user-images.githubusercontent.com/23407273/37391982-01bb7408-277e-11e8-8fd5-ebde014c9c48.png)

[2018-03-14 13:01] person2713 opened #961 "How work "condition"?"
I don't understand how work "condition". Can you explain me, please? And how erase "undefined" from  {"key": "Objects[].object.attributes[].value"}
[code]
I have to add items that I add on layout or it will work without this with condition?

[2018-03-14 13:23] ggomez039 commented on #960
when will this be resolved?

[2018-03-14 13:53] person2713 commented on #615
Explain me, please.

[2018-03-14 18:14] iseessel commented on #787
@Anthropic Hey! I'm trying to use https://github.com/Anthropic/angular-schema-form-calculate; and not having any luck -- I'm using  something just like the example, but I'm not hitting ~any~ of the code in the link.

I was wondering if you could explain what you meant by: you will need to change the decorator to bootstrap if that's what you are using... as I am using the bootstrap decorator.

[2018-03-15 18:29] lguerreromx commented on #960
Is there any news about this, is the site gonna be live again someday?

[2018-03-18 03:28] Anthropic commented on #960
I'll find out what happened. It is just a hosted github page from the repo, but it seems to have disconnected for some reason.

[2018-03-18 03:46] Anthropic commented on #961
@person2713 are you sure you didn't post in the wrong place again? That form code doesn't loook like ours.

[2018-03-18 03:46] #961 closed

[2018-03-18 03:53] Anthropic commented on #960
@Skepticism @ggomez039 @lguerreromx @iamarcel @dwiyatci @leanand @iGormilhit @mbaez

You can now use:
https://json-schema-form.github.io/angular-schema-form/examples/bootstrap-example.html

I have enabled this until I can sort out a new hosting arrangement.

[2018-03-18 04:02] Anthropic commented on #957
@donalmurtagh sorry for the delay I got so sick I ended up in hospital, back to normal life again now, yes I fully agree with you, the problem being I don't have enough co-developers so there isn't much I can do till I iron out the issues I am having with the new version and can do away with tv4. Then I can get enough info that I may be able to provide that sort of option.

[2018-03-18 10:15] Anthropic commented on #787
@iseessel post a plunker in an issue on the add-on repo and I am happy to help you sort it out :)

[2018-03-18 10:17] Anthropic commented on #943
It is fixed for the alphas I believe, have you tried them?

[2018-03-19 15:19] iseessel commented on #787
@Anthropic Thanks for the response!

I figured out the issue -- I needed to change  'materialDecorator' to 'bootstrapDecorator'. I was unfamiliar with angular-json-schema and just needed to go through the source code a bit.

[2018-03-21 03:22] sirius2013 commented on #410
@punknroll
could you provide example code about `Watching the selected.tab`? Thanks

[2018-03-21 11:40] person2713 opened #962 "Condition for nested array?"
I have some example:
[code]
on https://angular2-json-schema-form.firebaseapp.com/?set=asf&example=asf-array&framework=bootstrap-4&language=en.
There are any idea?
P. S. I read #742 but it does't work.

[2018-03-22 02:28] Anthropic commented on #962
@person2713 There is no relationship between angular2-json-schema-form and angular-schema-form.

[2018-03-22 02:28] #962 closed

[2018-03-26 06:32] sirius2013 commented on #922
@GenyaB
Did you solve this problem?

[2018-03-26 06:34] sirius2013 commented on #526
@chiewmey
I got same problem, how did you fix this issue?
Thank you

[2018-04-08 06:52] Anthropic commented on #960
Should be back now, the transfer has gone through and it is now managed by me moving forward.

[2018-04-08 06:52] #960 closed

[2018-04-12 20:12] billdavidson4 commented on #854
@Anthropic  : I have the need to have many forms on the same page and am trying to pass a schema in using {{schemaName}} notation which is failing.  The Plunker you shared seems to only handle different decorators via angular variable binding.  sf-use-decorator seems to allow for binding but not schema.

Is there something I am missing or do you have thoughts on handling this use case?

[2018-04-12 21:16] johnslipper commented on #854
Hi billdavidson4. Are you saying you are passing a variable curly braces to the sf-schema attribute? If so that is not required.

If you are using a single element on the page to display different schemas then the form should re-render if you re-assign the variables used on the form. You could do this in the controller.

[2018-04-12 21:34] billdavidson4 commented on #854
Thanks @johnslipper.   I am dynamically generating a page, and need to pass a variable to the schema in order for it to pull the right schema.  OR, I am now trying to do this with the sf-insert-field to get the questions to show up in their correct location.

so basically it is like this:
ng-repeat:

<div id="someDynamicIdentifier">
some html
< : questions for form with id : someDynamicIdentifier

[2018-04-12 21:48] johnslipper commented on #854
I'm not sure I follow. Are you generating the page in angularJS? If you have multiple angular schema forms then using a controller function to determine which one is required first, then assigning that to your template variable would be a way. Am I close? If not can you give a code demo in something like plunkr?

[2018-04-13 13:13] billdavidson4 commented on #854
@johnslipper  - thank you.  You started me rethinking my implementation and it's not as clean as I hoped, but it totally works.

Thanks!

[2018-04-15 11:14] Anthropic commented on #854
@johnslipper thank you for your time in assisting @billdavidson4, much appreciated sir.

[2018-04-19 07:34] jasminecjc commented on #925
what's your solution for angular2-json-schema-form to implement the cascades

[2018-04-19 07:50] Anthropic commented on #925
@jasminecjc angular2-json-schema-form is an unrelated project.

[2018-05-03 08:31] yuttian opened #963 "Cannot read property 'parse' of undefined"
base.js:9269 Uncaught Error: [$injector:modulerr] Failed to instantiate module angle due to:
Error: [$injector:modulerr] Failed to instantiate module schemaForm due to:
TypeError: Cannot read property 'parse' of undefined
    at Object.<anonymous> (http://192.168.3.25:8891/admin/app/js/base.js:56310:35)
    at invoke (http://192.168.3.25:8891/admin/app/js/base.js:13409:17)
    at Object.instantiat

[2018-05-03 11:27] yuttian opened #964 "TypeError: Cannot read property 'validateResult' of undefined"
Whenever I hit the keyboard, the console would make a mistake. I don't know why.

![1525346843266](https://user-images.githubusercontent.com/24581796/39573993-0c9a7f0c-4f08-11e8-8582-fbf205c29587.jpg)

[2018-05-07 17:09] gnom7 opened #966 "Can I generate form with dynamic array of inputs? (like in jsfiddle example)"
Hello, I can't find out how to create form with dynamic array of inputs (something similar to this [example](http://jsfiddle.net/JDS2U/22/)). Is it possible? How schema would look like?
Thanks.

[2018-05-08 06:57] gnom7 commented on #966
Found answer [here](https://github.com/json-schema-form/angular-schema-form/issues/207)

[2018-05-08 06:57] #966 closed

[2018-05-10 20:53] wioletag opened #967 "How do I trigger onchange function for change in the model"
I have onChange function defined in the form that works fine when I change inputs on the GUI.
onChange: function(modelValue,form) {
       $scope.formOnChange(modelValue, form);
}

However, I need to update model programmatically to display some values that are coming from backend call, and I thought that onChange function would fire on this update but it is not happening. I cannot figure it out.

[2018-05-12 14:13] Anthropic commented on #967
The onChange is a field level change, if you want to watch the whole model then you would use a watch on your scope and trigger a function on the scope to make the change, which I would expect to cause a digest cycle. Or are you specifically wanting to trigger the onchange function in the form definition for the field? If so you may have to force it to run using something like these: https://stack

[2018-05-12 14:13] #967 closed

[2018-05-12 14:15] Anthropic commented on #963
Please comment if this is still an issue and you want to re-open and can provide more info (gist/plunker) to help us to help you :)

[2018-05-12 14:15] #963 closed

[2018-05-12 14:17] Anthropic commented on #964
You haven't filled in the details I require to begin starting to help you, please make a plunker to demo the issue.

[2018-05-12 14:17] #964 closed

[2018-05-15 06:26] UniverseHan commented on #635
How is going on?

[2018-05-18 09:05] UtsukushiiBushido opened #969 "array of strings with enum"
Hi,

I have the following properties in my schema :

` "services": {
        "type": "array",
        "items": {
          "type": "object",
          "title": "services",
          "properties": {
            "name": {
              "title": "services",
              "type": "string",
              "enum": [
                "influx",
                "netdata",
                "jenkins",

[2018-05-18 18:31] xirdneh opened #970 "angular.uppercase is not a function on angular >= 1.5.0"
`angular.uppercase` has been deprecated since v1.5.0 and now in v1.6.10 and v1.7 has been deleted.
According to this changelog: https://github.com/angular/angular.js/commit/1daa4f2231a89ee88345689f001805ffffa9e7de
`angular.uppercase` should not be used and instead use the internal `toUpperCase`.

If this is an acceptable change I can try and do a PR.

[2018-05-23 15:40] MGouaillier opened #971 "Why schema is not rendered when properties.length is 0"
As i use ASF in my project, i sometimes wish to render forms that don't have any properties. I was wondering why my form was never rendered and i came across this condition :

[code]
Is there a particular reason why a form need at least one property ?

[2018-05-25 10:54] amithmahakala423 opened #972 "How to get the data in tabular form from Json-Schema"
I am using angular2-json-schema-form, to form html page. Some of the data i want to represent in the table using the attribute "format": "table". I am getting the following error: "unknown format "table" ignored in schema".

Do i need to install any table module using npm ?

"YextCategoryList": {
"type": "array",
"format": "table",
"addable" : false,
"removable":false,
"orderable": false,
"title":

[2018-05-28 16:16] gnom7 opened #974 "Addon builder doesn't applied"
Hey all,
I have tried to create addon, library loads and displays template for it, but does not apply custom builder function (passed as 4th argument to `schemaFormDecoratorsProvider.defineAddOn`)
I have looked for example [here](https://github.com/json-schema-form/angular-schema-form/blob/development/examples/add-on/calculate.js)
What am I missing? Any thoughts?

[2018-06-01 11:58] knasser opened #975 "Hide empty tabs"
#### Enhancement
As a user, when all the fields in a tab are hidden (because of a condition) , then the empty tab itself should be hidden

#### Expected behaviour
I expected  tabs without fields to be hidden from display

#### Actual behaviour
  empty tabs are actually still displayed

[2018-06-07 19:37] iseessel commented on #669
@Anthropic I think this would be commonly usable.

[2018-06-14 02:09] Anthropic commented on #969
@UtsukushiiBushido the easiest way would be using checkboxes if the list is finite [see the titleMap examples](http://schemaform.io/examples/bootstrap-example.html).

If not then it is harder to accomplish without using something like the calculate addon to process fields into a single array.

Please comment if you want to re-open or do not feel the question has been answered sufficiently.

[2018-06-14 02:09] #969 closed

[2018-06-14 02:13] Anthropic commented on #957
@donalmurtagh just as a secondary thought, there is no reason that the whole data object cannot be validated against the whole schema, this would be easy to implement given all the libs are already loaded. A directive added to the form could do it and could be included within your development build and not in prod. Just a thought while I was cleaning up issues :)

[2018-06-14 02:20] Anthropic commented on #972
Wrong library **angular-schema-form** !== **angular2-json-schema-form**

[2018-06-14 02:20] #972 closed

[2018-06-14 04:08] Anthropic commented on #635
@UniverseHan if you mean regarding performance, the alphas should perform better than previous versions, other than that it will improve the more I get time to work on it.

[2018-06-20 21:20] xirdneh commented on #970
Working on this...

[2018-06-24 14:00] Anthropic commented on #971
@MGouaillier That's the schema property object and no it doesn't.

It shouldn't be required in the alphas already, it has been commented out in the code and I will most likely remove it once I finish the bit below it.
https://github.com/json-schema-form/angular-schema-form/blob/development/src/directives/sf-schema.directive.js#L199

[2018-06-24 14:00] #971 closed

[2018-06-24 14:02] Anthropic commented on #974
@gnom7 sorry I've been on holidays, did you solve your issue? If not can you make a plunker or provide an example of what you are trying?

[2018-06-24 14:18] Anthropic commented on #975
@knasser this would be available via [this issue #776](#776) so follow that one and/or add to it. You may also have some luck looking at some work others have tried.

[2018-06-24 14:18] #975 closed

[2018-06-24 14:18] Anthropic commented on #975
ps. sorry for the late reply, I was on holiday.

[2018-06-24 14:21] Anthropic commented on #669
@iseessel it is something I want to add, just takes time I don't have much of.

[2018-06-24 14:27] #970 closed

[2018-06-25 13:36] iseessel commented on #669
@Anthropic No worries -- I'll see if I can make a PR for it -- but that would be doubtful as well.

[2018-06-25 22:33] Anthropic commented on #669
@iseessel I am actively working with the other members of json-schema on a ui-schema to better define behaviours but no one ever seems to have enough time, including myself. I'm trying to get work to give me some time but no luck yet.

[2018-06-26 11:57] milanpatel-parkstreet commented on #355
Hi @brettahale
We have use uib-datepicker-popup but the issue is data not bind in a model.
It would be great to provide ready add-on.

[2018-07-02 09:41] Flicksi commented on #957
There is a situation, where this behaviour is not wrong. If you only show a field under certain conditions, it usually is a required field. Because you need some extra information or something like that. But if the condition to show the field isn't met, it is not required.

[2018-07-02 23:22] Anthropic commented on #957
@Flicksi yes, I do intend on providing, eventually, the ability to change certain attributes based on rules, can't say when though, need to discuss it more with other json-schema members.

[2018-07-12 10:18] trsh opened #980 "[FR] Isn't it time to upgrade to angular2?"
It there for A WHILE

[2018-07-12 14:17] Anthropic commented on #980
Duplicate of 774

[2018-07-12 14:17] #980 closed, assigned to nobody

[2018-07-13 06:47] Anthropic commented on #774
**I'll update this ticket whenever there are any updates.** I'm still time poor unfortunately, but things are slightly improving, however I am about to have an operation (nothing serious) that will see me offline for a few weeks.

I'm hoping to put out an update to **0.x** very soon with AngularJS 1.7 compatibility fixes and then finish off **1.x** in the next month after the operation. I then wan

[2018-07-17 00:23] Anthropic commented on #942
@Jarzembowski did you solve this, I missed it as it came in while I was on holiday.

[2018-07-17 08:33] Jarzembowski commented on #942
Yes, I did, thanks for asking.
To be honest I dont remember how I did, but it turned out ok.

[2018-07-18 01:51] Anthropic commented on #942
No worries, feel free to comment further if you remember otherwise I will close this for now

[2018-07-18 01:51] #942 closed

[2018-07-19 15:08] kris2214 opened #981 "Conditional required rule"
Consider I have a json schema as below:
....
{
"properties" : {
   "minimumDelay" : {
            "type" : "number"
        },
   "length" : {
            "type" : "number"
        },
},
"required": {
   "minimumDelay",
   "length"
}

Here the json data will be valid if I enter both minimumDelay and length values.

But my requirement is json data must be valid when I enter either 1 of the values(l

[2018-07-21 18:53] frikinside opened #982 "Add-on ngModel builder seems to not work at all"
Hi,

I'm using the 1.0.0-alpha.5 version.
I've been trying to make and add-on and follow the documentation step by step but I'm having a problem with the ngModel builder.
Whenever I try to use any of the three options for `sf-field-model` the DOM don't change and the ngModel directive isn't getting injected.

#### Expected behaviour
When I set the attribute `sf-field-model` on an input control I e

[2018-07-21 19:05] frikinside opened #983 "Add-on with ng-model="$$value$$" not binding properly in an array"
Hi,

I'm using the 1.0.0-alpha.5 version.
I've been trying to make and add-on and succeed using the "oldway" of `ng-model="$$value$$"` and works wonders.
The problem occurs when I set that add on an item of an array.

#### Expected behaviour
I expect that `$$value$$` gets replaced with a proper binding. In the case of an array item property, I expect something like this:
If I set the template like

[2018-08-02 03:03] Anthropic commented on #981
This would be handled with oneOf validation which isn't currently supported without making a basic add-on to provide it.

[2018-08-02 03:03] #981 closed, assigned to nobody

[2018-08-02 03:13] Anthropic commented on #982
@frikinside there's a newer way to work with add-ons, take a look at https://github.com/json-schema-form/angular-schema-form/blob/development/examples/add-on/calculate.js and you will see the define add-on call that adds the build processors.

[code]

[2018-08-02 03:13] #982 closed, assigned to nobody

[2018-08-02 03:14] Anthropic commented on #982
ps. sorry for the delay I've been unwell

oh and thanks for making a really detailed and easy to help with issue/plunker :)

[2018-08-02 04:08] Anthropic commented on #983
Your template doesn't need `$$value$$` but it does need `sf-field-model=\"\"`
[code]

If that is executed with the new builders it should work:
[code]

Thanks again for taking the time to raise the issue properly and with a plunker!

[2018-08-02 04:08] #983 closed, assigned to nobody

[2018-08-07 14:30] anilkokate2009 commented on #285
how to add submit button on sf-schema-form in anguar 6 and how to route the link on submit page

[2018-08-08 06:58] yinbiao opened #984 "condition is not supported for IE"
#### Enhancement
As a user, when i use “radios-inline” to crontrol some text input to hidden，so i use "condition" in these text input， exp:  condition: "model.absolute"

#### Expected behaviour
I expected it worked for ie, firefix, chrome

#### Actual behaviour
It actually worked for firefix, chrome, but it raise exception in IE8, it shows:
TypeError: Object not supported “getAttribute" attribute

[2018-08-08 07:56] yinbiao commented on #984
I added a conditional judgment， then it worked in IE：
          if(child.getAttribute){
                var ngIf = child.getAttribute('ng-if');
                child.setAttribute(
                  'ng-if',
                  ngIf ?
                  '(' + ngIf +
                  ') || (' + evalExpr + ')'
                  : evalExpr
                );
          }

[2018-08-08 09:25] hugoalexmartins opened #985 "Required validation messages"
Hi,

I am using angular-schema-form-material and I am trying to show up validation messages, for now, only for required fields.
I am running the example inside, the validation runs ok, but the messages are not shown.

Anyone knows about this ?

I am attaching a print
![required-no-messages](https://user-images.githubusercontent.com/3170222/43828794-687d0536-9af5-11e8-8827-94f8da92403b.png)

[2018-08-08 12:18] Anthropic commented on #903
I believe this is closed by @rhelgeby 's merged PR, if not let me know what else is needed

[2018-08-08 12:18] #903 closed

[2018-08-08 23:40] Anthropic commented on #984
@yinbiao thanks for taking the time to make a clear issue. Can you confirm when you say it worked that it shows and hides the field as expected or just doesn't error? It looks above that the added if condition would exclude the code from running in IE at all wouldn't it?

[2018-08-12 12:45] scottux commented on #984
@yinbiao Any particular version of IE?

[2018-08-12 12:56] scottux commented on #984
And this is weird, it looks like it is failing because it is trying to call getAttribute on an EmptyTextNode. Maybe we should skip those.

[2018-08-12 13:01] scottux commented on #958
Start here for JSON Schema http://json-schema.org/learn/getting-started-step-by-step.html

And then for this library, https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#basic-usage and http://schemaform.io/examples/bootstrap-example.html are the best resources I have found.

[2018-08-12 13:10] scottux commented on #934
Don't use the minified schema-form file and it will tell you the dependency you are missing. A good idea is to use wiredep to load these automagically.

[2018-08-12 13:22] scottux commented on #910
The simple way is to just use:
[code]

https://plnkr.co/edit/Ity4ercMGQyDOiRjpi1Y?p=preview

[2018-08-12 14:04] scottux commented on #941
https://github.com/json-schema-form/json-schema-form/wiki/Documentation#copyvalueto

This might help. Other than possibly needing a $scope.$apply() though, I don't see anything wrong with your code or why it wouldn't work like you are expecting.

[2018-08-12 14:09] scottux commented on #893
I think this is related to #866

[2018-08-12 14:12] scottux commented on #811
@Anthropic I am familiar with dgeni and can make some minor tweaks to the examples page some time this week.

[2018-08-13 02:02] Anthropic commented on #958
Thanks @scottux

@person2713 please comment if you want to re-open or do not feel the question has been answered sufficiently.

[2018-08-13 02:02] #958 closed

[2018-08-13 02:07] Anthropic commented on #910
@AChakraborty1982 please comment if you want to re-open or do not feel the question has been answered sufficiently.

[2018-08-13 02:07] #910 closed

[2018-08-13 23:57] rthaut opened #986 "version(0.8.14) regression in conditional array validation"
This appears to be a new bug introduced in [version 0.8.14](https://github.com/json-schema-form/angular-schema-form/releases/tag/v0.8.14).

Basically, if you have an `array` property in your schema, and that property is conditional, the form is not being validated correctly.

Here is a [reduced example showing it working with version 0.8.13](https://codepen.io/rthaut/full/zLXvBP/).

Here is the [e

[2018-08-14 04:49] Anthropic commented on #986
@rthaut wow, that's an interesting case. No doubt plenty of users have it. Thanks for the demos, it does seem related to the condition as removing the condition it works in both, I suspect it was related to some fo the array changes that went into the branch mid last year.

[2018-08-19 11:48] Anthropic commented on #986
@rthaut can you test again with the bootstrap decorator from 0.8.13 with ASF 0.8.14? I think it just included a version of the decorator too new for the code in ASF.

[2018-08-19 15:28] rthaut commented on #986
@Anthropic Using the Bootstrap Decorator from 0.8.13 with ASF 0.8.14 does indeed work correctly, at least for this scenario. Here's a demo: https://codepen.io/rthaut/full/qMWpaV/

[2018-08-23 14:00] robinspollak commented on #450
Hi!
Just ran into this same issue by running it with 1.3.0 which was brought in automatically for some reason when I did `npm install angular-schema-form`. Would it be reasonable to update the package.json to reflect that a version newer than 1.3.0 should be used? (despite the fact that it works on 1.2.28)
Cheers

[2018-09-02 21:46] cybertriton opened #987 "Schema form for Android"
#### Enhancement
As a mobile app developer, I should be able to use schema form to display the form in android webview.

#### Expected behaviour
I expected the form is correctly rendered.

@json-schema-form/angular-schema-form-lead

[2018-09-03 02:09] Anthropic commented on #987
@cybertriton what are you asking for exactly? What does/doesn't work within a webview?

[2018-09-04 18:38] brian-slate opened #988 "Array type schemas do not render"
Array type schemas do not render, nor populate with model data.

#### Expected behaviour
I expected this schema to render:
[code]

#### Actual behaviour
It actually does nothing. I can pull out the nested schema under 'items' which renders fine and populates with data.

#### Gist/Plunker/Demo
With array schema (doesnt work): https://plnkr.co/edit/QvCijZcoV7BV4RU9m2cz?p=preview
Pulling nested schem

[2018-09-04 18:40] brian-slate commented on #988
I've also tried the Alpha builds (up to 1.0.0-alpha.4) with no luck.

As a test, I was able to paste the above schema and sample data into another angular json schema form directive (angular-json-schema-form) and it works as expected: https://azimi.me/angular-json-schema-form/demo/demo.html

angular-json-schema-form: https://github.com/mohsen1/angular-json-schema-form/

Looking forward to updates

[2018-09-04 22:31] shiva-git commented on #908
Is this issue resolved ?. Still not bale to access arrayIndex using onClick method inside arrays.
Using v 0.8.13

[2018-09-06 03:33] Anthropic commented on #988
@bmherold for whatever reason the original design of this project assumed the root to be an object for simplicity. You can read prior issue responses in this issue [How to make array type schemas work without wrapping them inside an object type](158) and this issue  [root array not rendered](911)

If it looks at any point like I could do it easily without breaking everything else I will do it, but

[2018-09-06 03:33] #988 closed, assigned to nobody

[2018-09-06 03:45] Anthropic commented on #908
@shiva-git this has not been added for onclick yet. @t27 did you end up looking into it?

[2018-09-06 14:29] t27 commented on #908
I did end up looking into it, but I haven't been able to submit a proper PR, we currently use a workaround to get the currently selected tab.

## My Workaround Steps
These are a bit sneaky and not necessarily recommended for everyone, they work for the moment

1. Add a custom classname to your tabarray in the form
[code]
2. Now, add a button element in your tab array and make a generic onClick han

[2018-09-06 16:05] brian-slate commented on #988
@Anthropic thanks for the prompt response! I'll take a look at the linked issues and maybe I can submit a PR in the meantime if you aren't able to get to it. Cheers 🍻

[2018-09-06 21:42] shiva-git commented on #908
This wouldn't work on array and the requirement is to have button on every element of array instead of generic one

[2018-09-07 05:45] t27 commented on #908
@shiva-git
Well, the `htmlClass` [attribute is generic and available to all form types](https://github.com/json-schema-form/angular-schema-form/blob/development/docs/index.md#standard-options)

You only need to write a parent function that is the common click handler for a given array/tabarray field. And, since by definition the fields/buttons in a tabarray are common, you can just attach a common

[2018-09-08 13:27] Anthropic commented on #988
@bmherold I don't expect it to be easy enough till I finish some of the re-write stuff I am working on, it really is embedded and hard to work on at the moment unfortunately.

[2018-09-11 09:00] edclements commented on #984
I think this is a duplicate of https://github.com/json-schema-form/angular-schema-form/issues/903 which is fixed in 0.8.14

[2018-09-11 21:14] shiva-git commented on #908
I tried this one on normal array (not tabarray) . Looked at almost all the properties in the scope to find out the current selected item of the array (like you suggested scope.selected.tab) but wasn't able to find it. Need help in getting the property name for identifying the specific item of the array.

[2018-09-12 16:34] shiva-git commented on #908
Hey I figured it out. Updated array.html in my decorator to fetch the selected item in array and used the mentioned approach.

[2018-09-23 20:52] frikinside commented on #983
Hi!
Sorry for the late response.
First of all there's no need to thank me for raising the issue properly. I thank you for this awesome module.

The `defineAddOn` method was the key. I didn't realize that it was needed for the new builders to work and thought that it would work with `addMapping` & `createDirective`. Lesson learned!

Thanks for taking the time explaining perfectly something that I c

[2018-09-23 20:54] frikinside commented on #982
Hi!
Sorry for the late response.
First of all there's no need to thank me for raising the issue properly. I thank you for this awesome module.

The `defineAddOn` method was the key. I didn't realize that it was needed for the new builders to work and thought that it would work with `addMapping` & `createDirective`. Lesson learned!

Thanks for taking the time explaining perfectly something that I c

[2018-10-09 18:54] balazsnemeth commented on #963
@yuttian I have the same issue, can you give me some hints how did you solve it?

[2018-10-16 08:06] hugoalexmartins opened #989 "Dynamic Type's from Model"
I need some urgent help.

I have this set of tables, Form, Questions, Answer

I have a form that returns me Form, Questions, Answer, for the Answer I must have an input type that comes from a type that the Question has, this type can be, True / False, Input Text or Date, I have a model that returns me 1 Form, 5 Questions and for one of them I must have an input type in Answer, in the background I

[2018-10-21 03:39] yinbiao commented on #984
yes , it not running on IE, but shows and hides the field as expected and doesn't error,

[2018-10-21 03:39] yinbiao commented on #984
@Anthropic yes , it not running on IE, but shows and hides the field as expected and doesn't error,

[2018-10-21 03:42] yinbiao commented on #984
@scottux  I only tested on a version of the IE browser，it should be ie 8

[2018-10-27 15:36] olawale12 opened #990 "Form Update"
Please I will like to know how I can update value of json-schema-form/angular-schema-form after it been render

[2018-11-16 08:37] geethapriya-mc opened #991 "Form generation for part of schema"
using schema,
{
	"$schema": "http://json-schema.org/draft-07/schema#",
	"title": "VehicleSettings",
	"type": "object",
	"additionalProperties": true,
	"required": [
		"Products"
	],
	"properties": {
		"Products": {
			"$ref": "#/definitions/ProductsModel"
		}
	},
	"definitions": {
		"ProductsModel": {
			"type": "object",
			"additionalProperties": true,
			"required": [
				"Toyota",
				"Benz",

[2018-11-20 03:30] Anthropic commented on #991
It would only work in the alphas that have support for $ref, but if you use that then you can use a UI Schema of:
[code]

[2018-11-20 03:30] #991 closed, assigned to nobody

[2019-01-13 19:29] physikerwelt opened #992 "npm angular-schema-form uses 0.8.13 rather than 0.8.14"
the latest version from npm 0.8.13 is not compatible with the angular lts version. I think it would be good to publish the version 0.8.14 to npm so that people do not need to install it from github.

[2019-01-25 13:21] pvbrakel opened #993 "Broadcast schemaform.error.* broken"
Found while upgrading to 0.8.14

Our broadcast of error messages does not work any more.

I leave formname undefined and specify a validity as true or false.
`$scope.$broadcast('schemaForm.error.' + fieldCode, 'payrollValidation', element.message, isValid)`

The following line overwrites the given formname and assigns it the validity (bool) value.
https://github.com/json-schema-form/angular-schema

[2019-02-05 11:30] anasofiapaixao commented on #213
I also stumbled upon this issue, and the `$translate.instant` approach was not enough because those fields would not be picked up by `$translate.use()`, which meant that on-the-fly language switching does not work. I found a better (although still hackish) approach for anyone using webpack, similar to Lucas' but without taking ownership of the template code by using `string-replace-loader`. I adde

[2019-02-13 15:28] #989 closed, assigned to nobody

[2019-02-20 00:58] Anthropic commented on #992
That was deliberate after 0.8.14 produced a few issues. I have to find time to resolve those issues first and I haven't had any free time lately.

[2019-02-20 00:58] #992 closed, assigned to nobody

[2019-03-01 16:22] hugsbrugs commented on #950
I have version 0.8.14 and same problem of tabarray not initialized by missing active class

Very dirty workaround and proof of concept ;-)

`$timeout(function(){
            $rootScope.$digest();
            console.log('digest');
            var elements = document.getElementsByClassName('tab-pane index0');
            angular.forEach(elements, function(element){
                console.log('elem

[2019-03-01 17:12] hugsbrugs opened #994 "errors in bootstrap templates"
Hey there !

I'm using your lib since a few days and have noticed there is some markup not relevant in bootstrap decorators ! Some ng-disabled are applied to li elements which will not have any impact. I would put them on ng-hide element !

[2019-03-28 18:49] gregoryz7 commented on #963
Hey I got this error when I forgot to include ObjectPath.js. I missed the second sentence under Script Loading in the documentation at first.  Thanks! -Z

[2019-04-05 06:48] buddhika162 commented on #397
@davidlgj I am still getting this issue (When max length validation is failing and if I click save button it validation msg change to "Required") in IE. I am using angular-schema-form 0.8.13. Is it a known issue?

[2019-05-28 07:07] JayDoshi8533 commented on #744
Can anyone has resolved this issue?

[2019-05-31 10:41] hugsbrugs opened #995 "files endpoint option"
Hi there,

I can upload files using endpoint

Schema :
[code]
Form :```

"items": [
                        {
                            "key": "images",
                            "type" : "files",
                            "endpoint": "http://angular-user.test/api/admin/images",
                            "startEmpty" : true,
                            "button_label" : "Vos images"

[2019-06-20 08:26] jousepo commented on #669
Here it is a little workaround for this:

[code]

[2019-08-26 16:19] velteyn opened #996 "checkbox not styled with bootstrap"
#### Expected behaviour
The checkbox should hook with bootstrap syling

#### Actual behaviour
Bootstrap style is missed

#### Gist/Plunker/Demo

according to this
http://embed.plnkr.co/B4BatpwxCa2cBoYo0oEQ/

label + checkbox should be put in this way:
[code]
but you render the checkbox in this way:

[code]

so the bootstrap css

[code]

will never select the checkbox and you obtain a normal HTML c

[2019-09-11 18:34] snowymike commented on #919
@Anthropic any plans to revisit that and make readonly mean readonly instead of disabled?

one annoyance of readonly mapping to disabled involves trying to add copy to clipboard support for a read only field.  straightforward (https://www.w3schools.com/howto/howto_js_copy_clipboard.asp) JS techniques of copying an input or textarea to the clipboard work fine for readonly inputs/textareas but not f

[2019-09-17 20:01] yuvi116 commented on #772
@gaganmalhotra , I am running into similar issue , did you found any solution ?

[2019-09-18 12:51] yuvi116 commented on #717
@Anthropic , Can we reset the selected titleMap value based on some condition ?

[2019-10-22 09:33] ivarprudnikov commented on #888
Simplified Plunker version using unpkg urls: https://plnkr.co/edit/tWUx9bjwok2rrYbSeOjq

[2019-10-29 11:54] ivarprudnikov commented on #888
Diff between AngularJS 1.5.9 and 1.5.10
https://github.com/angular/angular.js/compare/v1.5.9...v1.5.10

[2019-11-07 07:35] margi212 commented on #168
Same issue face @ajit-drag
Did you find nay Solution?

[2019-11-13 09:41] Gobakabana commented on #822
hello  @Anthropic  any update on this bug ?

[2019-12-27 08:33] jmddesarrollo commented on #419
Sorry for my English.
I have solved it by creating a function:
[code]
* Remember that collecting input by name is an array.

As I know the 'name' of the components of the form because they are in the scheme, I just have to call this function where I need and tell it the name.
Either when creating the form and / or with the submit, or where and when needed.
I hope it helps you.

[2020-03-28 13:32] VimalP0904 commented on #316
The same issue I'm facing in react js please me help anyone

[2020-04-15 02:51] krptodr commented on #491
@nicklasb I did this and I managed to crash the Kitchen Sink Example!

I added "default":"{{date | date:'yyyy-MM-dd'}}"

[2020-06-05 11:02] nicklasb commented on #491
@krptodr Yep, I tried it too, it froze the browser.
_Someone_ ought to debug that and see where it goes south..

[2020-06-23 18:51] krptodr commented on #674
None of these Plunkers exist anymore. Can anyone please provide a new one?

[2020-06-30 11:17] Alokeen opened #999 "Custom layout for specific property/ies"
disregard

[2020-06-30 12:27] #999 closed, assigned to nobody

[2021-01-11 23:41] mkormendy commented on #148
It seems like everything I need from JSON schema form, like conditionals for arrays inside arrays, is never implemented. And maybe 6 years later I would have hoped that this would have been solved, but nope. 😞

Sometimes having an array inside of an array is the best flow for a user. In mine and others it appears this is the case.

[2021-01-12 00:28] mkormendy opened #1000 "Conditionals for arrays inside arrays"
Referencing #148,... since it was closed yet still seems like something worthwhile looking into.

See the schema below as a use case for a homekit homebridge home automation platform interface to make it easy for people to assign properties for the zones of their house based on the type of zone they are assigning. If you look at `zoneActiveAtHome` and `zoneActiveAtNight`, I would like those two it

[2021-08-09 16:55] #951 closed

[2021-08-26 15:41] anuj9196 commented on #774
Any update on Angular 10+ support?

[2021-08-26 15:46] anuj9196 opened #1001 "Maintenance status of the library"
#### Question
The last release of bootstrap package is 4 years ago. Is the library actively maintained?

[2022-07-18 15:50] jeff-emed commented on #674
please?

[2022-07-18 16:54] kyse commented on #674
I logged in and made it public, not sure why those settings changed.  I dont have to time to confirm it still works, my guess probably an issue with vendor script import links to get it fixed up and in working order again, but at least you can see the implementation code.

https://plnkr.co/plunk/IA48cewtE24GAvMX3TlN